Repository aptos-labs/aptos-core, pull requests merged in 2022-07, with the labels that each got.

#1699 [CP] fix CP NHC
  ecosystem/platform/server/app/controllers/it2_profiles_controller.rb
  ecosystem/platform/server/app/jobs/nhc_job.rb
  ecosystem/platform/server/app/models/it2_profile.rb
  ecosystem/platform/server/app/views/it2_profiles/_form.html.erb
  ecosystem/platform/server/config/database.yml
  ecosystem/platform/server/db/migrate/20220701031008_add_job_id_to_it2_profile.rb
Labels: CICD:build-images, CICD:deploy-community-platform-to-staging

#1822 [gha] report forge test runner pod status
  .github/workflows/run-forge.yaml
Labels: CICD:run-e2e-tests

#1823 cicd: optimize docker building and remove unused scripts
  .cargo/config.toml
  .dockerignore
  .github/workflows/build-images.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/lint-test.yaml
  docker/build-common.sh
  docker/build-rust-all.sh
  docker/docker-bake-rust-all.hcl
  docker/docker-bake-rust-all.sh
  docker/rust-all.Dockerfile
  scripts/cli/start_cli_testnet.sh
  scripts/ct.vars
  scripts/dockerhub_prune.sh
  scripts/weekly-dep-report.sh
  terraform/helm/genesis/files/genesis.sh
  terraform/helm/genesis/values.yaml
Labels: CICD:build-images

#1852 [bug-fix] read snapshot version before latest txn version at initialization
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_store/mod.rs
Labels: bug

#1899 rosetta: add rosetta compliant dockerfile and docs how to build+run it
  .gitignore
  docker/rosetta/README.md
  docker/rosetta/docker-build-rosetta.sh
  docker/rosetta/rosetta.Dockerfile
Labels: Do not merge

#1997 [consensus] switch from json to bcs
  consensus/src/network_interface.rs
Labels: CICD:build-images

#1999 [gha/forge] report avg_tps and p99_latency to prometheus
  .github/workflows/run-forge.yaml
  testsuite/run_forge.sh
Labels: CICD:run-e2e-tests

#2001 [forge/gha] clean up report parsing and metrics push
  .github/workflows/run-forge.yaml
  testsuite/run_forge.sh
Labels: CICD:skip-sdk-integration-test

#2007 [storage] state pruner: fix duplicate deletes
  storage/aptosdb/src/pruner/state_store/mod.rs
Labels: CICD:build-images

#1619 enable overflow checks in release mode
  Cargo.toml
Labels: CICD:build-images, CICD:run-e2e-tests

#2016 [forge] logs link and fix metrics parsing
  .github/workflows/run-forge.yaml
  testsuite/run_forge.sh
Labels: CICD:run-e2e-tests

#2020 [forge] Tune transaction emitter config for forge to send up to 10k TPS
  config/src/config/consensus_config.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/performance_test.rs
Labels: CICD:run-e2e-tests

#1860 [Aptos Framework] Restrict voting power to the max stake allowed
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/Block.move
  aptos-move/framework/aptos-framework/sources/configs/Stake.move
Labels: CICD:skip-sdk-integration-test

#2036 [Txn-emitter] Optimize transaction emitter to reduce REST API call
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Labels: CICD:run-e2e-tests

#1987 [Aptos Framework] Add required fields to governance proposal
  aptos-move/framework/aptos-framework/sources/AptosGovernance.move
  aptos-move/framework/aptos-framework/sources/GovernanceProposal.move
  aptos-move/framework/aptos-framework/sources/Voting.move
Labels: CICD:run-e2e-tests

#2069 [forge] Increase genesis timeout to 10 mins
  testsuite/forge/src/backend/k8s/swarm.rs
Labels: CICD:run-e2e-tests

#2074 observability: add k8s.cluster field to logs to identify the cluster it came from
  terraform/helm/vector-daemonset/files/vector-config.yaml
  terraform/helm/vector-daemonset/templates/vector-daemonset.yaml
  terraform/helm/vector-daemonset/values.schema.json
  terraform/helm/vector-daemonset/values.yaml
  testsuite/run_forge.sh
Labels: CICD:build-images

#2099 cicd: use new aptos cli feature to run local testnet with faucet instead of docker compose
  .github/workflows/sdk-integration-test.yaml
Labels: CICD:run-e2e-tests

#2088 [move] Using new UTF8 strings instead of ASCII strings
  api/doc/openapi.yaml
  api/goldens/aptos_api__tests__accounts_test__test_account_modules.json
  api/goldens/aptos_api__tests__accounts_test__test_account_modules_structs.json
  api/goldens/aptos_api__tests__accounts_test__test_get_module_aptos_config.json
  api/goldens/aptos_api__tests__accounts_test__test_get_module_with_script_functions.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_genesis_transaction.json
  api/move-test-package/sources/TableTestData.move
  api/src/tests/converter_test.rs
  api/src/tests/state_test.rs
  api/src/tests/string_resource_test.rs
  api/types/src/convert.rs
  api/types/src/lib.rs
  api/types/src/move_types.rs
  aptos-move/aptos-vm/src/transaction_arg_validation.rs
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/comparator.move
  aptos-move/framework/aptos-framework/sources/managed_coin.move
  aptos-move/framework/aptos-framework/sources/test_coin.move
  aptos-move/framework/aptos-framework/sources/token.move
  aptos-move/framework/aptos-framework/sources/token_transfers.move
  aptos-move/framework/aptos-token/sources/property_map.move
  aptos-move/framework/aptos-token/sources/token_v1.move
  aptos-move/framework/move-stdlib/docs/ascii.md
  aptos-move/framework/move-stdlib/docs/overview.md
  aptos-move/framework/move-stdlib/sources/ASCII.move
  aptos-move/framework/move-stdlib/sources/bcs.move
  aptos-move/framework/move-stdlib/sources/hash.move
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/move-stdlib/sources/signer.move
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/move-stdlib/tests/ascii_tests.move
  aptos-move/move-examples/hello_blockchain/sources/HelloBlockchain.move
  aptos-move/move-examples/hello_blockchain/sources/HelloBlockchainTest.move
  crates/aptos/README.md
  crates/aptos/debug-move-example/sources/DebugDemo.move
  developer-docs-site/docs/tutorials/first-dapp.md
  developer-docs-site/docs/tutorials/first-move-module.md
  developer-docs-site/docs/tutorials/your-first-nft.md
  developer-docs-site/static/examples/python/first_nft.py
  ecosystem/indexer-server/doc/openapi.yaml
  ecosystem/indexer-server/typescript/src/api/v1/openapi.yaml
  ecosystem/indexer-server/typescript/src/openapi-schema.ts
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/typescript/sdk/src/api/data-contracts.ts
  ecosystem/typescript/sdk/src/token_client.ts
  testsuite/smoke-test/src/aptos/move_modules/sources/hello.move
Labels: CICD:run-e2e-tests, CICD:skip-sdk-integration-test

#2093 [Execution] Add AsyncProofFetcher.
  Cargo.lock
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-node/src/lib.rs
  config/src/config/execution_config.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/async_proof_fetcher.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/mock.rs
Labels: CICD:run-e2e-tests

#2137 [forge] Better error message when unauthorized
  Cargo.lock
  testsuite/forge/Cargo.toml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
Labels: CICD:run-e2e-tests

#2143 [smoke-test] Removing clean state dependency of some tests
  testsuite/smoke-test/src/aptos/error_report.rs
  testsuite/smoke-test/src/aptos/module_publish.rs
  testsuite/smoke-test/src/aptos/module_publish_modules/Move.toml
  testsuite/smoke-test/src/aptos/module_publish_modules/sources/hello.move
  testsuite/smoke-test/src/aptos/string_args.rs
  testsuite/smoke-test/src/aptos/string_args_modules/Move.toml
  testsuite/smoke-test/src/aptos/string_args_modules/sources/hello.move
Labels: CICD:run-e2e-tests

#2004 [storage][pruner] Add capability of incremental pruning
  config/src/config/storage_config.rs
  execution/executor-benchmark/src/main.rs
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/metrics.rs
  storage/aptosdb/src/pruner/db_pruner.rs
  storage/aptosdb/src/pruner/event_store/test.rs
  storage/aptosdb/src/pruner/ledger_store/ledger_store_pruner.rs
  storage/aptosdb/src/pruner/mod.rs
  storage/aptosdb/src/pruner/state_store/mod.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/pruner/transaction_store/test.rs
  storage/aptosdb/src/pruner/utils.rs
  storage/aptosdb/src/pruner/worker.rs
  storage/aptosdb/src/state_store/state_store_test.rs
Labels: CICD:run-e2e-tests

#2161 [helm][aptos-node] config for incremental pruning
  terraform/helm/aptos-node/files/configs/fullnode.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
  terraform/helm/aptos-node/values.yaml
Labels: CICD:run-e2e-tests

#2162 [Aptos Framework][Prover] Made the Aptos Framework compatible with Prover
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/bucket_table.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/aptos-stdlib/Move.toml
  aptos-move/framework/aptos-stdlib/sources/signature.move
  aptos-move/framework/aptos-stdlib/sources/table.spec.move
  aptos-move/framework/aptos-stdlib/sources/type_info.move
  aptos-move/framework/move-stdlib/sources/error.move
  aptos-move/framework/move-stdlib/sources/hash.move
Labels: CICD:run-e2e-tests

#2179 [Cleanup] Renaming
  api/types/src/error.rs
Labels: CICD:run-e2e-tests

#2184 [doc] clean: fix typo - AptosCoib -> AptosCoin
  developer-docs-site/docs/cli-tools/aptos-cli-tool/use-aptos-cli.md
Labels: CICD:skip-forge-e2e-test, CICD:skip-sdk-integration-test

#2187 [consensus] only echo timeout when no timeout yet
  consensus/src/liveness/round_state.rs
  consensus/src/round_manager.rs
Labels: CICD:run-e2e-tests

#2182 observability: implement json-logging to stdout for aptos-logger
  .pre-commit-config.yaml
  Cargo.lock
  consensus/src/experimental/linkedlist.rs
  crates/aptos-crypto/src/unit_tests/compilation/cross_test.rs
  crates/aptos-logger/Cargo.toml
  crates/aptos-logger/src/aptos_logger.rs
  crates/aptos-logger/src/filter.rs
  crates/aptos-logger/src/macros.rs
  crates/aptos-logger/src/metadata.rs
  crates/aptos-logger/src/tracing_adapter.rs
  docker/rust-all.Dockerfile
Labels: CICD:run-e2e-tests

#2157 [Aptos Framework] Replace GovernanceProposal with AptosFramework signer in stake and block's update functions
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/configs/stake.move
Labels: CICD:run-e2e-tests

#2110 [telemetry] pass git revision info via env variables
  crates/aptos-telemetry/src/build_information.rs
  docker/docker-bake-rust-all.hcl
  docker/docker-bake-rust-all.sh
  docker/rust-all.Dockerfile
Labels: CICD:run-e2e-tests

#2194 [cherry-pick][vm-validator] hot fix for vm-validator memory leak
  Cargo.lock
  vm-validator/Cargo.toml
  vm-validator/src/vm_validator.rs
Labels: CICD:build-images

#2115 [Storage] Serialize JMT updates in multiple threads.
  Cargo.lock
  consensus/src/consensusdb/mod.rs
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/pruner/state_store/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/lib.rs
  storage/schemadb/tests/db.rs
Labels: CICD:run-e2e-tests

#2207 [gha] build docker on head sha and fix forge sticky comment
  .github/workflows/build-images.yaml
  .github/workflows/run-forge.yaml
  testsuite/run_forge.sh
Labels: CICD:run-e2e-tests

#2120 devtools: measure and report test coverage to codecov.io
  .github/actions/upload-test-results/action.yaml
  .github/workflows/coverage.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/run-forge.yaml
  codecov.yml
Labels: CICD:run-e2e-tests, CICD:run-coverage

#2208 [forge] Run e2e tests when #e2e in pull request message
  .github/workflows/build-images.yaml
Labels: CICD:build-images

#2214 [Forge] Add TPS/latency validation to forge test runner
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/interface/network.rs
  testsuite/forge/src/lib.rs
  testsuite/forge/src/report.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/fixed_tps_test.rs
  testsuite/testcases/src/gas_price_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_chaos_test.rs
  testsuite/testcases/src/partial_nodes_down_test.rs
  testsuite/testcases/src/performance_test.rs
Labels: CICD:run-e2e-tests

#2210 [fix] wrap BlockExecutor and ChunkExecutor as an Option of Inner
  aptos-node/src/lib.rs
  consensus/src/state_computer.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_commit_queue.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  execution/executor/src/tests/mod.rs
  state-sync/state-sync-v1/src/executor_proxy.rs
  state-sync/state-sync-v1/src/shared_components.rs
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/storage_synchronizer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/state-sync-v2/state-sync-multiplexer/src/lib.rs
  storage/aptosdb/src/lib.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#2167 [move] Code Publishing
  Cargo.lock
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/code_context.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/transaction_context.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__basic.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_fail_compat.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_fail_immutable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_fail_overlapping_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_success_compat.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_success_no_compat.exp
  aptos-move/e2e-testsuite/Cargo.toml
  aptos-move/e2e-testsuite/src/tests/mod.rs
  aptos-move/e2e-testsuite/src/tests/package_publishing.rs
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-deps/Cargo.toml
  crates/aptos/src/move_tool/aptos_debug_natives.rs
Labels: CICD:run-e2e-tests

#2204 [gha] build on merge sha
  .github/workflows/build-images.yaml
Labels: CICD:run-e2e-tests

#2241 [cherry-pick][fix] wrap BlockExecutor and ChunkExecutor as an Option of Inner (#2210)
  aptos-node/src/lib.rs
  consensus/src/state_computer.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_commit_queue.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  execution/executor/src/tests/mod.rs
  state-sync/state-sync-v1/src/executor_proxy.rs
  state-sync/state-sync-v1/src/shared_components.rs
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/storage_synchronizer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/state-sync-v2/state-sync-multiplexer/src/lib.rs
  storage/aptosdb/src/lib.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  testsuite/run_forge.sh
Labels: CICD:run-e2e-tests

#2240 [Execution] Use AsyncProofFetcher.
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/tests/mod.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/storage-interface/src/cached_state_view.rs
  storage/storage-interface/src/executed_trees.rs
  storage/storage-interface/src/sync_proof_fetcher.rs
  vm-validator/src/vm_validator.rs
Labels: CICD:run-e2e-tests

#2265 [move] Disable package publishing for devnet release.
  aptos-move/aptos-vm/src/move_vm_ext/code_context.rs
  aptos-move/e2e-testsuite/Cargo.toml
Labels: CICD:run-e2e-tests

#2243 defaulting concurrency level to 8
  terraform/helm/aptos-node/values.yaml
Labels: CICD:run-e2e-tests

#2255 cicd: fix coverage config
  .config/nextest.toml
  .github/workflows/coverage.yaml
  crates/aptos-logger/src/aptos_logger.rs
Labels: CICD:run-coverage

#1640 [ecosystem] Merge marketing pages into community platform.
  ecosystem/platform/server/Gemfile
  ecosystem/platform/server/Gemfile.lock
  ecosystem/platform/server/app/assets/images/adn-partner-logos/anchorage-digital.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/blockorus.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/bnb-chain.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/coinbase.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/livepeer.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/moonclave.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/nodereal.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/paxos.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/paymagic.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/rarible.svg
  ecosystem/platform/server/app/assets/images/adn-partner-logos/streaming-fast.svg
  ecosystem/platform/server/app/assets/images/aptos_hero_v4.jpg
  ecosystem/platform/server/app/assets/images/favicon.ico
  ecosystem/platform/server/app/components/footer_component.rb
  ecosystem/platform/server/app/components/header_component.html.erb
  ecosystem/platform/server/app/components/header_component.rb
  ecosystem/platform/server/app/components/icon_tooltip_component.html.erb
  ecosystem/platform/server/app/controllers/static_page_controller.rb
  ecosystem/platform/server/app/views/articles/index.html.erb
  ecosystem/platform/server/app/views/it2_profiles/_form.html.erb
  ecosystem/platform/server/app/views/it2_surveys/_form.html.erb
  ecosystem/platform/server/app/views/layouts/_application.html.erb
  ecosystem/platform/server/app/views/onboarding/email.html.erb
  ecosystem/platform/server/app/views/settings/profile.html.erb
  ecosystem/platform/server/app/views/shared/_it2_intro.html.erb
  ecosystem/platform/server/app/views/static_page/careers.html.erb
  ecosystem/platform/server/app/views/static_page/currents.html.erb
  ecosystem/platform/server/app/views/static_page/developers.html.erb
  ecosystem/platform/server/app/views/static_page/privacy.html.erb
  ecosystem/platform/server/app/views/static_page/root.html.erb
  ecosystem/platform/server/app/views/static_page/terms.html.erb
  ecosystem/platform/server/app/views/static_page/terms_testnet.html.erb
  ecosystem/platform/server/config/routes.rb
  ecosystem/platform/server/package.json
  ecosystem/platform/server/public/favicon.ico
  ecosystem/platform/server/public/favicon.png
  ecosystem/platform/server/public/favicon.svg
  ecosystem/platform/server/public/images/meta/APTOS_ADN_meta_opengraph.jpg
  ecosystem/platform/server/public/images/meta/APTOS_ADN_meta_twitter.jpg
  ecosystem/platform/server/public/images/meta/APTOS_developers_meta_opengraph.jpg
  ecosystem/platform/server/public/images/meta/APTOS_developers_meta_twitter.jpg
  ecosystem/platform/server/public/images/meta/APTOS_meta_opengraph.jpg
  ecosystem/platform/server/public/images/meta/APTOS_meta_opengraph_051222.jpg
  ecosystem/platform/server/public/images/meta/APTOS_meta_twitter.jpg
  ecosystem/platform/server/public/images/meta/APTOS_meta_twitter_051222.jpg
  ecosystem/platform/server/tailwind.config.js
  ecosystem/platform/server/test/controllers/static_page_controller_test.rb
  ecosystem/platform/server/yarn.lock
Labels: CICD:deploy-community-platform-to-staging

#2326 [cherry-pick][State Sync] Add a yield to the driver to avoid spin locking.
  state-sync/state-sync-v2/state-sync-driver/src/driver.rs
Labels: CICD:build-images

#2298 [package publishing] Add new publishing flow to cli and to smoke tests
  Cargo.lock
  aptos-move/aptos-vm/src/move_vm_ext/code_context.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__basic.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_fail_compat.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_fail_immutable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_fail_overlapping_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_success_compat.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__package_publishing__upgrade_success_no_compat.exp
  aptos-move/e2e-testsuite/src/tests/package_publishing.rs
  aptos-move/framework/aptos-framework/sources/code.move
  crates/aptos/debug-move-example/Move.toml
  crates/aptos/debug-move-example/sources/DebugDemo.move
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/built_package.rs
  crates/aptos/src/move_tool/mod.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/aptos/mod.rs
  testsuite/smoke-test/src/aptos/move_test_helpers.rs
  testsuite/smoke-test/src/aptos/package_publish.rs
  testsuite/smoke-test/src/aptos/package_publish_modules_v1/Move.toml
  testsuite/smoke-test/src/aptos/package_publish_modules_v1/sources/hello.move
  testsuite/smoke-test/src/aptos/package_publish_modules_v2/Move.toml
  testsuite/smoke-test/src/aptos/package_publish_modules_v2/sources/hello.move
  testsuite/smoke-test/src/aptos/package_publish_modules_v3/Move.toml
  testsuite/smoke-test/src/aptos/package_publish_modules_v3/sources/hello.move
  testsuite/smoke-test/tests/forge-aptos.rs
Labels: CICD:run-e2e-tests

#2331 [consensus] fix the retry request in buffer manager
  consensus/src/counters.rs
  consensus/src/experimental/buffer_manager.rs
Labels: CICD:run-e2e-tests

#2324 [storage] pipeline state merkle batch commit
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_merkle_batch_committer.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
Labels: CICD:run-e2e-tests

#2276 [forge] label test runner pods with image tag
  terraform/helm/aptos-node/templates/_helpers.tpl
  terraform/helm/aptos-node/values.yaml
  terraform/helm/genesis/templates/_helpers.tpl
  terraform/helm/genesis/values.yaml
  testsuite/forge-test-runner-template.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/helm-values/genesis-values.yaml
  testsuite/run_forge.sh
Labels: CICD:build-images

#2354 [framework] Adds tests that generated Rust SDKs are up-to-date
  Cargo.lock
  aptos-move/framework/cached-packages/Cargo.toml
  aptos-move/framework/cached-packages/src/lib.rs
  aptos-move/move-deps/Cargo.toml
  aptos-move/move-deps/src/lib.rs
Labels: CICD:run-e2e-tests

#2367 [CP] Add account address to IT profiles
  ecosystem/platform/server/app/models/it1_profile.rb
  ecosystem/platform/server/app/models/it2_profile.rb
  ecosystem/platform/server/db/migrate/20220729235238_add_account_address_to_itprofiles.rb
  ecosystem/platform/server/db/migrate/20220730180322_populate_account_address_on_itprofiles.rb
  ecosystem/platform/server/db/schema.rb
Labels: ruby

#2306 update rust to 1.62.1 and fix lint error
  config/management/operational/src/test_helper.rs
  consensus/consensus-types/src/common.rs
  consensus/src/commit_notifier.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/metrics_safety_rules.rs
  consensus/src/network.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/round_manager.rs
  consensus/src/state_computer.rs
  consensus/src/txn_notifier.rs
  crates/aptos-metrics-core/src/lib.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos/src/node/mod.rs
  ecosystem/indexer/src/database.rs
  ecosystem/indexer/src/models/collection.rs
  ecosystem/indexer/src/models/events.rs
  ecosystem/indexer/src/models/metadata.rs
  ecosystem/indexer/src/models/ownership.rs
  ecosystem/indexer/src/models/processor_statuses.rs
  ecosystem/indexer/src/models/token.rs
  ecosystem/indexer/src/models/transactions.rs
  ecosystem/indexer/src/models/write_set_changes.rs
  ecosystem/node-checker/src/configuration/common.rs
  ecosystem/node-checker/src/evaluators/metrics/state_sync/version.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/test_framework.rs
  network/netcore/src/transport/proxy_protocol.rs
  network/src/fuzzing.rs
  network/src/noise/fuzzing.rs
  rust-toolchain
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#2357 [storage] change async commit channels to rendezvous channel
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
Labels: CICD:run-e2e-tests
