Repository aptos-labs/aptos-core, pull requests merged in 2022-09, with the labels that each got.

#3741 Add more monitoring for state sync issue
  consensus/src/block_storage/block_tree.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/experimental/buffer_item.rs
Labels: CICD:run-e2e-tests

#3753 [consensus] add more instrumentation
  consensus/src/epoch_manager.rs
Labels: CICD:run-e2e-tests

#3740 Restore `aptos-network-checker`
  Cargo.lock
  Cargo.toml
  crates/aptos-network-checker/Cargo.toml
  crates/aptos-network-checker/src/args.rs
  crates/aptos-network-checker/src/check_endpoint.rs
  crates/aptos-network-checker/src/lib.rs
  network/src/transport/mod.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#3780 [Indexer] Remove aptos-protos package from workspace to exclude generated protobuf files from xclippy
  Cargo.toml
  crates/aptos-protos/Cargo.lock
  crates/aptos-protos/src/pb/aptos.block_output.v1.rs
  crates/aptos-protos/src/pb/aptos.extractor.v1.rs
  crates/aptos-protos/src/pb/aptos.util.timestamp.rs
Labels: CICD:run-e2e-tests

#3631 [forge][consensus] Add consensus stress test
  .github/workflows/continuous-e2e-account-creation-state-sync.yaml
  .github/workflows/continuous-e2e-consensus-stress-test.yaml
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  crates/transaction-emitter/src/diag.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/aptos.rs
  testsuite/forge/src/interface/network.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/forge/src/test_utils/consensus_utils.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
  testsuite/smoke-test/src/txn_emitter.rs
  testsuite/testcases/src/continuous_progress_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/performance_test.rs
  testsuite/testcases/src/performance_with_fullnode_test.rs
Labels: CICD:run-e2e-tests

#3816 [gas] allow gas parameters to be optional
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-gas/src/natives.rs
  aptos-move/aptos-gas/src/params.rs
Labels: CICD:run-e2e-tests

#3828 tokio: 1.19.2 -> 1.18.2, tokio-util: 0.7.3 -> 0.7.2
  Cargo.lock
  consensus/Cargo.toml
Labels: CICD:build-images, CICD:run-e2e-tests

#3829 [epoch_manager] Panic on stuck, so node can restart
  config/src/config/consensus_config.rs
  consensus/src/epoch_manager.rs
Labels: CICD:run-e2e-tests

#3842 [Consensus] Add a separate runtime for network consensus message handling.
  aptos-node/src/lib.rs
  consensus/src/consensus_provider.rs
Labels: CICD:run-e2e-tests

#3853 [consensus] not proactively reply epoch change proof
  consensus/src/epoch_manager.rs
Labels: CICD:run-e2e-tests

#3827 [community] Create "Claim NFT" page.
  ecosystem/platform/server/app/components/claim_nft_button_component.html.erb
  ecosystem/platform/server/app/components/claim_nft_button_component.rb
  ecosystem/platform/server/app/components/connect_wallet_button_component.html.erb
  ecosystem/platform/server/app/components/connect_wallet_button_component.rb
  ecosystem/platform/server/app/controllers/nft_offers_controller.rb
  ecosystem/platform/server/app/controllers/wallets_controller.rb
  ecosystem/platform/server/app/javascript/controllers/application.ts
  ecosystem/platform/server/app/javascript/controllers/claim_nft_controller.ts
  ecosystem/platform/server/app/javascript/controllers/connect_wallet_controller.ts
  ecosystem/platform/server/app/javascript/controllers/index.js
  ecosystem/platform/server/app/models/nft_offer.rb
  ecosystem/platform/server/app/models/wallet.rb
  ecosystem/platform/server/app/services/nft_claimer.rb
  ecosystem/platform/server/app/services/wallet_creator.rb
  ecosystem/platform/server/app/views/nft_offers/show.html.erb
  ecosystem/platform/server/app/views/static_page/community.html.erb
  ecosystem/platform/server/app/views/static_page/incentivized_testnet.html.erb
  ecosystem/platform/server/config/routes.rb
  ecosystem/platform/server/db/migrate/20220903154019_drop_nft_tables.rb
  ecosystem/platform/server/db/schema.rb
  ecosystem/platform/server/spec/factories/wallets.rb
  ecosystem/platform/server/test/controllers/wallets_controller_test.rb
  ecosystem/platform/server/test/services/wallet_creator_test.rb
Labels: CICD:deploy-community-platform-to-staging

#3768 added included artifacts options in compilation and publishing of mod…
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/aptos_cli/move.rs
Labels: CICD:run-e2e-tests

#3824 [docker] pass through profile and features flags
  .github/workflows/run-forge.yaml
  docker/build-rust-all.sh
  docker/docker-bake-rust-all.hcl
  docker/rust-all.Dockerfile
  terraform/aptos-node-testnet/main.tf
  terraform/helm/genesis/templates/genesis.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge-test-runner-template.yaml
  testsuite/forge.py
  testsuite/forge_test.py
Labels: CICD:build-images

#3868 [aptos-vm] Enable lazy_natives feature and add test case
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/e2e-move-tests/tests/lazy_natives.rs
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
Labels: CICD:run-e2e-tests

#3811 Delete dev docs site examples
  .github/workflows/sdk-release.yaml
  developer-docs-site/static/examples/.gitignore
  developer-docs-site/static/examples/typescript/dapp-example/.gitignore
  developer-docs-site/static/examples/typescript/dapp-example/README.md
  developer-docs-site/static/examples/typescript/dapp-example/package.json
  developer-docs-site/static/examples/typescript/dapp-example/public/index.html
  developer-docs-site/static/examples/typescript/dapp-example/src/App.css
  developer-docs-site/static/examples/typescript/dapp-example/src/App.tsx
  developer-docs-site/static/examples/typescript/dapp-example/src/index.css
  developer-docs-site/static/examples/typescript/dapp-example/src/index.tsx
  developer-docs-site/static/examples/typescript/dapp-example/tsconfig.json
  developer-docs-site/static/examples/typescript/package.json
  developer-docs-site/static/examples/typescript/tsconfig.json
  developer-docs-site/static/messageboard_demo/client/README.md
  developer-docs-site/static/messageboard_demo/client/index.ts
  developer-docs-site/static/messageboard_demo/client/package.json
  developer-docs-site/static/messageboard_demo/client/yarn.lock
  ecosystem/typescript/sdk/examples/javascript/package.json
  ecosystem/typescript/sdk/examples/javascript/yarn.lock
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/yarn.lock
Labels: CICD:build-images, CICD:run-e2e-tests

#3802 [docker/helm] download waypoint and genesis for pfn
  docker/rust-all.Dockerfile
  terraform/helm/fullnode/files/genesis/ait3.blob
  terraform/helm/fullnode/files/genesis/devnet.blob
  terraform/helm/fullnode/templates/configmaps.yaml
  terraform/helm/fullnode/templates/fullnode.yaml
  terraform/helm/fullnode/values.yaml
Labels: CICD:build-images

#3880 [move-vm] Call init_module only the first time a module is ever published
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/tests/init_module.rs
Labels: CICD:run-e2e-tests

#3879 [Configs] Improve network syncing configs.
  config/src/config/network_config.rs
  config/src/config/state_sync_config.rs
Labels: CICD:run-e2e-tests

#3870 [CP] Add NFT Image routes + generation
  ecosystem/platform/server/.gitignore
  ecosystem/platform/server/Dockerfile
  ecosystem/platform/server/Gemfile
  ecosystem/platform/server/Gemfile.lock
  ecosystem/platform/server/README.md
  ecosystem/platform/server/app/assets/fonts/lft_etica_mono-light.otf
  ecosystem/platform/server/app/assets/images/aptos_nft_zero_08302022.png
  ecosystem/platform/server/app/controllers/nft_images_controller.rb
  ecosystem/platform/server/app/javascript/controllers/claim_nft_controller.ts
  ecosystem/platform/server/app/models/nft_image.rb
  ecosystem/platform/server/app/models/nft_offer.rb
  ecosystem/platform/server/app/models/wallet.rb
  ecosystem/platform/server/app/views/nft_offers/show.html.erb
  ecosystem/platform/server/config/application.rb
  ecosystem/platform/server/config/environments/development.rb
  ecosystem/platform/server/config/environments/production.rb
  ecosystem/platform/server/config/routes.rb
  ecosystem/platform/server/config/storage.yml
  ecosystem/platform/server/db/migrate/20220906031531_create_nft_images.rb
  ecosystem/platform/server/db/schema.rb
  ecosystem/platform/server/spec/factories/nft_images.rb
  ecosystem/platform/server/spec/models/nft_image_spec.rb
Labels: CICD:deploy-community-platform-to-staging

#3915 [Token] add transfer events
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.exp
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/aptos-token/sources/token_coin_swap.move
  aptos-move/framework/aptos-token/sources/token_transfers.move
  head.mrb
Labels: CICD:run-e2e-tests

#3921 [Forge] Add system metrics check back
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/performance_with_fullnode_test.rs
Labels: CICD:run-e2e-tests

#3793 [gha] run compat forge test alongside e2e
  .github/workflows/docker-build-test.yaml
Labels: CICD:run-e2e-tests

#3896 [forge] Enable different genesis validator stake in forge
  crates/aptos-genesis/src/builder.rs
  terraform/helm/genesis/README.md
  terraform/helm/genesis/files/genesis.sh
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/node.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/test_utils/consensus_utils.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
  testsuite/testcases/src/continuous_progress_test.rs
  testsuite/testcases/src/state_sync_performance.rs
Labels: CICD:run-e2e-tests

#3933 [community] Add "minted nft" page.
  ecosystem/platform/server/app/components/claim_nft_button_component.rb
  ecosystem/platform/server/app/controllers/nft_offers_controller.rb
  ecosystem/platform/server/app/javascript/controllers/application.ts
  ecosystem/platform/server/app/javascript/controllers/claim_nft_controller.ts
  ecosystem/platform/server/app/javascript/controllers/index.js
  ecosystem/platform/server/app/javascript/controllers/minted_nft_controller.ts
  ecosystem/platform/server/app/models/nft_offer.rb
  ecosystem/platform/server/app/views/nft_offers/minted.html.erb
Labels: CICD:deploy-community-platform-to-staging

#3873 [indexer] handle token create, mint, and direct transfers
  crates/aptos-protos/proto/aptos/block_output/v1/block_output.proto
  crates/aptos-protos/proto/aptos/tokens/v1/tokens.proto
  crates/aptos-protos/src/pb/aptos.block_output.v1.rs
  crates/aptos-protos/src/pb/aptos.block_output.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.tokens.v1.rs
  crates/aptos-protos/src/pb/aptos.tokens.v1.serde.rs
  crates/aptos-protos/src/pb/mod.rs
  ecosystem/sf-indexer/aptos-sf-indexer/migrations/2022-09-04-194128_add_token_data/down.sql
  ecosystem/sf-indexer/aptos-sf-indexer/migrations/2022-09-04-194128_add_token_data/up.sql
  ecosystem/sf-indexer/aptos-sf-indexer/src/indexer/substream_processor.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/main.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/models/mod.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/models/tokens.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/models/transactions.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/schema.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/substream_processors/block_output_processor.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/substream_processors/mod.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/substream_processors/tokens_processor.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/substreams_stream.rs
  ecosystem/sf-indexer/aptos-substreams/Cargo.lock
  ecosystem/sf-indexer/aptos-substreams/Cargo.toml
  ecosystem/sf-indexer/aptos-substreams/Makefile
  ecosystem/sf-indexer/aptos-substreams/README.md
  ecosystem/sf-indexer/aptos-substreams/aptos-substreams-v0.0.2.spkg
  ecosystem/sf-indexer/aptos-substreams/aptos-substreams-v0.0.3.spkg
  ecosystem/sf-indexer/aptos-substreams/src/lib.rs
  ecosystem/sf-indexer/aptos-substreams/src/token_converter.rs
  ecosystem/sf-indexer/aptos-substreams/src/transaction_converter.rs
  ecosystem/sf-indexer/aptos-substreams/substreams.yaml
Labels: CICD:build-images

#3949 [Fix] Do a db seek when initializing ledger pruner.
  storage/aptosdb/src/pruner/event_store/test.rs
  storage/aptosdb/src/pruner/ledger_store/ledger_store_pruner.rs
Labels: CICD:build-images

#3962 [community] Improve NFT flow UX.
  ecosystem/platform/server/app/components/claim_nft_button_component.html.erb
  ecosystem/platform/server/app/components/claim_nft_button_component.rb
  ecosystem/platform/server/app/components/connect_wallet_button_component.html.erb
  ecosystem/platform/server/app/components/connect_wallet_button_component.rb
  ecosystem/platform/server/app/controllers/nft_offers_controller.rb
  ecosystem/platform/server/app/controllers/wallets_controller.rb
  ecosystem/platform/server/app/javascript/controllers/application.ts
  ecosystem/platform/server/app/javascript/controllers/claim_nft_controller.ts
  ecosystem/platform/server/app/javascript/controllers/connect_wallet_controller.ts
  ecosystem/platform/server/app/javascript/controllers/minted_nft_controller.ts
  ecosystem/platform/server/app/views/nft_offers/minted.html.erb
  ecosystem/platform/server/app/views/nft_offers/show.html.erb
Labels: CICD:deploy-community-platform-to-staging

#4001 feat(ts-sdk): adopt the new Move function for key rotation
  ecosystem/typescript/sdk/src/aptos_client.ts
Labels: CICD:run-e2e-tests

#4007 [api] Remove conflicting documentation for OpenAPI spec
  api/doc/spec.json
  api/doc/spec.yaml
  api/types/src/account.rs
  api/types/src/block.rs
  api/types/src/error.rs
  api/types/src/index.rs
  api/types/src/ledger_info.rs
  api/types/src/move_types.rs
  api/types/src/table.rs
  api/types/src/transaction.rs
  ecosystem/typescript/sdk/src/generated/core/AxiosHttpRequest.ts
  ecosystem/typescript/sdk/src/generated/core/request.ts
  ecosystem/typescript/sdk/src/generated/models/DeleteModule.ts
  ecosystem/typescript/sdk/src/generated/models/DeleteResource.ts
  ecosystem/typescript/sdk/src/generated/models/WriteModule.ts
  ecosystem/typescript/sdk/src/generated/models/WriteResource.ts
  ecosystem/typescript/sdk/src/generated/schemas/$AccountData.ts
  ecosystem/typescript/sdk/src/generated/schemas/$AptosError.ts
  ecosystem/typescript/sdk/src/generated/schemas/$Block.ts
  ecosystem/typescript/sdk/src/generated/schemas/$BlockMetadataTransaction.ts
  ecosystem/typescript/sdk/src/generated/schemas/$DeleteModule.ts
  ecosystem/typescript/sdk/src/generated/schemas/$DeleteResource.ts
  ecosystem/typescript/sdk/src/generated/schemas/$DeleteTableItem.ts
  ecosystem/typescript/sdk/src/generated/schemas/$Ed25519Signature.ts
  ecosystem/typescript/sdk/src/generated/schemas/$EncodeSubmissionRequest.ts
  ecosystem/typescript/sdk/src/generated/schemas/$EntryFunctionPayload.ts
  ecosystem/typescript/sdk/src/generated/schemas/$Event.ts
  ecosystem/typescript/sdk/src/generated/schemas/$GenesisTransaction.ts
  ecosystem/typescript/sdk/src/generated/schemas/$IndexResponse.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveFunction.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveModule.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveModuleBytecode.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveResource.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveScriptBytecode.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveStruct.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveStructField.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MultiAgentSignature.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MultiEd25519Signature.ts
  ecosystem/typescript/sdk/src/generated/schemas/$PendingTransaction.ts
  ecosystem/typescript/sdk/src/generated/schemas/$ScriptPayload.ts
  ecosystem/typescript/sdk/src/generated/schemas/$StateCheckpointTransaction.ts
  ecosystem/typescript/sdk/src/generated/schemas/$SubmitTransactionRequest.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TableItemRequest.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TransactionsBatchSingleSubmissionFailure.ts
  ecosystem/typescript/sdk/src/generated/schemas/$UserTransaction.ts
  ecosystem/typescript/sdk/src/generated/schemas/$VersionedEvent.ts
  ecosystem/typescript/sdk/src/generated/schemas/$WriteModule.ts
  ecosystem/typescript/sdk/src/generated/schemas/$WriteResource.ts
  ecosystem/typescript/sdk/src/generated/schemas/$WriteTableItem.ts
Labels: prio:high

#4020 cherry-pick chore: regenerate open api client
  ecosystem/typescript/sdk/src/generated/core/AxiosHttpRequest.ts
  ecosystem/typescript/sdk/src/generated/core/request.ts
Labels: CICD:run-e2e-tests

#3938 [forge] Add warmup and cooldown to measuring performance
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/stats.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests

#3919 [Forge] Add new state sync performance tests.
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-apply-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-execute-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-validator-test.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/state_sync_performance.rs
Labels: CICD:build-images

#4063 [community] Add Sentry to frontend.
  ecosystem/platform/server/.env.example
  ecosystem/platform/server/Dockerfile
  ecosystem/platform/server/app/javascript/controllers/application.ts
  ecosystem/platform/server/app/javascript/controllers/claim_nft_controller.ts
  ecosystem/platform/server/app/javascript/controllers/minted_nft_controller.ts
  ecosystem/platform/server/build.js
  ecosystem/platform/server/package.json
  ecosystem/platform/server/yarn.lock
Labels: CICD:deploy-community-platform-to-staging

#3945 [forge] load vs perf benchmark
  Cargo.lock
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/lib.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Labels: CICD:run-e2e-tests

#3887 [telemetry-service] Allowlist for PFNs
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/custom_event.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
Labels: CICD:build-images

#4057 [cicd] fix test coverage setup
  .github/actions/upload-test-results/action.yaml
  .github/workflows/coverage.yaml
  .github/workflows/lint-test.yaml
Labels: CICD:run-coverage

#4084 [Aptos Framework] Add a few governance powers
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/stake.move
Labels: CICD:run-e2e-tests

#4081 [compatibility] Test whether head frameworks can upgrade testnet
  Cargo.lock
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/tests/common/mod.rs
  aptos-move/e2e-move-tests/tests/framework_compatibility.rs
  aptos-move/e2e-tests/src/account_universe.rs
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/e2e-tests/src/execution_strategies/basic_strategy.rs
  aptos-move/e2e-tests/src/execution_strategies/guided_strategy.rs
  aptos-move/e2e-tests/src/execution_strategies/random_strategy.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-tests/src/gas_costs.rs
  aptos-move/e2e-tests/src/utils.rs
  aptos-move/e2e-testsuite/src/tests/account_universe/mod.rs
  aptos-move/e2e-testsuite/src/tests/create_account.rs
  aptos-move/e2e-testsuite/src/tests/data_store.rs
  aptos-move/e2e-testsuite/src/tests/genesis.rs
  aptos-move/e2e-testsuite/src/tests/module_publishing.rs
  aptos-move/e2e-testsuite/src/tests/scripts.rs
  aptos-move/e2e-testsuite/src/tests/transaction_fuzzer.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  aptos-move/framework/cached-packages/src/lib.rs
  aptos-move/framework/releases/testnet.mrb
  aptos-move/framework/src/lib.rs
  aptos-move/framework/src/released_framework.rs
  aptos-move/vm-genesis/src/lib.rs
  storage/rocksdb-options/Cargo.toml
  storage/schemadb/Cargo.toml
Labels: CICD:run-e2e-tests

#4095 [backup] simplify restore coordinator
  storage/backup/backup-cli/src/backup_types/epoch_ending/restore.rs
  storage/backup/backup-cli/src/coordinators/restore.rs
  testsuite/smoke-test/src/storage.rs
Labels: CICD:run-e2e-tests

#4008 [Forge] Fix Forge continuous test by increasing the memory threshold
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/interface/network.rs
  testsuite/forge/src/interface/system_metrics.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/consensus_reliability_tests.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
  testsuite/testcases/src/network_bandwidth_test.rs
  testsuite/testcases/src/network_latency_test.rs
  testsuite/testcases/src/network_loss_test.rs
  testsuite/testcases/src/network_partition_test.rs
  testsuite/testcases/src/performance_with_fullnode_test.rs
Labels: CICD:run-e2e-tests

#4041 [mempool] remove per-account data structure when no more transactions
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/tests/core_mempool_test.rs
Labels: CICD:run-e2e-tests

#3928 [code publishing] Make package dependency metadata unforgeable
  Cargo.lock
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/aptos-framework/sources/code.spec.move
  aptos-move/framework/aptos-framework/sources/configs/features.move
  aptos-move/framework/aptos-framework/sources/configs/features.spec.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/src/natives/code.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/mod.rs
Labels: CICD:run-e2e-tests

#4122 [move] bump move dependencies to fix the SignatureToken deserialization bug
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
Labels: CICD:run-e2e-tests

#3580 [Consensus] Delay proposal processing in case of sync_only mode
  consensus/src/block_storage/block_store.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  testsuite/forge/src/runner.rs
Labels: CICD:run-e2e-tests

#4151 [Consensus] Tune max block size from 6k -> 3.5k
  config/src/config/consensus_config.rs
Labels: CICD:run-e2e-tests

#4076 [consensus] avoid broadcasting commit vote in happy path
  consensus/src/block_storage/tracing.rs
  consensus/src/experimental/buffer_manager.rs
  consensus/src/experimental/tests/buffer_manager_tests.rs
  consensus/src/network.rs
Labels: CICD:run-e2e-tests

#3872 [cli] Add `Raw` type to support passing BCS-encoded parameters directly
  crates/aptos/src/move_tool/mod.rs
Labels: CICD:run-e2e-tests

#4042 [forge] Set random-seed parameter for key generation
  terraform/helm/genesis/files/genesis.sh
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/constants.rs
Labels: CICD:run-e2e-tests

#4124 [node-metrics] Ability to collect system metrics from Aptos nodes
  Cargo.lock
  Cargo.toml
  crates/aptos-metrics-core/Cargo.toml
  crates/aptos-metrics-core/src/const_metric.rs
  crates/aptos-metrics-core/src/lib.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry/Cargo.toml
  crates/aptos-telemetry/src/constants.rs
  crates/aptos-telemetry/src/service.rs
  crates/node-resource-metrics/Cargo.toml
  crates/node-resource-metrics/src/collectors/common.rs
  crates/node-resource-metrics/src/collectors/cpu_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/disk_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/loadavg_collector.rs
  crates/node-resource-metrics/src/collectors/memory_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/mod.rs
  crates/node-resource-metrics/src/collectors/network_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/process_metrics_collector.rs
  crates/node-resource-metrics/src/lib.rs
Labels: CICD:run-e2e-tests

#4199 [move-deps & friend compat] Updates move-deps & relaxes friend compatibility
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/e2e-move-tests/tests/framework_compatibility.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/sources/configs/features.move
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#4053 [mempool] remove sequence_number_cache and instead store directly in transaction_store
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/core_mempool/ttl_cache.rs
  mempool/src/tests/core_mempool_test.rs
Labels: CICD:run-e2e-tests

#4163 [gas] introduce gas feature version
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/gas_schedule.rs
  types/src/on_chain_config/mod.rs
Labels: CICD:run-e2e-tests

#4264 [move unit tests] Propagate Move unit test failure
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/storage_gas.move
  aptos-move/framework/aptos-framework/sources/vesting.move
  aptos-move/framework/tests/move_unit_test.rs
Labels: CICD:run-e2e-tests

#4256 [gas] charge for loading resources even when they have been cached by…
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos/src/account/create.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/rosetta.rs
Labels: CICD:run-e2e-tests

#4249 [telemetry-service] handle invalid network addresses in validator set
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/clients/mod.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#4295 [Move Prover] Fixed the Prover failure in CI
  .github/workflows/prover-test.yaml
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator.spec.move
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.spec.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.spec.move
  aptos-move/framework/aptos-framework/sources/chain_status.spec.move
  aptos-move/framework/aptos-framework/sources/code.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/vesting.spec.move
Labels: CICD:run-e2e-tests

#4302 [gas] dynamic storage costs
  Cargo.lock
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/lib.rs
  aptos-move/aptos-gas/src/transaction.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__borrow_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__change_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__move_from_across_blocks.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_compatible_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_compatible_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__test_publishing_allow_modules.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__test_publishing_modules_proper_sender.exp
  aptos-move/e2e-testsuite/Cargo.toml
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/framework/aptos-framework/sources/storage_gas.move
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/gas_schedule.rs
  types/src/on_chain_config/mod.rs
Labels: CICD:run-e2e-tests

#4309 [indexer][ez] fix timestamp max
  crates/indexer/src/processors/default_processor.rs
  crates/indexer/src/util.rs
Labels: CICD:build-images

#4255 [consensus] Add chain health counters
  consensus/src/counters.rs
  consensus/src/liveness/leader_reputation.rs
  crates/aptos-metrics-core/src/lib.rs
  crates/inspection-service/src/inspection_client.rs
  testsuite/forge/src/interface/node.rs
Labels: CICD:run-e2e-tests

#4318 [framework] add missing comment to allow list
  aptos-move/framework/aptos-framework/sources/stake.move
Labels: CICD:run-e2e-tests

#4119 [forge] fix latency experiment with netem caveats
  .github/workflows/continuous-e2e-network-latency-test.yaml
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/aptos-node/values.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/chaos/network_delay.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/chaos.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_latency_test.rs
  testsuite/testcases/src/three_region_simulation_test.rs
Labels: CICD:run-e2e-tests

#4174 [telemetry-service] API endpoint and logging improvements
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/clients/mod.rs
  crates/aptos-telemetry-service/src/constants.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
  crates/aptos-telemetry/src/sender.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#4144 [forge] Add continuous progress check to SuccessCriteria
  Cargo.lock
  testsuite/forge-cli/src/main.rs
  testsuite/forge/Cargo.toml
  testsuite/forge/src/interface/mod.rs
  testsuite/forge/src/interface/network.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/tests/forge-local-performance.rs
  types/src/account_config/events/new_block.rs
Labels: CICD:run-e2e-tests

#4363 update storage gas curves
  aptos-move/framework/aptos-framework/sources/storage_gas.move
Labels: CICD:run-e2e-tests

#4355 [Aptos Framework][Vesting] Multi-role support
  aptos-move/framework/aptos-framework/sources/vesting.move
Labels: CICD:run-e2e-tests

#4377 [Genesis][Tests only] Remove unnecessary zeros
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos/src/genesis/tests.rs
Labels: CICD:run-e2e-tests

#4121 Twin validator test
  .github/workflows/twin-validator-test.yaml
  Cargo.lock
  terraform/helm/aptos-node/templates/validator.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge/Cargo.toml
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/stateful_set.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/interface/node.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/twin_validator_test.rs
Labels: CICD:run-e2e-tests

#4301 [node-resource-metrics] linux-specific stats
  Cargo.lock
  crates/node-resource-metrics/Cargo.toml
  crates/node-resource-metrics/src/collectors/common.rs
  crates/node-resource-metrics/src/collectors/cpu_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/disk_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/loadavg_collector.rs
  crates/node-resource-metrics/src/collectors/memory_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/mod.rs
  crates/node-resource-metrics/src/collectors/network_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/process_metrics_collector.rs
  crates/node-resource-metrics/src/lib.rs
Labels: CICD:run-e2e-tests

#4375 [gas] deploy new gas amounts
  Cargo.lock
  api/Cargo.toml
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_entry_function_validation.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_address.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_module_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_entry_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_post_bcs_format_transaction.json
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-gas/src/transaction.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-testsuite/Cargo.toml
  config/global-constants/Cargo.toml
  config/global-constants/src/lib.rs
  crates/aptos-faucet/Cargo.toml
  crates/aptos-faucet/src/lib.rs
  crates/aptos/Cargo.toml
  crates/aptos/src/common/types.rs
  crates/transaction-emitter-lib/Cargo.toml
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  crates/transaction-emitter/Cargo.toml
  crates/transaction-emitter/src/diag.rs
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/examples/simple-nft.py
  ecosystem/python/sdk/examples/transfer-coin.py
  ecosystem/typescript/sdk/examples/typescript-esm/index.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/simple_nft.ts
  ecosystem/typescript/sdk/examples/typescript/transfer_coin.ts
  sdk/Cargo.toml
  sdk/src/transaction_builder.rs
  testsuite/forge-cli/Cargo.toml
  testsuite/forge-cli/src/main.rs
  testsuite/forge/Cargo.toml
  testsuite/forge/src/interface/aptos.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests

#4399 [node-resource-metrics] linux-specific stats
  Cargo.lock
  crates/node-resource-metrics/Cargo.toml
  crates/node-resource-metrics/src/collectors/common.rs
  crates/node-resource-metrics/src/collectors/cpu_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/disk_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/linux_collectors.rs
  crates/node-resource-metrics/src/collectors/loadavg_collector.rs
  crates/node-resource-metrics/src/collectors/memory_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/mod.rs
  crates/node-resource-metrics/src/collectors/network_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/process_metrics_collector.rs
  crates/node-resource-metrics/src/lib.rs
Labels: CICD:run-e2e-tests

#4276 [consensus] Add collected voting power counters
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/round_state.rs
  consensus/src/pending_votes.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  crates/aptos-metrics-core/src/lib.rs
Labels: CICD:run-e2e-tests

#4388 smoke-test: longer wait for local swarm to launch
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/smoke-test/src/storage.rs
Labels: CICD:run-e2e-tests

#4430 Revert "[forge] Implement ability to run multiple tests"
  .github/workflows/forge-continuous.yaml
  .github/workflows/run-forge.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testGetHumioForgeLinkAbsolute.fixture
  testsuite/fixtures/testGetHumioForgeLinkRelative.fixture
  testsuite/fixtures/testGetHumioLogsLinkAbsolute.fixture
  testsuite/fixtures/testGetHumioLogsLinkRelative.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge.py
  testsuite/forge_test.py
Labels: CICD:run-e2e-tests

#4357 [Consensus] Add metrics for pending blocks per stage
  consensus/src/counters.rs
  consensus/src/experimental/buffer_manager.rs
Labels: CICD:run-e2e-tests

#4409 [forge][flaky] Fix consensus_stress_test
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/continuous_progress_test.rs
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests

#4367 [telemetry-service] remote log level configuration
  Cargo.lock
  aptos-node/src/lib.rs
  crates/aptos-logger/Cargo.toml
  crates/aptos-logger/src/aptos_logger.rs
  crates/aptos-logger/src/lib.rs
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/remote_config.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
  crates/aptos-telemetry/Cargo.toml
  crates/aptos-telemetry/src/constants.rs
  crates/aptos-telemetry/src/lib.rs
  crates/aptos-telemetry/src/sender.rs
  crates/aptos-telemetry/src/service.rs
Labels: CICD:run-e2e-tests

#4420 Add a staking proxy contract
  aptos-move/framework/aptos-framework/sources/configs/staking_config.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/sources/staking_proxy.move
  aptos-move/framework/aptos-framework/sources/staking_proxy.spec.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/vesting.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Labels: CICD:run-e2e-tests

#4379 [Indexer] Create current token tables
  crates/indexer/migrations/2022-09-04-194128_add_token_data/up.sql
  crates/indexer/migrations/2022-09-20-055651_add_current_token_data/down.sql
  crates/indexer/migrations/2022-09-20-055651_add_current_token_data/up.sql
  crates/indexer/src/database.rs
  crates/indexer/src/indexer/tailer.rs
  crates/indexer/src/indexer/transaction_processor.rs
  crates/indexer/src/models/collection_datas.rs
  crates/indexer/src/models/mod.rs
  crates/indexer/src/models/token_datas.rs
  crates/indexer/src/models/token_utils.rs
  crates/indexer/src/models/tokens.rs
  crates/indexer/src/processors/default_processor.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
  crates/indexer/src/util.rs
  testsuite/smoke-test/src/indexer.rs
Labels: CICD:build-images

#4467 [framework] Move `features.move` into stdlib so it can be used from everywhere
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_stdlib/sources/configs/features.move
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_stdlib/sources/configs/features.spec.move
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_stdlib_incompat/sources/configs/features.move
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_stdlib_incompat/sources/configs/features.spec.move
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/move-stdlib/sources/configs/features.spec.move
Labels: CICD:run-e2e-tests

#4471 [gas] add script to generate gas schedule update proposal
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-gas/src/bin/gen_proposal.rs
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/gen.rs
  aptos-move/aptos-gas/src/lib.rs
  aptos-move/aptos-gas/tests/gen_tests.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/e2e-move-tests/tests/generate_upgrade_script.rs
  aptos-move/e2e-move-tests/tests/lazy_natives.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/package-builder/Cargo.toml
  aptos-move/package-builder/src/lib.rs
  aptos-move/vm-genesis/src/lib.rs
Labels: CICD:run-e2e-tests

#4368 [framework] prepare for testnet upgrade
  aptos-move/framework/aptos-framework/sources/storage_gas.move
Labels: CICD:run-e2e-tests

#4433 [telemetry-service] security audit fixes and related refactorings
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/clients/humio.rs
  crates/aptos-telemetry-service/src/clients/mod.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/remote_config.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/custom_event.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
  crates/aptos-telemetry/src/service.rs
Labels: CICD:run-e2e-tests

#4442 [forge] prometheus auth option and remove opensearch support
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/testDashboardLinkAutoRefresh.fixture
  testsuite/fixtures/testDashboardLinkTimeInterval.fixture
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testGetHumioLogsLinkAbsolute.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge-test-runner-template.yaml
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/prometheus.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge_test.py
Labels: CICD:run-e2e-tests

#4354 [txn-emitter] Add Graceful Forge test, and Fix ConstTps txn-emitter
  .github/workflows/continuous-e2e-graceful-overload-test.yaml
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  crates/transaction-emitter/src/diag.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests

#4460 [mempool] Add counter for created block size in txn count and byte size
  mempool/src/core_mempool/mempool.rs
  mempool/src/counters.rs
  mempool/src/shared_mempool/tasks.rs
Labels: CICD:run-e2e-tests

#4505 [configs] Update block size (txns/bytes) and make configs consistent across deployments
  config/src/config/consensus_config.rs
  docker/compose/aptos-node/validator.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
  terraform/helm/aptos-node/values.yaml
Labels: CICD:run-e2e-tests

#4518 [Aptos Framework][Voting][Audit issue] Do not allow changing votes after voting is over
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/voting.move
Labels: CICD:run-e2e-tests

#4529 observability: structured logging for faucet requests
  crates/aptos-faucet/src/lib.rs
Labels: CICD:run-e2e-tests

#4502 [mempool] fix GC'd txn metric
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/logging.rs
Labels: CICD:run-e2e-tests

#4551 [gha] Conditionally run pull request and pull request target based on files changed
  .github/workflows/docker-build-test.yaml
Labels: CICD:build-images

#4556 [compression] limit (de)compression, to network application limit size
  crates/aptos-compression/src/lib.rs
  crates/aptos-compression/src/tests.rs
  mempool/src/tests/common.rs
  network/src/protocols/wire/handshake/v1/mod.rs
  state-sync/storage-service/types/src/responses.rs
Labels: CICD:run-e2e-tests

#4564 [CLI] Make GetStakePool CLI easier to use and add CreateStakingContract
  crates/aptos/src/node/mod.rs
  crates/aptos/src/stake/mod.rs
  crates/aptos/src/test/mod.rs
  crates/aptos/src/test/tests.rs
  types/src/lib.rs
  types/src/staking_conttract.rs
  types/src/vesting.rs
Labels: CICD:run-e2e-tests

#4555 [forge] Implement ability to run multiple tests again
  .github/workflows/forge-continuous.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testGetHumioForgeLinkAbsolute.fixture
  testsuite/fixtures/testGetHumioForgeLinkRelative.fixture
  testsuite/fixtures/testGetHumioLogsLinkAbsolute.fixture
  testsuite/fixtures/testGetHumioLogsLinkRelative.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge.py
  testsuite/forge_test.py
Labels: CICD:run-e2e-tests

#4569 [Genesis][Tooling] Allow skipping operator config file if validator is not joining genesis validator set
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos/src/genesis/mod.rs
  terraform/helm/genesis/files/genesis.sh
Labels: CICD:run-e2e-tests

#4589 markuze/default console port
  CODEOWNERS
  config/src/config/logger_config.rs
Labels: CICD:run-e2e-tests

#4338 [SDK][API] Remove event key endpoint / client code
  Cargo.lock
  api/doc/CHANGELOG.md
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__events_test__test_get_events.json
  api/goldens/aptos_api__tests__events_test__test_get_events_by_account_event_handle.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/src/events.rs
  api/types/src/event_key.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
  api/types/src/wrappers.rs
  crates/indexer/src/models/events.rs
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/aptos_client.ts
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/Event.ts
  ecosystem/typescript/sdk/src/generated/models/EventKey.ts
  ecosystem/typescript/sdk/src/generated/models/VersionedEvent.ts
  ecosystem/typescript/sdk/src/generated/schemas/$Event.ts
  ecosystem/typescript/sdk/src/generated/schemas/$EventKey.ts
  ecosystem/typescript/sdk/src/generated/schemas/$VersionedEvent.ts
  ecosystem/typescript/sdk/src/generated/services/EventsService.ts
Labels: CICD:build-images, CICD:run-e2e-tests

#4490 [forge][telemetry] Enable node telemetry service in forge
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/aptos-node/values.yaml
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
Labels: CICD:run-e2e-tests

#4615 [storage] rename target_snapshot_size
  api/test-context/src/test_context.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-node/src/lib.rs
  config/src/config/storage_config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos-genesis/src/mainnet.rs
  execution/db-bootstrapper/src/bin/db-bootstrapper.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver_factory.rs
  storage/README.md
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/test_helper.rs
  storage/backup/backup-cli/src/bin/replay-verify.rs
  storage/backup/backup-cli/src/utils/mod.rs
Labels: CICD:run-e2e-tests

#4603 [gha] Make forge namespace optional
  .github/workflows/forge-continuous.yaml
  .github/workflows/run-forge.yaml
  testsuite/forge.py
  testsuite/forge_test.py
Labels: CICD:run-e2e-tests

#4609 [gha] Enable release on PR, enable HAProxy on release test
  .github/workflows/continuous-e2e-release-test.yaml
  .github/workflows/run-forge.yaml
Labels: CICD:run-e2e-tests

#4621 [move] Do not include vector native implementations
  aptos-move/aptos-vm/src/natives.rs
Labels: CICD:run-e2e-tests

#4616 [mempool] more/better metrics
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/tests/core_mempool_test.rs
Labels: CICD:run-e2e-tests

#4279 [forge] Add a test for validation set changes
  Cargo.lock
  crates/aptos/Cargo.toml
  crates/aptos/src/test/mod.rs
  testsuite/forge-cli/src/main.rs
  testsuite/smoke-test/src/aptos_cli/mod.rs
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/validator_join_leave_test.rs
Labels: CICD:run-e2e-tests

#4324 [Indexer] Add token activity and token claim/listing support
  Cargo.lock
  crates/indexer/Cargo.toml
  crates/indexer/migrations/2022-09-22-185845_token_offers/down.sql
  crates/indexer/migrations/2022-09-22-185845_token_offers/up.sql
  crates/indexer/src/models/block_metadata_transactions.rs
  crates/indexer/src/models/mod.rs
  crates/indexer/src/models/token_datas.rs
  crates/indexer/src/models/token_models/collection_datas.rs
  crates/indexer/src/models/token_models/mod.rs
  crates/indexer/src/models/token_models/token_activities.rs
  crates/indexer/src/models/token_models/token_claims.rs
  crates/indexer/src/models/token_models/token_datas.rs
  crates/indexer/src/models/token_models/token_ownerships.rs
  crates/indexer/src/models/token_models/token_utils.rs
  crates/indexer/src/models/token_models/tokens.rs
  crates/indexer/src/models/token_utils.rs
  crates/indexer/src/models/tokens.rs
  crates/indexer/src/models/user_transactions.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
  crates/indexer/src/util.rs
Labels: CICD:build-images

#4659 [gas] initial gas parameters for table operations
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/table.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
Labels: CICD:run-e2e-tests

#4668 [vm] Invalidate loader cache on module loading errors
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/e2e-move-tests/src/tests/init_module.rs
Labels: CICD:run-e2e-tests

#4036 [forge] Add state sync catching up stress tests
  .github/workflows/continuous-e2e-state-sync-failures-catching-up-test.yaml
  .github/workflows/continuous-e2e-state-sync-slow-processing-catching-up-test.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/forge/src/test_utils/consensus_utils.rs
  testsuite/testcases/src/consensus_reliability_tests.rs
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests

#4671 [prover] Update Boogie to 2.15.8
  scripts/dev_setup.sh
Labels: CICD:run-e2e-tests

#4547 [move] Enable runtime checks in MoveVM
  Cargo.lock
  api/Cargo.toml
  api/types/Cargo.toml
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-module-verifier/Cargo.toml
  aptos-move/aptos-sdk-builder/Cargo.toml
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/counters.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/cached-packages/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
  aptos-move/package-builder/Cargo.toml
  aptos-move/vm-genesis/Cargo.toml
  aptos-node/src/lib.rs
  config/src/config/execution_config.rs
  crates/aptos-rest-client/Cargo.toml
  ecosystem/sf-indexer/firehose-stream/Cargo.toml
  execution/executor/Cargo.toml
  storage/aptosdb/Cargo.toml
  storage/indexer/Cargo.toml
  storage/storage-interface/Cargo.toml
  types/Cargo.toml
Labels: CICD:run-e2e-tests
