Repository aptos-labs/aptos-core, pull requests merged in 2022-08, with the labels that each got.

#2353 [Execution] Do not reuse proof fetcher across multiple block executions.
  execution/executor/src/block_executor.rs
Labels: CICD:run-e2e-tests

#2394 infra: consistency - put all built binaries into thes same path in docker image and make them available in $PATH
  docker/compose/aptos-node/docker-compose-fullnode.yaml
  docker/compose/aptos-node/docker-compose.yaml
  docker/compose/public_full_node/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
  docker/rust-all.Dockerfile
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/fullnode/templates/fullnode.yaml
Labels: CICD:run-e2e-tests

#2398 [docs] Update docs for CLI installation
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
Labels: documentation

#2427 [Txn-emitter] Various performance improvements and simplification to transaction emitter
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  crates/transaction-emitter-lib/src/transaction_generator/account_generator.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/nft_mint.rs
  crates/transaction-emitter-lib/src/transaction_generator/p2p_transaction_generator.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  ecosystem/node-checker/src/evaluators/direct/tps.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/compatibility_test.rs
  testsuite/testcases/src/fixed_tps_test.rs
  testsuite/testcases/src/gas_price_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_bandwidth_test.rs
  testsuite/testcases/src/network_latency_test.rs
  testsuite/testcases/src/network_partition_test.rs
  testsuite/testcases/src/partial_nodes_down_test.rs
  testsuite/testcases/src/performance_test.rs
  testsuite/testcases/src/state_sync_performance.rs
  testsuite/testcases/tests/forge-local-performance.rs
Labels: CICD:run-e2e-tests

#2349 [State Sync] Add data compression to state sync.
  Cargo.lock
  Cargo.toml
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/aptosnet/mod.rs
  state-sync/aptos-data-client/src/aptosnet/state.rs
  state-sync/aptos-data-client/src/aptosnet/tests.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/tests.rs
  state-sync/storage-service/types/Cargo.toml
  state-sync/storage-service/types/src/lib.rs
  state-sync/storage-service/types/src/requests.rs
  state-sync/storage-service/types/src/responses.rs
  state-sync/storage-service/types/src/tests.rs
  testsuite/smoke-test/src/state_sync_v2.rs
Labels: CICD:run-e2e-tests

#2417 [Aptos Framework] [Staking] Switch from remaining lockup to recurring lockup model
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/src/tests/test_context.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/configs/stake.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
  terraform/helm/genesis/templates/genesis.yaml
  testsuite/smoke-test/src/aptos_cli.rs
Labels: CICD:run-e2e-tests

#2432 Add aptos-openapi-spec-generator to CI
  docker/build-rust-all.sh
  docker/rust-all.Dockerfile
Labels: CICD:build-images

#2400 docs/infra: simplify running a fullnode via docker and make docker-compose obsolete
  config/src/config/mod.rs
  developer-docs-site/docs/nodes/ait/node-liveness-criteria.md
  developer-docs-site/docs/nodes/full-node/fullnode-source-code-or-docker.md
  developer-docs-site/docs/nodes/full-node/index.md
  developer-docs-site/docs/nodes/full-node/troubleshooting-fullnode.md
  developer-docs-site/docs/nodes/full-node/update-fullnode-with-new-releases.md
  developer-docs-site/docs/nodes/index.md
  developer-docs-site/sidebars.js
  docker/compose/public_full_node/docker-compose.yaml
  docker/compose/public_full_node/public_full_node.yaml
  docker/rosetta/README.md
Labels: documentation

#2483 [forge] spin up swarm with num_fullnodes
  Cargo.lock
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/interface/factory.rs
  testsuite/forge/src/runner.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/performance_test.rs
Labels: CICD:run-e2e-tests

#2484 [Forge] Tune the nightly run and introduce per run cleanup time
  .github/workflows/pre-release-continuous-test.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/interface/factory.rs
  testsuite/forge/src/runner.rs
Labels: CICD:run-e2e-tests

#2459 [Consensus] Add compression to consensus messages.
  Cargo.lock
  consensus/src/network_interface.rs
  crates/aptos-compression/src/lib.rs
  crates/aptos-compression/src/metrics.rs
  crates/aptos-compression/src/tests.rs
  network/Cargo.toml
  network/src/protocols/network/mod.rs
  network/src/protocols/wire/handshake/v1/mod.rs
  state-sync/storage-service/types/src/responses.rs
  testsuite/generate-format/tests/staged/network.yaml
Labels: CICD:run-e2e-tests

#2508 Finalize TS SDK CI
  .github/workflows/build-images.yaml
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/check.sh
  ecosystem/typescript/sdk/examples/README.md
  ecosystem/typescript/sdk/examples/javascript/package.json
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/tsconfig.json
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/aptos_client.ts
  ecosystem/typescript/sdk/src/faucet_client.test.ts
  ecosystem/typescript/sdk/src/generated/models/RoleType.ts
  ecosystem/typescript/sdk/src/token_client.test.ts
  ecosystem/typescript/sdk/src/token_client.ts
Labels: CICD:build-images, CICD:run-e2e-tests

#2527 Fix docker issue in SDK CI
  .github/workflows/sdk-release.yaml
Labels: CICD:build-images, CICD:run-e2e-tests

#2534 Make TS and JS examples refer to package locally, fix tests accordingly
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/examples/README.md
  ecosystem/typescript/sdk/examples/javascript/index.js
  ecosystem/typescript/sdk/examples/javascript/package.json
  ecosystem/typescript/sdk/examples/typescript/bcs_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/constants.ts
  ecosystem/typescript/sdk/examples/typescript/index.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/tsconfig.json
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/aptos_client.ts
  ecosystem/typescript/sdk/src/faucet_client.test.ts
  ecosystem/typescript/sdk/src/index.ts
  ecosystem/typescript/sdk/src/token_client.test.ts
  ecosystem/typescript/sdk/src/token_client.ts
Labels: CICD:build-images, CICD:run-e2e-tests

#2540 [State Sync] Remove state sync v1!
  Cargo.lock
  Cargo.toml
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  config/src/config/state_sync_config.rs
  crates/aptos-telemetry/Cargo.toml
  crates/aptos-telemetry/src/core_metrics.rs
  documentation/specifications/state_sync/README.md
  state-sync/state-sync-v1/Cargo.toml
  state-sync/state-sync-v1/README.md
  state-sync/state-sync-v1/src/bootstrapper.rs
  state-sync/state-sync-v1/src/chunk_request.rs
  state-sync/state-sync-v1/src/chunk_response.rs
  state-sync/state-sync-v1/src/client.rs
  state-sync/state-sync-v1/src/coordinator.rs
  state-sync/state-sync-v1/src/counters.rs
  state-sync/state-sync-v1/src/error.rs
  state-sync/state-sync-v1/src/executor_proxy.rs
  state-sync/state-sync-v1/src/fuzzing.rs
  state-sync/state-sync-v1/src/lib.rs
  state-sync/state-sync-v1/src/logging.rs
  state-sync/state-sync-v1/src/network.rs
  state-sync/state-sync-v1/src/request_manager.rs
  state-sync/state-sync-v1/src/shared_components.rs
  state-sync/state-sync-v1/tests/integration_tests.rs
  state-sync/state-sync-v1/tests/test_harness.rs
  state-sync/state-sync-v2/state-sync-driver/Cargo.toml
  state-sync/state-sync-v2/state-sync-driver/src/driver_factory.rs
  state-sync/state-sync-v2/state-sync-driver/src/metrics.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver_factory.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mod.rs
  state-sync/state-sync-v2/state-sync-multiplexer/Cargo.toml
  state-sync/state-sync-v2/state-sync-multiplexer/src/lib.rs
  terraform/helm/aptos-node/files/configs/fullnode.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
  terraform/helm/aptos-node/values.yaml
  terraform/helm/fullnode/files/fullnode.yaml
  terraform/helm/fullnode/values.yaml
  testsuite/aptos-fuzzer/Cargo.toml
  testsuite/aptos-fuzzer/src/fuzz_targets.rs
  testsuite/aptos-fuzzer/src/fuzz_targets/state_sync.rs
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/state_sync_v2.rs
Labels: CICD:run-e2e-tests

#2575 [Build Profile] Optimising the relase build profile
  Cargo.toml
Labels: CICD:run-e2e-tests

#2554 [package publishing] Turn on package publishing and upgrading
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_compat_first_not_second/Move.toml
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_compat_first_not_second/sources/test.move
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/move-deps/Cargo.toml
  testsuite/smoke-test/src/aptos/mod.rs
  testsuite/smoke-test/src/aptos/move_test_helpers.rs
  testsuite/smoke-test/src/aptos/package_publish.rs
  testsuite/smoke-test/src/aptos/package_publish_modules_v1/Move.toml
  testsuite/smoke-test/src/aptos/package_publish_modules_v1/sources/hello.move
  testsuite/smoke-test/src/aptos/package_publish_modules_v2/Move.toml
  testsuite/smoke-test/src/aptos/package_publish_modules_v2/sources/hello.move
  testsuite/smoke-test/src/aptos/package_publish_modules_v3/Move.toml
  testsuite/smoke-test/src/aptos/package_publish_modules_v3/sources/hello.move
  testsuite/smoke-test/tests/forge-aptos.rs
Labels: CICD:run-e2e-tests

#2455 [forge] tune direction and delay of latency test
  testsuite/forge/src/backend/k8s/chaos/network_delay.yaml
  testsuite/testcases/src/network_latency_test.rs
Labels: CICD:build-images

#2606 [storage] remove get_startup_info()
  consensus/src/persistent_liveness_storage.rs
  consensus/src/state_computer.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/backup/backup_handler.rs
  storage/aptosdb/src/ledger_store/ledger_info_test.rs
  storage/aptosdb/src/ledger_store/mod.rs
  storage/aptosdb/src/lib.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/storage-interface/src/lib.rs
  types/src/proof/accumulator/mod.rs
  types/src/proof/definition.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#2610 [code publishing] Make new flow the default
  crates/aptos/src/move_tool/mod.rs
Labels: CICD:run-e2e-tests

#2623 [aptos-move-framework] fix empty big_vector contains
  aptos-move/framework/aptos-stdlib/sources/big_vector.move
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
Labels: CICD:run-e2e-tests

#2626 [docs] Add Aptos CLI local testnet readme / guide
  developer-docs-site/docs/cli-tools/aptos-cli-tool/index.md
  developer-docs-site/docs/cli-tools/aptos-cli-tool/using-a-local-testnet.md
Labels: documentation

#2592 [Aptos Framework] Add more e2e tests for Staking
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/stake.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_basic.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_immutable.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_overlapping_module.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_no_compat.exp
  aptos-move/e2e-move-tests/tests/init_module.data/init_module.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_basic_staking.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_end_to_end.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards_pending_inactive.exp
  aptos-move/e2e-move-tests/tests/stake.rs
  aptos-move/e2e-move-tests/tests/string_args.data/string_args.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/lib.rs
  types/src/on_chain_config/validator_set.rs
  types/src/stake_pool.rs
  types/src/validator_info.rs
Labels: CICD:run-e2e-tests

#2460 Aptos telemetry web service
  Cargo.lock
  Cargo.toml
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/main.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Labels: CICD:run-e2e-tests

#2195 [Consensus] Support for BLS signature aggregate
  api/src/tests/test_context.rs
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/block_test.rs
  consensus/consensus-types/src/block_test_utils.rs
  consensus/consensus-types/src/quorum_cert.rs
  consensus/consensus-types/src/timeout_2chain.rs
  consensus/safety-rules/src/test_utils.rs
  consensus/safety-rules/src/tests/suite.rs
  consensus/src/block_storage/block_store_test.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/experimental/buffer_item.rs
  consensus/src/experimental/buffer_manager.rs
  consensus/src/experimental/tests/signing_phase_tests.rs
  consensus/src/experimental/tests/test_utils.rs
  consensus/src/liveness/round_state_test.rs
  consensus/src/pending_votes.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_storage.rs
  consensus/src/test_utils/mod.rs
  crates/aptos-compression/src/tests.rs
  execution/executor-benchmark/src/transaction_committer.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor-test-helpers/src/lib.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/storage_integration_test.rs
  sf-stream/src/tests/test_context.rs
  state-sync/aptos-data-client/src/aptosnet/tests.rs
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/utils.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/utils.rs
  state-sync/storage-service/server/src/tests.rs
  state-sync/storage-service/types/src/tests.rs
  storage/aptosdb/src/schema/ledger_info/test.rs
  storage/aptosdb/src/test_helper.rs
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/epoch_change.rs
  types/src/ledger_info.rs
  types/src/lib.rs
  types/src/multi_signature.rs
  types/src/proptest_types.rs
  types/src/unit_tests/trusted_state_test.rs
  types/src/validator_verifier.rs
Labels: CICD:run-e2e-tests

#2680 [code publishing] Add CLI commands for inspecting and downloading packages
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_basic.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_immutable.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_overlapping_module.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_no_compat.exp
  aptos-move/e2e-move-tests/tests/init_module.data/init_module.exp
  aptos-move/e2e-move-tests/tests/string_args.data/string_args.exp
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/src/natives/code.rs
  aptos-move/move-deps/Cargo.toml
  crates/aptos/src/move_tool/built_package.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/stored_package.rs
Labels: CICD:run-e2e-tests

#2641 [Genesis] Make rewards and governance params configurable and set reasonable defaults in tests
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  testsuite/smoke-test/src/aptos_cli.rs
Labels: CICD:run-e2e-tests

#2672 [SDK] Re-enable release steps in CI
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/README.md
Labels: CICD:build-images, CICD:run-e2e-tests

#2685 [aptos-cli] Allow empty config in global config
  crates/aptos/src/common/types.rs
  crates/aptos/src/config/mod.rs
Labels: tooling

#2078 [Consensus] Configure round timeout from 1s -> 1.5s
  config/src/config/consensus_config.rs
Labels: CICD:run-e2e-tests

#2733 [Txn-emitter] Fix account_generation.
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/account_generator.rs
Labels: CICD:run-e2e-tests

#2739 [code publishing] Implement new `aptos` dependency in Move.toml
  Cargo.lock
  crates/aptos/Cargo.toml
  crates/aptos/src/account/list.rs
  crates/aptos/src/common/init.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/config/mod.rs
  crates/aptos/src/main.rs
  crates/aptos/src/move_tool/aptos_dep_example/.aptos/config.yaml
  crates/aptos/src/move_tool/aptos_dep_example/README.md
  crates/aptos/src/move_tool/aptos_dep_example/pack1/Move.toml
  crates/aptos/src/move_tool/aptos_dep_example/pack1/sources/hello.move
  crates/aptos/src/move_tool/aptos_dep_example/pack2/Move.toml
  crates/aptos/src/move_tool/aptos_dep_example/pack2/sources/m.move
  crates/aptos/src/move_tool/manifest.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/package_hooks.rs
  crates/aptos/src/node/mod.rs
Labels: CICD:run-e2e-tests

#2742 [Forge] Add criteria for checking validator/FN restart as success cri…
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/testcases/src/performance_test.rs
Labels: CICD:run-e2e-tests

#2771 [gas] revert the default gas numbers back
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_module_payload_bytecode.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_address.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_arguments.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_module_name.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_name.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_script_function_arguments.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_script_function_validation.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_post_bcs_format_transaction.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_module_payload_bytecode.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_address.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_arguments.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_module_name.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_name.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_script_function_arguments.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_script_function_validation.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_post_bcs_format_transaction.json
  aptos-move/framework/tests/move_unit_test.rs
  crates/aptos/src/account/create.rs
  crates/aptos/src/common/types.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/transaction_generator.rs
  sdk/src/transaction_builder.rs
  testsuite/forge/src/interface/aptos.rs
  testsuite/smoke-test/src/aptos/account_creation.rs
  testsuite/smoke-test/src/aptos/gas_check.rs
  testsuite/smoke-test/src/aptos/mint_transfer.rs
  testsuite/smoke-test/src/fullnode.rs
  testsuite/smoke-test/src/indexer.rs
  testsuite/smoke-test/src/rest_api.rs
  testsuite/smoke-test/src/transaction.rs
Labels: CICD:run-e2e-tests

#2676 [aptos-telemetry] Big query ingestion endpoint
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Labels: CICD:run-e2e-tests

#2763 [aptos-telemetry] telemetry service client integration
  Cargo.lock
  aptos-node/src/lib.rs
  config/src/config/mod.rs
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/telemetry.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
  crates/aptos-telemetry/Cargo.toml
  crates/aptos-telemetry/src/build_information.rs
  crates/aptos-telemetry/src/cli_metrics.rs
  crates/aptos-telemetry/src/constants.rs
  crates/aptos-telemetry/src/core_metrics.rs
  crates/aptos-telemetry/src/lib.rs
  crates/aptos-telemetry/src/metrics.rs
  crates/aptos-telemetry/src/network_metrics.rs
  crates/aptos-telemetry/src/sender.rs
  crates/aptos-telemetry/src/service.rs
  crates/aptos-telemetry/src/system_information.rs
Labels: CICD:run-e2e-tests

#2760 [smoke-tests] Move local forge tests to local swarm tests
  testsuite/forge/src/interface/aptos.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/aptos/account_creation.rs
  testsuite/smoke-test/src/aptos/error_report.rs
  testsuite/smoke-test/src/aptos/gas_check.rs
  testsuite/smoke-test/src/aptos/mint_transfer.rs
  testsuite/smoke-test/src/aptos/mod.rs
  testsuite/smoke-test/src/aptos/move_test_helpers.rs
  testsuite/smoke-test/src/aptos/package_publish.rs
  testsuite/smoke-test/src/aptos/staking.rs
  testsuite/smoke-test/src/fullnode.rs
  testsuite/smoke-test/src/indexer.rs
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/rest_api.rs
  testsuite/smoke-test/src/smoke_test_environment.rs
  testsuite/smoke-test/src/transaction.rs
  testsuite/smoke-test/tests/forge-aptos.rs
  testsuite/smoke-test/tests/forge.rs
Labels: CICD:run-e2e-tests

#2725 [aptos-telemetry] Include telemetry service in Dockerfile
  docker/build-rust-all.sh
  docker/docker-bake-rust-all.hcl
  docker/rust-all.Dockerfile
Labels: CICD:build-images, CICD:run-e2e-tests

#2829 [gas] bump max_transaction_size_in_bytes to 6 MB
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/aptos-gas/src/transaction.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  config/src/config/api_config.rs
  vm-validator/src/unit_tests/vm_validator_test.rs
Labels: CICD:run-e2e-tests

#2721 Switch Rust tooling over to v1 API
  api/src/poem_backend/runtime.rs
  api/src/set_failpoints.rs
  crates/aptos-faucet/src/lib.rs
  crates/aptos-faucet/src/main.rs
  crates/aptos-rest-client/src/faucet.rs
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-rest-client/src/types.rs
  crates/aptos/src/common/init.rs
  crates/aptos/src/common/types.rs
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/smoke-test/src/rest_api.rs
  testsuite/smoke-test/src/rosetta.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#2781 [API] Log per-endpoint metrics based on operation_id
  Cargo.lock
  api/Cargo.toml
  api/src/poem_backend/log.rs
  api/types/Cargo.toml
  config/Cargo.toml
  crates/aptos-openapi/Cargo.toml
  ecosystem/node-checker/Cargo.toml
Labels: CICD:run-e2e-tests

#2875 [Forge] Fix validator restart checkin in performance test
  testsuite/testcases/src/performance_test.rs
Labels: CICD:run-e2e-tests

#2772 [forge] resurrect set image tag
  Cargo.lock
  testsuite/forge-cli/src/main.rs
  testsuite/forge-test-runner-template.yaml
  testsuite/forge/Cargo.toml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/constants.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/kube_api.rs
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/stateful_set.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/runner.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/compatibility_test.rs
  testsuite/testcases/src/lib.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#2587 [forge] create land-blocking test with 20 validators and 10 VFNs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  terraform/helm/aptos-node/files/configs/fullnode.yaml
  terraform/helm/aptos-node/values.yaml
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#2884 [Aptos Framework][Staking] Simplify with_cap functions
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_end_to_end.exp
  aptos-move/framework/aptos-framework/sources/stake.move
Labels: CICD:run-e2e-tests

#2842 [Aptos Framework][Genesis] Update genesis to only initialize core resources account for tests/testnets
  api/src/tests/test_context.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/e2e-tests/src/account.rs
  aptos-move/e2e-tests/src/on_chain_configs.rs
  aptos-move/e2e-testsuite/src/tests/genesis_initializations.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/chain_id.move
  aptos-move/framework/aptos-framework/sources/configs/consensus_config.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.move
  aptos-move/framework/aptos-framework/sources/configs/staking_config.move
  aptos-move/framework/aptos-framework/sources/configs/version.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/move-examples/shared_account/sources/shared_account.move
  aptos-move/transaction-replay/src/lib.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/admin_script_builder.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  crates/aptos-faucet-cli/src/main.rs
  crates/aptos-faucet/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
  crates/transaction-emitter-lib/src/cluster.rs
  execution/executor-benchmark/src/transaction_generator.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/storage_integration_test.rs
  sf-stream/src/tests/proto_converter_tests.rs
  sf-stream/src/tests/test_context.rs
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/smoke-test/src/aptos/error_report.rs
  testsuite/smoke-test/src/smoke_test_environment.rs
  types/src/account_config/constants/addresses.rs
  vm-validator/src/unit_tests/vm_validator_test.rs
Labels: CICD:run-e2e-tests

#2876 [Parallel Execution] Let execution finish even if it needs to fallback to sequential
  aptos-move/parallel-executor/src/executor.rs
  aptos-move/parallel-executor/src/txn_last_input_output.rs
Labels: CICD:run-e2e-tests

#2912 [framework] enable freezing of coin
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/execute_script.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_basic.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_immutable.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_overlapping_module.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_no_compat.exp
  aptos-move/e2e-move-tests/tests/init_module.data/init_module.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_end_to_end.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards_pending_inactive.exp
  aptos-move/e2e-move-tests/tests/string_args.data/string_args.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__mint__mint_to_new_account_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__bad_module_address.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__cycle_peer_to_peer_multi_block_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__cycle_peer_to_peer_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__few_peer_to_peer_with_event_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__many_to_one_peer_to_peer_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__one_to_many_peer_to_peer_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__single_peer_to_peer_with_event_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_bad_sig_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_code_unverifiable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_nested_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_non_existing_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_none_existing_module_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_arbitrary_script_execution.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_open_publishing.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_open_publishing_invalid_address.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__verify_simple_payment_version_4.exp
  aptos-move/e2e-tests/src/account.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/managed_coin.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/move-examples/shared_account/sources/shared_account.move
  execution/executor/tests/db_bootstrapper_test.rs
  types/src/account_config/resources/coin_store.rs
  types/src/proptest_types.rs
Labels: CICD:run-e2e-tests

#2916 [Parallel Execution] Fix module detection (again)
  aptos-move/parallel-executor/src/txn_last_input_output.rs
Labels: CICD:run-e2e-tests

#2915 cicd: limit test threads in coverage run to avoid OOM
  .github/workflows/coverage.yaml
Labels: CICD:run-coverage

#2910 [Networking HC] Reseting HC failure count on ingress HC request
  network/src/protocols/health_checker/mod.rs
Labels: CICD:run-e2e-tests

#2786 [Aptos Framework][Staking] Limit amount of stake that can join every epoch
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/e2e-move-tests/src/stake.rs
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_end_to_end.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards_pending_inactive.exp
  aptos-move/e2e-move-tests/tests/stake.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/configs/staking_config.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  types/src/on_chain_config/validator_set.rs
Labels: CICD:run-e2e-tests

#2937 [Genesis] Collapse all validator configs into a single struct and add support for separate accounts
  Cargo.lock
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_end_to_end.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards_pending_inactive.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/src/natives/code.rs
  aptos-move/vm-genesis/Cargo.toml
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-genesis/src/config.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/storage_integration_test.rs
Labels: CICD:run-e2e-tests

#2917 [Genesis] Update the non-test genesis flow to destroy aptos framework account's mint capability
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_basic.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_immutable.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_overlapping_module.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_no_compat.exp
  aptos-move/e2e-move-tests/tests/init_module.data/init_module.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_end_to_end.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_mainnet.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards_pending_inactive.exp
  aptos-move/e2e-move-tests/tests/stake.rs
  aptos-move/e2e-move-tests/tests/string_args.data/string_args.exp
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/vm-genesis/src/lib.rs
Labels: CICD:run-e2e-tests

#2955 Run sdk-release on high-perf-docker with correct volume usage
  .github/workflows/sdk-release.yaml
Labels: CICD:run-e2e-tests

#2957 Make sdk-release work on high-perf-docker
  .github/workflows/sdk-release.yaml
Labels: CICD:run-e2e-tests

#2995 [consensus] propagate reconfig timestamp to all reconfig suffix blocks
  consensus/src/experimental/buffer_item.rs
  consensus/src/experimental/buffer_manager.rs
Labels: CICD:run-e2e-tests

#2925 [Parallel Execution] Combinatorial test to check module intersection
  Cargo.lock
  aptos-move/parallel-executor/Cargo.toml
  aptos-move/parallel-executor/src/proptest_types/tests.rs
  aptos-move/parallel-executor/src/proptest_types/types.rs
Labels: CICD:run-e2e-tests

#2891 [cherry-pick] don't preemptively return threads upon detecting possible module publ…
  aptos-move/parallel-executor/src/executor.rs
  aptos-move/parallel-executor/src/txn_last_input_output.rs
Labels: CICD:build-images

#2809 [storage] state_store::get_usage() to return db size info
  aptos-move/aptos-validator-interface/src/lib.rs
  storage/aptosdb/src/db_options.rs
  storage/aptosdb/src/metrics.rs
  storage/aptosdb/src/schema/mod.rs
  storage/aptosdb/src/schema/version_data/mod.rs
  storage/aptosdb/src/schema/version_data/test.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_merkle_batch_committer.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/lib.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/restore/mod.rs
  storage/jellyfish-merkle/src/restore/restore_test.rs
  storage/jellyfish-merkle/src/test_helper.rs
  storage/state-view/src/account_with_state_cache.rs
  storage/storage-interface/src/cached_state_view.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/state_view.rs
  types/src/access_path.rs
  types/src/account_state.rs
  types/src/state_store/state_key.rs
  types/src/state_store/state_value.rs
  types/src/state_store/table.rs
Labels: CICD:run-e2e-tests

#2914 [Secure Storage] Add a simple rocks db file implementation for the secure storage.
  Cargo.lock
  Cargo.toml
  config/src/config/safety_rules_config.rs
  config/src/config/secure_backend_config.rs
  crates/aptos-genesis/src/builder.rs
  secure/storage/Cargo.toml
  secure/storage/src/lib.rs
  secure/storage/src/rocks_db.rs
  secure/storage/src/storage.rs
  secure/storage/src/tests/mod.rs
  secure/storage/src/tests/rocks_db.rs
  state-sync/state-sync-v2/state-sync-driver/src/metadata_storage.rs
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/lib.rs
  storage/indexer/Cargo.toml
  storage/indexer/src/lib.rs
  storage/rocksdb-options/Cargo.toml
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/lib.rs
Labels: CICD:run-e2e-tests

#2962 [Aptos logger] Adding buferred log writes
  crates/aptos-logger/src/aptos_logger.rs
  crates/aptos-logger/tests/logger.rs
  crates/aptos-logger/tests/logger_custom_format.rs
  crates/aptos-logger/tests/tracing_translation_tests.rs
Labels: CICD:run-e2e-tests

#2996 [telemetry-service] error handling and big query ingest improvements
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/telemetry.rs
Labels: CICD:run-e2e-tests

#3074 [smoke-test] Add option to have use --release mode for nodes, and enable it in CI
  .github/workflows/lint-test.yaml
  testsuite/forge/src/backend/local/cargo.rs
  testsuite/smoke-test/src/client.rs
  testsuite/smoke-test/src/rosetta.rs
Labels: CICD:run-e2e-tests

#2901 Tokio metrics
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/runtime.rs
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  consensus/Cargo.toml
  consensus/src/consensus_provider.rs
  crates/aptos-rosetta/Cargo.toml
  crates/aptos-rosetta/src/lib.rs
  crates/aptos-runtime/Cargo.toml
  crates/aptos-runtime/src/counters.rs
  crates/aptos-runtime/src/instrumented_runtime.rs
  crates/aptos-runtime/src/lib.rs
Labels: CICD:run-e2e-tests

#3001 [Forge] Add support for detecting CPU/Memory regression
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/prometheus.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/mod.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/interface/system_metrics.rs
  testsuite/testcases/src/performance_with_fullnode_test.rs
Labels: CICD:run-e2e-tests

#2992 [forge] Add python forge wrapper to replace run_forge
  .github/workflows/build-images.yaml
  .github/workflows/run-forge.yaml
  testsuite/forge-test-runner-template.fixture
  testsuite/forge.py
  testsuite/forge_test.py
  testsuite/requirements.txt
  testsuite/run_forge.sh
Labels: CICD:run-e2e-tests

#3101 [transactions] remove legacy writeset transactions
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__transaction_vector_test__test_module_payload.json
  api/goldens/aptos_api__tests__transaction_vector_test__test_script_function_payload.json
  api/goldens/aptos_api__tests__transaction_vector_test__test_script_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_module_payload_bytecode.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_address.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_module_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_script_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_script_function_validation.json
  api/goldens/aptos_api__tests__transactions_test__test_post_bcs_format_transaction.json
  api/src/tests/transactions_test.rs
  api/types/src/convert.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/read_write_set_analysis.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/e2e-tests/src/account.rs
  aptos-move/e2e-testsuite/src/tests/mod.rs
  aptos-move/e2e-testsuite/src/tests/writeset_builder.rs
  crates/aptos-faucet/src/main.rs
  crates/aptos-protos/src/pb/aptos.extractor.v1.rs
  crates/aptos-protos/src/pb/aptos.extractor.v1.serde.rs
  ecosystem/python/sdk/aptos_sdk/transactions.py
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionPayload.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionPayload_WriteSetPayload.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TransactionPayload.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TransactionPayload_WriteSetPayload.ts
  ecosystem/typescript/sdk/src/transaction_builder/aptos_types/transaction.ts
  ecosystem/typescript/sdk/src/transaction_builder/transaction_builder.test.ts
  execution/executor-types/src/in_memory_state_calculator.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/src/tests/mod.rs
  sdk/src/transaction_builder.rs
  sf-stream/src/convert.rs
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/proptest_types.rs
  types/src/test_helpers/transaction_test_helpers.rs
  types/src/transaction/mod.rs
  vm-validator/src/unit_tests/vm_validator_test.rs
Labels: CICD:run-e2e-tests

#3132 [Netowrking] Removing a redundant collect, using iter instead.
  network/src/connectivity_manager/mod.rs
Labels: CICD:run-e2e-tests

#3130 [forge] fix cleanup timestamp parse
  testsuite/forge/src/backend/k8s/cluster_helper.rs
Labels: CICD:build-images

#3015 [move] Rename initialize_owner_only to initialize_stake_owner
  api/goldens/aptos_api__tests__blocks_test__test_get_genesis_block_by_version.json
  aptos-move/e2e-move-tests/src/stake.rs
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  crates/aptos/src/stake/mod.rs
Labels: CICD:run-e2e-tests

#3021 [storage] expose state db sizing info to Move
  Cargo.lock
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/parallel_executor/storage_wrapper.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/state_storage.move
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/state_storage.rs
  aptos-move/vm-genesis/src/genesis_context.rs
  execution/executor-types/src/in_memory_state_calculator.rs
  execution/executor/src/mock_vm/mock_vm_test.rs
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/schema/version_data/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_merkle_batch_committer.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/aptosdb/src/test_helper.rs
  storage/scratchpad/Cargo.toml
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/sparse_merkle_test.rs
  storage/scratchpad/src/sparse_merkle/test_utils/proptest_helpers.rs
  storage/state-view/src/lib.rs
  storage/state-view/src/state_storage_usage.rs
  storage/storage-interface/src/cached_state_view.rs
  storage/storage-interface/src/executed_trees.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/state_delta.rs
  storage/storage-interface/src/state_view.rs
Labels: CICD:run-e2e-tests

#3171 [gas] update move dependencies and implement proper gas metering for all instructions
  Cargo.lock
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-gas/src/algebra.rs
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/instr.rs
  aptos-move/aptos-gas/src/lib.rs
  aptos-move/aptos-gas/src/misc.rs
  aptos-move/aptos-gas/src/move_stdlib.rs
  aptos-move/aptos-gas/src/params.rs
  aptos-move/aptos-gas/src/transaction.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__mint__mint_to_new_account_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__cycle_peer_to_peer_multi_block_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__cycle_peer_to_peer_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__few_peer_to_peer_with_event_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__many_to_one_peer_to_peer_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__one_to_many_peer_to_peer_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__peer_to_peer__single_peer_to_peer_with_event_version_4.exp
  aptos-move/framework/src/natives/account.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/natives/cryptography/bls12381.rs
  aptos-move/framework/src/natives/cryptography/ed25519.rs
  aptos-move/framework/src/natives/cryptography/secp256k1.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/hash.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/src/natives/type_info.rs
  aptos-move/framework/src/natives/util.rs
  aptos-move/move-deps/Cargo.toml
Labels: CICD:run-e2e-tests

#2989 [vm] Exposing aggregator changes to session
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
Labels: CICD:run-e2e-tests

#2886 [Consensus] Support for BLS aggregated signature for timeout certificate
  api/test-context/src/test_context.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/block_test.rs
  consensus/consensus-types/src/quorum_cert.rs
  consensus/consensus-types/src/timeout_2chain.rs
  consensus/safety-rules/src/test_utils.rs
  consensus/safety-rules/src/tests/suite.rs
  consensus/src/experimental/buffer_item.rs
  consensus/src/experimental/tests/signing_phase_tests.rs
  consensus/src/liveness/round_state_test.rs
  consensus/src/pending_votes.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_storage.rs
  crates/aptos-compression/src/tests.rs
  execution/executor-benchmark/src/transaction_committer.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/tests/mod.rs
  fh-stream/src/tests/test_context.rs
  state-sync/aptos-data-client/src/aptosnet/tests.rs
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/utils.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/utils.rs
  state-sync/storage-service/server/src/tests.rs
  state-sync/storage-service/types/src/tests.rs
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/aggregate_signature.rs
  types/src/epoch_change.rs
  types/src/ledger_info.rs
  types/src/lib.rs
  types/src/proptest_types.rs
  types/src/unit_tests/trusted_state_test.rs
  types/src/validator_verifier.rs
Labels: CICD:run-e2e-tests

#3179 [aggregator] added gas metering for aggregator
  Cargo.lock
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers.rs
  aptos-move/framework/src/natives/aggregator_natives/mod.rs
  aptos-move/framework/src/natives/mod.rs
Labels: CICD:run-e2e-tests

#3122 [Parallel Execution] Trait to extract u128 from V, wrapper for tests
  aptos-move/parallel-executor/src/executor.rs
  aptos-move/parallel-executor/src/proptest_types/bencher.rs
  aptos-move/parallel-executor/src/proptest_types/tests.rs
  aptos-move/parallel-executor/src/proptest_types/types.rs
  aptos-move/parallel-executor/src/task.rs
  aptos-move/parallel-executor/src/unit_tests/mod.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#3121 [aggregator] Enabled commutative subtractions
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
Labels: CICD:run-e2e-tests

#3054 [Aptos Framework] Potentially aggregatable total coin supply
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.move
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/managed_coin.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Labels: CICD:run-e2e-tests

#2671 [crypto+move] add Ristretto255 elliptic curves support in Move
  api/goldens/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
  aptos-move/framework/src/natives/cryptography/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_scalar.rs
  aptos-move/framework/src/natives/mod.rs
Labels: CICD:run-e2e-tests

#3210 [Governance] Allow stakers who have a lockup but are not part of active validator set vote
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
Labels: CICD:run-e2e-tests

#2951 observability: authenticated remote push metrics support for all metrics
  Cargo.lock
  Cargo.toml
  aptos-node/src/lib.rs
  consensus/safety-rules/Cargo.toml
  consensus/safety-rules/src/counters.rs
  consensus/safety-rules/src/main.rs
  consensus/safety-rules/tests/binary.rs
  crates/aptos-push-metrics/Cargo.toml
  crates/aptos-push-metrics/src/lib.rs
  crates/aptos-telemetry-service/src/clients.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
  crates/aptos-telemetry/Cargo.toml
  crates/aptos-telemetry/src/constants.rs
  crates/aptos-telemetry/src/sender.rs
  crates/aptos-telemetry/src/service.rs
  execution/executor-benchmark/Cargo.toml
  execution/executor-benchmark/src/main.rs
  secure/net/Cargo.toml
  secure/net/src/lib.rs
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-cli/src/bin/db-backup-verify.rs
  storage/backup/backup-cli/src/bin/db-backup.rs
  storage/backup/backup-cli/src/bin/db-restore.rs
  storage/backup/backup-cli/src/metrics/backup.rs
  storage/backup/backup-cli/src/metrics/metadata.rs
  storage/backup/backup-cli/src/metrics/restore.rs
  storage/backup/backup-cli/src/metrics/verify.rs
Labels: CICD:run-e2e-tests

#3018 [State Sync] Add tests to ensure that state sync can tolerate network frame limits
  state-sync/state-sync-v2/data-streaming-service/src/tests/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_service.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/utils.rs
  testsuite/smoke-test/src/state_sync.rs
Labels: CICD:run-e2e-tests

#3134 [Mempool] Support network compression and maximum network batch bytes.
  Cargo.lock
  config/src/config/mempool_config.rs
  config/src/config/network_config.rs
  config/src/config/state_sync_config.rs
  crates/aptos-compression/src/metrics.rs
  mempool/Cargo.toml
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/tests/common.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/test_framework.rs
  network/peer-monitoring-service/client/src/lib.rs
  network/src/protocols/wire/handshake/v1/mod.rs
  state-sync/storage-service/client/src/lib.rs
  types/src/account_config/resources/crsn.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#3248 [governance upgrade] Proposal script generator for package upgrade
  Cargo.lock
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/package_builder.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/e2e-move-tests/tests/common/mod.rs
  aptos-move/e2e-move-tests/tests/error_map.rs
  aptos-move/e2e-move-tests/tests/generate_upgrade_script.rs
  aptos-move/e2e-move-tests/tests/init_module.rs
  aptos-move/e2e-move-tests/tests/max_loop_depth.rs
  aptos-move/e2e-move-tests/tests/string_args.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/release_bundle.rs
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/move_tool/mod.rs
Labels: CICD:run-e2e-tests

#3281 [on-chain package data] Consolidate on-chain package data
  api/types/src/convert.rs
  aptos-move/aptos-sdk-builder/tests/generation.rs
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/cached-packages/build.rs
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/src/aptos.rs
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/lib.rs
  aptos-move/framework/src/main.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/release_builder.rs
  aptos-move/framework/src/release_bundle.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/package_hooks.rs
  crates/aptos/src/move_tool/stored_package.rs
Labels: CICD:run-e2e-tests

#3291 [aptos-stdlib] Any type
  aptos-move/framework/aptos-framework/sources/util.move
  aptos-move/framework/aptos-stdlib/sources/any.move
  aptos-move/framework/src/natives/any.rs
  aptos-move/framework/src/natives/mod.rs
Labels: CICD:run-e2e-tests

#2844 [mempool] add support to limit maximum bytes for a batch
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/test_framework.rs
Labels: CICD:run-e2e-tests

#3290 [Data Streaming Service] Improve stream visibility and termination.
  Cargo.lock
  config/src/config/state_sync_config.rs
  state-sync/state-sync-v2/data-streaming-service/src/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/logging.rs
  state-sync/state-sync-v2/data-streaming-service/src/metrics.rs
  state-sync/state-sync-v2/data-streaming-service/src/streaming_client.rs
  state-sync/state-sync-v2/data-streaming-service/src/streaming_service.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/mod.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_client.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_service.rs
  state-sync/state-sync-v2/state-sync-driver/Cargo.toml
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/notification_handlers.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/utils.rs
  state-sync/state-sync-v2/state-sync-driver/src/utils.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#3254 [telemetry-service] Log Ingest Endpoint
  Cargo.lock
  config/src/config/network_config.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/clients/humio.rs
  crates/aptos-telemetry-service/src/clients/mod.rs
  crates/aptos-telemetry-service/src/constants.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/mod.rs
Labels: CICD:run-e2e-tests

#3294 [Aptos Framework][Cleanups] Various cleanups of function visibility and unused code
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/aptos-vm/src/system_module_names.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.move
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/chain_id.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/configs/consensus_config.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/managed_coin.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/state_storage.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/timestamp.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
  aptos-move/framework/aptos-framework/tests/aggregator_tests.move
  aptos-move/framework/aptos-stdlib/sources/bucket_table.move
  aptos-move/framework/aptos-stdlib/sources/capability.move
  aptos-move/framework/aptos-stdlib/sources/capability.spec.move
  aptos-move/framework/aptos-stdlib/sources/debug.move
  aptos-move/framework/aptos-stdlib/sources/guid.move
  documentation/specifications/move_adapter/README.md
  testsuite/smoke-test/src/aptos/gas_check.rs
  types/src/account_config/resources/chain_account_info.rs
Labels: CICD:run-e2e-tests

#3309 [aptos-telemetry] Lite build information collection
  Cargo.lock
  Cargo.toml
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  crates/aptos-build-info/Cargo.toml
  crates/aptos-build-info/build.rs
  crates/aptos-build-info/src/lib.rs
  crates/aptos-telemetry/src/build_information.rs
  crates/aptos-telemetry/src/lib.rs
  crates/aptos-telemetry/src/service.rs
  crates/aptos-telemetry/src/system_information.rs
  crates/aptos-telemetry/src/utils.rs
  crates/aptos/Cargo.toml
  crates/aptos/src/common/utils.rs
  crates/inspection-service/Cargo.toml
  crates/inspection-service/src/inspection_service.rs
Labels: CICD:run-e2e-tests

#3145 [aptos-telemetry] Authenticate Validator Full Nodes
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/clients/mod.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
  crates/aptos-telemetry/src/sender.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#3301 [aggregator] Added e2e aggregator tests
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/e2e-move-tests/src/aggregator.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/tests/aggregator.data/pack/Move.toml
  aptos-move/e2e-move-tests/tests/aggregator.data/pack/sources/aggregator_test.move
  aptos-move/e2e-move-tests/tests/aggregator.rs
Labels: CICD:run-e2e-tests

#3333 [State Sync] Increase the default batch size and prefetcher.
  config/src/config/state_sync_config.rs
Labels: CICD:build-images

#3350 [package metadata] Add `Any` extension field to package metadata
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/natives/any.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/release_bundle.rs
Labels: CICD:run-e2e-tests

#3126 [parallel execution] delta support
  Cargo.lock
  api/src/transactions.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/parallel_executor/mod.rs
  aptos-move/aptos-vm/src/parallel_executor/storage_wrapper.rs
  aptos-move/aptos-vm/src/parallel_executor/vm_wrapper.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/parallel-executor/Cargo.toml
  aptos-move/parallel-executor/src/executor.rs
  aptos-move/parallel-executor/src/lib.rs
  aptos-move/parallel-executor/src/output_delta_resolver.rs
  aptos-move/parallel-executor/src/proptest_types/bencher.rs
  aptos-move/parallel-executor/src/proptest_types/tests.rs
  aptos-move/parallel-executor/src/proptest_types/types.rs
  aptos-move/parallel-executor/src/task.rs
  aptos-move/parallel-executor/src/txn_last_input_output.rs
  aptos-move/parallel-executor/src/unit_tests/mod.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#3371 [aptos-telemetry] change error logs to debug
  crates/aptos-telemetry/src/cli_metrics.rs
  crates/aptos-telemetry/src/sender.rs
  crates/aptos-telemetry/src/service.rs
Labels: CICD:run-e2e-tests

#3047 Forge add per test config
  Cargo.lock
  docker/rust-all.Dockerfile
  testsuite/forge-cli/Cargo.toml
  testsuite/forge-cli/src/main.rs
  testsuite/forge/Cargo.toml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/helm-values/genesis-values.yaml
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/interface/factory.rs
  testsuite/forge/src/runner.rs
Labels: CICD:run-e2e-tests

#3381 [Aptos Framework][Upgradability] Disable incompatible upgrade policy
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/framework/aptos-framework/sources/code.move
Labels: CICD:run-e2e-tests

#3208 [api][txn-emitter] Create Batch submit transaction API, and use it in txn-emitter
  Cargo.lock
  api/doc/spec.json
  api/doc/spec.yaml
  api/src/accept_type.rs
  api/src/context.rs
  api/src/response.rs
  api/src/transactions.rs
  api/types/src/error.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
  config/src/config/api_config.rs
  crates/aptos-infallible/src/mutex.rs
  crates/aptos-rest-client/src/lib.rs
  crates/transaction-emitter-lib/Cargo.toml
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionsBatchSingleSubmissionFailure.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionsBatchSubmissionResult.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TransactionsBatchSingleSubmissionFailure.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TransactionsBatchSubmissionResult.ts
  ecosystem/typescript/sdk/src/generated/services/TransactionsService.ts
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/txn_emitter.rs
Labels: CICD:run-e2e-tests

#3390 [aggregator] Start tracking supply
  aptos-move/e2e-move-tests/src/aggregator.rs
  aptos-move/e2e-move-tests/tests/aggregator.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__mint__mint_to_new_account_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__bad_module_address.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_bad_sig_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_code_unverifiable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_nested_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_non_existing_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_none_existing_module_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_arbitrary_script_execution.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_open_publishing.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_open_publishing_invalid_address.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__verify_simple_payment_version_4.exp
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/mint.rs
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.move
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/move-examples/tests/move_unit_tests.rs
  types/src/account_config/resources/coin_info.rs
  types/src/account_config/resources/mod.rs
Labels: CICD:run-e2e-tests

#3412 [code publish] Disable module bundle publishing
  api/src/tests/state_test.rs
  api/src/tests/transactions_test.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/module_publishing.rs
  ecosystem/sf-indexer/firehose-stream/src/tests/proto_converter_tests.rs
Labels: CICD:run-e2e-tests

#3257 [helm][aptos-node] option to pass in entire NodeConfig
  terraform/aptos-node-testnet/addons.tf
  terraform/helm/aptos-node/files/configs/fullnode.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
  terraform/helm/aptos-node/templates/NOTES.txt
  terraform/helm/aptos-node/templates/configmap.yaml
  terraform/helm/aptos-node/values.yaml
Labels: CICD:run-e2e-tests

#3431 [Txn emitter] Various fixes for the transaction emitter
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
Labels: CICD:run-e2e-tests

#3433 [State Sync] Add backpressure to execute-commit pipeline.
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/lib.rs
  state-sync/state-sync-v2/data-streaming-service/src/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/streaming_service.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_client.rs
  state-sync/state-sync-v2/state-sync-driver/Cargo.toml
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/metrics.rs
  state-sync/state-sync-v2/state-sync-driver/src/storage_synchronizer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/storage_synchronizer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/utils.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#3446 [ECO] Set indexer max batches to 20
  ecosystem/indexer/src/indexer/fetcher.rs
Labels: CICD:build-images

#3463 [Profiling] Adding spawn_named! macro to name tasks when aptos-consol…
  consensus/src/epoch_manager.rs
  consensus/src/experimental/buffer_manager.rs
  crates/aptos-logger/src/lib.rs
  crates/aptos-logger/src/macros.rs
  network/discovery/src/file.rs
  network/discovery/src/lib.rs
  network/src/protocols/health_checker/builder.rs
Labels: CICD:run-e2e-tests

#3445 [Storage] Add a metric to show the latency of k/v read inside put_stats_and_indices.
  storage/aptosdb/src/state_store/mod.rs
Labels: CICD:build-images

#3464 [Docker] Use rocks db secure storage by default.
  docker/compose/aptos-node/validator.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
Labels: CICD:build-images, CICD:run-e2e-tests

#3317 CICD: overhaul secrets management and move from github actions's secret management to GCP Secrets Manager
  .github/actions/gar-auth/action.yaml
  .github/actions/load-ci-env/action.yaml
  .github/actions/load-secrets/action.yaml
  .github/workflows/build-images.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/deploy-community-platform.yaml
  .github/workflows/run-forge.yaml
  .github/workflows/sdk-release.yaml
  docker/docker-bake-rust-all.hcl
  ecosystem/indexer-server/docker-bake.hcl
  ecosystem/platform/server/docker-bake.hcl
Labels: CICD:build-images, CICD:run-e2e-tests

#3363 [mempool] update configs for better VFN -> validator throughput
  .github/workflows/continuous-e2e-single-vfn-test.yaml
  terraform/helm/aptos-node/values.yaml
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#3322 [docs] Concept doc of code upgrade
  developer-docs-site/docs/concepts/index.md
  developer-docs-site/docs/concepts/upgrading-code.md
Labels: CICD:run-e2e-tests

#3482 [docker] upgrade and pin docker base images
  docker/rosetta/rosetta.Dockerfile
  docker/rust-all.Dockerfile
  ecosystem/indexer-server/Dockerfile
  ecosystem/platform/server/Dockerfile
Labels: CICD:build-images, CICD:run-e2e-tests

#3496 [Forge] Add system metrics check back with retry
  testsuite/forge/src/interface/system_metrics.rs
  testsuite/testcases/src/performance_with_fullnode_test.rs
Labels: CICD:run-e2e-tests

#3469 [community] Create it3 leaderboard.
  ecosystem/platform/server/.env.example
  ecosystem/platform/server/app/controllers/leaderboard_controller.rb
  ecosystem/platform/server/app/helpers/leaderboard_helper.rb
  ecosystem/platform/server/app/views/leaderboard/it3.html.erb
  ecosystem/platform/server/config/routes.rb
  ecosystem/platform/server/public/it3_leaderboard_example.json
Labels: CICD:deploy-community-platform-to-staging

#3448 [code upgrade] Verify package dependency policy on chain
  aptos-move/e2e-move-tests/src/aggregator.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/package_builder.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/aptos-stdlib/sources/any.move
  aptos-move/framework/aptos-stdlib/sources/copyable_any.move
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/natives/any.rs
  aptos-move/framework/src/natives/code.rs
  crates/aptos/src/account/create.rs
Labels: CICD:run-e2e-tests

#3516 [framework] Consolidate conversions
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_stdlib/sources/string.move
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_stdlib_incompat/sources/string.move
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/framework/aptos-stdlib/sources/any.move
  aptos-move/framework/aptos-stdlib/sources/copyable_any.move
  aptos-move/framework/aptos-stdlib/sources/from_bcs.move
  aptos-move/framework/move-stdlib/sources/string.move
  aptos-move/framework/src/natives/any.rs
  aptos-move/framework/src/natives/mod.rs
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/aptos_cli/move.rs
Labels: CICD:run-e2e-tests

#3494 [state sync] spawn_blocking around synchronous executor calls
  state-sync/state-sync-v2/state-sync-driver/src/storage_synchronizer.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#3502 [Storage] Use thread pools to make IO operations async.
  execution/executor/src/components/chunk_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/storage-interface/src/cached_state_view.rs
Labels: CICD:build-images

#3534 [forge] Success criteria per forge run
  .github/workflows/continuous-e2e-chaos-test.yaml
  .github/workflows/continuous-e2e-compat-test.yaml
  .github/workflows/continuous-e2e-performance-test.yaml
  .github/workflows/continuous-e2e-release-test.yaml
  .github/workflows/continuous-e2e-shadow-test.yaml
  .github/workflows/continuous-e2e-single-vfn-test.yaml
  .github/workflows/run-forge.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge-test-runner-template.yaml
  testsuite/forge.py
  testsuite/forge/src/runner.rs
  testsuite/forge_test.py
  testsuite/run_forge.sh
Labels: CICD:run-e2e-tests

#3487 [Indexer] add sf indexer to docker and add fix
  .dockerignore
  Cargo.lock
  docker/build-rust-all.sh
  docker/rust-all.Dockerfile
  ecosystem/sf-indexer/aptos-sf-indexer/build.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/database.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/indexer/substream_processor.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/main.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/models/transactions.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/models/write_set_changes.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/substream_processors/block_output_processor.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/substreams_stream.rs
  ecosystem/sf-indexer/aptos-substreams/aptos-v0.1.0.spkg
  ecosystem/sf-indexer/firehose-stream/Cargo.toml
  ecosystem/sf-indexer/firehose-stream/src/convert.rs
  ecosystem/sf-indexer/firehose-stream/src/runtime.rs
Labels: CICD:build-images

#3574 [CP] Make AIT3 registration positive for flipper
  ecosystem/platform/server/app/controllers/it3_profiles_controller.rb
  ecosystem/platform/server/app/controllers/it3s_controller.rb
Labels: CICD:deploy-community-platform-to-staging

#3560 [upgrade docs] Refine documentation for code upgrade
  developer-docs-site/docs/guides/move-guides/upgrading-move-code.md
Labels: documentation, CICD:run-e2e-tests

#3594 [forge] always run genesis from initial_version
  .github/workflows/continuous-e2e-compat-test.yaml
  testsuite/forge/src/runner.rs
Labels: CICD:run-e2e-tests

#3558 [forge] Disable panic catching and enable wait for catchup
  config/src/config/mempool_config.rs
  mempool/src/core_mempool/mod.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/tests/core_mempool_test.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/interface/network.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/forge/src/test_utils/consensus_utils.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/storage.rs
  testsuite/smoke-test/src/txn_broadcast.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#3441 [aptos-telemetry] set default for role type and auth bug fix
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry/src/sender.rs
Labels: CICD:build-images

#3604 [Aptos Framework][Staking] Allow pending active validator to leave validator set directly without waiting for epoch change
  aptos-move/framework/aptos-framework/sources/stake.move
Labels: CICD:run-e2e-tests

#3622 [framework] improve resource account
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Labels: CICD:run-e2e-tests

#3554 [sdk][typescript] fix unthrottled requests in `waitForTransactionWithResult`
  ecosystem/typescript/sdk/src/aptos_client.ts
Labels: bug

#3561 cicd: optimize docker build caching
  .github/workflows/build-images.yaml
  docker/docker-bake-rust-all.hcl
  docker/docker-bake-rust-all.sh
  docker/retag-rust-images.sh
  docker/rust-all.Dockerfile
Labels: CICD:build-images

#3672 [Aptos Framework][Staking] Validate network and fullnode addresses on-chain
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-stdlib/sources/network_address.move
  aptos-move/framework/aptos-stdlib/sources/network_address.spec.move
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/network_address.rs
  aptos-move/vm-genesis/src/lib.rs
Labels: CICD:run-e2e-tests

#3667 [forge] K8sNode::clear_storage deletes paths directly
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/interface/node.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/testcases/src/forge_setup_test.rs
  testsuite/testcases/src/state_sync_performance.rs
Labels: CICD:build-images
