Repository aptos-labs/aptos-core, pull requests merged in 2023-10, with the labels that each got.

#10307 [TS-SDK v2] Updating the `Deserializable` interface and making `Serializable` an abstract class
  ecosystem/typescript/sdk_v2/src/bcs/deserializer.ts
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
  ecosystem/typescript/sdk_v2/src/core/account_address.ts
  ecosystem/typescript/sdk_v2/src/crypto/asymmetric_crypto.ts
  ecosystem/typescript/sdk_v2/src/crypto/ed25519.ts
  ecosystem/typescript/sdk_v2/src/crypto/multi_ed25519.ts
  ecosystem/typescript/sdk_v2/tests/unit/account_address.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/deserializer.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/serializer.test.ts
Labels: sdk_v2

#10347 [TS-SDK v2] Adding `serializeVector` and `deserializeVector` to SDK v2
  ecosystem/typescript/sdk_v2/src/bcs/deserializer.ts
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
  ecosystem/typescript/sdk_v2/tests/unit/deserializer.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/serializer.test.ts
Labels: sdk_v2

#10357 [SDKv2] ed25519 fix publicKey derive
  ecosystem/typescript/sdk_v2/src/crypto/ed25519.ts
Labels: sdk_v2

#10188 Remove expensive counters
  Cargo.lock
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/scheduler.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/lib.rs
  storage/schemadb/src/metrics.rs
  testsuite/single_node_performance.py
Labels: CICD:run-e2e-tests

#10353 [release-builder] Fix increase lockup
  Cargo.lock
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/src/validate.rs
Labels: CICD:run-e2e-tests

#10358 [SDKv2] derive publickey unit test
  ecosystem/typescript/sdk_v2/tests/unit/ed25519.test.ts
Labels: sdk_v2

#10367 [TS SDK V2] Port over account and transaction authenticator, signed transaction type
  ecosystem/typescript/sdk_v2/src/crypto/ed25519.ts
  ecosystem/typescript/sdk_v2/src/transactions/authenticator/account.ts
  ecosystem/typescript/sdk_v2/src/transactions/authenticator/transaction.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/signedTransaction.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
Labels: sdk_v2

#10380 [ts-sdk-v2] Mini get/post request refactor
  ecosystem/typescript/sdk_v2/src/client/get.ts
  ecosystem/typescript/sdk_v2/src/client/post.ts
  ecosystem/typescript/sdk_v2/src/internal/general.ts
Labels: sdk_v2

#10382 [forge] Fix fullnode override in forge
  testsuite/forge/src/runner.rs
Labels: CICD:build-images

#9424 [Tutorials] Replacing the old "Your First NFT" tutorial entry function calls to use aptos_token.move and new indexer queries
  developer-docs-site/docs/tutorials/your-first-nft.md
  ecosystem/python/sdk/Makefile
  ecosystem/python/sdk/examples/simple_aptos_token.py
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/simple_aptos_token.ts
  ecosystem/typescript/sdk/src/plugins/aptos_token.ts
  ecosystem/typescript/sdk/src/providers/indexer.ts
Labels: documentation

#10081 [Executor] Refactoring and Optimization of the Block STM
  Cargo.lock
  Cargo.toml
  aptos-move/block-executor/.cargo/config.toml
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/errors.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/explicit_sync_wrapper.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
Labels: CICD:run-e2e-tests

#10315 [Quorum Store] 33% increase in backlog_txn_limit_count
  config/src/config/quorum_store_config.rs
Labels: CICD:build-images

#10351 [Execution] Move Signature verification to new pipeline phase
  api/test-context/src/test_context.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-transaction-benchmarks/src/benchmark_runner.rs
  aptos-move/aptos-transaction-benchmarks/src/transaction_bench_state.rs
  aptos-move/aptos-vm-profiling/src/bins/run_aptos_p2p.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_service.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/aptos-vm/tests/sharded_block_executor.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers.rs
  consensus/src/execution_pipeline.rs
  consensus/src/state_computer.rs
  execution/block-partitioner/src/tests.rs
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/native_executor.rs
  execution/executor-benchmark/src/pipeline.rs
  execution/executor-service/src/test_utils.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/mock_vm/mock_vm_test.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/storage_integration_test.rs
  experimental/execution/ptx-executor/src/analyzer.rs
  experimental/execution/ptx-executor/src/lib.rs
  experimental/execution/ptx-executor/src/runner.rs
  experimental/execution/ptx-executor/src/scheduler.rs
  types/src/aggregator.rs
  types/src/block_executor/partitioner.rs
  types/src/lib.rs
  types/src/test_helpers/transaction_test_helpers.rs
  types/src/transaction/analyzed_transaction.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
Labels: CICD:run-e2e-tests

#10388 Move the transaction details counter to ledger update stage
  execution/executor-types/src/lib.rs
  execution/executor-types/src/parsed_transaction_output.rs
  execution/executor-types/src/state_checkpoint_output.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/components/in_memory_state_calculator_v2.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#10406 [State Sync] Enable subscription syncing by default.
  config/src/config/state_sync_config.rs
Labels: CICD:run-e2e-tests

#10387 [TS-SDK v2] Adding TypeTag and fixing small doc/formatting errors
  ecosystem/typescript/sdk_v2/src/transactions/types/identifier.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/scriptTransactionArguments.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/transactionPayload.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/typeTag.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/typeTagParser.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
  ecosystem/typescript/sdk_v2/tests/unit/type_tag.test.ts
Labels: sdk_v2

#10410 [SDKv2] Add secp256k1 account authenticator
  ecosystem/typescript/sdk_v2/src/crypto/secp256k1.ts
  ecosystem/typescript/sdk_v2/src/transactions/authenticator/account.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
Labels: sdk_v2

#10427 [Forge] Increase the TPS threshold for land blocking
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#10332 [Adapter] Resource Group resolution on reads
  Cargo.lock
  api/src/transactions.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/lib.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/resource_group_adapter.rs
  aptos-move/aptos-vm-types/src/tests/mod.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/aptos-vm/src/storage_adapter/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/view.rs
  experimental/execution/ptx-executor/src/finalizer.rs
  experimental/execution/ptx-executor/src/runner.rs
Labels: CICD:run-e2e-tests

#10394 [docker] Set image hash to multiplatform ones
  docker/builder/debian-base.Dockerfile
  docker/builder/docker-bake-rust-all.hcl
  scripts/update_docker_images.py
Labels: CICD:build-images

#10423 [aptos-vm] enable automatic creation of sponsored accounts
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/system_module_names.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#10374 [TS-sdk-v2] Add transaction fetch queries and faucet to sdk-v2 api
  ecosystem/typescript/sdk_v2/src/api/faucet.ts
  ecosystem/typescript/sdk_v2/src/api/transaction.ts
  ecosystem/typescript/sdk_v2/src/internal/faucet.ts
  ecosystem/typescript/sdk_v2/src/internal/transaction.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
  ecosystem/typescript/sdk_v2/src/utils/const.ts
  ecosystem/typescript/sdk_v2/src/utils/helpers.ts
Labels: sdk_v2

#10348 [TS SDK V2] Transaction Submission Flow
  ecosystem/typescript/sdk_v2/src/api/aptos.ts
  ecosystem/typescript/sdk_v2/src/api/transaction_submission.ts
  ecosystem/typescript/sdk_v2/src/core/account_address.ts
  ecosystem/typescript/sdk_v2/src/transactions/instances/chainId.ts
  ecosystem/typescript/sdk_v2/src/transactions/instances/identifier.ts
  ecosystem/typescript/sdk_v2/src/transactions/instances/index.ts
  ecosystem/typescript/sdk_v2/src/transactions/instances/moduleId.ts
  ecosystem/typescript/sdk_v2/src/transactions/instances/rawTransaction.ts
  ecosystem/typescript/sdk_v2/src/transactions/instances/scriptTransactionArguments.ts
  ecosystem/typescript/sdk_v2/src/transactions/instances/signedTransaction.ts
  ecosystem/typescript/sdk_v2/src/transactions/instances/transactionPayload.ts
  ecosystem/typescript/sdk_v2/src/transactions/transaction_builder/transaction_builder.ts
  ecosystem/typescript/sdk_v2/src/transactions/typeTag/typeTag.ts
  ecosystem/typescript/sdk_v2/src/transactions/types.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/transactionPayload.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
  ecosystem/typescript/sdk_v2/src/utils/api-endpoints.ts
  ecosystem/typescript/sdk_v2/src/utils/const.ts
  ecosystem/typescript/sdk_v2/tests/e2e/api/transaction_submission.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/transaction_builder.test.ts
Labels: sdk_v2

#10464 [Execution][Rayon] Tune minimum parallelism to avoid task stealing overhead
  Cargo.lock
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_aggregator_service.rs
  consensus/Cargo.toml
  consensus/src/execution_pipeline.rs
  consensus/src/txn_hash_and_authenticator_deduper.rs
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  experimental/runtimes/src/strategies/default.rs
  experimental/runtimes/src/thread_manager.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_merkle_db.rs
  testsuite/single_node_performance.py
Labels: CICD:run-e2e-tests

#10313 Use local testnet indexer for TS SDK tests
  .github/actions/run-local-testnet/action.yaml
  .github/actions/run-ts-sdk-e2e-tests/action.yaml
  .github/workflows/ts-sdk-e2e-tests.yaml
  ecosystem/typescript/sdk/src/tests/e2e/indexer.test.ts
  ecosystem/typescript/sdk/src/tests/e2e/provider.test.ts
  ecosystem/typescript/sdk/src/utils/api-endpoints.ts
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:run-coverage, CICD:non-required-tests

#10462 [types] require that fee payer acknowledge that they are fee payer
  api/src/tests/transactions_test.rs
  types/src/transaction/authenticator.rs
Labels: CICD:run-e2e-tests

#10483 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#10339 [Adapter] Resource group changeset prep & gas handling
  Cargo.lock
  aptos-move/aptos-gas-meter/Cargo.toml
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-gas-profiling/Cargo.toml
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-memory-usage-tracker/Cargo.toml
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/resource_group_adapter.rs
  aptos-move/aptos-vm-types/src/storage.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#10528 [State Sync] Update metric buckets for storage requests.
  state-sync/storage-service/server/src/metrics.rs
Labels: CICD:run-e2e-tests

#10488 [indexer grpc] Fix the cache worker grpc client message size.
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Labels: CICD:build-images

#10509 [trivial][agg v2] Limit string length as safety for now
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
Labels: CICD:run-e2e-tests

#10515 [telemetry-svc][bugfix] Fix PeerId check for custom event
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/custom_event.rs
Labels: CICD:build-images

#9991 [Spec] Ensures of object.move
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/sources/object.move
  aptos-move/framework/aptos-framework/sources/object.spec.move
Labels: move-prover

#10136 [Spec] Ensures of staking_proxy
  aptos-move/framework/aptos-framework/doc/execution_config.md
  aptos-move/framework/aptos-framework/doc/staking_proxy.md
  aptos-move/framework/aptos-framework/sources/configs/execution_config.spec.move
  aptos-move/framework/aptos-framework/sources/staking_proxy.spec.move
Labels: move-prover

#10577 Fix build for tools image by upgrading libtinfo6 version
  docker/builder/tools.Dockerfile
Labels: CICD:run-e2e-tests

#10582 [execution] change HashMap to BTreeMap in VMChangeSet
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#9701 [Spec] Ensures for staking_contract
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/configs/execution_config.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
Labels: move-prover

#10068 [indexer grpc][1/n] data service v2
  Cargo.lock
  Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-access/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-access/src/access_trait.rs
  ecosystem/indexer-grpc/indexer-grpc-data-access/src/gcs.rs
  ecosystem/indexer-grpc/indexer-grpc-data-access/src/in_memory.rs
  ecosystem/indexer-grpc/indexer-grpc-data-access/src/in_memory_storage/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-data-access/src/in_memory_storage/storage.rs
  ecosystem/indexer-grpc/indexer-grpc-data-access/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-data-access/src/local_file.rs
  ecosystem/indexer-grpc/indexer-grpc-data-access/src/redis.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/grpc_response_stream.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/response_dispatcher/grpc_response_dispatcher.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/response_dispatcher/mod.rs
Labels: CICD:build-images

#10594 Deal with ExecutionPipeline reset
  consensus/src/execution_pipeline.rs
  consensus/src/experimental/buffer_manager.rs
  consensus/src/experimental/execution_schedule_phase.rs
  consensus/src/experimental/tests/execution_phase_tests.rs
  execution/executor-types/src/error.rs
Labels: CICD:run-e2e-tests

#10541 [gha] Upgrade the upgrade test
  .github/workflows/docker-build-test.yaml
Labels: CICD:run-e2e-tests

#10258 fix build failure in e2e-testsuite
  aptos-move/e2e-testsuite/Cargo.toml
Labels: CICD:run-e2e-tests

#10521 [State Sync] Add basic tests for 3 stage pipeline.
  state-sync/state-sync-driver/src/tests/storage_synchronizer.rs
Labels: CICD:run-e2e-tests

#10634 [gha] label to trigger forge e2e perf test only
  .github/workflows/docker-build-test.yaml
Labels: CICD:run-forge-e2e-perf

#10640 [cleanup] Fix minor aggregator issues
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/task.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/aggregator.rs
Labels: CICD:run-e2e-tests

#10641 [cleanup] Improve natives, remove extra aggregator location info
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/lib.rs
  aptos-move/aptos-aggregator/src/module.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
Labels: CICD:run-e2e-tests

#10490 [DAG] support leader reputation
  consensus/src/dag/anchor_election/leader_reputation_adapter.rs
  consensus/src/dag/anchor_election/mod.rs
  consensus/src/dag/anchor_election/round_robin.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/storage.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
Labels: CICD:run-e2e-tests

#10669 Fix aptos-admin-service build on Windows
  Cargo.lock
  crates/aptos-admin-service/Cargo.toml
  crates/aptos/src/node/local_testnet/docker.rs
Labels: good first issue, DevEx, CLI

#10658 [forge] Ability to set onchain config in tests
  crates/aptos-genesis/src/config.rs
  crates/aptos/src/genesis/mod.rs
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-forge-e2e-perf

#9612 [txn emitter] allow reuse of accounts using seed, also add a mode to exclusively create accounts
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/transaction_executor.rs
  crates/transaction-emitter-lib/src/lib.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  crates/transaction-emitter/src/main.rs
  ecosystem/node-checker/src/checker/tps.rs
Labels: CICD:run-e2e-tests

#10637 [BlockSTM] Modify/Revert Gas Counter Behavior
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
Labels: CICD:run-e2e-tests

#10636 [consensus] remove proposal precheck, just buffer it
  consensus/src/epoch_manager.rs
  consensus/src/round_manager.rs
Labels: CICD:build-images, CICD:build-failpoints-images

#10679 Update release.yaml
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-e2e-tests

#10709 [Tooling] Combine some tools to a single binary.
  .github/workflows/workflow-run-module-verify.yaml
  .github/workflows/workflow-run-replay-verify.yaml
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-debugger/Cargo.toml
  aptos-move/aptos-debugger/README.md
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-debugger/src/bcs_txn_decoder.rs
  aptos-move/aptos-debugger/src/bin/bcs-txn-decoder.rs
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-debugger/src/main.rs
  crates/aptos-debugger/Cargo.toml
  crates/aptos-debugger/src/lib.rs
  crates/aptos-debugger/src/main.rs
  crates/aptos/Cargo.toml
  crates/aptos/src/common/types.rs
  docker/builder/README.md
  docker/builder/build-tools.sh
  docker/builder/tools.Dockerfile
  docker/builder/validator-testing.Dockerfile
  docker/builder/validator.Dockerfile
  docker/compose/data-restore/docker-compose.yaml
  execution/db-bootstrapper/Cargo.toml
  execution/db-bootstrapper/src/bin/aptos-db-bootstrapper.rs
  storage/README.md
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/db_debugger/main.rs
  storage/db-tool/Cargo.toml
  storage/db-tool/src/bootstrap.rs
  storage/db-tool/src/debugger.rs
  storage/db-tool/src/lib.rs
  terraform/helm/fullnode/templates/backup-compaction.yaml
  terraform/helm/fullnode/templates/backup-verify.yaml
  terraform/helm/fullnode/templates/backup.yaml
  terraform/helm/fullnode/templates/restore.yaml
  testsuite/module_verify.py
  testsuite/module_verify_run_local.py
  testsuite/replay_verify.py
  testsuite/replay_verify_run_local.py
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/aptos/mint_transfer.rs
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/storage.rs
  testsuite/verify_core/common.py
Labels: CICD:run-e2e-tests

#10684 [gha] enable code coverage when a PR is labeled
  .github/workflows/coverage.yaml
  .github/workflows/ts-sdk-e2e-tests.yaml
Labels: CICD:run-coverage

#10727 [AdminService] Support thread dump.
  Cargo.lock
  Cargo.toml
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  crates/aptos-admin-service/Cargo.toml
  crates/aptos-admin-service/src/server/mod.rs
  crates/aptos-admin-service/src/server/thread_dump.rs
  docker/builder/builder.Dockerfile
  scripts/dev_setup.sh
Labels: CICD:run-e2e-tests

#10257 [Consensus] Add support for delaying QC to aggregate more votes
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/doc/object.md
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/delayed_qc_msg.rs
  consensus/consensus-types/src/lib.rs
  consensus/src/block_storage/block_store_test.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/liveness/round_state.rs
  consensus/src/liveness/round_state_test.rs
  consensus/src/pending_votes.rs
  consensus/src/qc_aggregator.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  types/src/ledger_info.rs
  types/src/validator_verifier.rs
Labels: CICD:run-e2e-tests

#10514 [Adapter][Executor] New resource group integration
  Cargo.lock
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/resource_group_adapter.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/errors.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/explicit_sync_wrapper.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-testsuite/src/tests/genesis.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
  aptos-move/vm-genesis/src/lib.rs
  third_party/move/move-core/types/src/vm_status.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#10733 forge: genesis config overrides for realistic_network_tuned_for_throu…
  config/src/config/consensus_config.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#10627 Visibility Analysis for compiler v2
  third_party/move/move-compiler-v2/src/file_format_generator/module_generator.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/src/pipeline/mod.rs
  third_party/move/move-compiler-v2/src/pipeline/visibility_checker.rs
  third_party/move/move-compiler-v2/tests/checking/typing/constant_internal.exp
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-compiler-v2/tests/visibility-checker/call_friend_only.exp
  third_party/move/move-compiler-v2/tests/visibility-checker/call_friend_only.move
  third_party/move/move-compiler-v2/tests/visibility-checker/call_private_function.exp
  third_party/move/move-compiler-v2/tests/visibility-checker/call_private_function.move
  third_party/move/move-compiler-v2/tests/visibility-checker/constant_use_across_mod.exp
  third_party/move/move-compiler-v2/tests/visibility-checker/constant_use_across_mod.move
  third_party/move/move-compiler-v2/tests/visibility-checker/main_call_visibility_friend.exp
  third_party/move/move-compiler-v2/tests/visibility-checker/main_call_visibility_friend.move
  third_party/move/move-compiler-v2/tests/visibility-checker/module_call_visibility_friend.move
  third_party/move/move-compiler-v2/tests/visibility-checker/module_call_visibility_friend_invalid.exp
  third_party/move/move-compiler-v2/tests/visibility-checker/module_call_visibility_friend_invalid.move
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/builder/model_builder.rs
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-model/src/lib.rs
  third_party/move/move-model/src/model.rs
Labels: CICD:run-coverage
