Repository aptos-labs/aptos-core, pull requests merged in 2023-06, with the labels that each got.

#8441 [Executor] Move block gas limit to state computer
  api/test-context/src/test_context.rs
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-transaction-benchmarks/src/main.rs
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-vm-profiling/src/bins/run_aptos_p2p.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/sharded_block_executor/executor_shard.rs
  aptos-move/aptos-vm/src/sharded_block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/e2e-tests/src/executor.rs
  consensus/src/state_computer.rs
  execution/executor-benchmark/src/native_executor.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/mock_vm/mock_vm_test.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/storage_integration_test.rs
  types/src/test_helpers/transaction_test_helpers.rs
Labels: CICD:run-e2e-tests

#8453 [VM] fix speculative flush error when running tests concurrently
  aptos-move/aptos-vm/src/block_executor/mod.rs
Labels: CICD:run-e2e-tests

#8442 [Python SDK] Added custom header and bump version to 0.6.2
  ecosystem/python/sdk/CHANGELOG.md
  ecosystem/python/sdk/aptos_sdk/async_client.py
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/aptos_sdk/metadata.py
  ecosystem/python/sdk/poetry.lock
  ecosystem/python/sdk/pyproject.toml
Labels: sdk

#8366 [State Sync] Add latency monitor.
  Cargo.lock
  aptos-node/src/state_sync.rs
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/Cargo.toml
  state-sync/aptos-data-client/src/client.rs
  state-sync/aptos-data-client/src/latency_monitor.rs
  state-sync/aptos-data-client/src/lib.rs
  state-sync/aptos-data-client/src/logging.rs
  state-sync/aptos-data-client/src/metrics.rs
  state-sync/aptos-data-client/src/poller.rs
  state-sync/aptos-data-client/src/tests/mock.rs
  state-sync/aptos-data-client/src/tests/mod.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver_factory.rs
Labels: CICD:run-e2e-tests

#8423 [Storage Service] Small tweaks to metrics.
  state-sync/storage-service/server/src/handler.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/metrics.rs
  state-sync/storage-service/server/src/optimistic_fetch.rs
  state-sync/storage-service/server/src/tests/optimistic_fetch.rs
Labels: CICD:run-e2e-tests

#8454 [TS SDK ] run ts sdk indexer tests in a separate CI job
  .github/workflows/docker-build-test.yaml
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_types/account_address.ts
  ecosystem/typescript/sdk/src/tests/e2e/ans_client.test.ts
  ecosystem/typescript/sdk/src/tests/e2e/indexer.test.ts
  ecosystem/typescript/sdk/src/tests/e2e/provider.test.ts
  ecosystem/typescript/sdk/src/tests/unit/account_address.test.ts
Labels: CICD:build-images, CICD:run-e2e-tests

#8465 [CLI][E2E] Expose metrics port of local testnet node
  crates/aptos/e2e/README.md
  crates/aptos/e2e/cases/init.py
  crates/aptos/e2e/common.py
  crates/aptos/e2e/local_testnet.py
  crates/aptos/e2e/main.py
  crates/aptos/e2e/pyproject.toml
  crates/aptos/e2e/test_helpers.py
  crates/aptos/e2e/test_results.py
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:experimental-build

#7533 [forge] Mainnet Like Network Simulation
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/chaos/cpu_stress.yaml
  testsuite/forge/src/backend/k8s/chaos/netem.yaml
  testsuite/forge/src/interface/chaos.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/modifiers.rs
  testsuite/testcases/src/multi_region_network_test.rs
  testsuite/testcases/src/multi_region_simulation_test.rs
Labels: CICD:build-images

#8471 [features] Force reconfigruation after feature change
  aptos-move/aptos-release-builder/src/components/consensus_config.rs
  aptos-move/aptos-release-builder/src/components/execution_config.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/gas.rs
  aptos-move/aptos-release-builder/src/components/transaction_fee.rs
  aptos-move/aptos-release-builder/src/components/version.rs
  aptos-move/aptos-release-builder/src/utils.rs
  aptos-move/framework/aptos-framework/doc/reconfiguration.md
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.spec.move
Labels: CICD:run-e2e-tests

#8483 [Faucet] Adjust faucet txn expiration / seqnum related values
  crates/aptos-faucet/cli/src/main.rs
  crates/aptos-faucet/core/src/funder/common.rs
  crates/aptos-faucet/core/src/server/run.rs
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:experimental-build

#8302 [Executor] MVHashMap changes for ExecutableStore
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  aptos-move/mvhashmap/src/utils.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_modules.rs
  testsuite/sequential_execution_performance.py
  types/src/executable.rs
Labels: CICD:run-e2e-tests

#8497 [indexer-grpc] remove server_name from all configs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-integration-tests/src/tests/fullnode_tests.rs
Labels: CICD:run-e2e-tests

#8291 Withdraw undelegated
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/move_types.rs
  crates/aptos-rosetta/src/types/objects.rs
  scripts/dev_setup.sh
  testsuite/smoke-test/src/rosetta.rs
Labels: CICD:run-e2e-tests

#8526 Update gas metering
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  third_party/move/extensions/async/move-async-vm/tests/testsuite.rs
  third_party/move/move-core/types/src/resolver.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
  third_party/move/move-vm/test-utils/src/storage.rs
  third_party/move/tools/move-cli/src/sandbox/utils/on_disk_state_view.rs
Labels: CICD:run-e2e-tests

#8493 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#8486 [mempool] classify client-submitted vs. broadcasted transactions
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/mod.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
Labels: CICD:run-e2e-tests

#8549 [gas] fix gas metering for resource groups
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/transaction/storage.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/framework/src/natives/object.rs
  third_party/move/extensions/async/move-async-vm/tests/testsuite.rs
  third_party/move/move-core/types/src/resolver.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
  third_party/move/move-vm/test-utils/src/gas_schedule.rs
  third_party/move/move-vm/test-utils/src/storage.rs
  third_party/move/move-vm/types/src/gas.rs
  third_party/move/tools/move-cli/src/sandbox/utils/on_disk_state_view.rs
Labels: CICD:run-e2e-tests

#8542 real-world network land_blocking test to replace the old one
  .github/workflows/forge-stable.yaml
  crates/transaction-emitter-lib/src/emitter/stats.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/interface/network.rs
  testsuite/forge/src/report.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/compatibility_test.rs
  testsuite/testcases/src/consensus_reliability_tests.rs
  testsuite/testcases/src/framework_upgrade.rs
  testsuite/testcases/src/fullnode_reboot_stress_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/partial_nodes_down_test.rs
  testsuite/testcases/src/quorum_store_onchain_enable_test.rs
  testsuite/testcases/src/two_traffics_test.rs
  testsuite/testcases/src/validator_join_leave_test.rs
  testsuite/testcases/src/validator_reboot_stress_test.rs
Labels: CICD:run-e2e-tests

#8533 [cherry-pick] Update gas metering (#8526)
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  third_party/move/extensions/async/move-async-vm/tests/testsuite.rs
  third_party/move/move-core/types/src/resolver.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
  third_party/move/move-vm/test-utils/src/storage.rs
  third_party/move/tools/move-cli/src/sandbox/utils/on_disk_state_view.rs
Labels: CICD:run-e2e-tests

#8532 [Storage][Pruner] Refactor pruners.
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/ledger_db.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/db_pruner.rs
  storage/aptosdb/src/pruner/ledger_pruner_manager.rs
  storage/aptosdb/src/pruner/ledger_pruner_worker.rs
  storage/aptosdb/src/pruner/ledger_store/ledger_store_pruner.rs
  storage/aptosdb/src/pruner/mod.rs
  storage/aptosdb/src/pruner/pruner_manager.rs
  storage/aptosdb/src/pruner/pruner_metadata.rs
  storage/aptosdb/src/pruner/pruner_utils.rs
  storage/aptosdb/src/pruner/pruner_worker.rs
  storage/aptosdb/src/pruner/state_kv_pruner.rs
  storage/aptosdb/src/pruner/state_kv_pruner_manager.rs
  storage/aptosdb/src/pruner/state_kv_pruner_worker.rs
  storage/aptosdb/src/pruner/state_merkle_pruner_manager.rs
  storage/aptosdb/src/pruner/state_merkle_pruner_worker.rs
  storage/aptosdb/src/pruner/state_store/mod.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/pruner/transaction_store/test.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/utils/mod.rs
  storage/aptosdb/src/utils/truncation_helper.rs
  storage/backup/backup-cli/src/backup_types/tests.rs
Labels: CICD:run-e2e-tests

#8573 Remove static from ForgeConfig
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/runner.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/tests/forge-local-compatibility.rs
  testsuite/testcases/tests/forge-local-performance.rs
Labels: CICD:run-e2e-tests

#8550 [CLI][E2E] Add test for aptos move publish
  crates/aptos/e2e/cases/move.py
  crates/aptos/e2e/main.py
  crates/aptos/e2e/move/common/hero/sources/hero.move
  crates/aptos/e2e/move/devnet/hero/Move.toml
  crates/aptos/e2e/move/devnet/hero/sources
  crates/aptos/e2e/move/mainnet/hero/Move.toml
  crates/aptos/e2e/move/mainnet/hero/sources
  crates/aptos/e2e/move/testnet/hero/Move.toml
  crates/aptos/e2e/move/testnet/hero/sources
  crates/aptos/e2e/test_helpers.py
Labels: CICD:build-images, CICD:run-e2e-tests

#8578 Add realistic_env_load_sweep forge test, to check latency across TPS
  .github/workflows/forge-stable.yaml
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/report.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
  testsuite/testcases/src/state_sync_performance.rs
  testsuite/testcases/src/two_traffics_test.rs
Labels: CICD:run-e2e-tests

#8478 [Storage][Sharding] Split ledger commit into multiple batches.
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/ledger_store/mod.rs
  storage/aptosdb/src/ledger_store/transaction_info_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/transaction_store/test.rs
  storage/aptosdb/src/test_helper.rs
Labels: CICD:run-e2e-tests

#8588 [CLI][E2E] Improve reliability of framework, checkout correct code in CI
  .github/workflows/cli-e2e-tests.yaml
  .github/workflows/docker-build-test.yaml
  crates/aptos/e2e/main.py
  crates/aptos/e2e/test_helpers.py
Labels: CICD:build-images, CICD:run-e2e-tests

#8598 [forge][fix] Track and remove chaos properly
  testsuite/testcases/src/modifiers.rs
  testsuite/testcases/src/multi_region_network_test.rs
Labels: CICD:run-e2e-tests

#8595 Forge test for testing throughput on network purely tuned for throughput
  config/src/config/consensus_config.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#8436 [Indexer] Token v2 improvement
  crates/indexer/migrations/2023-05-24-052435_token_properties_v2/down.sql
  crates/indexer/migrations/2023-05-24-052435_token_properties_v2/up.sql
  crates/indexer/src/models/coin_models/mod.rs
  crates/indexer/src/models/coin_models/v2_fungible_asset_utils.rs
  crates/indexer/src/models/token_models/mod.rs
  crates/indexer/src/models/token_models/v2_token_activities.rs
  crates/indexer/src/models/token_models/v2_token_datas.rs
  crates/indexer/src/models/token_models/v2_token_metadata.rs
  crates/indexer/src/models/token_models/v2_token_ownerships.rs
  crates/indexer/src/models/token_models/v2_token_utils.rs
  crates/indexer/src/models/v2_objects.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
Labels: CICD:build-indexer-images

#8172 [Spec] update specs of voting, transaction_fee, code
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/code.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/code.spec.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
  aptos-move/framework/aptos-stdlib/doc/from_bcs.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
  aptos-move/framework/aptos-stdlib/sources/from_bcs.spec.move
Labels: move-prover, CICD:run-prover-test

#8652 drop pruned blocks asynchronously
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/components/block_tree/test.rs
Labels: CICD:run-e2e-tests

#8672 [CP][Fix] Return the correct version for state snapshot when the root is not committed.
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/state_store_test.rs
Labels: CICD:build-images

#8665 [BlockSTM] Remove Commit Lock
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Labels: CICD:run-e2e-tests

#8644 Specify that functions can return references under certain conditions
  developer-docs-site/docs/move/book/functions.md
Labels: documentation

#8590 [CLI][E2E] Add test for aptos move publish
  aptos-move/move-examples/cli-e2e-tests/README.md
  aptos-move/move-examples/cli-e2e-tests/common/sources/cli_e2e_tests.move
  aptos-move/move-examples/cli-e2e-tests/devnet/Move.toml
  aptos-move/move-examples/cli-e2e-tests/devnet/sources
  aptos-move/move-examples/cli-e2e-tests/mainnet/Move.toml
  aptos-move/move-examples/cli-e2e-tests/mainnet/sources
  aptos-move/move-examples/cli-e2e-tests/testnet/Move.toml
  aptos-move/move-examples/cli-e2e-tests/testnet/sources
  crates/aptos/e2e/README.md
  crates/aptos/e2e/cases/move.py
  crates/aptos/e2e/main.py
  crates/aptos/e2e/test_helpers.py
Labels: CICD:build-images, CICD:run-e2e-tests

#8615 Separate speculative logging errors out in alerting (lower priority)
  aptos-move/aptos-vm-logging/src/counters.rs
  aptos-move/aptos-vm-logging/src/lib.rs
Labels: CICD:run-e2e-tests

#8635 [Executor][GasMeter] Add Fee Statement in VM output
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  storage/aptosdb/src/fake_aptosdb.rs
  types/src/fee_statement.rs
  types/src/lib.rs
Labels: CICD:run-e2e-tests

#8601 Add workload_mix and realistic_env_graceful_overload, and cleanup continuous forge test
  .github/workflows/forge-stable.yaml
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#8557 [Spec] update specs of voting.move
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/voting.spec.move
Labels: move-prover

#8694 [BlockSTM] Better naming for execution task
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
Labels: CICD:run-e2e-tests

#8682 Remove outdated information about view functions and add a CLI usage example
  developer-docs-site/docs/integration/aptos-apis.md
Labels: documentation

#8681 Add missing commands to the command-specific help examples
  developer-docs-site/docs/tools/aptos-cli-tool/use-aptos-cli.md
Labels: documentation

#8618 [forge][multiregion] Ability to run GCP multiregion tests on PR
  .github/workflows/docker-build-test.yaml
  terraform/helm/aptos-node/templates/_helpers.tpl
  terraform/helm/aptos-node/values.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/forge-cli/src/main.rs
  testsuite/forge-test-runner-template.yaml
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/fullnode.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge_test.py
  testsuite/test_framework/cluster.py
Labels: CICD:run-multiregion-test

#8697 Improve txn-emitter stability and visibility on Forge
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests

#8733 [CLI][E2E] Ensure CLI is using workspace configuration when using `--test-cli-tag`
  crates/aptos/e2e/README.md
  crates/aptos/e2e/local_testnet.py
  crates/aptos/e2e/test_helpers.py
Labels: ops week, hackathon-feedback

#8755 [Spec] disable spec in aptos_governance
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/gas_schedule.md
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
Labels: CICD:run-e2e-tests

#8702 [compiler v2] Setup basic driver and test environment
  Cargo.lock
  Cargo.toml
  third_party/move/move-compiler-v2/Cargo.toml
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/src/options.rs
  third_party/move/move-compiler-v2/tests/checking/basic.exp.check-only
  third_party/move/move-compiler-v2/tests/checking/basic.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-compiler/src/shared/mod.rs
  third_party/move/move-model/src/lib.rs
Labels: CICD:run-e2e-tests

#8769 Run TS SDK tests against local testnets built from prod branches, split API and Rust node API client checks into separate job
  .github/actions/run-local-testnet/action.yaml
  .github/actions/run-rust-client-tests/action.yaml
  .github/actions/run-ts-sdk-e2e-tests/action.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/node-api-compatibility-tests.yaml
  .github/workflows/rust-client-tests.yaml
  .github/workflows/ts-sdk-e2e-tests.yaml
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
  ecosystem/typescript/sdk/src/tests/e2e/fungible_asset_client.test.ts
Labels: CICD:build-images, CICD:run-e2e-tests

#8744 [Rust Toolchain] Set rust-version to 1.70.0
  Cargo.toml
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#8749 [aptos-vm] Log cleanups
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/errors.rs
  third_party/move/move-binary-format/src/errors.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/paranoid-tests/tests/ability/copy/copy_loc.exp
  third_party/move/move-vm/paranoid-tests/tests/ability/copy/read_ref.exp
  third_party/move/move-vm/paranoid-tests/tests/ability/drop/eq.exp
  third_party/move/move-vm/paranoid-tests/tests/ability/drop/hot_potato.exp
  third_party/move/move-vm/paranoid-tests/tests/ability/drop/neq.exp
  third_party/move/move-vm/paranoid-tests/tests/ability/drop/pop.exp
  third_party/move/move-vm/paranoid-tests/tests/ability/drop/ret_vector.exp
  third_party/move/move-vm/paranoid-tests/tests/ability/drop/store.exp
  third_party/move/move-vm/paranoid-tests/tests/ability/drop/write_ref.exp
  third_party/move/move-vm/paranoid-tests/tests/ability/store/invalid_store.exp
  third_party/move/move-vm/paranoid-tests/tests/encapsulation_safety/borrow_field.exp
  third_party/move/move-vm/paranoid-tests/tests/encapsulation_safety/borrow_field_generic.exp
  third_party/move/move-vm/paranoid-tests/tests/encapsulation_safety/move_to.exp
  third_party/move/move-vm/paranoid-tests/tests/encapsulation_safety/move_to_generic.exp
  third_party/move/move-vm/paranoid-tests/tests/encapsulation_safety/unpack.exp
  third_party/move/move-vm/paranoid-tests/tests/encapsulation_safety/unpack_generic.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/invocation/call_generic_mismatch.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/invocation/call_mismatch.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/invocation/call_with_mutliple_args.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/invocation/call_with_reference.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/invocation/call_with_vector.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/natives/bcs.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/natives/signer.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/borrow_field.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/borrow_field_generic.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/borrow_global.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/borrow_global_generic.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/borrow_loc.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/struct/pack_and_move.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/struct/pack_and_unpack.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/struct/pack_generic_mismatch.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/vectors/vec_mut_borrow.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/vectors/vec_pack_mismatch.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/vectors/vec_pop_back.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/vectors/vec_push_back.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/vectors/vec_swap.exp
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader.rs
  third_party/move/move-vm/types/src/errors.rs
  third_party/move/move-vm/types/src/lib.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/transaction/multisig.rs
Labels: CICD:run-e2e-tests

#8731 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#8788 [CLI] Add CLI e2e for move compile command
  aptos-move/move-examples/cli-e2e-tests/common/sources/cli_e2e_tests_script.move
  crates/aptos/e2e/README.md
  crates/aptos/e2e/cases/move.py
  crates/aptos/e2e/main.py
  crates/aptos/e2e/test_helpers.py
Labels: ops week

#8807 Update docker-update-images workflow
  scripts/update_docker_images.py
Labels: CICD:run-e2e-tests

#8791 Fixes all of the broken links in the Move tutorial
  aptos-move/move-examples/move-tutorial/README.md
Labels: documentation

#8793 Add Move Prover setup instructions for Windows users
  developer-docs-site/docs/tools/install-cli/install-move-prover.md
Labels: documentation

#8767 [Spec] update spec for managed_coin.move
  aptos-move/framework/aptos-framework/doc/managed_coin.md
  aptos-move/framework/aptos-framework/sources/managed_coin.spec.move
Labels: move-prover

#8782 [CLI] add e2e for aptos config show-profiles
  crates/aptos/e2e/cases/config.py
  crates/aptos/e2e/main.py
Labels: ops week

#8736 Remove all reference to aptoslabs.com/testnet-faucet, improve faucet docs
  developer-docs-site/docs/guides/nfts/mint-nft-cli.md
  developer-docs-site/docs/nodes/deployments.md
  developer-docs-site/docs/reference/glossary.md
Labels: ops week, hackathon-feedback

#8858 Make Developer Platform CI use pull_request_target
  .github/workflows/faucet-tests.yaml
  .github/workflows/indexer-grpc-integration-tests.yaml
  .github/workflows/rust-client-tests.yaml
  .github/workflows/ts-sdk-e2e-tests.yaml
Labels: CICD:build-images, CICD:run-e2e-tests

#8778 [CLI] remove init from config command
  crates/aptos/CHANGELOG.md
  crates/aptos/src/config/mod.rs
Labels: ops week

#8639 [Spec] update specs of resource_account
  aptos-move/framework/aptos-framework/doc/resource_account.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/resource_account.spec.move
Labels: move-prover

#8831 [CLI] Add cli e2e for move view command
  crates/aptos/e2e/cases/move.py
  crates/aptos/e2e/main.py
Labels: CLI
