Repository aptos-labs/aptos-core, pull requests merged in 2023-05, with the labels that each got.

#8005 [forge] upgrade `kube` crate
  Cargo.lock
  Cargo.toml
  testsuite/forge/Cargo.toml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/kube_api.rs
  testsuite/forge/src/backend/k8s/prometheus.rs
  testsuite/forge/src/backend/k8s/stateful_set.rs
Labels: CICD:run-e2e-tests

#8063 cherry-pick logging
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
Labels: CICD:build-images

#8084 Update Docker images
  docker/rust-all.Dockerfile
Labels: CICD:run-e2e-tests

#7359 [DI-75][Indexer] Create Token V2 data models and convert token v1
  crates/indexer/migrations/2023-04-28-053048_object_token_v2/down.sql
  crates/indexer/migrations/2023-04-28-053048_object_token_v2/up.sql
  crates/indexer/src/models/coin_models/coin_activities.rs
  crates/indexer/src/models/coin_models/coin_utils.rs
  crates/indexer/src/models/coin_models/mod.rs
  crates/indexer/src/models/mod.rs
  crates/indexer/src/models/move_resources.rs
  crates/indexer/src/models/property_map.rs
  crates/indexer/src/models/token_models/collection_datas.rs
  crates/indexer/src/models/token_models/mod.rs
  crates/indexer/src/models/token_models/token_claims.rs
  crates/indexer/src/models/token_models/token_utils.rs
  crates/indexer/src/models/token_models/v2_collections.rs
  crates/indexer/src/models/token_models/v2_token_datas.rs
  crates/indexer/src/models/token_models/v2_token_ownerships.rs
  crates/indexer/src/models/token_models/v2_token_utils.rs
  crates/indexer/src/models/v2_objects.rs
  crates/indexer/src/processors/default_processor.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
  crates/indexer/src/util.rs
Labels: CICD:build-images, CICD:build-indexer-images

#8047 [Inspection Service] Cleanup and refactor the crate
  Cargo.toml
  aptos-node/src/services.rs
  crates/aptos-inspection-service/Cargo.toml
  crates/aptos-inspection-service/src/inspection_client.rs
  crates/aptos-inspection-service/src/lib.rs
  crates/aptos-inspection-service/src/server/configuration.rs
  crates/aptos-inspection-service/src/server/index.rs
  crates/aptos-inspection-service/src/server/json_encoder.rs
  crates/aptos-inspection-service/src/server/metrics.rs
  crates/aptos-inspection-service/src/server/mod.rs
  crates/aptos-inspection-service/src/server/peer_information.rs
  crates/aptos-inspection-service/src/server/system_information.rs
  crates/aptos-inspection-service/src/server/tests.rs
  crates/aptos-inspection-service/src/server/utils.rs
  crates/inspection-service/src/inspection_service.rs
  crates/inspection-service/src/json_encoder.rs
  crates/inspection-service/src/lib.rs
  crates/inspection-service/src/unit_tests/lib_test.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/interface/node.rs
Labels: CICD:run-e2e-tests

#8105 [Block-STM] Support for sharded blockSTM with no conflict transactions
  Cargo.lock
  aptos-move/aptos-transaction-benchmarks/Cargo.toml
  aptos-move/aptos-transaction-benchmarks/src/main.rs
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm-logging/src/lib.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/sharded_block_executor/block_partitioner.rs
  aptos-move/aptos-vm/src/sharded_block_executor/executor_shard.rs
  aptos-move/aptos-vm/src/sharded_block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/e2e-tests/Cargo.toml
  aptos-move/e2e-tests/src/account_universe/universe.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/account_universe/mod.rs
  aptos-move/e2e-testsuite/src/tests/account_universe/peer_to_peer.rs
  testsuite/aptos-fuzzer/src/fuzz_targets/transaction.rs
  testsuite/parallel_execution_performance.py
  testsuite/sequential_execution_performance.py
Labels: CICD:run-e2e-tests

#7809 [docker] Rename experimental builder
  .dockerignore
  .github/workflows/workflow-run-docker-rust-build.yaml
  docker/README.md
  docker/build-rust-all.sh
  docker/builder/README.md
  docker/builder/build-node.sh
  docker/builder/build-tools.sh
  docker/builder/builder.Dockerfile
  docker/builder/debian-base.Dockerfile
  docker/builder/docker-bake-rust-all.hcl
  docker/builder/docker-bake-rust-all.sh
  docker/builder/faucet.Dockerfile
  docker/builder/forge.Dockerfile
  docker/builder/indexer-grpc.Dockerfile
  docker/builder/node-checker.Dockerfile
  docker/builder/telemetry-service.Dockerfile
  docker/builder/tools.Dockerfile
  docker/builder/validator-testing.Dockerfile
  docker/builder/validator.Dockerfile
  docker/docker-bake-rust-all.hcl
  docker/experimental/docker-bake-rust-all.sh
  docker/retag-rust-images.sh
  docker/rust-all.Dockerfile
Labels: CICD:run-e2e-tests

#8111 [Performance] Pass state cache to commit stage.
  Cargo.lock
  execution/executor-types/src/executed_block.rs
  execution/executor-types/src/in_memory_state_calculator.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/in_memory_state_calculator_v2.rs
  storage/aptosdb/src/fake_aptosdb.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/aptosdb/src/test_helper.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/async_proof_fetcher.rs
  storage/storage-interface/src/cached_state_view.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/mock.rs
Labels: CICD:run-e2e-tests

#8108 [Config Optimizer] Add mempool config optimizations.
  config/src/config/config_optimizer.rs
  config/src/config/mempool_config.rs
  docker/compose/aptos-node/fullnode.yaml
  terraform/helm/aptos-node/values.yaml
Labels: CICD:run-e2e-tests

#8178 [Sharding][Execution] Integrate Sharded block executor in the VM execution path
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-vm-logging/src/lib.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/sharded_block_executor/block_partitioner.rs
  aptos-move/aptos-vm/src/sharded_block_executor/executor_shard.rs
  aptos-move/aptos-vm/src/sharded_block_executor/mod.rs
  aptos-move/e2e-tests/src/execution_strategies/basic_strategy.rs
  aptos-move/e2e-tests/src/execution_strategies/random_strategy.rs
  aptos-move/e2e-tests/src/executor.rs
  execution/executor-benchmark/src/benchmark_transaction.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/mock_vm/mod.rs
  storage/storage-interface/src/cached_state_view.rs
Labels: CICD:run-e2e-tests

#8019 [forge] Support for real multi-region experiments on GCP
  terraform/helm/aptos-node/README.md
  terraform/helm/aptos-node/templates/_helpers.tpl
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/aptos-node/values.yaml
  terraform/helm/genesis/README.md
  terraform/helm/genesis/files/genesis.sh
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
  testsuite/forge_wrapper_core/cluster.py
Labels: CICD:run-e2e-tests

#7488 [BlockSTM] Per-block Gas Limit
  aptos-move/aptos-transaction-benchmarks/src/main.rs
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm-logging/src/lib.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/sharded_block_executor/executor_shard.rs
  aptos-move/aptos-vm/src/sharded_block_executor/mod.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-tests/src/executor.rs
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/src/epoch_manager.rs
  consensus/src/experimental/ordering_state_computer.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
  crates/aptos-speculative-state-helper/src/lib.rs
  crates/aptos-speculative-state-helper/src/tests/logging.rs
  crates/aptos-speculative-state-helper/src/tests/proptests.rs
  execution/executor-benchmark/src/benchmark_transaction.rs
  execution/executor-benchmark/src/native_executor.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  types/src/on_chain_config/execution_config.rs
  types/src/test_helpers/transaction_test_helpers.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#8237 [Indexer] Token v2 part 2
  crates/indexer/migrations/2023-05-17-010107_activities_v2/down.sql
  crates/indexer/migrations/2023-05-17-010107_activities_v2/up.sql
  crates/indexer/src/models/token_models/mod.rs
  crates/indexer/src/models/token_models/v2_collections.rs
  crates/indexer/src/models/token_models/v2_token_activities.rs
  crates/indexer/src/models/token_models/v2_token_datas.rs
  crates/indexer/src/models/token_models/v2_token_ownerships.rs
  crates/indexer/src/models/token_models/v2_token_utils.rs
  crates/indexer/src/models/v2_objects.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
Labels: CICD:build-indexer-images

#8261 Minor comment fixes add-on
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
Labels: CICD:run-e2e-tests

#8186 [Gas Estimation] Implement block-based gas estimation
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__transactions_test__test_gas_estimation_empty.json
  api/goldens/aptos_api__tests__transactions_test__test_gas_estimation_one_block.json
  api/goldens/aptos_api__tests__transactions_test__test_gas_estimation_one_empty_block.json
  api/goldens/aptos_api__tests__transactions_test__test_gas_estimation_ten_blocks.json
  api/goldens/aptos_api__tests__transactions_test__test_gas_estimation_ten_empty_blocks.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/src/context.rs
  api/src/runtime.rs
  api/src/tests/mod.rs
  api/src/tests/transactions_test.rs
  api/src/transactions.rs
  api/test-context/src/test_context.rs
  api/types/src/transaction.rs
  config/src/config/api_config.rs
  config/src/config/gas_estimation_config.rs
  config/src/config/mod.rs
  crates/indexer/src/indexer/tailer.rs
  ecosystem/typescript/sdk/src/generated/services/TransactionsService.ts
  testsuite/smoke-test/src/rest_api.rs
Labels: CICD:run-e2e-tests

#8264 [helm/forge] remove pyroscope
  terraform/helm/aptos-node/README.md
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/aptos-node/values.yaml
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/backend/k8s/mod.rs
Labels: CICD:run-e2e-tests

#8171 Simple ExecutableStore cache with correctness controls
  Cargo.lock
  Cargo.toml
  storage/executable-store/Cargo.toml
  storage/executable-store/src/lib.rs
  types/src/executable.rs
Labels: CICD:run-e2e-tests

#8274 [indexer grpc] Add post processor to indexer grpc.
  docker/builder/build-tools.sh
  docker/builder/indexer-grpc.Dockerfile
Labels: CICD:build-images

#8280 Increase readability of nodes landing page
  developer-docs-site/docs/nodes/nodes-landing.md
  developer-docs-site/src/css/custom.css
Labels: documentation

#8260 [aggregator] Aggregator panics only on failed delta materialization
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/e2e-move-tests/src/tests/aggregator.rs
Labels: CICD:run-e2e-tests

#8287 [Indexer] Only include tokenstore in v1
  crates/indexer/src/models/token_models/v2_token_ownerships.rs
Labels: CICD:build-indexer-images

#8307 [Config] Enable peer monitoring client by default.
  config/src/config/peer_monitoring_config.rs
Labels: CICD:run-e2e-tests

#8254 Determine speculation mode from LogSchema (+allow disabling for sharding experiments)
  CODEOWNERS
  aptos-move/aptos-vm-logging/src/lib.rs
  aptos-move/aptos-vm-logging/src/log_schema.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/sharded_block_executor/executor_shard.rs
Labels: CICD:run-e2e-tests

#8316 Fixes to speculative fix
  aptos-move/aptos-vm-logging/src/lib.rs
Labels: CICD:run-e2e-tests

#8246 Change consensus pipeline backpressure to exclude consensus ordering latency
  consensus/src/block_storage/block_store.rs
Labels: CICD:run-e2e-tests

#8219 [AptosVM] RespawnedSession to avoid duplication
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/delta_state_view.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  types/src/transaction/change_set.rs
Labels: CICD:run-e2e-tests

#7822 add x-aptos-client header
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/providers/aptos_client.ts
  ecosystem/typescript/sdk/src/tests/e2e/aptos_client.test.ts
Labels: Do not merge

#8360 [testsuite][gha] use poetry everywhere and refactor testsuite (#8308)
  .github/actions/python-setup/action.yaml
  .github/actions/run-faucet-tests/action.yaml
  .github/workflows/check-sdk-examples.yaml
  .github/workflows/cli-e2e-tests.yaml
  .github/workflows/execution-performance.yaml
  .github/workflows/forge-gcp.yaml
  .github/workflows/forge-stable.yaml
  .github/workflows/forge-unstable.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/python-lint-test.yaml
  .github/workflows/workflow-run-forge.yaml
  scripts/poetry-wrapper.sh
  terraform/helm/aptos-node/README.md
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/aptos-node/values.yaml
  testsuite/determinator.sh
  testsuite/determinator_test.py
  testsuite/find_latest_image.py
  testsuite/find_latest_image.sh
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge.py
  testsuite/forge.sh
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge_test.py
  testsuite/forge_wrapper_core/filesystem.py
  testsuite/forge_wrapper_core/shell.py
  testsuite/lint.py
  testsuite/lint.sh
  testsuite/lint_test.py
  testsuite/node_info.py
  testsuite/poetry.lock
  testsuite/pyproject.toml
  testsuite/replay_verify.sh
  testsuite/replay_verify_run_local.sh
  testsuite/requirements.txt
  testsuite/single_node_performance.py
  testsuite/test_framework/README.md
  testsuite/test_framework/cluster.py
  testsuite/test_framework/filesystem.py
  testsuite/test_framework/git.py
  testsuite/test_framework/logging.py
  testsuite/test_framework/process.py
  testsuite/test_framework/shell.py
  testsuite/test_framework/shell_test.py
  testsuite/test_framework/time.py
  testsuite/testrun
  testsuite/testrun_test.py
Labels: CICD:run-e2e-tests

#8369 [release] Turn of qs for release v1.5
  aptos-move/aptos-release-builder/data/release.yaml
  types/src/on_chain_config/consensus_config.rs
Labels: CICD:run-e2e-tests

#8384 [lto] Use thin LTO instead of default fat
  Cargo.toml
Labels: CICD:build-performance-images

#8376 [lto] Use thin LTO instead of default fat
  Cargo.toml
Labels: CICD:build-images

#8363 [indexer] Add inactive share tracking
  crates/indexer/migrations/2023-05-22-234344_delegated_staking_improvements/down.sql
  crates/indexer/migrations/2023-05-22-234344_delegated_staking_improvements/up.sql
  crates/indexer/src/models/stake_models/delegator_balances.rs
  crates/indexer/src/models/stake_models/delegator_pools.rs
  crates/indexer/src/models/stake_models/stake_utils.rs
  crates/indexer/src/models/token_models/token_utils.rs
  crates/indexer/src/models/token_models/tokens.rs
  crates/indexer/src/processors/stake_processor.rs
  crates/indexer/src/schema.rs
Labels: CICD:build-indexer-images

#8189 [move] Hook for VM session output format
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  third_party/move/move-core/types/src/effects.rs
  third_party/move/move-core/types/src/unit_tests/effects_test.rs
  third_party/move/move-core/types/src/unit_tests/mod.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-unit-test/tests/test_sources/address_args.exp
  third_party/move/tools/move-unit-test/tests/test_sources/arithmetic_errors.exp
  third_party/move/tools/move-unit-test/tests/test_sources/construct_data.exp
  third_party/move/tools/move-unit-test/tests/test_sources/cross_module_aborts.exp
  third_party/move/tools/move-unit-test/tests/test_sources/do_nothing.exp
  third_party/move/tools/move-unit-test/tests/test_sources/expected_abort_no_abort.exp
  third_party/move/tools/move-unit-test/tests/test_sources/missing_data.exp
  third_party/move/tools/move-unit-test/tests/test_sources/native_abort.exp
  third_party/move/tools/move-unit-test/tests/test_sources/native_signer_creation.exp
  third_party/move/tools/move-unit-test/tests/test_sources/native_signer_creation.storage.exp
  third_party/move/tools/move-unit-test/tests/test_sources/non_exsistent_native.exp
  third_party/move/tools/move-unit-test/tests/test_sources/other_expected_failures.exp
  third_party/move/tools/move-unit-test/tests/test_sources/out_of_gas.exp
  third_party/move/tools/move-unit-test/tests/test_sources/proposal_test.exp
  third_party/move/tools/move-unit-test/tests/test_sources/proposal_test.storage.exp
  third_party/move/tools/move-unit-test/tests/test_sources/signer_args.exp
  third_party/move/tools/move-unit-test/tests/test_sources/storage_on_error_empty_and_non_empty.exp
  third_party/move/tools/move-unit-test/tests/test_sources/storage_on_error_empty_and_non_empty.storage.exp
  third_party/move/tools/move-unit-test/tests/test_sources/storage_test.exp
  third_party/move/tools/move-unit-test/tests/test_sources/storage_test.storage.exp
  third_party/move/tools/move-unit-test/tests/test_sources/timeout.exp
  third_party/move/tools/move-unit-test/tests/test_sources/unexpected_abort.exp
  third_party/move/tools/move-unit-test/tests/test_sources/use_unit_test_module.exp
Labels: CICD:run-e2e-tests
