Repository aptos-labs/aptos-core, pull requests merged in 2023-07, with the labels that each got.

#8924 [types] remove unnecessary transaction validation usage
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  types/src/account_config/resources/mod.rs
Labels: CICD:run-e2e-tests

#8792 Add missing details regarding init_module and emphasize that it's only executed during the initial deployment
  developer-docs-site/docs/move/move-on-aptos/modules-on-aptos.md
Labels: documentation

#8095 feat: add is_coin_store_frozen to the coin module
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/sources/coin.move
Labels: Stale

#7881 [Execution] Enable transaction shuffling in genesis for Forge
  consensus/src/epoch_manager.rs
  types/src/on_chain_config/execution_config.rs
Labels: CICD:run-e2e-tests

#8938 [indexer grpc] improve the pfn checker and redis connection retry.
  Cargo.lock
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/processor.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  ecosystem/indexer-grpc/indexer-grpc-post-processor/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-post-processor/README.md
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/pfn_ledger_checker.rs
Labels: CICD:build-images

#8973 [Quorum Store] metrics: give proper buckets for histogram
  consensus/src/quorum_store/counters.rs
Labels: CICD:run-e2e-tests

#8969 [mempool] metrics: add latency to block proposal
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/shared_mempool/tasks.rs
Labels: CICD:run-e2e-tests

#8900 [ts-sdk] fix: Incorrect serialization of TypeTags
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/aptos_types/type_tag.ts
  ecosystem/typescript/sdk/src/tests/unit/type_tag.test.ts
Labels: CICD:run-e2e-tests

#8992 Update the python examples to use poetry install instead of poetry update
  developer-docs-site/docs/tutorials/first-coin.md
  developer-docs-site/docs/tutorials/first-transaction.md
  developer-docs-site/docs/tutorials/your-first-nft.md
Labels: documentation

#9011 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#9033 [Spec] high-level spec for resource account
  aptos-move/framework/aptos-framework/doc/resource_account.md
  aptos-move/framework/aptos-framework/sources/resource_account.spec.move
Labels: move-prover

#8841 [Indexer] Migrate to grpc processors
  Cargo.lock
  crates/indexer/src/models/stake_models/delegator_balances.rs
  crates/indexer/src/models/stake_models/delegator_pools.rs
  crates/indexer/src/util.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-03-08-205402_nft_points/down.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-03-08-205402_nft_points/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-04-02-032121_delegator_pools/down.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-04-02-032121_delegator_pools/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-04-14-033932_optimize_queries/down.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-04-14-033932_optimize_queries/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-04-27-233343_delegation_pool_balances/down.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-04-27-233343_delegation_pool_balances/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-04-28-053048_object_token_v2/down.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-04-28-053048_object_token_v2/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-05-17-010107_activities_v2/down.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-05-17-010107_activities_v2/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-05-22-234344_delegated_staking_improvements/down.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-05-22-234344_delegated_staking_improvements/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-05-24-052435_token_properties_v2/down.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-05-24-052435_token_properties_v2/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/coin_balances.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/coin_infos.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/coin_utils.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/v2_fungible_asset_utils.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/default_models/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/default_models/move_resources.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/default_models/transactions.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/default_models/v2_objects.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/property_map.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/stake_models/delegator_balances.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/stake_models/delegator_pools.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/stake_models/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/stake_models/stake_utils.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/stake_models/staking_pool_voter.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/collection_datas.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/nft_points.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/token_activities.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/token_claims.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/token_datas.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/token_ownerships.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/token_utils.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/tokens.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_collections.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_activities.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_datas.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_metadata.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_ownerships.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_utils.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/processors/default_processor.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/processors/stake_processor.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/processors/token_processor.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/schema.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/utils/util.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/worker.rs
Labels: CICD:build-images

#9061 internal indexer: parse tables in resource groups
  storage/indexer/src/lib.rs
Labels: CICD:build-images, CICD:build-indexer-images

#9082 [TS SDK ] Run CI tests against the current code version
  .github/workflows/ts-sdk-e2e-tests.yaml
Labels: CICD:run-e2e-tests

#8990 Add AIP-28 into release.yaml
  .dockerignore
  .github/workflows/docker-build-test.yaml
  aptos-move/aptos-release-builder/data/example.yaml
  aptos-move/aptos-release-builder/data/example_proposals/empty.move
  aptos-move/aptos-release-builder/data/example_proposals/empty_multi_step.move
  aptos-move/aptos-release-builder/data/proposals/aip_28_initialization.move
  aptos-move/aptos-release-builder/data/release.yaml
  docker/builder/forge.Dockerfile
  ecosystem/typescript/sdk/src/tests/e2e/aptos_client.test.ts
Labels: CICD:build-images, CICD:run-e2e-tests

#9028 [api] log POST sizes
  api/src/log.rs
  api/src/metrics.rs
Labels: CICD:run-e2e-tests

#9086 [docker] Remove indexer-grpc-parser from tools build to unbreak performance build
  docker/builder/build-tools.sh
  docker/builder/indexer-grpc.Dockerfile
Labels: CICD:build-performance-images

#9050 [mempool] adjust default configs for PFNs, based on testnet observations
  config/src/config/mempool_config.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#9009 Fungible token activities
  crates/indexer/migrations/2023-07-06-042159_minor_optimizations/down.sql
  crates/indexer/migrations/2023-07-06-042159_minor_optimizations/up.sql
  crates/indexer/src/models/coin_models/v2_fungible_asset_utils.rs
  crates/indexer/src/models/token_models/v2_collections.rs
  crates/indexer/src/models/token_models/v2_token_activities.rs
  crates/indexer/src/models/token_models/v2_token_datas.rs
  crates/indexer/src/models/token_models/v2_token_utils.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/README.md
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-07-06-042159_minor_optimizations/down.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-07-06-042159_minor_optimizations/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/parser.yaml
  ecosystem/indexer-grpc/indexer-grpc-parser/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/v2_fungible_asset_utils.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_collections.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_activities.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_datas.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_utils.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/processors/token_processor.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/worker.rs
  storage/indexer/src/lib.rs
Labels: CICD:build-images, CICD:build-indexer-images

#9094 [VM] Fixed txn size check for proposals
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
Labels: CICD:run-e2e-tests

#9073 disable speculative logging for benchmarks
  Cargo.lock
  aptos-move/aptos-transaction-benchmarks/Cargo.toml
  aptos-move/aptos-transaction-benchmarks/src/main.rs
Labels: CICD:run-e2e-tests

#8853 [Storage][Sharding] Make JMT code aware of sharding when calculating StateMerkleBatch for async commit.
  Cargo.lock
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/state_merkle_pruner/test.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_merkle_batch_committer.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/aptosdb/src/test_helper.rs
  storage/jellyfish-merkle/Cargo.toml
  storage/jellyfish-merkle/src/jellyfish_merkle_test.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/node_type/mod.rs
  storage/jellyfish-merkle/src/node_type/node_type_test.rs
  storage/scratchpad/src/lib.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/utils.rs
  types/src/nibble/nibble_path/mod.rs
Labels: CICD:run-e2e-tests

#9129 [forge tests] put VFNs within emulated networks
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/testcases/src/modifiers.rs
  testsuite/testcases/src/multi_region_network_test.rs
  testsuite/testcases/src/public_fullnode_performance.rs
Labels: CICD:run-e2e-tests

#9161 Fix the broken links in docs by changing client.py to async_client.py
  developer-docs-site/docs/tutorials/first-transaction.md
  developer-docs-site/docs/tutorials/your-first-nft.md
  ecosystem/python/sdk/aptos_sdk/async_client.py
Labels: documentation

#9127 [Execution][Config] Add the newly added execution config to onchain config registry
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/mod.rs
  consensus/src/epoch_manager.rs
  consensus/src/sender_aware_shuffler.rs
  consensus/src/transaction_shuffler.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos/src/genesis/mod.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
  testsuite/smoke-test/src/rest_api.rs
  types/src/on_chain_config/execution_config.rs
  types/src/on_chain_config/mod.rs
Labels: CICD:run-e2e-tests

#3444 [crypto+move] add Pedersen commitments and Bulletproof verification in Move
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/doc/ristretto255.md
  aptos-move/framework/aptos-stdlib/doc/ristretto255_bulletproofs.md
  aptos-move/framework/aptos-stdlib/doc/ristretto255_elgamal.md
  aptos-move/framework/aptos-stdlib/doc/ristretto255_pedersen.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255_bulletproofs.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255_bulletproofs.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255_elgamal.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255_elgamal.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255_pedersen.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255_pedersen.spec.move
  aptos-move/framework/cached-packages/generated/head.mrb
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/cryptography/bulletproofs.rs
  aptos-move/framework/src/natives/cryptography/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_scalar.rs
  aptos-move/framework/src/natives/cryptography/secp256k1.rs
  aptos-move/framework/src/natives/helpers.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  aptos-move/move-examples/veiled_coin/Move.toml
  aptos-move/move-examples/veiled_coin/doc/helpers.md
  aptos-move/move-examples/veiled_coin/doc/sigma_protos.md
  aptos-move/move-examples/veiled_coin/doc/veiled_coin.md
  aptos-move/move-examples/veiled_coin/doc/veiled_coin_tests.md
  aptos-move/move-examples/veiled_coin/sources/helpers.move
  aptos-move/move-examples/veiled_coin/sources/sigma_protos.move
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
  aptos-move/move-examples/veiled_coin/sources/veiled_coin_tests.move
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/benches/bulletproofs.rs
  crates/aptos-crypto/benches/ristretto255.rs
  crates/aptos-crypto/src/bulletproofs/mod.rs
  crates/aptos-crypto/src/lib.rs
  crates/aptos-crypto/src/unit_tests/bulletproofs_test.rs
  crates/aptos-crypto/src/unit_tests/mod.rs
  scripts/algebra-gas/load_bench_datapoints.py
  scripts/algebra-gas/update_bulletproofs_gas_params.py
  types/src/on_chain_config/aptos_features.rs
Labels: enhancement, wallet, move, team:research, team:move-lang, team:docs, gas

#8776 [CLI] test rotate-key command
  crates/aptos/e2e/cases/account.py
  crates/aptos/e2e/main.py
Labels: ops week

#9173 [Forge] Increase TPS threshold for land blocking after enabling txn shuffling
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#9192 [State Sync] Enable intelligent syncing mode.
  config/src/config/state_sync_config.rs
  state-sync/state-sync-v2/state-sync-driver/src/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/utils.rs
Labels: CICD:run-e2e-tests

#9195 [indexer] handle edge case of self transfer token v2
  crates/indexer/src/models/token_models/v2_token_ownerships.rs
Labels: CICD:build-indexer-images

#9107 [Executor] Refactor / Improve mock tests (also gas limit)
  Cargo.lock
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/benches/scheduler_benches.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/mod.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/versioned_data.rs
Labels: CICD:run-e2e-tests

#9130 [Examples] Account authentication key rotation with the CLI, Typescript and Python SDKs
  developer-docs-site/docs/guides/account-management/key-rotation.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
  ecosystem/python/sdk/examples/rotate-key.py
  ecosystem/typescript/sdk/examples/typescript-esm/package.json
  ecosystem/typescript/sdk/examples/typescript-esm/pnpm-lock.yaml
  ecosystem/typescript/sdk/examples/typescript-esm/rotate_key.ts
Labels: documentation

#9218 [Spec] Fix spec in the event module to avoid inconsistency issue
  aptos-move/framework/aptos-framework/doc/event.md
  aptos-move/framework/aptos-framework/sources/event.spec.move
  aptos-move/framework/cached-packages/generated/head.mrb
Labels: move-prover

#9221 [Sharding] Refactor sharded block executor for better remote client support
  Cargo.lock
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/sharded_block_executor/block_executor_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/coordinator_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/cross_shard_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/executor_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/executor_shard.rs
  aptos-move/aptos-vm/src/sharded_block_executor/local_executor_shard.rs
  aptos-move/aptos-vm/src/sharded_block_executor/messages.rs
  aptos-move/aptos-vm/src/sharded_block_executor/mod.rs
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_service.rs
  aptos-move/aptos-vm/src/sharded_block_executor/test_utils.rs
  aptos-move/aptos-vm/src/sharded_block_executor/tests.rs
  consensus/safety-rules/src/remote_service.rs
  execution/executor-service/Cargo.toml
  execution/executor-service/src/lib.rs
  execution/executor-service/src/main.rs
  execution/executor-service/src/process_executor_service.rs
  execution/executor-service/src/remote_cordinator_client.rs
  execution/executor-service/src/remote_cross_shard_client.rs
  execution/executor-service/src/remote_executor_client.rs
  execution/executor-service/src/remote_executor_service.rs
  execution/executor-service/src/test_utils.rs
  execution/executor-service/src/tests.rs
  execution/executor-service/src/thread_executor_service.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/mock_vm/mod.rs
  secure/net/Cargo.toml
  secure/net/src/lib.rs
  secure/net/src/network_controller/error.rs
  secure/net/src/network_controller/inbound_handler.rs
  secure/net/src/network_controller/mod.rs
  secure/net/src/network_controller/outbound_handler.rs
  storage/state-view/src/in_memory_state_view.rs
  types/src/transaction/analyzed_transaction.rs
Labels: CICD:run-e2e-tests

#8941 [aggregator] New resolver and ID for aggregator
  Cargo.lock
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/lib.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-tests/Cargo.toml
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers.rs
Labels: CICD:run-e2e-tests

#8729 [Spec] update spec for staking_contract.move
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/cached-packages/generated/head.mrb
Labels: move-prover

#9234 add chunking to grpc to avoid large response is rejected by the client.
  Cargo.lock
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/constants.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Labels: CICD:build-images

#9263 [Block-STM] Fix the issue of re-using state view across blocks in benchmark
  aptos-move/aptos-transaction-benchmarks/src/main.rs
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  testsuite/parallel_execution_performance.py
  testsuite/sequential_execution_performance.py
Labels: CICD:run-e2e-tests

#9297 Memoize account modules
  ecosystem/typescript/sdk/src/providers/aptos_client.ts
  ecosystem/typescript/sdk/src/tests/unit/account_module.test.ts
Labels: CICD:run-e2e-tests

#9337 [Move prover] Some fixes in the prover and the specs
  .github/workflows/prover-daily-test.yaml
  aptos-move/framework/aptos-framework/doc/aptos_coin.md
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/execution_config.md
  aptos-move/framework/aptos-framework/doc/reconfiguration.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/aptos_coin.spec.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/configs/execution_config.spec.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.spec.move
  aptos-move/framework/src/prover.rs
  aptos-move/framework/tests/move_prover_tests.rs
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/boogie-backend/src/options.rs
Labels: move-prover

#8929 [Spec] Ensures of account.move
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/sources/account.spec.move
Labels: move-prover

#9120 Add interface for `AptosClient` to get `Object<T>`
  ecosystem/typescript/sdk/src/tests/e2e/aptos_client.test.ts
Labels: CICD:run-e2e-tests

#9354 Uses aptos-core x25519-dalek library with relaxed zeroize dep
  Cargo.lock
  Cargo.toml
Labels: CICD:run-e2e-tests

#9298 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests
