Repository aptos-labs/aptos-core, pull requests merged in 2023-09, with the labels that each got.

#9741 [State Sync] Add fast sync support to genesis.
  Cargo.lock
  config/src/config/state_sync_config.rs
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/bootstrapper.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/state_sync.rs
Labels: CICD:run-e2e-tests

#9885 Handle platform on user's behalf in indexer_grpc_local.py
  developer-docs-site/docs/indexer/txn-stream/local-development.md
  developer-docs-site/scripts/additional_dict.txt
  testsuite/indexer_grpc_local.py
  testsuite/indexer_grpc_local_test.py
  testsuite/poetry.lock
  testsuite/pyproject.toml
  testsuite/test_framework/shell.py
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:experimental-forge, CICD:experimental-build, CICD:build-indexer-images, CICD:non-required-tests

#9858 Make it possible to configure which image registries to log in to
  .github/actions/docker-setup/action.yaml
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:run-coverage, CICD:experimental-forge, CICD:experimental-build, CICD:non-required-tests

#9854 add different suites to single_node_performance.py
  execution/executor-benchmark/src/main.rs
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#9920 Fix indexer-grpc-integration-tests
  .github/workflows/indexer-grpc-integration-tests.yaml
Labels: CICD:build-indexer-images, CICD:non-required-tests

#9919 Make Display impl of AccountAddress conform to AIP-40
  api/src/tests/events_test.rs
  api/src/tests/objects.rs
  api/src/tests/resource_groups.rs
  api/types/src/address.rs
  aptos-move/aptos-vm-benchmarks/src/helper.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/code_publishing.rs
  aptos-move/e2e-move-tests/src/tests/fungible_asset.rs
  aptos-move/e2e-move-tests/src/tests/generate_upgrade_script.rs
  aptos-move/e2e-move-tests/src/tests/mint_nft.rs
  aptos-move/e2e-move-tests/src/tests/resource_groups.rs
  aptos-move/e2e-move-tests/src/tests/simple_defi.rs
  aptos-move/e2e-move-tests/src/tests/token_objects.rs
  aptos-move/e2e-testsuite/src/tests/data_store.rs
  aptos-move/e2e-testsuite/src/tests/module_publishing.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  crates/aptos-faucet/cli/src/main.rs
  crates/aptos-faucet/core/src/funder/common.rs
  crates/aptos-faucet/core/src/funder/mint.rs
  crates/aptos-rest-client/src/lib.rs
  crates/aptos/src/common/types.rs
  testsuite/smoke-test/src/genesis.rs
  third_party/move/evm/move-to-yul/src/events.rs
  third_party/move/extensions/async/move-async-vm/src/actor_metadata.rs
  third_party/move/move-compiler/src/command_line/compiler.rs
  third_party/move/move-core/types/src/account_address.rs
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-core/types/src/unit_tests/language_storage_test.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_entry_point_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/exec_func_effects_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/function_arg_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/mutated_accounts_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/nested_loop_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/return_value_tests.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-cli/src/sandbox/utils/on_disk_state_view.rs
  third_party/move/tools/move-coverage/src/summary.rs
  third_party/move/tools/move-disassembler/src/disassembler.rs
  types/src/account_address.rs
Labels: CICD:build-images, DevEx, CICD:run-e2e-tests, CICD:run-coverage, CICD:run-prover-test, CICD:experimental-forge, CICD:experimental-build, CICD:build-indexer-images, CICD:non-required-tests

#9952 [State Sync] Update latency monitor to track all advertised versions.
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/latency_monitor.rs
  state-sync/aptos-data-client/src/logging.rs
Labels: CICD:run-e2e-tests

#9965 [VM] Expose WriteOpConverter
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
Labels: CICD:run-e2e-tests

#9844 [consensus-only] execution and fakeaptosdb bugfix and realistic env test
  .github/workflows/docker-build-test.yaml
  execution/executor-types/src/executed_chunk.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  execution/executor/src/tests/mod.rs
  storage/aptosdb/src/fake_aptosdb.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:build-images, CICD:build-consensus-only-image

#9977 [NFT Metadata Crawler] Migration edit to support collections
  Cargo.lock
  ecosystem/nft-metadata-crawler-parser/Cargo.toml
  ecosystem/nft-metadata-crawler-parser/migrations/2023-09-08-001532_create_tables/down.sql
  ecosystem/nft-metadata-crawler-parser/migrations/2023-09-08-001532_create_tables/up.sql
  ecosystem/nft-metadata-crawler-parser/src/lib.rs
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris.rs
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris_query.rs
  ecosystem/nft-metadata-crawler-parser/src/schema.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/constants.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/counters.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/database.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/json_parser.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Labels: CICD:build-images

#9966 [VM] Refactor data_cache/session to prepare for resource groups
  Cargo.lock
  aptos-move/aptos-gas-schedule/src/ver.rs
  aptos-move/aptos-vm-types/src/lib.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
Labels: CICD:run-e2e-tests

#10001 add MOVE_COMPILER_DEBUG and MOVE_TEST_DEBUG env vars to add more info…
  third_party/move/move-binary-format/src/errors.rs
  third_party/move/move-compiler/src/command_line/compiler.rs
  third_party/move/move-compiler/src/command_line/mod.rs
  third_party/move/move-compiler/src/shared/mod.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  third_party/move/tools/move-unit-test/src/test_reporter.rs
Labels: OPSQ323

#9744 Delegate all the methods from sub classes
  ecosystem/typescript/sdk_v2/src/api/account.ts
  ecosystem/typescript/sdk_v2/src/api/aptos.ts
  ecosystem/typescript/sdk_v2/src/internal/account.ts
  ecosystem/typescript/sdk_v2/tests/e2e/api/account.test.ts
Labels: sdk_v2

#10019 accomodate that LedgerCommitProgress was not recorded after all ledge…
  storage/aptosdb/src/event_store/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/utils/truncation_helper.rs
Labels: CICD:run-e2e-tests

#10018 Fixing issue #7306
  aptos-move/framework/src/built_package.rs
Labels: CICD:run-e2e-tests

#9881 [TS SDK v2] Adding the ability to serialize and deserialize classes in the base Serializer/Deserializer classes
  ecosystem/typescript/sdk_v2/src/bcs/deserializer.ts
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
  ecosystem/typescript/sdk_v2/tests/unit/deserializer.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/serializer.test.ts
Labels: sdk_v2

#9992 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#10038 [Network] Fix incorrect metrics around network traffic and messages.
  network/framework/src/counters.rs
  network/framework/src/peer/mod.rs
  network/framework/src/protocols/rpc/mod.rs
Labels: CICD:run-e2e-tests

#9990 [VM][BlockSTM] Remove the dependency on StateView
  Cargo.lock
  api/src/context.rs
  api/src/tests/converter_test.rs
  api/src/transactions.rs
  api/types/src/convert.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-resource-viewer/src/lib.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/aptos-vm/src/storage_adapter/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-tests/Cargo.toml
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/Cargo.toml
  aptos-move/framework/Cargo.toml
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/state_storage.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  experimental/execution/ptx-executor/src/finalizer.rs
  experimental/execution/ptx-executor/src/runner.rs
  storage/indexer/src/lib.rs
  testsuite/smoke-test/Cargo.toml
  types/src/access_path.rs
  types/src/state_store/state_value.rs
Labels: CICD:run-e2e-tests

#10009 [refactor] Separate function for changing genesis stake
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
  testsuite/smoke-test/src/consensus/quorum_store_fault_tolerance.rs
  testsuite/smoke-test/src/indexer.rs
  testsuite/smoke-test/src/network.rs
  testsuite/smoke-test/src/rest_api.rs
  testsuite/smoke-test/src/rosetta.rs
  testsuite/smoke-test/src/smoke_test_environment.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/test_smoke_tests.rs
  testsuite/smoke-test/src/txn_broadcast.rs
  testsuite/smoke-test/src/upgrade.rs
Labels: CICD:run-e2e-tests

#9951 [forge/smoke tests] Replace raw config and yaml usage with OverrideNodeConfig
  Cargo.lock
  aptos-node/src/lib.rs
  config/src/config/mod.rs
  config/src/config/node_config.rs
  config/src/config/override_node_config.rs
  config/src/config/persistable_config.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/test_utils.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/fullnode.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/runner.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
  testsuite/smoke-test/src/consensus/quorum_store_fault_tolerance.rs
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/fullnode.rs
  testsuite/smoke-test/src/indexer.rs
  testsuite/smoke-test/src/network.rs
  testsuite/smoke-test/src/rest_api.rs
  testsuite/smoke-test/src/rosetta.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/test_smoke_tests.rs
  testsuite/smoke-test/src/txn_broadcast.rs
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/forge_setup_test.rs
  testsuite/testcases/src/public_fullnode_performance.rs
Labels: CICD:run-e2e-tests

#8849 [storage] remove genesis in fast sync node
  Cargo.lock
  aptos-node/Cargo.toml
  aptos-node/src/storage.rs
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/fake_aptosdb.rs
  storage/aptosdb/src/fast_sync_aptos_db.rs
  storage/aptosdb/src/lib.rs
  testsuite/forge/src/backend/local/node.rs
Labels: CICD:run-e2e-tests

#9934 [State Sync] Update metrics and optimize locks.
  config/src/config/state_sync_config.rs
  state-sync/state-sync-v2/data-streaming-service/src/metrics.rs
  state-sync/state-sync-v2/data-streaming-service/src/stream_engine.rs
  state-sync/storage-service/server/src/handler.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/optimistic_fetch.rs
  state-sync/storage-service/server/src/subscription.rs
  state-sync/storage-service/server/src/tests/optimistic_fetch.rs
  state-sync/storage-service/server/src/tests/subscription.rs
  state-sync/storage-service/server/src/tests/utils.rs
  state-sync/storage-service/server/src/utils.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#9924 ExecutionPipeline
  consensus/consensus-types/src/executed_block.rs
  consensus/src/epoch_manager.rs
  consensus/src/execution_pipeline.rs
  consensus/src/experimental/buffer_item.rs
  consensus/src/experimental/buffer_manager.rs
  consensus/src/experimental/decoupled_execution_utils.rs
  consensus/src/experimental/execution_schedule_phase.rs
  consensus/src/experimental/execution_wait_phase.rs
  consensus/src/experimental/mod.rs
  consensus/src/experimental/ordering_state_computer.rs
  consensus/src/experimental/tests/buffer_manager_tests.rs
  consensus/src/experimental/tests/execution_phase_tests.rs
  consensus/src/lib.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
  execution/executor/src/block_executor.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#10094 [Executor] MVHashMap for resource groups
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-aggregator/src/lib.rs
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
  aptos-move/mvhashmap/src/versioned_modules.rs
  storage/state-view/src/lib.rs
  types/src/state_store/state_value.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#9910 Run faucet tests against local testnet built from main
  .github/actions/run-faucet-tests/action.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/faucet-tests-main.yaml
  .github/workflows/faucet-tests-prod.yaml
  crates/aptos-faucet/core/src/server/run.rs
  crates/aptos-faucet/integration-tests/common.py
  crates/aptos-faucet/integration-tests/local_testnet.py
  crates/aptos-faucet/integration-tests/main.py
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:experimental-build, CICD:non-required-tests

#10176 [Networking] set TCP buffer overrides to None by default
  config/src/config/network_config.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:build-images

#10053 [Node Configs] Update sanitizer to be read-only and migrate indexer ops.
  config/src/config/api_config.rs
  config/src/config/base_config.rs
  config/src/config/config_optimizer.rs
  config/src/config/config_sanitizer.rs
  config/src/config/consensus_config.rs
  config/src/config/execution_config.rs
  config/src/config/gas_estimation_config.rs
  config/src/config/indexer_config.rs
  config/src/config/indexer_grpc_config.rs
  config/src/config/inspection_service_config.rs
  config/src/config/logger_config.rs
  config/src/config/mempool_config.rs
  config/src/config/peer_monitoring_config.rs
  config/src/config/quorum_store_config.rs
  config/src/config/safety_rules_config.rs
  config/src/config/state_sync_config.rs
  config/src/config/storage_config.rs
Labels: CICD:run-e2e-tests

#9700 [Spec] Ensures for stake.move
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
Labels: move-prover

#10185 [TS SDK V2] Add `General` api class
  ecosystem/typescript/sdk_v2/src/api/account.ts
  ecosystem/typescript/sdk_v2/src/api/aptos.ts
  ecosystem/typescript/sdk_v2/src/api/general.ts
  ecosystem/typescript/sdk_v2/src/internal/account.ts
  ecosystem/typescript/sdk_v2/src/internal/general.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
  ecosystem/typescript/sdk_v2/tests/e2e/api/account.test.ts
  ecosystem/typescript/sdk_v2/tests/e2e/api/general.test.ts
Labels: sdk_v2

#10110 [SDK V2] Implement memoize and memoizeAsync high order functions
  ecosystem/typescript/sdk_v2/src/utils/memoize.ts
  ecosystem/typescript/sdk_v2/tests/unit/memoize.test.ts
Labels: sdk_v2

#10170 [Executor] CapturedReads component, Metadata and exists support
  Cargo.lock
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#10178 [consensus] Dedicated channel for proposal buffering and batch process
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/liveness/unequivocal_proposer_election.rs
  consensus/src/liveness/unequivocal_proposer_election_test.rs
  consensus/src/logging.rs
  consensus/src/network.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
Labels: CICD:run-e2e-tests

#10272 CLI version bump to 2.1.1
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Labels: CLI

#10275 [TS SDK V2] Add `getGasPriceEstimation` query
  ecosystem/typescript/sdk_v2/src/api/aptos.ts
  ecosystem/typescript/sdk_v2/src/api/transaction.ts
  ecosystem/typescript/sdk_v2/src/internal/transaction.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
  ecosystem/typescript/sdk_v2/tests/e2e/api/account.test.ts
  ecosystem/typescript/sdk_v2/tests/e2e/api/transaction.test.ts
Labels: sdk_v2

#10157 [TSSDKv2][1/n] add Ed25519 classes
  ecosystem/typescript/sdk_v2/src/crypto/asymmetric_crypto.ts
  ecosystem/typescript/sdk_v2/src/crypto/ed25519.ts
  ecosystem/typescript/sdk_v2/src/crypto/multi_ed25519.ts
  ecosystem/typescript/sdk_v2/tests/unit/ed25519.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/helper.ts
  ecosystem/typescript/sdk_v2/tests/unit/multi_ed25519.test.ts
Labels: sdk_v2

#10216 [TS SDK V2] Add Indexer account queries
  ecosystem/typescript/sdk_v2/.eslintrc.js
  ecosystem/typescript/sdk_v2/.npmignore
  ecosystem/typescript/sdk_v2/.prettierignore
  ecosystem/typescript/sdk_v2/jest.config.js
  ecosystem/typescript/sdk_v2/package.json
  ecosystem/typescript/sdk_v2/pnpm-lock.yaml
  ecosystem/typescript/sdk_v2/src/api/account.ts
  ecosystem/typescript/sdk_v2/src/api/aptos_config.ts
  ecosystem/typescript/sdk_v2/src/api/general.ts
  ecosystem/typescript/sdk_v2/src/client/core.ts
  ecosystem/typescript/sdk_v2/src/client/get.ts
  ecosystem/typescript/sdk_v2/src/client/post.ts
  ecosystem/typescript/sdk_v2/src/index.ts
  ecosystem/typescript/sdk_v2/src/internal/account.ts
  ecosystem/typescript/sdk_v2/src/internal/general.ts
  ecosystem/typescript/sdk_v2/src/internal/queries/CurrentTokenOwnershipFieldsFragment.graphql
  ecosystem/typescript/sdk_v2/src/internal/queries/getAccountCoinCount.graphql
  ecosystem/typescript/sdk_v2/src/internal/queries/getAccountCoinsData.graphql
  ecosystem/typescript/sdk_v2/src/internal/queries/getAccountCollectionsWithOwnedTokens.graphql
  ecosystem/typescript/sdk_v2/src/internal/queries/getAccountOwnedObjects.graphql
  ecosystem/typescript/sdk_v2/src/internal/queries/getAccountOwnedTokens.graphql
  ecosystem/typescript/sdk_v2/src/internal/queries/getAccountOwnedTokensByTokenData.graphql
  ecosystem/typescript/sdk_v2/src/internal/queries/getAccountOwnedTokensFromCollectionAddress.graphql
  ecosystem/typescript/sdk_v2/src/internal/queries/getAccountTokensCount.graphql
  ecosystem/typescript/sdk_v2/src/internal/queries/getAccountTransactionsCount.graphql
  ecosystem/typescript/sdk_v2/src/types/codegen.yaml
  ecosystem/typescript/sdk_v2/src/types/generated/operations.ts
  ecosystem/typescript/sdk_v2/src/types/generated/queries.ts
  ecosystem/typescript/sdk_v2/src/types/generated/types.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
  ecosystem/typescript/sdk_v2/src/types/indexer.ts
  ecosystem/typescript/sdk_v2/src/utils/paginate_with_cursor.ts
  ecosystem/typescript/sdk_v2/tests/e2e/api/general.test.ts
Labels: sdk_v2

#10210 [TSSDKv2][3/n] Account and AuthenticationKey Classes
  ecosystem/typescript/sdk_v2/src/core/account.ts
  ecosystem/typescript/sdk_v2/src/crypto/asymmetric_crypto.ts
  ecosystem/typescript/sdk_v2/src/crypto/authentication_key.ts
  ecosystem/typescript/sdk_v2/src/crypto/ed25519.ts
  ecosystem/typescript/sdk_v2/src/crypto/multi_ed25519.ts
  ecosystem/typescript/sdk_v2/src/utils/hd-key.ts
  ecosystem/typescript/sdk_v2/tests/unit/account.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/authentication_key.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/helper.ts
Labels: sdk_v2

#10288 [ts-sdk-v2] Add getTransactions to the sdk-v2 transaction API
  ecosystem/typescript/sdk_v2/src/api/transaction.ts
  ecosystem/typescript/sdk_v2/src/internal/transaction.ts
  ecosystem/typescript/sdk_v2/tests/e2e/api/transaction.test.ts
Labels: sdk_v2

#10263 Make InMemoryStateCalculatorV2 work with state sync chunks.
  execution/executor-types/src/executed_chunk.rs
  execution/executor-types/src/in_memory_state_calculator.rs
  execution/executor-types/src/ledger_update_output.rs
  execution/executor-types/src/lib.rs
  execution/executor-types/src/parsed_transaction_output.rs
  execution/executor-types/src/state_checkpoint_output.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/components/in_memory_state_calculator_v2.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/tests/mod.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/lib.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/storage-interface/src/lib.rs
Labels: CICD:run-e2e-tests

#9550 [release-builder] Increase lockup before executing proposals
  aptos-move/aptos-release-builder/src/validate.rs
Labels: CICD:run-e2e-tests

#10298 recalibrate single node benchmark for perf regression
  testsuite/single_node_performance.py
Labels: CICD:run-e2e-tests, CICD:run-execution-performance-test

#10317 fix WarmVmCache
  Cargo.lock
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-native-interface/Cargo.toml
  aptos-move/aptos-native-interface/src/builder.rs
  aptos-move/aptos-vm-profiling/src/bins/run_move.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/warm_vm_cache.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  crates/aptos/src/move_tool/aptos_debug_natives.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/restore.rs
  types/Cargo.toml
  types/src/on_chain_config/mod.rs
  types/src/on_chain_config/timed_features.rs
Labels: CICD:run-e2e-tests
