Repository aptos-labs/aptos-core, pull requests merged in 2023-04, with the labels that each got.

#7446 Run faucet tests on our own runners
  .github/actions/run-faucet-tests/action.yaml
  .github/workflows/faucet-tests.yaml
Labels: CICD:build-images, CICD:run-e2e-tests

#7255 [Consensus] Create a seperate channel for buffer manager
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:run-consensus-only-perf-test, CICD:build-consensus-only-image

#7519 [Indexer] Add delegator pool
  crates/indexer/migrations/2023-04-02-032121_delegator_pools/down.sql
  crates/indexer/migrations/2023-04-02-032121_delegator_pools/up.sql
  crates/indexer/src/models/stake_models/delegator_pools.rs
  crates/indexer/src/models/stake_models/mod.rs
  crates/indexer/src/models/stake_models/stake_utils.rs
  crates/indexer/src/models/stake_models/staking_pool_voter.rs
  crates/indexer/src/processors/stake_processor.rs
  crates/indexer/src/schema.rs
Labels: CICD:build-images

#7522 [QuorumStore] BatchStore tests / bugfix + refactors
  consensus/src/block_storage/sync_manager.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/quorum_store/types.rs
Labels: CICD:run-e2e-tests

#7549 Introduce a compiler section to the troubleshooting doc
  developer-docs-site/docs/issues-and-workarounds.md
Labels: documentation

#7576 [TS SDK] add User-Agent header to axios call on IndexerClient
  ecosystem/typescript/sdk/src/providers/aptos_client.ts
  ecosystem/typescript/sdk/src/providers/indexer.ts
  ecosystem/typescript/sdk/src/providers/utils.ts
  ecosystem/typescript/sdk/src/tests/e2e/aptos_client.test.ts
  ecosystem/typescript/sdk/src/tests/e2e/indexer.test.ts
Labels: sdk

#7388 [consensus] Fix unnecessary metric dimension
  consensus/src/pending_votes.rs
Labels: CICD:run-e2e-tests

#7610 [api] Update gas estimation
  api/src/context.rs
  api/src/tests/transactions_test.rs
  api/test-context/src/test_context.rs
Labels: CICD:run-e2e-tests

#7383 [consensus] Make block retrieval more aggressive
  consensus/consensus-types/src/block_retrieval.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/network.rs
Labels: CICD:run-e2e-tests

#7433 [txn emitter] Fix txn emitter client filtering
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/transaction_executor.rs
  crates/transaction-emitter/src/main.rs
  crates/transaction-generator-lib/src/accounts_pool_wrapper.rs
  crates/transaction-generator-lib/src/lib.rs
Labels: CICD:run-e2e-tests

#7524 [CLI] Do not suggest people use a faucet for mainnet accounts
  crates/aptos/src/common/init.rs
Labels: documentation, CLI

#7268 [TS SDK] script to fetch and publish ans contract for tests
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/.eslintrc.js
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Labels: CICD:build-images, CICD:run-e2e-tests

#7560 [CLI] Update load_account_arg to pull account address directly if exist
  crates/aptos/src/common/types.rs
Labels: bug, CLI

#7659 [SDK] Refactor and move the TypeTagParser to type_tag file
  ecosystem/typescript/sdk/src/aptos_types/type_tag.ts
  ecosystem/typescript/sdk/src/tests/unit/builder_utils.test.ts
  ecosystem/typescript/sdk/src/transaction_builder/builder.ts
  ecosystem/typescript/sdk/src/transaction_builder/builder_utils.ts
  ecosystem/typescript/sdk/src/utils/property_map_serde.ts
Labels: DevEx, sdk

#7685 [SDK] Re-do the TypeTagParser refactor
  ecosystem/typescript/sdk/src/aptos_types/type_tag.ts
  ecosystem/typescript/sdk/src/tests/unit/builder_utils.test.ts
  ecosystem/typescript/sdk/src/transaction_builder/builder.ts
  ecosystem/typescript/sdk/src/transaction_builder/builder_utils.ts
  ecosystem/typescript/sdk/src/utils/property_map_serde.ts
Labels: DevEx, sdk

#7660 [SDK] Update StructTag.fromString method to use TypeTagParser
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/aptos_types/type_tag.ts
  ecosystem/typescript/sdk/src/tests/unit/type_tag.test.ts
Labels: DevEx, sdk

#7743 Fix some typos in staking docs
  developer-docs-site/docs/concepts/staking.md
Labels: documentation

#7760 [TS SDK] Bump the TS SDK version to 1.8.4
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/version.ts
Labels: sdk

#7573 [db-tool] backup-continuously: add read timeout to BackupServiceClient
  Cargo.lock
  Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-cli/src/utils/backup_service_client.rs
Labels: CICD:build-images

#7762 [Indexer] create views and indices that were directly applied to db
  crates/indexer/migrations/2023-04-14-033932_optimize_queries/down.sql
  crates/indexer/migrations/2023-04-14-033932_optimize_queries/up.sql
Labels: CICD:build-images, CICD:build-indexer-images

#6967 Reduce block size on consensus backpressure
  aptos-node/src/lib.rs
  config/src/config/consensus_config.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/block_store_test.rs
  consensus/src/block_storage/mod.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/payload_client.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
  types/src/on_chain_config/consensus_config.rs
Labels: CICD:run-e2e-tests, CICD:build-failpoints-images

#7776 [CLI] Correct invalid BCS type arguments
  crates/aptos/src/move_tool/mod.rs
Labels: CICD:run-e2e-tests

#7773 Use aggregators for p2p transactions in block-stm benchmarks
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/e2e-tests/src/account_universe/peer_to_peer.rs
  aptos-move/e2e-tests/src/common_transactions.rs
  aptos-move/e2e-tests/src/gas_costs.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/e2e-testsuite/src/tests/genesis.rs
  aptos-move/e2e-testsuite/src/tests/on_chain_configs.rs
  aptos-move/e2e-testsuite/src/tests/peer_to_peer.rs
Labels: CICD:run-e2e-tests

#7718 [Node Configs] Remove unused TestConfig.
  config/src/config/mod.rs
  config/src/config/node_config.rs
  config/src/config/test_config.rs
  config/src/generator.rs
  crates/aptos-genesis/src/test_utils.rs
Labels: CICD:run-e2e-tests

#7757 [forge] Fix three region simulation
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/chaos/network_bandwidth.yaml
  testsuite/forge/src/interface/chaos.rs
  testsuite/testcases/src/multi_region_simulation_test.rs
  testsuite/testcases/src/network_bandwidth_test.rs
  testsuite/testcases/src/three_region_simulation_test.rs
Labels: CICD:run-e2e-tests

#7692 [State Sync] Add sanity checks to storage requests.
  state-sync/storage-service/server/src/handler.rs
  state-sync/storage-service/server/src/tests.rs
Labels: CICD:run-e2e-tests

#7706 [Node Configs] Small refactors and clean ups.
  aptos-node/src/lib.rs
  aptos-node/src/tests.rs
  config/src/config/node_config.rs
  config/src/config/persistable_config.rs
  config/src/config/safety_rules_config.rs
  config/src/generator.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-telemetry/src/sender.rs
  crates/aptos-telemetry/src/service.rs
  crates/aptos/src/node/mod.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/node.rs
  network/src/testutils/builder.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/fullnode.rs
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/network.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/test_smoke_tests.rs
  testsuite/smoke-test/src/txn_broadcast.rs
Labels: CICD:run-e2e-tests

#7811 [Rust Lint] Fix cached-packages failure.
  scripts/rust_lint.sh
Labels: CICD:run-e2e-tests

#7715 [indexer grpc] add metrics to indexer grpc system.
  Cargo.lock
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/processor.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/counters.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/runtime.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-parser/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/coin_activities.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/processors/coin_processor.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/processors/processor_trait.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/utils/counters.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/constants.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Labels: CICD:build-images, CICD:build-indexer-images

#7639 [Quorum Store] BatchGenerator produces multiple bucketed batches
  config/global-constants/src/lib.rs
  config/src/config/mempool_config.rs
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/epoch_manager.rs
  consensus/src/experimental/tests/buffer_manager_tests.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/network_listener.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/round_manager.rs
  consensus/src/test_utils/mock_quorum_store_sender.rs
  crates/aptos-metrics-core/src/op_counters.rs
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/test_framework.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Labels: CICD:run-e2e-tests

#7812 Add support to generate onchain execution config
  aptos-move/framework/aptos-framework/doc/execution_config.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/sources/configs/execution_config.move
  aptos-move/framework/aptos-framework/sources/configs/execution_config.spec.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos/src/genesis/mod.rs
Labels: CICD:run-e2e-tests

#5940 cicd: publish internal docker images to new us multi-region registry
  .github/actions/docker-setup/action.yaml
  .github/workflows/adhoc-forge.yaml
  .github/workflows/cli-e2e-tests.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/docker-build-rosetta.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/faucet-tests.yaml
  .github/workflows/sdk-release.yaml
  .github/workflows/workflow-run-docker-rust-build.yaml
  docker/docker-bake-rust-all.hcl
  docker/experimental/docker-bake-rust-all.hcl
Labels: CICD:build-images

#7315 [Quorum Store] fairness and priority in proposal via per-author queue
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_coordinator.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/utils.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#7845 Remove initialize function from execution config
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/execution_config.md
  aptos-move/framework/aptos-framework/doc/gas_schedule.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/configs/execution_config.move
  aptos-move/framework/aptos-framework/sources/configs/execution_config.spec.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.spec.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-stdlib/doc/fixed_point64.md
  aptos-move/framework/aptos-stdlib/sources/fixed_point64.move
Labels: CICD:run-e2e-tests

#7696 [framework] Create release config for 1.4
  .dockerignore
  Cargo.lock
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/data/example.yaml
  aptos-move/aptos-release-builder/data/proposals/empty.move
  aptos-move/aptos-release-builder/data/proposals/empty_multi_step.move
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/lib.rs
  aptos-move/aptos-release-builder/src/validate.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/upgrade.rs
  testsuite/testcases/src/framework_upgrade.rs
Labels: CICD:run-e2e-tests

#7850 [CLI e2e] update the e2e readme file for CLI
  crates/aptos/e2e/README.md
Labels: CLI

#7835 [Configs] Tiny tweak to chain ID logic.
  config/src/config/api_config.rs
  config/src/config/config_sanitizer.rs
  config/src/config/consensus_config.rs
  config/src/config/execution_config.rs
  config/src/config/inspection_service_config.rs
  config/src/config/peer_monitoring_config.rs
  config/src/config/safety_rules_config.rs
  types/src/chain_id.rs
Labels: CICD:run-e2e-tests

#7860 Use delaying proposal for chain health backoff as well
  config/src/config/consensus_config.rs
  consensus/src/counters.rs
  consensus/src/liveness/proposal_generator.rs
Labels: CICD:run-e2e-tests

#7858 [Storage service] Add peer IDs to error logs.
  state-sync/storage-service/server/src/handler.rs
  state-sync/storage-service/server/src/logging.rs
  state-sync/storage-service/server/src/metrics.rs
  state-sync/storage-service/server/src/subscription.rs
Labels: CICD:run-e2e-tests

#7848 [TS SDK] Add `AnsClient` local tests
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/plugins/ans_client.ts
  ecosystem/typescript/sdk/src/tests/e2e/ans_client.test.ts
  ecosystem/typescript/sdk/src/tests/unit/test_helper.test.ts
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:experimental-build

#7567 Change the prometheus bucket sizes for histograms for execution metrics
  aptos-move/aptos-vm/src/counters.rs
  consensus/src/counters.rs
Labels: CICD:run-e2e-tests

#7400 [Block-STM] Incorporate delta materialization with rolling commit
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/output_delta_resolver.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/versioned_code.rs
  aptos-move/mvhashmap/src/versioned_data.rs
Labels: CICD:run-e2e-tests

#7878 [Quorum Store] Turn quorum store onchain config on by default
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/consensus_reliability_tests.rs
  types/src/on_chain_config/consensus_config.rs
Labels: CICD:run-e2e-tests

#7442 [spec] Broken spec_pow function fix
  aptos-move/framework/aptos-stdlib/doc/math128.md
  aptos-move/framework/aptos-stdlib/doc/math64.md
  aptos-move/framework/aptos-stdlib/sources/math128.spec.move
  aptos-move/framework/aptos-stdlib/sources/math64.spec.move
Labels: CICD:run-prover-test

#7209 [prover] spec for `big_vector`
  aptos-move/framework/aptos-stdlib/doc/big_vector.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_vector.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_vector.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
Labels: move-prover, CICD:run-prover-test

#7632 [indexer][protobuf] Move decoding PB transaction to data service level
  Cargo.lock
  crates/aptos-protos/Cargo.toml
  crates/aptos-protos/proto/aptos/indexer/v1/raw_data.proto
  crates/aptos-protos/proto/aptos/internal/fullnode/v1/fullnode_data.proto
  crates/aptos-protos/proto/buf.yaml
  crates/aptos-protos/src/pb/aptos.datastream.v1.rs
  crates/aptos-protos/src/pb/aptos.indexer.v1.rs
  crates/aptos-protos/src/pb/aptos.indexer.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.indexer.v1.tonic.rs
  crates/aptos-protos/src/pb/aptos.internal.fullnode.v1.rs
  crates/aptos-protos/src/pb/aptos.internal.fullnode.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.internal.fullnode.v1.tonic.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing1.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing1.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.util.timestamp.rs
  crates/aptos-protos/src/pb/aptos.util.timestamp.serde.rs
  crates/aptos-protos/src/pb/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/runtime.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/tests/proto_converter_tests.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
  ecosystem/indexer-grpc/release_notes.md
Labels: CICD:build-images, CICD:build-indexer-images

#7903 [RFC][CLI] add disassembler to the aptos cli
  Cargo.lock
  Cargo.toml
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
  crates/aptos/src/move_tool/disassembler.rs
  crates/aptos/src/move_tool/mod.rs
Labels: CLI

#7493 [Spec] Specs for `smart_table` module
  aptos-move/framework/aptos-stdlib/doc/smart_table.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_table.spec.move
Labels: CICD:run-prover-test

#7961 [Indexer] Add delegator pool balances and fix delegator balances
  crates/indexer/migrations/2023-04-27-233343_delegation_pool_balances/down.sql
  crates/indexer/migrations/2023-04-27-233343_delegation_pool_balances/up.sql
  crates/indexer/src/models/stake_models/delegator_balances.rs
  crates/indexer/src/models/stake_models/delegator_pools.rs
  crates/indexer/src/models/stake_models/stake_utils.rs
  crates/indexer/src/processors/stake_processor.rs
  crates/indexer/src/schema.rs
Labels: CICD:build-indexer-images
