Repository aptos-labs/aptos-core, pull requests merged in 2023-02, with the labels that each got.

#6389 [build-info][bugfix] trigger shadow-rs on git ref change
  crates/aptos-build-info/build.rs
Labels: CICD:run-e2e-tests

#6385 [telemetry-service] use common names for chain full node mapping
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/errors.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Labels: CICD:run-e2e-tests

#6443 [Nightly] Add slack support to fullnode jobs.
  .github/actions/fullnode-sync/fullnode_sync.py
  .github/workflows/fullnode-execute-devnet-main.yaml
  .github/workflows/fullnode-fast-mainnet-main.yaml
  .github/workflows/fullnode-fast-testnet-main.yaml
  .github/workflows/fullnode-intelligent-devnet-main.yaml
  .github/workflows/fullnode-output-mainnet-main.yaml
Labels: CICD:run-e2e-tests

#6444 [Workflows] Add 3 more fullnode sync tests for stable builds.
  .github/actions/fullnode-sync/fullnode_sync.py
  .github/workflows/fullnode-execute-devnet-stable.yaml
  .github/workflows/fullnode-fast-mainnet-stable.yaml
  .github/workflows/fullnode-fast-testnet-stable.yaml
Labels: CICD:run-e2e-tests

#6461 [Performance] Enable sse4.2.
  .cargo/config.toml
Labels: CICD:run-e2e-tests

#6467 [Logger] combine two tests that flake when running concurrently
  crates/aptos-logger/src/aptos_logger.rs
Labels: CICD:run-e2e-tests

#6391 [telemetry-svc] Ability to identify nodes with duplicate identity
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/clients/humio.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/remote_config.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/custom_event.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry/src/sender.rs
Labels: CICD:run-e2e-tests

#6504 [aptos-vm] change restriction on view functions to support legacy view (1.2.0 hotfix)
  aptos-move/aptos-vm/src/verifier/view_function.rs
Labels: CICD:run-e2e-tests

#6495 [telemetry-svc] Ingest logs from unknown nodes
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/errors.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry/src/sender.rs
Labels: CICD:run-e2e-tests

#6497 [txn-emitter][forge] Fix duration used for TPS computation
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/stats.rs
  crates/transaction-emitter/src/main.rs
  ecosystem/node-checker/src/checker/tps.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/smoke-test/src/consensus/consensus_only.rs
  testsuite/smoke-test/src/txn_emitter.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
  testsuite/testcases/src/two_traffics_test.rs
Labels: CICD:run-e2e-tests

#6513 [txn emitter] Improve minting speed and more debug details
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/transaction_executor.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
Labels: CICD:run-e2e-tests

#6463 [Spec] Added spec for `aptos_governance.move`
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
Labels: CICD:run-prover-test

#6408 Add counters for visibility for when chain is halted
  consensus/src/counters.rs
  consensus/src/pending_votes.rs
  crates/aptos-metrics-core/src/lib.rs
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/validator_reboot_stress_test.rs
Labels: CICD:run-e2e-tests

#6569 [gha] pin composite actions and reusable workflows to main
  .github/workflows/cli-release.yaml
  .github/workflows/continuous-e2e-changing-working-quorum-test copy.yaml
  .github/workflows/continuous-e2e-changing-working-quorum-test-high-load.yaml
  .github/workflows/continuous-e2e-compat-test.yaml
  .github/workflows/continuous-e2e-different-node-speed-and-reliability-test.yaml
  .github/workflows/continuous-e2e-forge-continuous.yaml
  .github/workflows/continuous-e2e-graceful-overload-test.yaml
  .github/workflows/continuous-e2e-haproxy-test.yaml
  .github/workflows/continuous-e2e-network-partition-test.yaml
  .github/workflows/continuous-e2e-nft-mint-test.yaml
  .github/workflows/continuous-e2e-performance-test.yaml
  .github/workflows/continuous-e2e-release-test.yaml
  .github/workflows/continuous-e2e-single-vfn-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-execute-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-fast-sync-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-validator-test.yaml
  .github/workflows/continuous-e2e-state-sync-slow-processing-catching-up-test.yaml
  .github/workflows/continuous-e2e-twin-validator-test.yaml
  .github/workflows/continuous-e2e-validator-reboot-stress-test.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/docker-rust-build.yaml
  .github/workflows/find-packages-with-undeclared-feature-dependencies.yaml
  .github/workflows/forge-stable.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/module-verify.yaml
  .github/workflows/prover-daily-test.yaml
  .github/workflows/prover-test.yaml
  .github/workflows/replay-verify.yaml
  .github/workflows/run-gas-calibration.yaml
  .github/workflows/sdk-release.yaml
  .github/workflows/workflow-run-module-verify.yaml
  .github/workflows/workflow-run-replay-verify.yaml
Labels: CICD:run-e2e-tests

#6592 [BlockSTM] Optimized transaction shuffling
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  consensus/Cargo.toml
  consensus/consensus-types/src/request_response.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/experimental/ordering_state_computer.rs
  consensus/src/lib.rs
  consensus/src/payload_client.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/sender_aware_shuffler.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
  consensus/src/transaction_shuffler.rs
  execution/executor/src/components/chunk_output.rs
  types/src/on_chain_config/execution_config.rs
  types/src/on_chain_config/mod.rs
Labels: CICD:run-e2e-tests

#6625 [forge] fix compat test image find
  testsuite/forge.py
  testsuite/forge_test.py
Labels: CICD:run-e2e-tests

#6634 Split state k/v commit from ledger db commit. (performance benchmark branch)
  Cargo.lock
  Cargo.toml
  config/src/config/storage_config.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/db_options.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/schema/db_metadata/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/aptosdb/src/test_helper.rs
  storage/aptosdb/src/utils/mod.rs
  storage/aptosdb/src/utils/truncation_helper.rs
  storage/backup/backup-cli/src/utils/mod.rs
Labels: CICD:run-e2e-tests

#6585 [indexer grpc][docker] add the docker image building script for indexer grpc.
  docker/build-rust-all.sh
  docker/docker-bake-rust-all.hcl
  docker/retag-rust-images.sh
  docker/rust-all.Dockerfile
Labels: CICD:build-images

#6659 [Spec] Fix the broken spec
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/sources/object.spec.move
Labels: CICD:run-prover-test

#6521 [Storage][Sharding] Split state k/v commit from ledger db commit.
  config/src/config/storage_config.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
  storage/aptosdb/src/db_options.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/schema/db_metadata/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/aptosdb/src/test_helper.rs
  storage/aptosdb/src/utils/truncation_helper.rs
  storage/backup/backup-cli/src/utils/mod.rs
Labels: CICD:run-e2e-tests

#6629 [Spec] Added spec of `Vesting` & `staking_contract` module
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/doc/vesting.md
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/vesting.spec.move
Labels: CICD:run-prover-test

#6549 Crate for handling speculative events and state, tests
  CODEOWNERS
  Cargo.lock
  Cargo.toml
  crates/aptos-speculative-state-helper/Cargo.toml
  crates/aptos-speculative-state-helper/src/lib.rs
  crates/aptos-speculative-state-helper/src/tests/logging.rs
  crates/aptos-speculative-state-helper/src/tests/mod.rs
  crates/aptos-speculative-state-helper/src/tests/proptests.rs
Labels: CICD:run-e2e-tests

#6700 [Consensus] Add proposed block to the block store in case of backpres…
  consensus/src/round_manager.rs
Labels: CICD:run-e2e-tests

#6717 [forge] Three-region gas market graceful overload test
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/two_traffics_test.rs
Labels: CICD:run-e2e-tests

#6722 [spec] updated the specs of `transaction_fee`, `coin` and `features`
  aptos-move/framework/aptos-framework/doc/aggregator_factory.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/doc/vesting.md
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.spec.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.spec.move
  aptos-move/framework/aptos-framework/sources/vesting.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/doc/option.md
  aptos-move/framework/move-stdlib/sources/configs/features.spec.move
  aptos-move/framework/move-stdlib/sources/option.move
Labels: CICD:run-prover-test

#6638 [release-tooling] More fixes...
  .dockerignore
  .github/workflows/docker-build-test.yaml
  Cargo.lock
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/framework.rs
  aptos-move/aptos-release-builder/src/components/gas.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/lib.rs
  aptos-move/aptos-release-builder/src/main.rs
  aptos-move/aptos-release-builder/src/validate.rs
  crates/aptos/src/governance/mod.rs
  docker/rust-all.Dockerfile
  testsuite/forge-cli/src/main.rs
  testsuite/smoke-test/src/upgrade.rs
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/framework_upgrade.rs
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests

#6696 [CLI] Add a CLI for explicitly approving execution hash for governance proposals
  crates/aptos/src/governance/mod.rs
Labels: CICD:run-e2e-tests

#6756 [gha] do not add addl permissions in forge reuse workflow
  .github/workflows/workflow-run-forge.yaml
Labels: CICD:run-e2e-tests

#6741 [TS SDK] Remove SDK release steps from SDK CI
  .github/workflows/sdk-release.yaml
Labels: CICD:build-images, CICD:run-e2e-tests

#6757 [mergify] make framework upgrade test land-blocking
  .github/mergify.yml
Labels: CICD:run-e2e-tests

#6727 [Spec] Added spec of `code`, `resource_account` & `staking_proxy` module
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/code.md
  aptos-move/framework/aptos-framework/doc/resource_account.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/doc/staking_proxy.md
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/code.spec.move
  aptos-move/framework/aptos-framework/sources/resource_account.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/staking_proxy.spec.move
Labels: CICD:run-prover-test

#6683 [gas] introduce new mechanism to charge storage fees based on fixed APT prices & per-category gas/fee limits
  Cargo.lock
  Cargo.toml
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_entry_function_validation.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_address.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_module_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_entry_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_post_bcs_format_transaction.json
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-gas/src/algebra.rs
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/transaction/mod.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/execution_limit.data/test/Move.toml
  aptos-move/e2e-move-tests/src/tests/execution_limit.data/test/sources/test.move
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.rs
  aptos-move/e2e-move-tests/src/tests/transaction_fee.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_open_publishing.exp
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  aptos-move/framework/aptos-framework/doc/storage_gas.md
  aptos-move/framework/aptos-framework/sources/storage_gas.move
  config/global-constants/src/lib.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  testsuite/smoke-test/src/aptos/mint_transfer.rs
  testsuite/smoke-test/src/fullnode.rs
  testsuite/smoke-test/src/indexer.rs
  testsuite/smoke-test/src/rest_api.rs
  testsuite/smoke-test/src/rosetta.rs
  types/src/contract_event.rs
  types/src/event.rs
Labels: CICD:run-e2e-tests

#6663 Delegator activities
  crates/indexer/migrations/2023-02-15-070116_stake_delegation/down.sql
  crates/indexer/migrations/2023-02-15-070116_stake_delegation/up.sql
  crates/indexer/src/models/stake_models/delegator_activities.rs
  crates/indexer/src/models/stake_models/delegator_balances.rs
  crates/indexer/src/models/stake_models/mod.rs
  crates/indexer/src/models/stake_models/stake_utils.rs
  crates/indexer/src/processors/stake_processor.rs
  crates/indexer/src/schema.rs
Labels: CICD:build-images

#6765 [executor benchmark] print overall TPS
  execution/executor-benchmark/src/account_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
  execution/executor-benchmark/src/transaction_committer.rs
  execution/executor-benchmark/src/transaction_generator.rs
Labels: CICD:run-e2e-tests

#6787 ci(Mergify): configuration update
  .github/mergify.yml
Labels: CICD:run-e2e-tests

#6619 [Dockerfile] build speed improvements
  .dockerignore
  .github/actions/docker-setup/action.yaml
  .github/workflows/experimental-docker-build-test.yaml
  .github/workflows/experimental-docker-rust-build.yaml
  .gitignore
  docker/experimental/build-node.sh
  docker/experimental/build-tools.sh
  docker/experimental/builder.Dockerfile
  docker/experimental/debian-base.Dockerfile
  docker/experimental/docker-bake-rust-all.hcl
  docker/experimental/docker-bake-rust-all.sh
  docker/experimental/faucet.Dockerfile
  docker/experimental/forge.Dockerfile
  docker/experimental/node-checker.Dockerfile
  docker/experimental/telemetry-service.Dockerfile
  docker/experimental/tools.Dockerfile
  docker/experimental/validator-testing.Dockerfile
  docker/experimental/validator.Dockerfile
Labels: CICD:experimental-build

#6781 [testsuite] Fixed flaky fees distribution test
  Cargo.lock
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/transaction_fee.rs
Labels: CICD:run-e2e-tests

#6644 [Peer Monitoring] Add server-side support for simple messages.
  Cargo.lock
  Cargo.toml
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  aptos-node/src/network.rs
  aptos-node/src/services.rs
  network/peer-monitoring-service/server/Cargo.toml
  network/peer-monitoring-service/server/src/error.rs
  network/peer-monitoring-service/server/src/lib.rs
  network/peer-monitoring-service/server/src/network.rs
  network/peer-monitoring-service/server/src/tests.rs
  network/peer-monitoring-service/types/src/lib.rs
  network/src/application/error.rs
  network/src/application/metadata.rs
  network/src/application/storage.rs
Labels: CICD:run-e2e-tests

#6715 [Network] Move trusted peers into peers and metadata.
  crates/aptos-network-checker/src/check_endpoint.rs
  network/builder/src/builder.rs
  network/builder/src/dummy.rs
  network/src/application/storage.rs
  network/src/application/tests.rs
  network/src/connectivity_manager/builder.rs
  network/src/connectivity_manager/mod.rs
  network/src/connectivity_manager/test.rs
  network/src/noise/error.rs
  network/src/noise/fuzzing.rs
  network/src/noise/handshake.rs
  network/src/noise/mod.rs
  network/src/noise/stream.rs
  network/src/peer_manager/builder.rs
  network/src/peer_manager/mod.rs
  network/src/peer_manager/tests.rs
  network/src/testutils/mod.rs
  network/src/transport/test.rs
Labels: CICD:run-e2e-tests

#6339 [smart_table] refine bucket_table to smart_table
  aptos-move/move-examples/data_structures/sources/bucket_table.move
  aptos-move/move-examples/data_structures/sources/smart_table.move
Labels: enhancement

#6775 [Quorum Store] add latency metrics for better visibility
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/utils.rs
  mempool/src/core_mempool/transaction_store.rs
Labels: CICD:run-e2e-tests

#6710 [Quorum Store] txn count-based backpressure
  config/src/config/consensus_config.rs
  config/src/config/quorum_store_config.rs
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/utils.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
Labels: CICD:run-e2e-tests

#6784 [types] remove useless AccountSequenceInfo
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  types/src/account_config/resources/mod.rs
  types/src/account_config/resources/sequence_info.rs
  vm-validator/src/unit_tests/vm_validator_test.rs
  vm-validator/src/vm_validator.rs
Labels: CICD:run-e2e-tests

#6807 [Dockerfile] Enable experimental docker build on push to main
  .github/workflows/experimental-docker-build-test.yaml
  .github/workflows/experimental-docker-rust-build.yaml
  .github/workflows/workflow-run-forge.yaml
  docker/experimental/docker-bake-rust-all.sh
Labels: CICD:experimental-forge, CICD:experimental-build
