Repository aptos-labs/aptos-core, pull requests merged in 2023-08, with the labels that each got.

#9143 [Network] Add latency metrics for message serialization/deserialization.
  network/src/counters.rs
  network/src/peer_manager/tests.rs
  network/src/protocols/wire/handshake/v1/mod.rs
Labels: CICD:run-e2e-tests

#9256 [vm] Separation of resources, modules and aggregators
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/check_change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/storage.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#9309 [Mempool] optimize fullnode broadcast hops for latency
  config/src/config/mempool_config.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/tasks.rs
Labels: CICD:run-e2e-tests

#9397 Re-enable dedup and shuffling as defaults (for test networks)
  aptos-move/vm-genesis/src/lib.rs
  consensus/src/epoch_manager.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos/src/genesis/mod.rs
  testsuite/smoke-test/src/rest_api.rs
  types/src/on_chain_config/execution_config.rs
Labels: CICD:run-e2e-tests

#8559 [Spec] update specs of object
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/doc/transaction_context.md
  aptos-move/framework/aptos-framework/sources/object.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_context.spec.move
Labels: move-prover

#9500 [forge][land blocking] recalibrate latency limits
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/interface/prometheus_metrics.rs
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests

#9513 [Rust] Upgrade to Rust version 1.71.1
  Cargo.toml
  crates/aptos/CHANGELOG.md
  docker/builder/docker-bake-rust-all.hcl
  rust-toolchain
  scripts/update_docker_images.py
Labels: CICD:run-e2e-tests

#9449 [release-builder] Make release builder use a relative path for raw script
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/lib.rs
  aptos-move/aptos-release-builder/src/main.rs
Labels: CICD:run-e2e-tests

#9303 [Configuration] Remove the need for maintaining an on-chain config registry
  Cargo.lock
  aptos-node/src/services.rs
  aptos-node/src/state_sync.rs
  aptos-node/src/tests.rs
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/twins/twins_node.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  mempool/src/tests/test_framework.rs
  network/builder/src/builder.rs
  network/discovery/src/file.rs
  network/discovery/src/lib.rs
  network/discovery/src/validator_set.rs
  state-sync/inter-component/event-notifications/Cargo.toml
  state-sync/inter-component/event-notifications/src/lib.rs
  state-sync/inter-component/event-notifications/src/tests.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver_factory.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/storage_synchronizer.rs
  types/src/on_chain_config/consensus_config.rs
  types/src/on_chain_config/execution_config.rs
  types/src/on_chain_config/mod.rs
  vm-validator/Cargo.toml
  vm-validator/src/mocks/mock_vm_validator.rs
  vm-validator/src/vm_validator.rs
Labels: CICD:run-e2e-tests

#9530 [release-builder] Make release builder use a relative path for raw script
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/lib.rs
  aptos-move/aptos-release-builder/src/main.rs
Labels: CICD:run-e2e-tests

#9541 [NFT Metadata Crawler] Dockerize Parser
  .dockerignore
  docker/builder/build-tools.sh
  docker/builder/docker-bake-rust-all.hcl
  docker/builder/nft-metadata-crawler.Dockerfile
Labels: CICD:build-images

#9554 [NFT Metadata Crawler] Check received chain id against existing chain id in parser db
  ecosystem/nft-metadata-crawler-parser/migrations/2023-06-27-001532_create_tables/down.sql
  ecosystem/nft-metadata-crawler-parser/migrations/2023-06-27-001532_create_tables/up.sql
  ecosystem/nft-metadata-crawler-parser/src/models/ledger_info.rs
  ecosystem/nft-metadata-crawler-parser/src/models/mod.rs
  ecosystem/nft-metadata-crawler-parser/src/schema.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/database.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Labels: CICD:build-images

#9563 Revert "[NFT Metadata Crawler] Dockerize Parser (#9541)"
  .dockerignore
  docker/builder/build-tools.sh
  docker/builder/docker-bake-rust-all.hcl
  docker/builder/nft-metadata-crawler.Dockerfile
Labels: CICD:run-e2e-tests

#9549 [TS SDK] Support network and API endpoints on `AptosConfig`
  ecosystem/typescript/sdk_v2/package.json
  ecosystem/typescript/sdk_v2/src/api/aptos_config.ts
  ecosystem/typescript/sdk_v2/src/utils/api-endpoints.ts
  ecosystem/typescript/sdk_v2/src/utils/const.ts
  ecosystem/typescript/sdk_v2/tests/unit/aptos_config.test.ts
Labels: sdk_v2

#9573 Cherry pick indexer fix to current mainnet version
  storage/indexer/src/lib.rs
Labels: CICD:run-e2e-tests

#9587 [GHA] Run smoke, performance & forge tests when appropriate.
  .github/workflows/cli-e2e-tests.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/execution-performance.yaml
  .github/workflows/indexer-grpc-integration-tests.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/node-api-compatibility-tests.yaml
  .github/workflows/workflow-run-forge.yaml
Labels: CICD:run-e2e-tests

#9574 Pick indexer table fix to 1.6
  storage/indexer/src/lib.rs
Labels: CICD:run-e2e-tests

#9461 [Spec] Ensures of transaction_validation
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
Labels: move-prover

#9606 [GHA] Small tweaks to target determinator.
  .github/actions/file-change-determinator/action.yaml
  .github/actions/general-lints/action.yaml
Labels: CICD:run-e2e-tests

#9609 Fix node compatibility test CI
  .github/workflows/node-api-compatibility-tests.yaml
Labels: CICD:run-e2e-tests

#9415 [forge] Add checking latency for different workloads
  .github/workflows/forge-stable.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Labels: CICD:run-e2e-tests

#9595 [TS SDK v2] Add Hex and HexInput types
  ecosystem/typescript/sdk_v2/package.json
  ecosystem/typescript/sdk_v2/src/core/common.ts
  ecosystem/typescript/sdk_v2/src/core/hex.ts
  ecosystem/typescript/sdk_v2/src/core/index.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
  ecosystem/typescript/sdk_v2/tests/unit/hex.test.ts
Labels: sdk_v2

#9383 [Spec] Ensures of reconfiguration.move
  aptos-move/framework/aptos-framework/doc/reconfiguration.md
  aptos-move/framework/aptos-framework/sources/reconfiguration.spec.move
Labels: move-prover

#9622 Revert "Revert "[NFT Metadata Crawler] Dockerize Parser (#9541)""
  .dockerignore
  docker/builder/build-tools.sh
  docker/builder/docker-bake-rust-all.hcl
  docker/builder/nft-metadata-crawler.Dockerfile
Labels: CICD:run-e2e-tests

#9632 [GHA] Only run all execution performance tests on a scheduled cadence.
  .github/workflows/execution-performance.yaml
  .github/workflows/workflow-run-execution-performance.yaml
  testsuite/single_node_performance.py
Labels: CICD:run-e2e-tests

#9628 [NFT Metadata Crawler] Fix raw image uri parse error
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris_query.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/database.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/image_optimizer.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/json_parser.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Labels: CICD:build-images

#9604 [Dev Docs] Add note about indexer bootstrap support.
  developer-docs-site/docs/nodes/indexer-fullnode.md
Labels: CICD:run-e2e-tests

#8757 [CLI][e2e] Tests create-resource-account and derive-resource-account-address
  crates/aptos/e2e/cases/account.py
  crates/aptos/e2e/main.py
Labels: ops week

#9382 [Spec] Ensures of resources.move
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/resource_account.md
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/resource_account.spec.move
Labels: move-prover

#9460 [Spec] Ensures of transaction_fee
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/sources/transaction_fee.spec.move
  aptos-move/framework/cached-packages/generated/head.mrb
Labels: move-prover

#9115 [Spec] update spec for vesting.move
  aptos-move/framework/aptos-framework/doc/vesting.md
  aptos-move/framework/aptos-framework/sources/vesting.spec.move
Labels: move-prover

#9644 [refactoring] Relax trait bounds, reduce dependence on `StateView`
  Cargo.lock
  api/Cargo.toml
  api/src/context.rs
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/sharded_block_executor/test_utils.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-tests/src/on_chain_configs.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/e2e-testsuite/src/tests/on_chain_configs.rs
  execution/executor-service/src/test_utils.rs
  execution/executor/src/components/chunk_output.rs
Labels: CICD:run-e2e-tests

#9097 Add get_state_value_u128 method to TStateView
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/view.rs
  storage/state-view/src/lib.rs
Labels: CICD:run-e2e-tests

#9462 [Spec] Ensures for voting
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/voting.spec.move
Labels: move-prover

#9659 [Block Executor] Refactor view & output traits & mvhashmap
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_modules.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#9699 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#9651 add the header to data service.
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
Labels: CICD:build-images

#9730 Rename Token V2 to Digital Asset (DA)
  developer-docs-site/docs/reference/glossary.md
  developer-docs-site/docs/sdks/ts-sdk/sdk-plugins-layer.md
  developer-docs-site/docs/standards/aptos-coin.md
  developer-docs-site/docs/standards/aptos-object.md
  developer-docs-site/docs/standards/aptos-token.md
  developer-docs-site/docs/standards/digital-asset.md
  developer-docs-site/docs/standards/fungible-asset.md
  developer-docs-site/docs/standards/index.md
  developer-docs-site/scripts/additional_dict.txt
  developer-docs-site/sidebars.js
Labels: documentation

#9767 [Mempool] reduce mempool log noise
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/tasks.rs
Labels: CICD:run-e2e-tests

#9553 [aggregator] New aggregator resolver
  Cargo.lock
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/lib.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-tests/Cargo.toml
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers.rs
Labels: CICD:run-e2e-tests

#9805 [aggregator] Add parallel execution to aggregator tests
  aptos-move/e2e-move-tests/src/aggregator.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/transaction_fee.rs
Labels: CICD:run-e2e-tests

#9789 [Execution][Storage] Split the ledger update to a separate phase
  consensus/src/state_computer.rs
  execution/executor-benchmark/src/ledger_update_stage.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/pipeline.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-types/src/execution_output.rs
  execution/executor-types/src/ledger_update_output.rs
  execution/executor-types/src/lib.rs
  execution/executor-types/src/state_checkpoint_output.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/components/block_tree/test.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/metrics.rs
  execution/executor/src/tests/mod.rs
  testsuite/single_node_performance.py
Labels: CICD:run-e2e-tests

#9808 disable module_event feature after framework update is done
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
Labels: CICD:run-e2e-tests

#9818 add release step to enable AIP-32
  aptos-move/aptos-release-builder/data/proposals/aip_32_initialization.move
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-e2e-tests

#9829 [aptos-vm] prevent existing resources from becoming resource groups
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/verifier/resource_groups.rs
  aptos-move/e2e-move-tests/src/tests/resource_groups.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#9869 [TS SDK v2] Add base BCS serialization and deserialization classes and unit tests
  ecosystem/typescript/sdk_v2/src/bcs/consts.ts
  ecosystem/typescript/sdk_v2/src/bcs/deserializer.ts
  ecosystem/typescript/sdk_v2/src/bcs/index.ts
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
  ecosystem/typescript/sdk_v2/src/bcs/types.ts
  ecosystem/typescript/sdk_v2/tests/unit/deserializer.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/serializer.test.ts
  ecosystem/typescript/sdk_v2/tsconfig.json
Labels: sdk_v2
