Repository aptos-labs/aptos-core, pull requests merged in 2023-12, with the labels that each got.

#11165 rename system txn to validator txn
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-node/src/lib.rs
  aptos-node/src/services.rs
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/consensus-types/src/proposal_ext.rs
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_computer.rs
  consensus/src/state_computer_tests.rs
  consensus/src/twins/twins_node.rs
  crates/aptos-rosetta/src/types/objects.rs
  execution/executor-types/src/parsed_transaction_output.rs
  execution/executor/src/components/chunk_output.rs
  storage/backup/backup-cli/src/backup_types/transaction/analysis.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/lib.rs
  types/src/on_chain_config/consensus_config.rs
  types/src/proptest_types.rs
  types/src/system_txn/pool.rs
  types/src/transaction/mod.rs
  types/src/validator_txn/mod.rs
  types/src/validator_txn/pool.rs
Labels: CICD:run-e2e-tests

#10924 [Spec] Local specification of account and coin module
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/genesis.spec.move
Labels: move-prover

#11168 gate validator txn in payload client
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/src/consensusdb/consensusdb_test.rs
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/tests/helpers.rs
  consensus/src/dag/tests/rb_handler_tests.rs
  consensus/src/dag/types.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/payload_client/validator.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_computer_tests.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/test_utils/mod.rs
  types/src/on_chain_config/consensus_config.rs
  types/src/validator_txn/pool.rs
Labels: CICD:run-e2e-tests

#10985 [Execution] Move the transaction shuffling and dedup to the block preparation phase
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/src/block_preparer.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/dag/adapter.rs
  consensus/src/execution_pipeline.rs
  consensus/src/experimental/execution_schedule_phase.rs
  consensus/src/experimental/ordering_state_computer.rs
  consensus/src/experimental/tests/execution_phase_tests.rs
  consensus/src/experimental/tests/test_utils.rs
  consensus/src/lib.rs
  consensus/src/rand/rand_gen/block_queue.rs
  consensus/src/state_computer.rs
  consensus/src/state_computer_tests.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
Labels: CICD:run-e2e-tests

#11206 Fix pipeline backpressure to exclude treating committed block as pending
  consensus/consensus-types/src/executed_block.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/experimental/ordering_state_computer.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
Labels: CICD:run-forge-e2e-perf

#11213 [compiler v2] Relaxing copy restrictions on `&mut`
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/src/options.rs
  third_party/move/move-compiler-v2/src/pipeline/livevar_analysis_processor.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety_processor.rs
  third_party/move/move-compiler-v2/tests/file-format-generator/borrow.exp
  third_party/move/move-compiler-v2/tests/live-var/mut_inline.exp
  third_party/move/move-compiler-v2/tests/live-var/mut_inline.move
  third_party/move/move-compiler-v2/tests/live-var/mut_ref.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_field.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_field_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/call_mutual_borrows.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/call_mutual_borrows_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_field.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_field_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/freeze_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/freeze_field_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_field_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_full.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_full_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/return_mutual_borrows_invalid.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/control_flow/sorter.exp
Labels: compiler-v2

#11236 [vm] Fix string arg validation
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/e2e-move-tests/src/tests/string_args.rs
Labels: CICD:run-e2e-tests

#11249 fix consensus config for realistic_env_max_load_test
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-forge-e2e-perf

#11250 [compiler-v2] Fixes a bug in borrow graph shrinking
  third_party/move/move-compiler-v2/src/pipeline/livevar_analysis_processor.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety_processor.rs
  third_party/move/move-compiler-v2/tests/reference-safety/return_borrowed.move
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_field.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full_invalid.exp
  third_party/move/move-model/bytecode/src/dataflow_analysis.rs
Labels: compiler-v2

#10852 [refactoring] remove aptos_vm_impl
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/aptos-vm/src/gas.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
Labels: CICD:run-e2e-tests

#10943 Improved block gas limit - output size limit, conflict aware, io/compute multipliers
  Cargo.lock
  api/src/context.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-tests/src/executor.rs
  crates/aptos-genesis/src/test_utils.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/pipeline.rs
  execution/executor-benchmark/src/transaction_executor.rs
  testsuite/single_node_performance.py
  types/src/block_executor/config.rs
  types/src/on_chain_config/execution_config.rs
  types/src/test_helpers/transaction_test_helpers.rs
Labels: CICD:run-execution-performance-test

#11262 DiskSpacePricing
  aptos-move/aptos-abstract-gas-usage/src/algebra.rs
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
  aptos-move/aptos-vm-types/src/abstract_write_op.rs
  aptos-move/aptos-vm-types/src/storage/io_pricing.rs
  aptos-move/aptos-vm-types/src/storage/mod.rs
  aptos-move/aptos-vm-types/src/storage/space_pricing.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#11245 [Gas estimate][metrics] Add metrics for gas estimation, and call it periodically
  Cargo.lock
  api/Cargo.toml
  api/src/context.rs
  api/src/metrics.rs
  api/src/runtime.rs
  api/src/transactions.rs
  config/src/config/api_config.rs
Labels: CICD:run-forge-e2e-perf

#11162 [Quorum Store] batch request changed to short circuit on expired
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/quorum_store/tests/mod.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/test_utils/mock_quorum_store_sender.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Labels: CICD:run-forge-e2e-perf

#11324 [indexer grpc] Default enable_verbose_logging flag to false in rust config
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/lib.rs
Labels: CICD:run-e2e-tests

#11316 Remove no longer necessary gas feature description
  aptos-move/aptos-gas-schedule/src/ver.rs
Labels: CICD:run-e2e-tests

#11315 [txn-emitter] option to use an api key
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/instance.rs
  ecosystem/node-checker/src/checker/tps.rs
Labels: CICD:run-e2e-tests

#11349 [forge] Update realistic_network_tuned_for_throughput_test to use latest onchain execution config
  testsuite/forge-cli/src/main.rs
Labels: CICD:build-images

#10693 [NFT Metadata Crawler] Convert to PubSub Push Model
  Cargo.lock
  Cargo.toml
  ecosystem/nft-metadata-crawler-parser/Cargo.toml
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris_query.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/constants.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/counters.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Labels: CICD:build-images

#11325 Update release.yaml for the v1.9 release
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-e2e-tests

#11359 [movevm] filter away abort info
  aptos-move/aptos-vm/src/aptos_vm.rs
Labels: CICD:run-e2e-tests

#11364 release yaml for aip 57
  aptos-move/aptos-release-builder/data/release.yaml
  types/src/on_chain_config/execution_config.rs
Labels: CICD:run-e2e-tests

#11230 [grpc] Improve grpc cache worker and filestore worker
  Cargo.lock
  Cargo.toml
  docker/builder/build-indexer.sh
  docker/builder/indexer-grpc.Dockerfile
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/processor.rs
  ecosystem/indexer-grpc/indexer-grpc-post-processor/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-post-processor/README.md
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/file_storage_verifier.rs
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/pfn_ledger_checker.rs
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/table_info_service.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/constants.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/gcs.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/local.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Labels: CICD:build-images

#11009 validator transaction API
  Cargo.lock
  api/doc/spec.json
  api/doc/spec.yaml
  api/types/src/convert.rs
  api/types/src/transaction.rs
  crates/aptos/src/common/types.rs
  crates/indexer/src/indexer/fetcher.rs
  crates/indexer/src/models/transactions.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/typescript/src/aptos/transaction/v1/transaction.ts
Labels: CICD:run-e2e-tests

#11322 [Spec] Remaining High-level specification
  aptos-move/framework/aptos-framework/doc/aptos_coin.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/transaction_context.md
  aptos-move/framework/aptos-framework/doc/vesting.md
  aptos-move/framework/aptos-framework/sources/aptos_coin.spec.move
  aptos-move/framework/aptos-framework/sources/genesis.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_context.spec.move
  aptos-move/framework/aptos-framework/sources/vesting.spec.move
Labels: move-prover

#11358 [Latency Monitor] Add simple metric for block timestamp lag.
  state-sync/aptos-data-client/src/latency_monitor.rs
  state-sync/aptos-data-client/src/metrics.rs
Labels: CICD:run-forge-e2e-perf

#11385 validator txn pool update
  Cargo.lock
  Cargo.toml
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  aptos-node/src/services.rs
  consensus/Cargo.toml
  consensus/src/consensus_provider.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/validator.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_computer_tests.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/twins/twins_node.rs
  crates/validator-transaction-pool/Cargo.toml
  crates/validator-transaction-pool/src/lib.rs
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/proptest_types.rs
  types/src/validator_txn.rs
  types/src/validator_txn/pool.rs
Labels: CICD:run-e2e-tests

#11330 [cleanup] Remove API dependency on ModuleBundle in tests
  Cargo.lock
  api/src/tests/accounts_test.rs
  api/src/tests/transaction_vector_test.rs
  api/src/tests/view_function.rs
  aptos-move/framework/cached-packages/Cargo.toml
  aptos-move/framework/cached-packages/src/aptos_stdlib.rs
  sdk/src/transaction_builder.rs
Labels: CICD:run-e2e-tests

#11398 [move][trivial] Remove unused module cache
  third_party/move/tools/move-bytecode-utils/src/module_cache.rs
Labels: CICD:run-e2e-tests

#11391 dkg jwk skeleton
  Cargo.lock
  Cargo.toml
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  aptos-node/src/network.rs
  config/src/config/dkg_config.rs
  config/src/config/jwk_consensus_config.rs
  config/src/config/mod.rs
  config/src/config/node_config.rs
  crates/aptos-compression/src/metrics.rs
  crates/aptos-jwk-consensus/Cargo.toml
  crates/aptos-jwk-consensus/src/lib.rs
  crates/aptos-jwk-consensus/src/network_interface.rs
  dkg/Cargo.toml
  dkg/src/lib.rs
  dkg/src/network_interface.rs
  network/framework/src/protocols/wire/handshake/v1/mod.rs
  testsuite/generate-format/tests/staged/network.yaml
  types/src/validator_txn.rs
Labels: CICD:run-e2e-tests

#11418 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#11371 [Compiler-v2] Fix 11337
  third_party/move/move-compiler-v2/tests/checking/typing/eq.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq_inline.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq_inline.move
  third_party/move/move-compiler-v2/tests/checking/typing/eq_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/typing/mutable_eq_and_neq.exp
  third_party/move/move-compiler-v2/tests/checking/typing/neq.exp
  third_party/move/move-compiler-v2/tests/checking/typing/neq_invalid.exp
  third_party/move/move-model/src/builder/exp_builder.rs
Labels: compiler-v2

#11404 send filtered txn events to state sync
  Cargo.lock
  Cargo.toml
  aptos-node/src/lib.rs
  aptos-node/src/state_sync.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/src/state_computer.rs
  consensus/src/state_computer_tests.rs
  crates/aptos-jwk-consensus/Cargo.toml
  crates/aptos-jwk-consensus/src/lib.rs
  dkg/Cargo.toml
  dkg/src/lib.rs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/executed_chunk.rs
  execution/executor-types/src/ledger_update_output.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/tests/mod.rs
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/inter-component/event-notifications/src/lib.rs
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/storage_synchronizer.rs
  state-sync/state-sync-driver/src/tests/storage_synchronizer.rs
  types/src/account_config/events/new_epoch.rs
  types/src/contract_event.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#11302 [compiler] Restore aptos-move/aptos-transactional-test-harness
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-transactional-test-harness/Cargo.toml
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-transactional-test-harness/src/lib.rs
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/call_function.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/call_function.move
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/diamond_clicker.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/diamond_clicker.move
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/diamond_clicker_noinline.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/diamond_clicker_noinline.move
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/execute_script.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/execute_script.move
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/publish_module.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/publish_module.move
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.move
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/write_set_too_large.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/write_set_too_large.move
  aptos-move/aptos-transactional-test-harness/tests/tests.rs
Labels: compiler-v2

#11281 [compiler] Add a Loc to Param and TypeParam in Move Model
  aptos-move/framework/src/extended_checks.rs
  third_party/move/evm/move-to-yul/src/abi_native_functions.rs
  third_party/move/evm/move-to-yul/src/external_functions.rs
  third_party/move/evm/move-to-yul/src/solidity_ty.rs
  third_party/move/move-compiler-v2/src/bytecode_generator.rs
  third_party/move/move-compiler-v2/src/file_format_generator/module_generator.rs
  third_party/move/move-compiler-v2/src/inliner.rs
  third_party/move/move-compiler-v2/tests/checking/typing/bind_duplicate_binding.exp
  third_party/move/move-compiler-v2/tests/checking/typing/declare_duplicate_binding.exp
  third_party/move/move-compiler-v2/tests/checking/typing/duplicate_function_parameter_names.exp
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/builder/model_builder.rs
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/spec_translator.rs
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
  third_party/move/move-prover/bytecode-pipeline/src/mono_analysis.rs
  third_party/move/move-prover/bytecode-pipeline/src/number_operation_analysis.rs
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-prover/tests/sources/functional/schema_name.exp
Labels: compiler-v2

#11449 [Compiler-v2] Fix 11422
  third_party/move/move-compiler-v2/src/inliner.rs
Labels: compiler-v2

#11381 [grpc] fix deadlock
  docker/compose/indexer-grpc/docker-compose.yaml
  docker/compose/indexer-grpc/file-store-config.yaml
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/processor.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  ecosystem/indexer-grpc/indexer-grpc-server-framework/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
Labels: CICD:run-e2e-tests

#11299 [compiler] Clean up Move-Model AST visitors and exp_rewriter interfaces
  third_party/move/move-compiler-v2/src/inliner.rs
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-model/src/spec_translator.rs
  third_party/move/move-prover/bytecode-pipeline/src/data_invariant_instrumentation.rs
  third_party/move/move-prover/bytecode-pipeline/src/mono_analysis.rs
  third_party/move/move-prover/bytecode-pipeline/src/number_operation_analysis.rs
Labels: compiler-v2

#11474 [movevm] more validation for sponsored transaction
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/gas.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
Labels: CICD:run-e2e-tests

#11459 [Compiler-v2] Generate a compiler error for global memory operation with incorrect type parameter
  third_party/move/move-compiler-v2/src/bytecode_generator.rs
  third_party/move/move-compiler-v2/tests/ability-checker/ability_violation.exp
  third_party/move/move-compiler-v2/tests/ability-checker/ability_violation.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/global_invalid.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/global_invalid.move
  third_party/move/move-compiler-v2/tests/v1.matched
  third_party/move/move-compiler-v2/tests/v1.unmatched
  third_party/move/move-compiler/tests/move_check/typing/global_invalid.exp
  third_party/move/move-compiler/tests/move_check/typing/global_invalid.move
Labels: compiler-v2

#11423 [indexer grpc] Fix short connection metric
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
Labels: CICD:run-e2e-tests, CICD:build-indexer-images

#11479 [compiler-v2] Add test cases illustrating several VM errors in aptos-transactional-test-harness, eliminate brittle print-scripts
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/borrow_in_loop.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/borrow_in_loop.mvir
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/default_int_size.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/default_int_size.move
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/diamond_clicker.move
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/diamond_clicker_noinline.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/diamond_clicker_noinline.move
  aptos-move/aptos-transactional-test-harness/tests/v2-tests/default_int_size.exp
  aptos-move/aptos-transactional-test-harness/tests/v2-tests/default_int_size.move
  aptos-move/aptos-transactional-test-harness/tests/v2-tests/smoke_test.exp
  aptos-move/aptos-transactional-test-harness/tests/v2-tests/smoke_test.move
Labels: compiler-v2
