Repository aptos-labs/aptos-core, pull requests merged in 2023-11, with the labels that each got.

#10771 [Storage] Add block index support for leader reputation.
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
  storage/aptosdb/src/db_options.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/schema/block_index/mod.rs
  storage/aptosdb/src/schema/block_index/test.rs
  storage/aptosdb/src/schema/mod.rs
  storage/storage-interface/src/lib.rs
Labels: CICD:run-e2e-tests

#10773 [gha] increase code cov job time
  .github/workflows/coverage.yaml
Labels: CICD:run-coverage

#10774 Update release.yaml
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-e2e-tests

#10689 [dag] chain health backoff backpressure
  aptos-move/aptos-vm/src/natives.rs
  config/src/config/dag_consensus_config.rs
  consensus/src/dag/anchor_election/leader_reputation_adapter.rs
  consensus/src/dag/anchor_election/mod.rs
  consensus/src/dag/anchor_election/round_robin.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/round_state.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/order_rule_tests.rs
  consensus/src/epoch_manager.rs
Labels: CICD:run-forge-e2e-perf

#10801 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#10297 [Fuzzing] Add AptosVM fuzzer
  Cargo.lock
  testsuite/fuzzer/.cargo/config.toml
  testsuite/fuzzer/fuzz/Cargo.toml
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run.rs
  testsuite/fuzzer/google-oss-fuzz/build.sh
  testsuite/fuzzer/repro.sh
  testsuite/fuzzer/test-fuzzers.sh
  third_party/move/move-binary-format/Cargo.toml
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-bytecode-verifier/fuzz/Cargo.toml
  third_party/move/move-core/types/Cargo.toml
  third_party/move/move-core/types/src/language_storage.rs
Labels: CICD:run-e2e-tests

#10553 MoveHarness improvements - execution mode and block splitting
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/proptest-regressions/tests/aggregator.txt
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/aggregator.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-tests/src/executor.rs
Labels: CICD:run-e2e-tests

#10817 [trivial] cleaning up code
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/scalar_mul.rs
  aptos-move/framework/src/natives/cryptography/helpers.rs
  aptos-move/framework/src/natives/cryptography/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  aptos-move/framework/src/natives/mod.rs
  types/src/account_config/constants/account.rs
  types/src/account_config/constants/event.rs
  types/src/account_config/constants/mod.rs
  types/src/contract_event.rs
  types/src/event.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/transaction/mod.rs
  types/src/transaction/script.rs
  types/src/transaction/transaction_argument.rs
Labels: CICD:run-e2e-tests

#10845 Fix the cache size to avoid overloading.
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
Labels: CICD:build-images

#10837 txn-emitter: query source account seq num
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
Labels: CICD:build-images

#10841 [refactoring][vm] remove adapter
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/lib.rs
  experimental/execution/ptx-executor/src/runner.rs
Labels: CICD:run-e2e-tests

#10763 [Smoke Tests] Clean up the genesis flow test.
  testsuite/forge/src/backend/local/node.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/genesis.rs
Labels: CICD:run-e2e-tests

#10744 [quorum store][mempool] optimize pulling txns for when many txns are in progress
  consensus/consensus-types/src/common.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/utils.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/test_framework.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#10864 adding flag to adjust polling
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/wrappers.rs
Labels: CICD:run-e2e-tests

#10853 [trivial] remove old execution view
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
Labels: CICD:run-e2e-tests

#10844 [refactoring] improvements for AptosVM
  Cargo.lock
  api/src/transactions.rs
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-tests/src/on_chain_configs.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/e2e-testsuite/src/tests/on_chain_configs.rs
  experimental/execution/ptx-executor/src/runner.rs
  types/src/transaction/mod.rs
  types/src/unit_tests/transaction_test.rs
  vm-validator/Cargo.toml
  vm-validator/src/vm_validator.rs
Labels: CICD:run-e2e-tests

#10789 [aggregator] Fix width of string identifiers
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/tests/test_resolver_with_identifier_mapping.rs
  types/src/aggregator.rs
Labels: CICD:run-e2e-tests

#10872 single-node-performance: update number for coin-transfer on native vm
  testsuite/single_node_performance.py
Labels: CICD:run-e2e-tests

#10891 [Smoke Tests] Add smoke tests for manual fullnode writesets.
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/node.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/test_utils.rs
Labels: CICD:run-e2e-tests

#10963 System transaction internal only
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  crates/aptos-rosetta/src/types/objects.rs
  execution/executor-types/src/parsed_transaction_output.rs
  execution/executor/src/components/chunk_output.rs
  storage/backup/backup-cli/src/backup_types/transaction/analysis.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/lib.rs
  types/src/proptest_types.rs
  types/src/system_txn.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#10972 [Execution] Move the transaction shuffling and dedup to the block preparation phase
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/dag/adapter.rs
  consensus/src/execution_pipeline.rs
  consensus/src/experimental/execution_schedule_phase.rs
  consensus/src/experimental/ordering_state_computer.rs
  consensus/src/experimental/tests/execution_phase_tests.rs
  consensus/src/experimental/tests/test_utils.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
Labels: CICD:build-images

#10988 [e2e testsuite] Fix execution strategy test
  aptos-move/e2e-testsuite/src/tests/execution_strategies.rs
Labels: CICD:run-e2e-tests

#11033 [docker] separate build target for grpc
  docker/builder/README.md
  docker/builder/build-indexer.sh
  docker/builder/build-tools.sh
  docker/builder/builder.Dockerfile
  docker/builder/docker-bake-rust-all.hcl
  docker/builder/indexer-grpc.Dockerfile
  docker/builder/nft-metadata-crawler.Dockerfile
Labels: CICD:build-images

#11043 Update release.yaml
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-e2e-tests

#10760 [Spec]Local Spec of config
  aptos-move/framework/aptos-framework/doc/chain_status.md
  aptos-move/framework/aptos-framework/doc/consensus_config.md
  aptos-move/framework/aptos-framework/doc/execution_config.md
  aptos-move/framework/aptos-framework/doc/gas_schedule.md
  aptos-move/framework/aptos-framework/doc/reconfiguration.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/staking_config.md
  aptos-move/framework/aptos-framework/doc/version.md
  aptos-move/framework/aptos-framework/sources/chain_status.spec.move
  aptos-move/framework/aptos-framework/sources/configs/consensus_config.spec.move
  aptos-move/framework/aptos-framework/sources/configs/execution_config.spec.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.spec.move
  aptos-move/framework/aptos-framework/sources/configs/staking_config.spec.move
  aptos-move/framework/aptos-framework/sources/configs/version.spec.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.spec.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
Labels: move-prover

#10971 propose system transactions
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  aptos-node/src/services.rs
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/consensus-types/src/lib.rs
  consensus/consensus-types/src/proposal_ext.rs
  consensus/src/consensus_provider.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/twins/twins_node.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos/src/genesis/mod.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/smoke-test/src/state_sync.rs
  types/src/on_chain_config/consensus_config.rs
  types/src/on_chain_config/mod.rs
  types/src/proptest_types.rs
  types/src/system_txn.rs
  types/src/system_txn/mod.rs
  types/src/system_txn/pool.rs
Labels: CICD:run-e2e-tests

#10846 [refactoring] connecting simulation and execution APIs
  api/goldens/aptos_api__tests__simulation_test__test_simulate_transaction_with_valid_signature.json
  api/src/tests/mod.rs
  api/src/tests/simulation_test.rs
  api/src/tests/transactions_test.rs
  api/src/transactions.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/lib.rs
Labels: CICD:run-e2e-tests

#10847 [refactoring] Remove version from VM, access path cache, and cloning txn APIs
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-vm/src/access_path_cache.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/e2e-move-tests/src/tests/state_metadata.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-tests/src/lib.rs
  aptos-move/e2e-tests/src/on_chain_configs.rs
  aptos-move/e2e-testsuite/src/tests/on_chain_configs.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  testsuite/single_node_performance.py
Labels: CICD:run-e2e-tests

#11002 [Node Config] Log each config individually.
  Cargo.lock
  aptos-node/src/lib.rs
  config/Cargo.toml
  config/src/config/node_config.rs
Labels: CICD:run-e2e-tests

#11001 [AptosVM] Remove unwrap in respawned session
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
Labels: CICD:run-e2e-tests

#11094 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#11105 [CLI] Bind to 127.0.0.1 for host services in local testnet
  .github/actions/run-faucet-tests/action.yaml
  .github/actions/run-local-testnet/action.yaml
  .github/actions/run-rust-client-tests/action.yaml
  .github/workflows/faucet-tests-main.yaml
  crates/aptos-faucet/core/src/server/run.rs
  crates/aptos-faucet/integration-tests/poetry.lock
  crates/aptos-faucet/integration-tests/pyproject.toml
  crates/aptos/e2e/poetry.lock
  crates/aptos/e2e/pyproject.toml
  crates/aptos/src/node/local_testnet/faucet.rs
  crates/aptos/src/node/local_testnet/mod.rs
  crates/aptos/src/node/local_testnet/node.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  testsuite/smoke-test/src/smoke_test_environment.rs
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:non-required-tests

#11082 Consume system transactions in StateComputer
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/consensus-types/src/quorum_cert.rs
  consensus/consensus-types/src/vote_data.rs
  consensus/src/lib.rs
  consensus/src/state_computer.rs
  consensus/src/state_computer_tests.rs
  consensus/src/transaction_deduper.rs
  execution/executor-types/src/lib.rs
  types/src/block_executor/partitioner.rs
  types/src/ledger_info.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#11048 [Spec] Local specification of aptos_account, aptos_coin, aptos_governance
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/aptos_coin.md
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/sources/aptos_account.spec.move
  aptos-move/framework/aptos-framework/sources/aptos_coin.spec.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
Labels: move-prover
