Repository aptos-labs/aptos-core, pull requests merged in 2023-01, with the labels that each got.

#6018 [Forge] Clean up some of the code in the Forge CLI
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#6013 [Network] Introduce an unified network API for applications.
  Cargo.lock
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  consensus/Cargo.toml
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/experimental/tests/buffer_manager_tests.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/network_tests.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/twins/twins_node.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/integration_tests.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  mempool/src/tests/test_framework.rs
  network/Cargo.toml
  network/builder/Cargo.toml
  network/builder/src/builder.rs
  network/builder/src/dummy.rs
  network/builder/src/test.rs
  network/peer-monitoring-service/client/src/lib.rs
  network/peer-monitoring-service/server/src/network.rs
  network/peer-monitoring-service/server/src/tests.rs
  network/src/application/error.rs
  network/src/application/interface.rs
  network/src/application/mod.rs
  network/src/application/tests.rs
  network/src/error.rs
  network/src/peer_manager/builder.rs
  network/src/protocols/health_checker/builder.rs
  network/src/protocols/health_checker/interface.rs
  network/src/protocols/health_checker/mod.rs
  network/src/protocols/health_checker/test.rs
  network/src/protocols/network/mod.rs
  network/src/testutils/test_node.rs
  state-sync/aptos-data-client/src/aptosnet/mod.rs
  state-sync/aptos-data-client/src/aptosnet/tests.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver_factory.rs
  state-sync/storage-service/client/src/lib.rs
  state-sync/storage-service/server/src/network.rs
  state-sync/storage-service/server/src/tests.rs
Labels: CICD:run-e2e-tests

#6038 [aptos-vm] cleanup
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
Labels: CICD:run-e2e-tests

#6056 [metadata] Only generate V1 module metadata if file format v>=6
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/module_metadata.rs
Labels: CICD:run-e2e-tests

#6062 [Dockerfile] Pin llvm and clang dependency version in validator-testing image
  docker/rust-all.Dockerfile
Labels: CICD:run-e2e-tests

#5744 publish and use module in txn emitter
  Cargo.lock
  Cargo.toml
  crates/transaction-emitter-lib/Cargo.toml
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/publish_modules.rs
  crates/transaction-emitter-lib/src/transaction_generator/publishing/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/publishing/module_simple.rs
  crates/transaction-emitter-lib/src/transaction_generator/publishing/publish_util.rs
  crates/transaction-emitter-lib/src/transaction_generator/publishing/raw_module_data.rs
  testsuite/module-publish/Cargo.toml
  testsuite/module-publish/src/main.rs
  testsuite/module-publish/src/packages/simple/Move.toml
  testsuite/module-publish/src/packages/simple/sources/Simple.move
  testsuite/smoke-test/src/txn_emitter.rs
Labels: CICD:run-e2e-tests

#6066 [Aptos Runtimes] Add a small crate that spawns named runtimes.
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/runtime.rs
  aptos-node/Cargo.toml
  aptos-node/src/network.rs
  aptos-node/src/state_sync.rs
  consensus/Cargo.toml
  consensus/src/consensus_provider.rs
  consensus/src/test_utils/mod.rs
  consensus/src/twins/twins_node.rs
  crates/aptos-rosetta/Cargo.toml
  crates/aptos-rosetta/src/lib.rs
  crates/aptos-runtimes/Cargo.toml
  crates/aptos-runtimes/src/lib.rs
  crates/aptos-telemetry/Cargo.toml
  crates/aptos-telemetry/src/service.rs
  crates/indexer/Cargo.toml
  crates/indexer/src/runtime.rs
  crates/inspection-service/Cargo.toml
  crates/inspection-service/src/inspection_service.rs
  mempool/Cargo.toml
  mempool/src/shared_mempool/runtime.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  mempool/src/tests/shared_mempool_test.rs
  state-sync/inter-component/consensus-notifications/Cargo.toml
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/inter-component/mempool-notifications/Cargo.toml
  state-sync/inter-component/mempool-notifications/src/lib.rs
  state-sync/state-sync-v2/state-sync-driver/Cargo.toml
  state-sync/state-sync-v2/state-sync-driver/src/driver_factory.rs
  storage/backup/backup-service/Cargo.toml
  storage/backup/backup-service/src/lib.rs
  testsuite/smoke-test/src/txn_emitter.rs
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests

#6083 [helm/docker] enable pyroscope profiling on forge
  docker/rust-all.Dockerfile
  terraform/aptos-node/aws/kubernetes.tf
  terraform/aptos-node/azure/kubernetes.tf
  terraform/aptos-node/gcp/kubernetes.tf
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/aptos-node/values.yaml
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/backend/k8s/mod.rs
Labels: CICD:run-e2e-tests

#6131 cherry-pick experimental forge & GCP changes
  docker/rust-all.Dockerfile
  terraform/aptos-node/aws/kubernetes.tf
  terraform/aptos-node/azure/kubernetes.tf
  terraform/aptos-node/gcp/kubernetes.tf
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/securitypolicy.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/aptos-node/values.yaml
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge-test-runner-template.yaml
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/backend/k8s/mod.rs
Labels: CICD:run-e2e-tests

#5991 [docker] release validator-testing image internally with new tag
  docker/release-images.mjs
Labels: CICD:run-e2e-tests

#5613 [QuorumStore] Batch Aggregator and tests
  consensus/src/quorum_store/batch_aggregator.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/mod.rs
  consensus/src/quorum_store/tests/batch_aggregator_test.rs
  consensus/src/quorum_store/tests/mod.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
Labels: CICD:run-e2e-tests

#6134 [crash-handler] Ignore crashed from verifier
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  crates/crash-handler/Cargo.toml
  crates/crash-handler/src/lib.rs
Labels: CICD:run-e2e-tests

#6156 Update commit hash from aptos-v1.2.0
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  crates/indexer/src/util.rs
Labels: CICD:run-e2e-tests

#6175 [aptos-vm] Guard usage of new metadata by VM_BINARY_FORMNAT_V6 feature fkag
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/framework/src/module_metadata.rs
Labels: CICD:run-e2e-tests

#6177 [aptos-vm] Guard usage of new metadata by VM_BINARY_FORMNAT_V6 feature flag (#6175)
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/framework/src/module_metadata.rs
Labels: CICD:run-e2e-tests

#6182 cherry-pick Dockerfile testing image build failure fix
  docker/rust-all.Dockerfile
Labels: CICD:run-e2e-tests

#6179 [gh-workflow] invoke consensus-only-unit-test job on label
  .github/workflows/lint-test.yaml
Labels: CICD:run-e2e-tests

#6044 Add current_table_items and event index. Also clean up some code in default_processor
  crates/indexer/migrations/2022-12-29-222902_curr_table_items/down.sql
  crates/indexer/migrations/2022-12-29-222902_curr_table_items/up.sql
  crates/indexer/src/models/coin_models/coin_activities.rs
  crates/indexer/src/models/events.rs
  crates/indexer/src/models/move_tables.rs
  crates/indexer/src/models/token_models/token_activities.rs
  crates/indexer/src/models/write_set_changes.rs
  crates/indexer/src/processors/coin_processor.rs
  crates/indexer/src/processors/default_processor.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
Labels: CICD:build-images

#6241 enable cryptography features and type_info::chain_id() feature in Move
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#6213 [State Sync] Add 3 more tests to the storage service.
  state-sync/storage-service/server/src/tests.rs
Labels: CICD:run-e2e-tests

#6234 [Network] Clean up uses of LockingHashmap and the health checker.
  mempool/src/shared_mempool/network.rs
  network/peer-monitoring-service/server/src/tests.rs
  network/src/application/storage.rs
  network/src/application/tests.rs
  network/src/protocols/health_checker/interface.rs
  network/src/protocols/health_checker/mod.rs
  network/src/testutils/test_node.rs
  state-sync/aptos-data-client/src/aptosnet/tests.rs
Labels: CICD:run-e2e-tests

#6226 [Performance] Add instrumentation for time spent in various stages of…
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/counters.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/view.rs
  storage/storage-interface/src/cached_state_view.rs
Labels: CICD:run-e2e-tests

#6195 Add storage only benchmark.
  Cargo.lock
  api/test-context/src/test_context.rs
  consensus/src/consensus_provider.rs
  consensus/src/state_computer.rs
  execution/executor-benchmark/Cargo.toml
  execution/executor-benchmark/benches/executor_benchmark.rs
  execution/executor-benchmark/src/benchmark_transaction.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/fake_executor.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
  execution/executor-benchmark/src/pipeline.rs
  execution/executor-benchmark/src/transaction_committer.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-benchmark/src/transaction_generator.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
Labels: CICD:run-e2e-tests

#5921 [Parallel Executor] Block executor output and mvhashmap/resolver refactoring
  CODEOWNERS
  Cargo.lock
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/output_delta_resolver.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
Labels: CICD:run-e2e-tests

#6209 [testsuite] e2e test and fee distribution fix
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/components/transaction_fee.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/disable_collection/Move.toml
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/disable_collection/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/enable_collection/Move.toml
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/enable_collection/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/initialize_collection/Move.toml
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/initialize_collection/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/remove_validator/Move.toml
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/remove_validator/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/upgrade_burn_percentage/Move.toml
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/upgrade_burn_percentage/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.rs
  aptos-move/e2e-move-tests/src/transaction_fee.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/doc/fee_distribution.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#6146 Make account minting more reliable
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/transaction_executor.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
  crates/transaction-emitter-lib/src/wrappers.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#6082 Add txn emitter phases and generic configuration
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/stats.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  crates/transaction-emitter-lib/src/lib.rs
  crates/transaction-emitter-lib/src/transaction_generator/account_generator.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/transaction_mix_generator.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  terraform/helm/node-health-checker/files/nhc_baseline_fullnode.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/smoke-test/src/consensus/consensus_only.rs
  testsuite/smoke-test/src/txn_emitter.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/two_traffics_test.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#6104 move function for writing 32bytes resource
  crates/transaction-emitter-lib/src/transaction_generator/publishing/module_simple.rs
  crates/transaction-emitter-lib/src/transaction_generator/publishing/raw_module_data.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  testsuite/forge-cli/src/main.rs
  testsuite/module-publish/src/packages/simple/sources/Simple.move
  testsuite/smoke-test/src/txn_emitter.rs
Labels: CICD:build-images

#6335 [move] Update to the latest Move commit
  Cargo.lock
  Cargo.toml
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
  aptos-move/framework/move-stdlib/doc/fixed_point32.md
  aptos-move/framework/move-stdlib/sources/fixed_point32.move
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/move-stdlib/tests/bcs_tests.move
  aptos-move/framework/move-stdlib/tests/bit_vector_tests.move
  aptos-move/framework/move-stdlib/tests/fixedpoint32_tests.move
  aptos-move/framework/move-stdlib/tests/option_tests.move
  aptos-move/framework/move-stdlib/tests/string_tests.move
  aptos-move/framework/move-stdlib/tests/vector_tests.move
  aptos-move/framework/tests/move_unit_test.rs
  crates/aptos/src/node/mod.rs
  crates/indexer/src/models/coin_models/coin_activities.rs
  crates/transaction-emitter/src/diag.rs
Labels: CICD:run-e2e-tests

#6348 [build-info] Recompute shadow_rs on Git changes
  crates/aptos-build-info/build.rs
Labels: CICD:run-e2e-tests

#6187 Test different workloads (transaction types) to see TPS achieved
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/accounts_pool_wrapper.rs
  crates/transaction-emitter-lib/src/transaction_generator/call_custom_modules.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  testsuite/forge-cli/src/main.rs
  testsuite/smoke-test/src/txn_emitter.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Labels: CICD:run-e2e-tests

#6362 [inlining] Update move commit for getting bug fix
  Cargo.lock
  Cargo.toml
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
Labels: CICD:run-e2e-tests

#6349 [VM] Update execution logic to invalidate loader cache upon all partial errors when there's a code publish
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_init_module_failed/Move.toml
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_init_module_failed/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_init_module_second_attempt/Move.toml
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_init_module_second_attempt/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.rs
Labels: CICD:run-e2e-tests

#6372 [gha][docker-buildx-setup] bump version to fix 191
  .github/actions/docker-buildx-setup/action.yaml
Labels: CICD:build-images

#6079 [Parallel Executor] Rolling Commit
  Cargo.lock
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
Labels: CICD:run-e2e-tests

#6353 [Monitoring] Emit prometheus metrics for hostname and git sha
  Cargo.lock
  crates/node-resource-metrics/Cargo.toml
  crates/node-resource-metrics/src/collectors/basic_node_info_collector.rs
  crates/node-resource-metrics/src/collectors/cpu_metrics_collector.rs
  crates/node-resource-metrics/src/collectors/mod.rs
  crates/node-resource-metrics/src/lib.rs
Labels: CICD:run-e2e-tests

#6397 [gha] pin setup-buildx-action to v2.4.0
  .github/actions/docker-buildx-setup/action.yaml
Labels: CICD:build-images

#6405 [telemetry-svc] Ingest metrics from unknown nodes
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/mod.rs
Labels: CICD:run-e2e-tests

#6409 [module metadata] use u8 instead of u16 to represent known attribute kind
  aptos-move/e2e-move-tests/src/tests/attributes.rs
  aptos-move/framework/src/module_metadata.rs
Labels: CICD:run-e2e-tests
