Repository aptos-labs/aptos-core, pull requests merged in 2024-08, with the labels that each got.

#14151 update deps installed in runs-on image
  .github/runs-on.yml
  buildtools/packer/aws-ubuntu.pkr.hcl
  scripts/dev_setup.sh
Labels: CICD:run-all-unit-tests

#14092 PFNs load balancing mempool traffic to multiple VFNs based on sender hash
  config/src/config/mempool_config.rs
  config/src/config/mod.rs
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/mod.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/priority.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/node.rs
  mempool/src/tests/shared_mempool_test.rs
  mempool/src/tests/test_framework.rs
Labels: CICD:run-e2e-tests

#14052 remove dev_setup from lint-test workflow
  .github/actions/move-tests-compiler-v2/action.yaml
  .github/actions/rust-doc-tests/action.yaml
  .github/actions/rust-lints/action.yaml
  .github/actions/rust-smoke-tests/action.yaml
  .github/actions/rust-targeted-unit-tests/action.yaml
  .github/actions/rust-unit-tests/action.yaml
  .github/workflows/lint-test.yaml
Labels: CICD:run-all-unit-tests

#14185 [move] Change interpreter to use loaded func and improve scoping
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/debug.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/move-vm/runtime/src/tracing.rs
Labels: CICD:run-e2e-tests

#14207 [CI/CD] Increase merge base check for v1.18 release branch.
  devtools/aptos-cargo-cli/src/common.rs
Labels: CICD:run-e2e-tests

#14200 Fix execution summary being set twice, due to execution retry
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/counters.rs
  consensus/src/pipeline/buffer_manager.rs
Labels: CICD:run-e2e-tests, CICD:run-forge-e2e-perf

#14213 Add more context to consensus config sanitizer output
  config/src/config/consensus_config.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:build-images, v1.18

#14216 [consensus] Downgrade error!() from channel closing in pipeline execution
  consensus/src/counters.rs
  consensus/src/execution_pipeline.rs
  consensus/src/pipeline/buffer_manager.rs
Labels: v1.18

#14224 wait for all futs to clear from ExecutionPipeline before dropping lif…
  consensus/src/execution_pipeline.rs
  consensus/src/pipeline/execution_schedule_phase.rs
Labels: v1.18

#14230 [consensus] Proposal generator: fetch only to round-up over max_to_execute
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/test_utils/mock_payload_manager.rs
Labels: CICD:run-forge-e2e-perf, v1.18

#14237 [compiler-v2] Complete implementation of enum field selection
  third_party/move/move-compiler-v2/src/bytecode_generator.rs
  third_party/move/move-compiler-v2/tests/bytecode-generator/matching_ok.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/matching_ok.move
  third_party/move/move-compiler-v2/tests/checking/positional_fields/common_access.exp
  third_party/move/move-compiler-v2/tests/checking/positional_fields/invalid_common_access.exp
  third_party/move/move-compiler-v2/tests/checking/positional_fields/invalid_common_access.move
  third_party/move/move-compiler-v2/tests/checking/variants/variants_check_err.exp
  third_party/move/move-compiler-v2/tests/checking/variants/variants_check_err.move
  third_party/move/move-compiler-v2/tests/checking/variants/variants_ok.exp
  third_party/move/move-compiler-v2/tests/checking/variants/variants_ok.move
  third_party/move/move-compiler-v2/tests/file-format-generator/struct_variants.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/struct_variants.move
  third_party/move/move-compiler-v2/tests/file-format-generator/struct_variants.opt.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_field_select_different_offsets.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_field_select_different_offsets.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_field_select_different_offsets.no-optimize.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_field_select_different_offsets.optimize-no-simplify.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_field_select_different_offsets.optimize.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/builder/model_builder.rs
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#14226 Enable FA for APT for regression single node benchmark
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/p2p_transaction_generator.rs
  execution/executor-benchmark/src/lib.rs
  testsuite/single_node_performance.py
  testsuite/smoke-test/src/consensus/quorum_store_fault_tolerance.rs
  testsuite/smoke-test/src/rest_api.rs
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#14051 Add LCM algorithm to math library
  aptos-move/framework/aptos-stdlib/doc/math128.md
  aptos-move/framework/aptos-stdlib/doc/math64.md
  aptos-move/framework/aptos-stdlib/sources/math128.move
  aptos-move/framework/aptos-stdlib/sources/math64.move
Labels: move-framework

#14279 Recalibrate for FA, and check for node validation
  testsuite/performance_benchmark.sh
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test

#14166 [qs] Merge BatchQueue into ProofQueue
  consensus/consensus-types/src/utils.rs
  consensus/src/quorum_store/batch_proof_queue.rs
  consensus/src/quorum_store/mod.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/batch_proof_queue_test.rs
  consensus/src/quorum_store/tests/mod.rs
  consensus/src/quorum_store/utils.rs
Labels: CICD:run-forge-e2e-perf

#14165 [Feature] [Compiler-V2] Dotdot Syntax
  third_party/move/move-compiler-v2/tests/checking/dotdot/assign0.exp
  third_party/move/move-compiler-v2/tests/checking/dotdot/assign0.move
  third_party/move/move-compiler-v2/tests/checking/dotdot/assign1.exp
  third_party/move/move-compiler-v2/tests/checking/dotdot/assign1.move
  third_party/move/move-compiler-v2/tests/checking/dotdot/dotdot_ambiguious.exp
  third_party/move/move-compiler-v2/tests/checking/dotdot/dotdot_ambiguious.move
  third_party/move/move-compiler-v2/tests/checking/dotdot/dotdot_valid.exp
  third_party/move/move-compiler-v2/tests/checking/dotdot/dotdot_valid.move
  third_party/move/move-compiler-v2/tests/checking/dotdot/dotdot_wrong_pos0.exp
  third_party/move/move-compiler-v2/tests/checking/dotdot/dotdot_wrong_pos0.move
  third_party/move/move-compiler-v2/tests/checking/dotdot/extra_dotdot.exp
  third_party/move/move-compiler-v2/tests/checking/dotdot/extra_dotdot.move
  third_party/move/move-compiler-v2/tests/checking/dotdot/field_update_not_supported.exp
  third_party/move/move-compiler-v2/tests/checking/dotdot/field_update_not_supported.move
  third_party/move/move-compiler-v2/tests/checking/positional_fields/bind_anonymous_field_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/typing/v1-commands/unpack_missing_binding.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/dotdot/nested.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/dotdot/nested.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/dotdot/projection.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/dotdot/projection.move
  third_party/move/move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler/src/expansion/dependency_ordering.rs
  third_party/move/move-compiler/src/expansion/translate.rs
  third_party/move/move-compiler/src/naming/translate.rs
  third_party/move/move-compiler/src/parser/ast.rs
  third_party/move/move-compiler/src/parser/syntax.rs
  third_party/move/move-compiler/tests/move_check/parser/dotdot_not_supported.exp
  third_party/move/move-compiler/tests/move_check/parser/dotdot_not_supported.move
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/lib.rs
  third_party/move/move-model/src/ty.rs
Labels: compiler-v2

#13604 [pipeline] pre commit
  Cargo.lock
  consensus/consensus-types/Cargo.toml
  consensus/consensus-types/src/lib.rs
  consensus/consensus-types/src/pipeline_execution_result.rs
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/execution_pipeline.rs
  consensus/src/pipeline/execution_schedule_phase.rs
  consensus/src/pipeline/pipeline_phase.rs
  consensus/src/state_computer.rs
  consensus/src/state_computer_tests.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/internal_indexer_db_service.rs
  execution/executor-benchmark/src/ledger_update_stage.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/transaction_committer.rs
  execution/executor-types/src/ledger_update_output.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_commit_queue.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/internal_indexer_test.rs
  peer-monitoring-service/server/src/tests.rs
  state-sync/aptos-data-client/src/latency_monitor.rs
  state-sync/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-driver/src/continuous_syncer.rs
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/tests/bootstrapper.rs
  state-sync/state-sync-driver/src/tests/continuous_syncer.rs
  state-sync/state-sync-driver/src/tests/mocks.rs
  state-sync/state-sync-driver/src/utils.rs
  state-sync/storage-service/server/src/tests/mock.rs
  storage/aptosdb/src/backup/restore_handler.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/db/fake_aptosdb.rs
  storage/aptosdb/src/db/include/aptosdb_internal.rs
  storage/aptosdb/src/db/include/aptosdb_reader.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/state_kv/get_value.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/ledger_db/ledger_metadata_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/src/backup_types/tests.rs
  storage/backup/backup-cli/src/backup_types/transaction/tests.rs
  storage/indexer/src/db_indexer.rs
  storage/storage-interface/src/lib.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#13185 fix some typos.
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/tests/compiler-v2-doc/account.md
  aptos-move/framework/aptos-framework/tests/compiler-v2-doc/staking_contract.md
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Labels: move-framework

#14371 Enable include_ready_time_in_broadcast flag for VFNs
  config/src/config/mempool_config.rs
Labels: CICD:run-e2e-tests

#14307 Separate out collection creator and owner permissions
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-token-objects/doc/collection.md
  aptos-move/framework/aptos-token-objects/doc/token.md
  aptos-move/framework/aptos-token-objects/sources/collection.move
  aptos-move/framework/aptos-token-objects/sources/token.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  types/src/on_chain_config/aptos_features.rs
Labels: v1.18

#14314 [consensus] cancellation safety in payload manager
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/payload.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/payload_manager.rs
  consensus/src/round_manager.rs
  execution/executor-types/src/error.rs
Labels: CICD:run-forge-e2e-perf

#14388 [forge] use default syncing mode for working quorum test
  testsuite/forge-cli/src/main.rs
Labels: CICD:build-images, CICD:build-failpoints-images, CICD:run-forge-e2e-perf

#14405 [qs][fix] return full status in ProofBatchQueue::pull_internal
  consensus/src/quorum_store/batch_proof_queue.rs
Labels: CICD:run-e2e-tests

#14301 add option to retain all forge logs
  .github/workflows/workflow-run-forge.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/forge-cli/src/main.rs
  testsuite/forge-test-runner-template.yaml
  testsuite/forge.py
  testsuite/forge/src/runner.rs
  testsuite/forge_test.py
Labels: CICD:build-images

#14393 [State Sync] Add metrics and logs for pipeline backpressure.
  execution/executor-types/src/lib.rs
  state-sync/state-sync-driver/src/metrics.rs
  state-sync/state-sync-driver/src/storage_synchronizer.rs
Labels: CICD:run-e2e-tests

#14442 trivial refacor: seperate LayeredMap::new_layer() code out
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
Labels: CICD:run-e2e-tests

#14468 [forge] add P70 latency stat
  crates/transaction-emitter-lib/src/emitter/stats.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/success_criteria.rs
Labels: CICD:run-e2e-tests

#14462 [cli] Preparing release 4.1.0
  Cargo.lock
  aptos-move/e2e-move-tests/src/tests/metadata.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
  third_party/move/move-compiler-v2/src/file_format_generator/module_generator.rs
  third_party/move/move-compiler-v2/src/options.rs
  third_party/move/move-compiler-v2/tests/checking-lang-v1/acquires_list_generic.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v1/assert_one_arg.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v1/conditional_global_operations.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v1/receiver_calls.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v1/v1-typing/invalid_type_acquire.exp
  third_party/move/move-model/src/metadata.rs
  third_party/move/move-prover/src/cli.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
  third_party/move/tools/move-package/src/compilation/model_builder.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test
