Repository aptos-labs/aptos-core, pull requests merged in 2024-06, with the labels that each got.

#13535 Cherry pick Install Google Cloud CLI in the tools image
  docker/builder/tools.Dockerfile
Labels: CICD:build-images

#13548 install pigz in tools image
  docker/builder/tools.Dockerfile
Labels: CICD:build-images

#13563 Enable order vote feature at genesis
  types/src/on_chain_config/consensus_config.rs
Labels: CICD:run-e2e-tests

#13511 Examples of using is_at_least and providing such handling for TokenV2 collections
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
  aptos-move/move-examples/aggregator_examples/Move.toml
  aptos-move/move-examples/aggregator_examples/sources/counter_with_milestone.move
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  execution/executor-benchmark/src/lib.rs
  testsuite/module-publish/src/main.rs
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#12947 [telemetry-svc] optional bearer token for metrics client
  Cargo.lock
  crates/aptos-telemetry-service/src/clients/mod.rs
  crates/aptos-telemetry-service/src/lib.rs
Labels: CICD:build-images

#13587 db-backup: state snapshot backup pipelined
  Cargo.lock
  consensus/consensus-types/src/wrapped_ledger_info.rs
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/metrics/backup.rs
Labels: CICD:build-images

#13273 [Fungible Asset] Add bonding curve fungible asset launchpad
  aptos-move/move-examples/bonding_curve_launchpad/Move.toml
  aptos-move/move-examples/bonding_curve_launchpad/README.md
  aptos-move/move-examples/bonding_curve_launchpad/sources/bonding_curve_launchpad.move
  aptos-move/move-examples/bonding_curve_launchpad/sources/liquidity_pairs.move
  aptos-move/move-examples/bonding_curve_launchpad/sources/tests/test_bonding_curve_launchpad.move
  aptos-move/move-examples/bonding_curve_launchpad/sources/tests/test_liquidity_pairs.move
Labels: move

#13133 [Block Executor] Parallelize resource group accesses
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
  testsuite/single_node_performance.py
Labels: CICD:run-e2e-tests, CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#13531 [mempool] add a delay when broadcasting txns to failover nodes
  config/src/config/mempool_config.rs
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/shared_mempool_test.rs
Labels: CICD:run-forge-e2e-perf

#13605 Fix the VerifyError in forge tests
  consensus/src/round_manager.rs
Labels: CICD:run-e2e-tests

#13612 [Consensus Observer] Various improvements, including basic subscription support.
  Cargo.lock
  aptos-node/src/consensus.rs
  aptos-node/src/lib.rs
  aptos-node/src/network.rs
  aptos-node/src/services.rs
  config/src/config/consensus_observer_config.rs
  consensus/Cargo.toml
  consensus/src/consensus_observer/error.rs
  consensus/src/consensus_observer/logging.rs
  consensus/src/consensus_observer/metrics.rs
  consensus/src/consensus_observer/mod.rs
  consensus/src/consensus_observer/network.rs
  consensus/src/consensus_observer/network_client.rs
  consensus/src/consensus_observer/network_events.rs
  consensus/src/consensus_observer/network_message.rs
  consensus/src/consensus_observer/observer.rs
  consensus/src/consensus_observer/publisher.rs
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/payload_manager.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/decoupled_execution_utils.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  crates/aptos-compression/src/client.rs
  network/framework/src/protocols/wire/handshake/v1/mod.rs
  testsuite/generate-format/tests/staged/network.yaml
Labels: CICD:run-e2e-tests

#11298 Add BlockEpilogue (replaces StateCheckpoint), with BlockEndInfo
  api/src/context.rs
  api/types/src/convert.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/e2e-testsuite/proptest-regressions/tests/account_universe/mod.txt
  consensus/src/block_storage/block_store.rs
  consensus/src/pipeline/tests/test_utils.rs
  crates/aptos-rosetta/src/types/objects.rs
  execution/executor-benchmark/src/native_executor.rs
  execution/executor-types/src/ledger_update_output.rs
  execution/executor-types/src/lib.rs
  execution/executor-types/src/parsed_transaction_output.rs
  execution/executor-types/src/state_checkpoint_output.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/src/tests/mod.rs
  experimental/execution/ptx-executor/src/lib.rs
  storage/aptosdb/src/db/include/aptosdb_testonly.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
  storage/aptosdb/src/db/test_helper.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/src/backup_types/transaction/analysis.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/src/lib.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/smoke-test/src/execution.rs
  testsuite/smoke-test/src/utils.rs
  types/src/on_chain_config/execution_config.rs
  types/src/proptest_types.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/block_output.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#13623 [gha] upgrade and fix windows builder
  .github/workflows/windows-build.yaml
  scripts/windows_dev_setup.ps1
Labels: CICD:run-windows-tests

#13611 add region and country labels to telemetry service metrics
  Cargo.lock
  Cargo.toml
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/metrics.rs
  crates/aptos-telemetry-service/src/peer_location.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  ecosystem/node-checker/fn-check-client/src/big_query.rs
Labels: CICD:build-images

#13483 Strengthen SchemaIterator with IncompleteResult and tests
  consensus/src/consensusdb/mod.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/rand/rand_gen/storage/db.rs
  storage/aptosdb/src/backup/restore_handler.rs
  storage/aptosdb/src/db/include/aptosdb_reader.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/state_kv/get_value.rs
  storage/aptosdb/src/db_debugger/state_kv/scan_snapshot.rs
  storage/aptosdb/src/db_debugger/state_tree/get_leaf.rs
  storage/aptosdb/src/db_debugger/state_tree/get_path.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/event_store/mod.rs
  storage/aptosdb/src/ledger_db/event_db.rs
  storage/aptosdb/src/ledger_db/ledger_metadata_db.rs
  storage/aptosdb/src/ledger_db/transaction_auxiliary_data_db.rs
  storage/aptosdb/src/ledger_db/transaction_db.rs
  storage/aptosdb/src/ledger_db/transaction_info_db.rs
  storage/aptosdb/src/ledger_db/write_set_db.rs
  storage/aptosdb/src/pruner/ledger_pruner/ledger_metadata_pruner.rs
  storage/aptosdb/src/pruner/ledger_pruner/transaction_pruner.rs
  storage/aptosdb/src/pruner/state_kv_pruner/state_kv_metadata_pruner.rs
  storage/aptosdb/src/pruner/state_kv_pruner/state_kv_shard_pruner.rs
  storage/aptosdb/src/pruner/state_merkle_pruner/mod.rs
  storage/aptosdb/src/pruner/state_merkle_pruner/test.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/transaction_store/mod.rs
  storage/aptosdb/src/utils/iterators.rs
  storage/aptosdb/src/utils/truncation_helper.rs
  storage/schemadb/src/lib.rs
  storage/schemadb/tests/db.rs
  storage/schemadb/tests/iterator.rs
  storage/storage-interface/src/errors.rs
Labels: CICD:run-e2e-tests

#13633 [pipeline] better retry for execution error
  consensus/src/block_preparer.rs
  consensus/src/pipeline/buffer_manager.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
Labels: CICD:run-e2e-tests

#13028 [move] Type builder & fix calculation of node count in types
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-gas-schedule/src/ver.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/gas.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  third_party/move/move-vm/integration-tests/src/tests/regression_tests.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_access_specifiers_prop_tests.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/vm/configs.rs
Labels: CICD:run-e2e-tests

#13670 [gha][fix] fix windows build workflow
  .github/workflows/windows-build.yaml
Labels: CICD:run-windows-tests

#13391 [gas] generate delta when upgrading the gas schedule
  Cargo.lock
  api/src/context.rs
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/gas.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/main.rs
  aptos-move/aptos-release-builder/src/validate.rs
  aptos-move/aptos-vm/src/gas.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/gas.rs
  aptos-move/framework/aptos-framework/doc/gas_schedule.md
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.spec.move
  testsuite/smoke-test/src/rosetta.rs
  testsuite/smoke-test/src/upgrade.rs
  types/src/on_chain_config/gas_schedule.rs
  types/src/on_chain_config/mod.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#13639 [move] Fix gas traversal for special addresses
  third_party/move/move-vm/runtime/src/loader/mod.rs
Labels: bug

#13471 Add BlockEpilogue transaction to the API
  api/doc/spec.json
  api/doc/spec.yaml
  api/types/src/convert.rs
  api/types/src/transaction.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos/src/common/types.rs
  crates/indexer/src/indexer/fetcher.rs
  crates/indexer/src/models/transactions.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/typescript/src/aptos/transaction/v1/transaction.ts
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/smoke-test/src/rosetta.rs
  third_party/move/move-vm/paranoid-tests/tests/ability/drop/eq_3.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/primitives/address.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/primitives/bool.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/primitives/u128.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/primitives/u16.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/primitives/u256.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/primitives/u32.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/primitives/u64.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/primitives/u8.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/borrow_field.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/borrow_field_generic.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/borrow_global.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/borrow_global_generic.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/freeze_ref.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/write_ref_with_struct.exp
  third_party/move/move-vm/paranoid-tests/tests/type_safety/references/write_ref_with_vector.exp
  types/src/on_chain_config/execution_config.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#13682 [api] print SingleSender signature / key variants
  api/goldens/aptos_api__tests__secp256k1_ecdsa__test_multi_secp256k1_ecdsa.json
  api/goldens/aptos_api__tests__secp256k1_ecdsa__test_secp256k1_ecdsa.json
  api/src/tests/secp256k1_ecdsa.rs
  api/src/transactions.rs
  api/types/src/convert.rs
  api/types/src/transaction.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#13697 [api] oops i broke it again
  api/doc/spec.json
  api/doc/spec.yaml
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/BlockEndInfo.ts
  ecosystem/typescript/sdk/src/generated/models/BlockEpilogueTransaction.ts
  ecosystem/typescript/sdk/src/generated/models/Ed25519.ts
  ecosystem/typescript/sdk/src/generated/models/Keyless.ts
  ecosystem/typescript/sdk/src/generated/models/PublicKey.ts
  ecosystem/typescript/sdk/src/generated/models/PublicKey_Ed25519.ts
  ecosystem/typescript/sdk/src/generated/models/PublicKey_Keyless.ts
  ecosystem/typescript/sdk/src/generated/models/PublicKey_Secp256k1Ecdsa.ts
  ecosystem/typescript/sdk/src/generated/models/PublicKey_Secp256r1Ecdsa.ts
  ecosystem/typescript/sdk/src/generated/models/Secp256k1Ecdsa.ts
  ecosystem/typescript/sdk/src/generated/models/Secp256r1Ecdsa.ts
  ecosystem/typescript/sdk/src/generated/models/Signature.ts
  ecosystem/typescript/sdk/src/generated/models/Signature_Ed25519.ts
  ecosystem/typescript/sdk/src/generated/models/Signature_Keyless.ts
  ecosystem/typescript/sdk/src/generated/models/Signature_Secp256k1Ecdsa.ts
  ecosystem/typescript/sdk/src/generated/models/Signature_WebAuthn.ts
  ecosystem/typescript/sdk/src/generated/models/Transaction.ts
  ecosystem/typescript/sdk/src/generated/models/Transaction_BlockEpilogueTransaction.ts
  ecosystem/typescript/sdk/src/generated/models/WebAuthn.ts
Labels: CICD:run-e2e-tests

#13568 [consensus] send to distant peers first on broadcast
  Cargo.lock
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/dag_network_test.rs
  consensus/src/dag/tests/dag_state_sync_tests.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/pipeline/commit_reliable_broadcast.rs
  crates/aptos-jwk-consensus/src/network.rs
  crates/aptos-jwk-consensus/src/network_interface.rs
  crates/reliable-broadcast/src/lib.rs
  crates/reliable-broadcast/src/tests.rs
  dkg/src/network.rs
  dkg/src/network_interface.rs
  mempool/src/shared_mempool/priority.rs
  network/framework/src/application/interface.rs
  network/framework/src/application/metadata.rs
  network/framework/src/application/storage.rs
  network/framework/src/counters.rs
  peer-monitoring-service/client/src/tests/utils.rs
  peer-monitoring-service/server/src/lib.rs
  state-sync/aptos-data-client/src/tests/utils.rs
  state-sync/aptos-data-client/src/utils.rs
Labels: CICD:run-forge-e2e-perf

#13358 Remove unnecessary commit decision broadcast
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
Labels: CICD:run-e2e-tests

#13694 Remove duplicate prefetching
  consensus/src/payload_manager.rs
Labels: CICD:run-e2e-tests

#13621 [GRPC] Enable data service ZSTD and update crate that uses old tonic
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/runtime.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/in_memory_cache.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Labels: CICD:build-images

#13576 13521 [bug] - `Post Mint Reveal NFT` - Generalizing Testcases
  aptos-move/move-examples/post_mint_reveal_nft/sources/minting.move
Labels: bug

#13713 Fix Rust Lint
  keyless/common/src/input_processing/bits.rs
  keyless/common/src/input_processing/circuit_input_signals.rs
  keyless/common/src/input_processing/config.rs
  keyless/common/src/input_processing/encoding.rs
  keyless/common/src/input_processing/sha.rs
  keyless/common/src/input_processing/witness_gen.rs
  keyless/pepper/service/src/account_managers.rs
  types/src/jwks/patch/mod.rs
Labels: CICD:run-all-unit-tests

#13629 New BytesSender that does the sync - async world adaption
  Cargo.lock
  storage/backup/backup-service/Cargo.toml
  storage/backup/backup-service/src/handlers/bytes_sender.rs
  storage/backup/backup-service/src/handlers/mod.rs
  storage/backup/backup-service/src/handlers/utils.rs
Labels: CICD:build-images

#13739 [network] make parallel deserialization in-order
  aptos-node/src/network.rs
  consensus/src/dag/tests/integration_tests.rs
  consensus/src/network_tests.rs
  consensus/src/round_manager_test.rs
  consensus/src/twins/twins_node.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  mempool/src/tests/test_framework.rs
  network/builder/src/builder.rs
  network/builder/src/dummy.rs
  network/framework/src/application/tests.rs
  network/framework/src/protocols/health_checker/test.rs
  network/framework/src/protocols/network/mod.rs
  peer-monitoring-service/server/src/tests.rs
  state-sync/storage-service/server/src/tests/mock.rs
Labels: CICD:run-forge-e2e-perf

#13658 switch high-perf-docker to runs-on.com runners
  .github/actionlint.yaml
  .github/workflows/cli-e2e-tests.yaml
  .github/workflows/coverage-move-only.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docker-build-rosetta.yaml
  .github/workflows/faucet-tests-main.yaml
  .github/workflows/faucet-tests-prod.yaml
  .github/workflows/find-packages-with-undeclared-feature-dependencies.yaml
  .github/workflows/indexer-grpc-integration-tests.yaml
  .github/workflows/keyless-circuit-daily-test.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/move-test-compiler-v2.yaml
  .github/workflows/node-api-compatibility-tests.yaml
  .github/workflows/prover-daily-test.yaml
  .github/workflows/run-gas-calibration.yaml
  .github/workflows/rust-client-tests.yaml
  .github/workflows/ts-sdk-e2e-tests.yaml
Labels: CICD:run-e2e-tests, CICD:run-coverage, CICD:run-all-unit-tests

#13767 dev_setup.sh: update Node.js version
  scripts/dev_setup.sh
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:run-prover-test, CICD:run-all-unit-tests

#13780 [move-2] Fix CI breaking change in variant names in prover
  third_party/move/move-compiler/src/expansion/translate.rs
  third_party/move/move-compiler/tests/move_check/expansion/assign_non_simple_name.exp
  third_party/move/move-compiler/tests/move_check/expansion/use_nested_self_as_invalid.exp
  third_party/move/move-compiler/tests/move_check/expansion/use_struct_overlap_with_module.exp
Labels: CICD:run-all-unit-tests

#13781 [Target Determinator] Small improvements to determinator logic.
  Cargo.lock
  devtools/aptos-cargo-cli/Cargo.toml
  devtools/aptos-cargo-cli/src/common.rs
  devtools/aptos-cargo-cli/src/lib.rs
Labels: CICD:run-e2e-tests, CICD:run-all-unit-tests

#12528 [SDK] Add a new SDK method to create account via private key literal
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/types.rs
Labels: CICD:run-e2e-tests

#13575 [sharded][3] use state value with key hash
  crates/aptos-genesis/src/builder.rs
  storage/aptosdb/src/db_debugger/state_kv/scan_snapshot.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/db_options.rs
  storage/aptosdb/src/pruner/state_kv_pruner/state_kv_metadata_pruner.rs
  storage/aptosdb/src/pruner/state_kv_pruner/state_kv_shard_pruner.rs
  storage/aptosdb/src/pruner/state_merkle_pruner/test.rs
  storage/aptosdb/src/rocksdb_property_reporter.rs
  storage/aptosdb/src/schema/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/utils/iterators.rs
  storage/aptosdb/src/utils/truncation_helper.rs
  testsuite/replay_verify.py
  testsuite/single_node_performance.py
Labels: CICD:build-images, CICD:run-e2e-tests

#13798 Add upstream filtering to grpc 1.6
  Cargo.lock
  Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/transaction-filter/.gitattributes
  ecosystem/indexer-grpc/transaction-filter/Cargo.toml
  ecosystem/indexer-grpc/transaction-filter/README.md
  ecosystem/indexer-grpc/transaction-filter/fixtures/compressed_files_lz4_00008bc1d5adcf862d3967c1410001fb_705101000.pb.lz4
  ecosystem/indexer-grpc/transaction-filter/fixtures/compressed_files_lz4_0013c194ec4fdbfb8db7306170aac083_445907000.pb.lz4
  ecosystem/indexer-grpc/transaction-filter/fixtures/compressed_files_lz4_f3d880d9700c70d71fefe71aa9218aa9_301616000.pb.lz4
  ecosystem/indexer-grpc/transaction-filter/src/boolean_transaction_filter.rs
  ecosystem/indexer-grpc/transaction-filter/src/errors.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/event.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/mod.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/move_module.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/transaction_root.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/user_transaction.rs
  ecosystem/indexer-grpc/transaction-filter/src/lib.rs
  ecosystem/indexer-grpc/transaction-filter/src/test_lib/mod.rs
  ecosystem/indexer-grpc/transaction-filter/src/traits.rs
Labels: CICD:build-images, CICD:build-indexer-images

#13316 [aggregator] Remove aggregator API gating
  aptos-move/aptos-native-interface/src/context.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#13813 [Consensus Observer] Add unsubscribe retries to avoid flakes.
  consensus/src/consensus_observer/observer.rs
Labels: CICD:run-e2e-tests

#13716 Calculate cur_txns in pull proofs method accurately
  consensus/src/quorum_store/utils.rs
Labels: CICD:run-e2e-tests

#13703 Proof queue with more accurate calculation of remaining txns in the pipeline
  consensus/src/block_storage/block_store.rs
  consensus/src/counters.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#13751 [framework] Fungible Asset - Mutable Metadata Ref
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/tests/deflation_token.move
  aptos-move/framework/aptos-framework/tests/deflation_token_tests.move
  aptos-move/framework/aptos-framework/tests/nil_op_token_tests.move
  aptos-move/framework/aptos-framework/tests/permissioned_token_tests.move
  aptos-move/framework/aptos-framework/tests/reentrant_token_tests.move
  aptos-move/framework/aptos-framework/tests/simple_dispatchable_token_fa_tests.move
  aptos-move/framework/aptos-framework/tests/ten_x_token_tests.move
Labels: enhancement, move-framework

#13597 Fix abort error rendering, add feature gate and golden test
  api/goldens/aptos_api__tests__transactions_test__test_simulation_failure_with_detail_error.json
  api/goldens/aptos_api__tests__transactions_test__test_simulation_failure_with_move_abort_error_rendering.json
  api/src/tests/transactions_test.rs
  api/src/transactions.rs
  types/src/transaction/mod.rs
Labels: CICD:build-images

#13834 [Consensus] Ignore flaky tests.
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/round_manager_test.rs
  testsuite/smoke-test/src/consensus/consensusdb_recovery.rs
Labels: CICD:run-e2e-tests

#13793 [move] Enable type size limit
  aptos-move/e2e-move-tests/src/tests/access_path_test.rs
  aptos-move/e2e-tests/src/executor.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests
