Repository aptos-labs/aptos-core, pull requests merged in 2024-10, with the labels that each got.

#14547 [forge] rust bindings for indexer/testnet deployer
  .github/workflows/adhoc-forge.yaml
  .github/workflows/workflow-run-forge.yaml
  .gitignore
  Cargo.lock
  testsuite/forge-cli/Cargo.toml
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
  testsuite/forge/Cargo.toml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/fullnode.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/backend/k8s/kube_api.rs
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s/prometheus.rs
  testsuite/forge/src/backend/k8s/stateful_set.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/k8s_deployer/README.md
  testsuite/forge/src/backend/k8s_deployer/constants.rs
  testsuite/forge/src/backend/k8s_deployer/deployer.rs
  testsuite/forge/src/backend/k8s_deployer/mod.rs
  testsuite/forge/src/backend/mod.rs
  testsuite/forge/src/runner.rs
  testsuite/forge_test.py
  testsuite/run_forge.sh
Labels: CICD:run-e2e-tests

#14839 [State Sync] Remove clone() calls for storage synchronizer.
  state-sync/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-driver/src/continuous_syncer.rs
  state-sync/state-sync-driver/src/utils.rs
Labels: CICD:run-e2e-tests

#14422 DeltaApplicationError & predicted value fixes, error fallbacks
  Cargo.lock
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/aggregator_v1_extension.rs
  aptos-move/aptos-aggregator/src/delayed_change.rs
  aptos-move/aptos-aggregator/src/delayed_field_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/delta_math.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/tests/types.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/view_with_change_set.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/errors.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/value_exchange.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/types/src/delayed_values/error.rs
  types/Cargo.toml
  types/src/delayed_fields.rs
  types/src/error.rs
Labels: CICD:run-e2e-tests, CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#14583 [Feature] [Compiler-V2] += and the like
  third_party/move/move-compiler-v2/tests/op-equal/error_not_shown.exp
  third_party/move/move-compiler-v2/tests/op-equal/error_not_shown.move
  third_party/move/move-compiler-v2/tests/op-equal/eval_order.exp
  third_party/move/move-compiler-v2/tests/op-equal/eval_order.move
  third_party/move/move-compiler-v2/tests/op-equal/invalid0.exp
  third_party/move/move-compiler-v2/tests/op-equal/invalid0.move
  third_party/move/move-compiler-v2/tests/op-equal/invalid1.exp
  third_party/move/move-compiler-v2/tests/op-equal/invalid1.move
  third_party/move/move-compiler-v2/tests/op-equal/invalid2.exp
  third_party/move/move-compiler-v2/tests/op-equal/invalid2.move
  third_party/move/move-compiler-v2/tests/op-equal/invalid3.exp
  third_party/move/move-compiler-v2/tests/op-equal/invalid3.move
  third_party/move/move-compiler-v2/tests/op-equal/invalid4.exp
  third_party/move/move-compiler-v2/tests/op-equal/invalid4.move
  third_party/move/move-compiler-v2/tests/op-equal/invalid5.exp
  third_party/move/move-compiler-v2/tests/op-equal/invalid5.move
  third_party/move/move-compiler-v2/tests/op-equal/invalid6.exp
  third_party/move/move-compiler-v2/tests/op-equal/invalid6.move
  third_party/move/move-compiler-v2/tests/op-equal/valid0.exp
  third_party/move/move-compiler-v2/tests/op-equal/valid0.move
  third_party/move/move-compiler-v2/tests/op-equal/valid1.exp
  third_party/move/move-compiler-v2/tests/op-equal/valid1.move
  third_party/move/move-compiler-v2/tests/op-equal/valid2.exp
  third_party/move/move-compiler-v2/tests/op-equal/valid2.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/op_equal/eval_order.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/op_equal/eval_order.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/op_equal/no_double_eval.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/op_equal/no_double_eval.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/op_equal/valid.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/op_equal/valid.move
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
  third_party/move/move-compiler/src/command_line/mod.rs
  third_party/move/move-compiler/src/expansion/translate.rs
  third_party/move/move-compiler/src/parser/ast.rs
  third_party/move/move-compiler/src/parser/lexer.rs
  third_party/move/move-compiler/src/parser/syntax.rs
  third_party/move/move-compiler/src/shared/mod.rs
  third_party/move/move-model/src/lib.rs
  third_party/move/move-model/src/metadata.rs
Labels: compiler-v2

#14815 [NFT Metadata Crawler] Rename crate to remove parser
  .dockerignore
  Cargo.lock
  Cargo.toml
  docker/builder/build-indexer.sh
  docker/builder/nft-metadata-crawler.Dockerfile
  ecosystem/nft-metadata-crawler-parser/src/config.rs
  ecosystem/nft-metadata-crawler/.gitignore
  ecosystem/nft-metadata-crawler/Cargo.toml
  ecosystem/nft-metadata-crawler/diesel.toml
  ecosystem/nft-metadata-crawler/migrations/00000000000000_diesel_initial_setup/down.sql
  ecosystem/nft-metadata-crawler/migrations/00000000000000_diesel_initial_setup/up.sql
  ecosystem/nft-metadata-crawler/migrations/2023-09-08-001532_create_tables/down.sql
  ecosystem/nft-metadata-crawler/migrations/2023-09-08-001532_create_tables/up.sql
  ecosystem/nft-metadata-crawler/migrations/2024-01-31-221845_add_not_parsable_column/down.sql
  ecosystem/nft-metadata-crawler/migrations/2024-01-31-221845_add_not_parsable_column/up.sql
  ecosystem/nft-metadata-crawler/migrations/2024-02-08-013147_add_last_transaction_version/down.sql
  ecosystem/nft-metadata-crawler/migrations/2024-02-08-013147_add_last_transaction_version/up.sql
  ecosystem/nft-metadata-crawler/src/asset_uploader/config.rs
  ecosystem/nft-metadata-crawler/src/asset_uploader/mod.rs
  ecosystem/nft-metadata-crawler/src/config.rs
  ecosystem/nft-metadata-crawler/src/lib.rs
  ecosystem/nft-metadata-crawler/src/main.rs
  ecosystem/nft-metadata-crawler/src/models/ledger_info.rs
  ecosystem/nft-metadata-crawler/src/models/mod.rs
  ecosystem/nft-metadata-crawler/src/models/parsed_asset_uris.rs
  ecosystem/nft-metadata-crawler/src/models/parsed_asset_uris_query.rs
  ecosystem/nft-metadata-crawler/src/parser/config.rs
  ecosystem/nft-metadata-crawler/src/parser/mod.rs
  ecosystem/nft-metadata-crawler/src/parser/worker.rs
  ecosystem/nft-metadata-crawler/src/schema.rs
  ecosystem/nft-metadata-crawler/src/utils/constants.rs
  ecosystem/nft-metadata-crawler/src/utils/counters.rs
  ecosystem/nft-metadata-crawler/src/utils/database.rs
  ecosystem/nft-metadata-crawler/src/utils/gcs.rs
  ecosystem/nft-metadata-crawler/src/utils/image_optimizer.rs
  ecosystem/nft-metadata-crawler/src/utils/json_parser.rs
  ecosystem/nft-metadata-crawler/src/utils/mod.rs
  ecosystem/nft-metadata-crawler/src/utils/uri_parser.rs
Labels: CICD:build-images

#14855 [consensus] fix batch availability counters
  consensus/src/payload_manager.rs
Labels: CICD:run-forge-e2e-perf

#14847 Remove Clone trait for validator verifier
  consensus/safety-rules/src/fuzzing_utils.rs
  consensus/safety-rules/src/tests/suite.rs
  consensus/src/consensus_observer/network/observer_message.rs
  consensus/src/consensus_observer/observer/active_state.rs
  consensus/src/consensus_observer/observer/payload_store.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/dag_state_sync_tests.rs
  consensus/src/dag/tests/dag_test.rs
  consensus/src/dag/tests/fetcher_test.rs
  consensus/src/dag/tests/integration_tests.rs
  consensus/src/dag/tests/order_rule_tests.rs
  consensus/src/dag/tests/rb_handler_tests.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/leader_reputation_test.rs
  consensus/src/network.rs
  consensus/src/network_tests.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/rand/rand_gen/rand_store.rs
  consensus/src/rand/rand_gen/types.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  crates/aptos-jwk-consensus/src/epoch_manager.rs
  crates/aptos-jwk-consensus/src/jwk_manager/tests.rs
  crates/aptos-jwk-consensus/src/observation_aggregation/tests.rs
  dkg/src/dkg_manager/tests.rs
  dkg/src/epoch_manager.rs
  dkg/src/transcript_aggregation/tests.rs
  execution/executor/src/components/in_memory_state_calculator_v2.rs
  state-sync/storage-service/server/src/tests/utils.rs
  types/src/block_info.rs
  types/src/dkg/real_dkg/mod.rs
  types/src/epoch_change.rs
  types/src/epoch_state.rs
  types/src/ledger_info.rs
  types/src/proptest_types.rs
  types/src/unit_tests/trusted_state_test.rs
  types/src/validator_verifier.rs
Labels: CICD:run-e2e-tests

#14845 [move-coverage]: change visibility for uncovered locations
  third_party/move/tools/move-coverage/src/source_coverage.rs
Labels: CICD:run-e2e-tests

#14861 [qs] tolerate block timestamp being updated asynchronously
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_store.rs
Labels: v1.21

#14834 Fix flaky internal indexer test
  api/src/tests/mod.rs
Labels: CICD:run-e2e-tests, CICD:run-all-unit-tests

#14489 Resource Groups: don't recompute size, test serialized size, parallel finalization
  Cargo.lock
  aptos-move/aptos-vm-types/src/resource_group_adapter.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
  aptos-move/mvhashmap/src/versioned_modules.rs
Labels: CICD:run-e2e-tests, CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#14642 Optimistic signature verification for votes and order votes
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/order_vote.rs
  consensus/consensus-types/src/vote.rs
  consensus/src/block_storage/block_store_test.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/round_state.rs
  consensus/src/pending_order_votes.rs
  consensus/src/pending_votes.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_test.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
  types/src/ledger_info.rs
  types/src/validator_verifier.rs
Labels: CICD:run-e2e-tests

#12726 [compiler-v2] Extend existing v1/v2 comparison process description
  third_party/move/move-compiler-v2/tests/README.md
Labels: stale-exempt

#14806 test json diff workflow
  .github/workflows/indexer-processor-testing.yaml
  scripts/indexer_processor_tests_status_poll.sh
  scripts/indexer_test_txns_compare_and_diff.sh
Labels: CICD:build-images

#14851 [forge] indexer SuccessCriteria and new test
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/prometheus_metrics.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Labels: CICD:build-images

#14888 Get right most child
  Cargo.lock
  storage/aptosdb/src/db/test_helper.rs
  storage/aptosdb/src/pruner/state_merkle_pruner/test.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/state_store_test.rs
Labels: CICD:run-e2e-tests

#14889 separate state sync notifications to pre-commit and commit
  consensus/src/counters.rs
  consensus/src/execution_pipeline.rs
  consensus/src/state_computer.rs
  consensus/src/state_computer_tests.rs
  execution/executor-types/src/lib.rs
Labels: CICD:run-e2e-tests

#14643 Optimistic signature verification for commit votes
  consensus/consensus-types/src/pipeline/commit_vote.rs
  consensus/src/pipeline/buffer_item.rs
  consensus/src/pipeline/buffer_manager.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
Labels: CICD:run-e2e-tests

#14912 introduce ChunkResultVerifier
  execution/executor-types/src/ledger_update_output.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_commit_queue.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/components/chunk_result_verifier.rs
  execution/executor/src/components/mod.rs
  execution/executor/src/components/transaction_chunk.rs
  execution/executor/src/tests/mod.rs
Labels: CICD:run-e2e-tests

#14932 [single-node-performance] Add runner information in the output
  .github/workflows/workflow-run-execution-performance.yaml
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test

#14346 [consensus] fallback heuristics for optimistic quorum store
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/lib.rs
  consensus/consensus-types/src/payload_pull_params.rs
  consensus/consensus-types/src/request_response.rs
  consensus/consensus-types/src/round_timeout.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/block_tree.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/tests/helpers.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/liveness/mod.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/liveness/proposal_status_tracker.rs
  consensus/src/liveness/round_state.rs
  consensus/src/liveness/round_state_test.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/payload_manager.rs
  consensus/src/pending_votes.rs
  consensus/src/pending_votes_test.rs
  consensus/src/quorum_store/batch_proof_queue.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_proof_queue_test.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/test_utils/mod.rs
  crates/aptos-collections/src/bounded_vec_deque.rs
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/validator_verifier.rs
Labels: CICD:run-forge-e2e-perf

#14920 simplify TransactionReplayer::replay implementation
  execution/executor-types/src/ledger_update_output.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_commit_queue.rs
  execution/executor/src/components/chunk_result_verifier.rs
  execution/executor/src/components/executed_chunk.rs
  execution/executor/src/tests/mod.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
Labels: CICD:run-e2e-tests

#14764 Adjust ok_or and map_or to _else for lazy computation
  api/src/context.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v1.rs
  config/src/config/node_config_loader.rs
  config/src/config/secure_backend_config.rs
  consensus/consensus-types/src/sync_info.rs
  consensus/src/dag/adapter.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/round_state.rs
  consensus/src/persistent_liveness_storage.rs
  crates/aptos-dkg/src/weighted_vuf/pinkas/mod.rs
  crates/aptos/src/account/multisig_account.rs
  crates/aptos/src/common/init.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/governance/delegation_pool.rs
  crates/aptos/src/move_tool/mod.rs
  keyless/common/src/input_processing/witness_gen.rs
  mempool/src/shared_mempool/network.rs
  secure/storage/src/on_disk.rs
  state-sync/data-streaming-service/src/data_stream.rs
  storage/aptosdb/src/db/fake_aptosdb.rs
  storage/aptosdb/src/db/include/aptosdb_internal.rs
  storage/aptosdb/src/ledger_db/event_db.rs
  storage/aptosdb/src/ledger_db/ledger_metadata_db.rs
  storage/aptosdb/src/ledger_db/write_set_db.rs
  storage/backup/backup-cli/src/metadata/view.rs
  third_party/move/move-prover/lab/src/benchmark.rs
  third_party/move/move-prover/lab/src/plot.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
  types/src/block_info.rs
Labels: CICD:run-execution-performance-test, CICD:run-forge-e2e-perf

#14956 Fix Incorrect Domain Reference in RUST_SECURE_CODING.md
  RUST_SECURE_CODING.md
Labels: CICD:run-e2e-tests

#14925 [indexer] Create a file checker for sharding migration
  Cargo.lock
  Cargo.toml
  docker/builder/build-indexer.sh
  docker/builder/indexer-grpc.Dockerfile
  ecosystem/indexer-grpc/indexer-grpc-file-checker/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-checker/README.md
  ecosystem/indexer-grpc/indexer-grpc-file-checker/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-file-checker/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-file-checker/src/processor.rs
Labels: CICD:build-images, CICD:build-indexer-images

#14969 don't serialize PipelinedBlock::state_compute_result
  consensus/consensus-types/src/pipelined_block.rs
Labels: CICD:run-e2e-tests

#14914 [consensus] enable round timeout message
  Cargo.lock
  config/src/config/consensus_config.rs
  consensus/Cargo.toml
  consensus/src/counters.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_test.rs
Labels: CICD:run-e2e-tests

#14860 [forge][chaos] Expand chaos simulation to six regions
  testsuite/forge-cli/src/main.rs
  testsuite/forge-cli/src/suites/dag.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/testcases/src/data/six_region_link_stats.csv
  testsuite/testcases/src/multi_region_network_test.rs
Labels: CICD:run-forge-e2e-perf

#14924 [forge] custom profiles & add processor latency metrics
  .github/workflows/adhoc-forge.yaml
  .github/workflows/forge-unstable.yaml
  .github/workflows/workflow-run-forge.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge.env
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s/prometheus.rs
  testsuite/forge/src/interface/prometheus_metrics.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/forge_test.py
Labels: CICD:run-e2e-tests

#14996 [forge] fix processor sdk integration
  testsuite/forge/src/backend/k8s_deployer/deployer.rs
  testsuite/forge/src/interface/prometheus_metrics.rs
Labels: CICD:run-e2e-tests

#14999 avoid TransactionToCommit
  consensus/src/state_computer.rs
  execution/executor-types/src/ledger_update_output.rs
  execution/executor-types/src/parsed_transaction_output.rs
  execution/executor-types/src/state_compute_result.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/do_ledger_update.rs
  execution/executor/src/components/executed_chunk.rs
  execution/executor/src/components/mod.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/fuzzing.rs
  storage/aptosdb/src/db/include/aptosdb_testonly.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db/test_helper.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/ledger_db/transaction_db.rs
  storage/aptosdb/src/ledger_db/transaction_db_test.rs
  storage/aptosdb/src/ledger_db/write_set_db.rs
  storage/aptosdb/src/ledger_db/write_set_db_test.rs
  storage/aptosdb/src/pruner/state_merkle_pruner/test.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/storage-interface/src/chunk_to_commit.rs
  storage/storage-interface/src/lib.rs
  types/src/proptest_types.rs
Labels: CICD:run-e2e-tests

#14967 use move compiler v2 by default
  docker/builder/build-tools.sh
  docker/builder/builder.Dockerfile
  docker/builder/forge.Dockerfile
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#15034 calibrate single-node-performance
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test

#15030 [Consensus Observer] Parallelize message processing logic.
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/consensus_observer/network/observer_message.rs
  consensus/src/consensus_observer/observer/payload_store.rs
Labels: CICD:run-forge-e2e-perf

#15036 [forge] Add MempoolToBlockCreation, rm QsBatchToPos, QsPosToProposal
  testsuite/forge-cli/src/suites/realistic_environment.rs
  testsuite/forge/src/interface/prometheus_metrics.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Labels: CICD:build-images

#14990 [Consensus Observer] Add startup period before fallback.
  config/src/config/consensus_observer_config.rs
  consensus/src/consensus_observer/observer/fallback_manager.rs
Labels: CICD:run-e2e-tests

#15027 [cli 4.2.4] Preparing for CLI release
  aptos-move/framework/src/built_package.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/src/common/types.rs
  testsuite/single_node_performance.py
  third_party/move/move-compiler/src/parser/syntax.rs
  third_party/move/move-compiler/src/shared/mod.rs
  third_party/move/move-model/src/metadata.rs
  third_party/move/move-prover/tests/testsuite.rs
Labels: CICD:run-e2e-tests, CICD:run-forge-e2e-perf

#15049 [single node benchmark] recalibrate and make thresholds depend on number samples present
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test

#15023 Refactoring ledger info with unverified signatures
  consensus/consensus-types/src/order_vote.rs
  consensus/consensus-types/src/vote.rs
  consensus/src/block_storage/block_store_test.rs
  consensus/src/pending_order_votes.rs
  consensus/src/pending_votes.rs
  consensus/src/pipeline/buffer_item.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/round_manager_test.rs
  types/src/ledger_info.rs
Labels: CICD:run-e2e-tests

#15063 hardcode enable_storage_sharding
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/runner.rs
Labels: CICD:build-images

#15068 move maybe_evict_cache() off default rayon pool
  storage/aptosdb/src/versioned_node_cache.rs
Labels: CICD:build-images

#15077 admin service /threadz dumps waiting and sleeping threads on verbose=…
  crates/aptos-system-utils/src/thread_dump.rs
Labels: CICD:build-images

#14971 [State Sync] Update synced version and synced epoch metrics.
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/metrics.rs
  state-sync/state-sync-driver/src/storage_synchronizer.rs
  state-sync/state-sync-driver/src/utils.rs
Labels: CICD:run-forge-e2e-perf

#15075 [v1.22] move maybe_evict_cache() off default rayon pool
  storage/aptosdb/src/versioned_node_cache.rs
Labels: CICD:run-e2e-tests

#14352 [optqs] add new metrics, batch tracing, and bug fixes
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/payload.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_status_tracker.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_proof_queue.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/mod.rs
  consensus/src/quorum_store/network_listener.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/quorum_store_coordinator.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/quorum_store/tracing.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/round_manager.rs
Labels: CICD:run-forge-e2e-perf

#15035 [forge] Add junit support
  .github/workflows/docker-build-test.yaml
  .github/workflows/forge-stable.yaml
  .github/workflows/workflow-run-forge.yaml
  Cargo.lock
  Cargo.toml
  testsuite/fixtures/testFormatJunitXml.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/forge-cli/Cargo.toml
  testsuite/forge-cli/src/main.rs
  testsuite/forge-test-runner-template.yaml
  testsuite/forge.py
  testsuite/forge/Cargo.toml
  testsuite/forge/src/config.rs
  testsuite/forge/src/interface/test.rs
  testsuite/forge/src/lib.rs
  testsuite/forge/src/observer/junit.rs
  testsuite/forge/src/observer/mod.rs
  testsuite/forge/src/result.rs
  testsuite/forge/src/runner.rs
  testsuite/forge_test.py
  testsuite/testcases/src/lib.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#15112 recalibrate move e2e tests
  aptos-move/e2e-benchmark/src/main.rs
Labels: CICD:run-execution-performance-test

#15142 Add Txns for Default Processor
  ecosystem/indexer-grpc/indexer-test-transactions/json_transactions/imported_mainnet_txns/155112189_default_table_items.json
  ecosystem/indexer-grpc/indexer-test-transactions/json_transactions/imported_mainnet_txns/1845035942_default_current_table_items.json
  ecosystem/indexer-grpc/indexer-test-transactions/json_transactions/imported_mainnet_txns/513424821_default_block_metadata_transactions.json
  ecosystem/indexer-grpc/indexer-transaction-generator/imported_transactions/imported_transactions.yaml
Labels: CICD:run-e2e-tests
