Repository aptos-labs/aptos-core, pull requests merged in 2024-05, with the labels that each got.

#13056 [trivial] add error message description
  third_party/move/move-vm/runtime/src/loader/mod.rs
Labels: CICD:run-e2e-tests

#13172 recalibrate for FA (pairs and dispatchable) regressions and state key improvement
  aptos-move/e2e-benchmark/src/main.rs
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#13164 trivial: storage-interface not depend on rocksdb::Error
  Cargo.lock
  storage/schemadb/src/iterator.rs
  storage/schemadb/src/lib.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/errors.rs
Labels: CICD:run-e2e-tests

#12863 [observer] initial commit
  aptos-node/src/lib.rs
  aptos-node/src/network.rs
  aptos-node/src/services.rs
  aptos-node/src/state_sync.rs
  config/src/config/mod.rs
  config/src/config/node_config.rs
  config/src/config/observer_config.rs
  config/src/config/state_sync_config.rs
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/consensus_observer/mod.rs
  consensus/src/consensus_observer/network.rs
  consensus/src/consensus_observer/observer.rs
  consensus/src/consensus_observer/publisher.rs
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/payload_manager.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/decoupled_execution_utils.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/state_computer.rs
  consensus/src/twins/twins_node.rs
  network/framework/src/protocols/wire/handshake/v1/mod.rs
  state-sync/state-sync-driver/src/driver.rs
  testsuite/generate-format/tests/staged/network.yaml
Labels: CICD:run-e2e-tests

#13019 [quorum store] filter txns seen in remote batches on batch creation
  config/src/config/quorum_store_config.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/public_fullnode_performance.rs
Labels: CICD:run-e2e-tests

#13196 [INC-600] fix state db truncation when db-sharding is not enabled.
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/utils/truncation_helper.rs
Labels: CICD:run-e2e-tests

#13208 [quorum store] fix last commit in #13019
  consensus/src/quorum_store/batch_generator.rs
Labels: CICD:run-e2e-tests

#13211 [gas] remove unintended change to max_transaction_size_in_bytes (1.11)
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
Labels: CICD:run-framework-upgrade-test

#13170 [CI/CD] Add target determination for execution performance tests.
  .github/actions/test-target-determinator/action.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/execution-performance.yaml
  .github/workflows/workflow-run-execution-performance.yaml
  devtools/aptos-cargo-cli/src/lib.rs
Labels: CICD:run-e2e-tests

#13230 [delegated voting] hotfix pending voter applying instantly on delegation pools
  aptos-move/framework/aptos-framework/doc/delegation_pool.md
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Labels: move-framework

#13249 Jmt internal node children as a sorted slice instead of hashmap
  storage/jellyfish-merkle/src/jellyfish_merkle_test.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/node_type/mod.rs
  storage/jellyfish-merkle/src/node_type/node_type_test.rs
  storage/jellyfish-merkle/src/restore/mod.rs
  testsuite/single_node_performance.py
  types/src/nibble/mod.rs
Labels: CICD:run-e2e-tests

#13283 revert expected_tps for resource-groups-sender-multi-change1-kb
  storage/jellyfish-merkle/src/jellyfish_merkle_test.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/node_type/mod.rs
  storage/jellyfish-merkle/src/node_type/node_type_test.rs
  storage/jellyfish-merkle/src/restore/mod.rs
  testsuite/single_node_performance.py
  types/src/nibble/mod.rs
Labels: CICD:run-e2e-tests

#13282 [Fuzzing] Do publish with official flow
  Cargo.lock
  aptos-move/e2e-tests/Cargo.toml
  aptos-move/e2e-tests/src/executor.rs
  testsuite/fuzzer/fuzz/Cargo.toml
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run.rs
Labels: CICD:run-e2e-tests

#13129 [EI-400] Cleanup old metrics
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/counters.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test, CICD:run-all-unit-tests

#13163 [quorum store] better handling of proofs in proof coordinator
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/logging.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/proof_coordinator.rs
Labels: CICD:run-e2e-tests

#13233 [move] View APIs instead of Move resolvers
  Cargo.lock
  api/Cargo.toml
  api/move-test-package/sources/TableTestData.move
  api/src/accounts.rs
  api/src/context.rs
  api/src/events.rs
  api/src/state.rs
  api/src/tests/converter_test.rs
  api/src/tests/move/pack_string_resource/Move.toml
  api/src/tests/move/pack_string_resource/sources/message.move
  api/src/tests/state_test.rs
  api/src/tests/string_resource_test.rs
  api/src/transactions.rs
  api/src/view_function.rs
  api/test-context/src/test_context.rs
  api/types/Cargo.toml
  api/types/src/convert.rs
  api/types/src/lib.rs
  api/types/src/move_types.rs
  aptos-move/aptos-resource-viewer/Cargo.toml
  aptos-move/aptos-resource-viewer/src/lib.rs
  aptos-move/aptos-resource-viewer/src/module_view.rs
  aptos-move/aptos-transactional-test-harness/Cargo.toml
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/gas.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  crates/indexer/Cargo.toml
  crates/indexer/src/indexer/fetcher.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/db/include/aptosdb_internal.rs
  storage/aptosdb/src/db/mod.rs
  storage/indexer/Cargo.toml
  storage/indexer/src/db_v2.rs
  storage/indexer/src/lib.rs
  third_party/move/move-vm/test-utils/Cargo.toml
  third_party/move/move-vm/test-utils/src/storage.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  third_party/move/tools/move-bytecode-utils/src/compiled_module_viewer.rs
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  third_party/move/tools/move-bytecode-utils/src/lib.rs
  third_party/move/tools/move-bytecode-utils/src/module_cache.rs
  third_party/move/tools/move-cli/src/sandbox/commands/generate.rs
  third_party/move/tools/move-cli/src/sandbox/utils/mod.rs
  third_party/move/tools/move-cli/src/sandbox/utils/on_disk_state_view.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
  third_party/move/tools/move-resource-viewer/src/module_cache.rs
  third_party/move/tools/move-resource-viewer/src/resolver.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
Labels: CICD:run-e2e-tests

#13284 reverse state proof siblings
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/node_type/mod.rs
  storage/jellyfish-merkle/src/node_type/node_type_test.rs
  storage/scratchpad/src/sparse_merkle/sparse_merkle_test.rs
  storage/scratchpad/src/sparse_merkle/test_utils/naive_smt.rs
  storage/scratchpad/src/sparse_merkle/updater.rs
  types/src/proof/definition.rs
  types/src/proof/unit_tests/proof_test.rs
Labels: CICD:run-execution-performance-full-test

#13274 partial state proofs
  storage/aptosdb/src/db/fake_aptosdb.rs
  storage/aptosdb/src/db/include/aptosdb_reader.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/node_type/mod.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/sparse_merkle_test.rs
  storage/scratchpad/src/sparse_merkle/updater.rs
  storage/storage-interface/src/async_proof_fetcher.rs
  storage/storage-interface/src/cached_state_view.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/mock.rs
  types/src/proof/definition.rs
Labels: CICD:run-e2e-tests

#13269 randtxn custom max gas
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/randomness_config.rs
  aptos-move/aptos-vm/src/verifier/randomness.rs
  aptos-move/framework/aptos-framework/doc/randomness_api_v0_config.md
  aptos-move/framework/aptos-framework/doc/reconfiguration_with_dkg.md
  aptos-move/framework/aptos-framework/sources/configs/randomness_api_v0_config.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.spec.move
  aptos-move/framework/src/extended_checks.rs
  aptos-move/framework/src/module_metadata.rs
  aptos-move/move-examples/on_chain_dice/sources/dice.move
  aptos-move/vm-genesis/src/lib.rs
  testsuite/smoke-test/src/randomness/e2e_basic_consumption.rs
  testsuite/smoke-test/src/randomness/entry_func_attrs.rs
  testsuite/smoke-test/src/randomness/mod.rs
  types/src/move_utils/as_move_value.rs
  types/src/on_chain_config/randomness_api_v0_config.rs
Labels: CICD:run-e2e-tests

#13308 enable randomness
  aptos-move/aptos-release-builder/data/enable-randomness.yaml
  aptos-move/aptos-release-builder/data/proposals/enable_randomness_api_v0.move
Labels: CICD:run-e2e-tests

#13311 [release-builder] reduce compilation time by generating blobs as hex strings as opposed to vectors
  aptos-move/aptos-release-builder/src/components/consensus_config.rs
  aptos-move/aptos-release-builder/src/components/execution_config.rs
  aptos-move/aptos-release-builder/src/components/gas.rs
  aptos-move/aptos-release-builder/src/utils.rs
  aptos-move/framework/src/release_bundle.rs
Labels: CICD:run-e2e-tests

#13313 Fix SMT proof fetching for lifted leaf
  aptos-move/e2e-benchmark/src/main.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/sparse_merkle_test.rs
  storage/storage-interface/src/async_proof_fetcher.rs
  storage/storage-interface/src/cached_state_view.rs
  types/src/proof/definition.rs
Labels: CICD:run-e2e-tests

#13319 [gas] fix gas feature version for function info and dispatchable token gas params
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/aptos-gas-schedule/src/ver.rs
Labels: CICD:run-e2e-tests

#13310 Update release.yaml and the forge test base node hash for the v1.13 release
  .github/workflows/docker-build-test.yaml
  .github/workflows/forge-stable.yaml
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#13332 update version for main
  .github/workflows/docker-build-test.yaml
  .github/workflows/forge-stable.yaml
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-framework-upgrade-test

#13200 Move from test to nextest for coverage too
  .github/workflows/coverage-move-only.yaml
  .github/workflows/coverage.yaml
Labels: CICD:run-coverage

#13349 [cherry-pick][1.12] schemadb: make iterator lazy #13341
  consensus/consensus-types/src/pipeline/commit_decision.rs
  consensus/src/pipeline/execution_client.rs
  storage/schemadb/src/iterator.rs
Labels: CICD:run-e2e-tests

#13350 Revert "Event simplification conn subs (#12730)"
  Cargo.lock
  consensus/src/dag/tests/integration_tests.rs
  consensus/src/network.rs
  consensus/src/network_tests.rs
  consensus/src/round_manager_test.rs
  consensus/src/twins/twins_node.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  mempool/src/tests/test_framework.rs
  network/benchmark/src/lib.rs
  network/builder/src/builder.rs
  network/builder/src/dummy.rs
  network/framework/Cargo.toml
  network/framework/src/application/storage.rs
  network/framework/src/application/tests.rs
  network/framework/src/connectivity_manager/mod.rs
  network/framework/src/connectivity_manager/test.rs
  network/framework/src/peer_manager/builder.rs
  network/framework/src/peer_manager/conn_notifs_channel.rs
  network/framework/src/peer_manager/mod.rs
  network/framework/src/peer_manager/tests.rs
  network/framework/src/peer_manager/types.rs
  network/framework/src/protocols/health_checker/interface.rs
  network/framework/src/protocols/health_checker/mod.rs
  network/framework/src/protocols/health_checker/test.rs
  network/framework/src/protocols/network/mod.rs
  network/framework/src/testutils/test_node.rs
  peer-monitoring-service/server/src/tests.rs
  state-sync/storage-service/server/src/tests/mock.rs
Labels: CICD:run-forge-e2e-perf

#13341 schemadb: make iterator lazy
  storage/schemadb/src/iterator.rs
Labels: CICD:run-e2e-tests

#13362 [quorum store] increase max per-validator TPS constraint from 2K to 4K
  config/src/config/quorum_store_config.rs
Labels: CICD:run-forge-e2e-perf

#13314 [compiler v2] Emulating some unexpected v1 borrow behavior
  third_party/move/move-compiler-v2/src/pipeline/reference_safety_processor.rs
  third_party/move/move-compiler-v2/tests/reference-safety/v1-borrow-tests/factor_invalid_2.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-borrow-tests/factor_invalid_2.move
  third_party/move/move-compiler-v2/tests/reference-safety/v1-borrow-tests/factor_invalid_2.no-opt.exp
Labels: compiler-v2

#13405 Cherry pick lower gas for keyless TXNs by 3x in transaction.rs (#13397)
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-release-builder/data/keyless.yaml
Labels: CICD:run-framework-upgrade-test

#13388 Add logging of the latest ping latencies
  mempool/src/shared_mempool/priority.rs
  network/framework/src/application/tests.rs
  peer-monitoring-service/client/src/peer_states/latency_info.rs
  peer-monitoring-service/client/src/peer_states/peer_state.rs
  peer-monitoring-service/server/src/tests.rs
  peer-monitoring-service/types/src/lib.rs
  state-sync/aptos-data-client/src/tests/mock.rs
Labels: CICD:run-e2e-tests

#13389 [CLI][E2E] Wait for reconfiguration in staking tests, use latest Python SDK
  crates/aptos/e2e/cases/account.py
  crates/aptos/e2e/cases/stake.py
  crates/aptos/e2e/local_testnet.py
  crates/aptos/e2e/main.py
  crates/aptos/e2e/poetry.lock
  crates/aptos/e2e/pyproject.toml
  crates/aptos/e2e/test_helpers.py
Labels: CICD:run-e2e-tests, CICD:run-coverage, CICD:run-all-unit-tests

#13437 Install Google Cloud SDK in the tools image
  docker/builder/tools.Dockerfile
Labels: CICD:build-images

#11183 Concurrent FungibleAsset balance
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/create_signer.move
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#13400 (fix) Reorder the parameters and adapt them to Nextest.
  .github/workflows/coverage-move-only.yaml
  .github/workflows/coverage.yaml
Labels: CICD:run-coverage

#13023 Implement Order Vote feature for Optimizing Latency
  Cargo.lock
  consensus/Cargo.toml
  consensus/consensus-types/src/lib.rs
  consensus/consensus-types/src/order_vote.rs
  consensus/consensus-types/src/order_vote_msg.rs
  consensus/consensus-types/src/order_vote_proposal.rs
  consensus/consensus-types/src/pipelined_block.rs
  consensus/consensus-types/src/quorum_cert.rs
  consensus/consensus-types/src/safety_data.rs
  consensus/consensus-types/src/sync_info.rs
  consensus/consensus-types/src/vote_data.rs
  consensus/consensus-types/src/vote_msg.rs
  consensus/consensus-types/src/wrapped_ledger_info.rs
  consensus/safety-rules/Cargo.toml
  consensus/safety-rules/src/counters.rs
  consensus/safety-rules/src/error.rs
  consensus/safety-rules/src/fuzzing_utils.rs
  consensus/safety-rules/src/local_client.rs
  consensus/safety-rules/src/logging.rs
  consensus/safety-rules/src/persistent_safety_storage.rs
  consensus/safety-rules/src/safety_rules.rs
  consensus/safety-rules/src/safety_rules_2chain.rs
  consensus/safety-rules/src/serializer.rs
  consensus/safety-rules/src/t_safety_rules.rs
  consensus/safety-rules/src/tests/mod.rs
  consensus/safety-rules/src/tests/suite.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/block_tree.rs
  consensus/src/block_storage/mod.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/block_storage/tracing.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/liveness/round_state.rs
  consensus/src/liveness/round_state_test.rs
  consensus/src/logging.rs
  consensus/src/metrics_safety_rules.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/network_tests.rs
  consensus/src/pending_order_votes.rs
  consensus/src/persistent_liveness_storage.rs
  consensus/src/pipeline/buffer_item.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/decoupled_execution_utils.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/recovery_manager.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_storage.rs
  consensus/src/test_utils/mod.rs
  crates/aptos-admin-service/src/server/consensus/mod.rs
  crates/aptos-logger/src/security.rs
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/ledger_info.rs
  types/src/on_chain_config/consensus_config.rs
Labels: CICD:run-e2e-tests, CICD:run-all-unit-tests

#13482 update rocksdb dependency
  Cargo.lock
  Cargo.toml
Labels: CICD:run-e2e-tests

#13504 skip vk verification
  aptos-move/framework/aptos-framework/doc/keyless_account.md
  aptos-move/framework/aptos-framework/sources/keyless_account.move
Labels: CICD:run-framework-upgrade-test

#13476 [forge] fix chaos-mesh injection direction
  Cargo.lock
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/chaos/netem.yaml
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/interface/node.rs
  testsuite/testcases/src/multi_region_network_test.rs
  testsuite/testcases/src/network_bandwidth_test.rs
  testsuite/testcases/src/network_loss_test.rs
  testsuite/testcases/src/network_partition_test.rs
  testsuite/testcases/src/three_region_simulation_test.rs
Labels: CICD:run-forge-e2e-perf

#13425 [move] Ensure loading function first before execution
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/aptos-vm/src/verifier/view_function.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/function_info.rs
  third_party/move/move-bytecode-verifier/src/verifier.rs
  third_party/move/move-vm/integration-tests/src/tests/instantiation_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/invariant_violation_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/leak_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/native_tests.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/move-vm/runtime/src/session.rs
Labels: CICD:run-e2e-tests

#13499 Fix the simulation API not showing detail error info
  api/src/tests/transactions_test.rs
  api/src/transactions.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests
