Repository aptos-labs/aptos-core, pull requests merged in 2024-03, with the labels that each got.

#12282 randomness #9: smoke tests from randomnet
  Cargo.lock
  aptos-move/move-examples/on_chain_dice/Move.toml
  aptos-move/move-examples/on_chain_dice/sources/dice.move
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos-genesis/src/mainnet.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/randomness/disable_feature_0.rs
  testsuite/smoke-test/src/randomness/disable_feature_1.rs
  testsuite/smoke-test/src/randomness/dkg_with_validator_down.rs
  testsuite/smoke-test/src/randomness/dkg_with_validator_join_leave.rs
  testsuite/smoke-test/src/randomness/e2e_basic_consumption.rs
  testsuite/smoke-test/src/randomness/e2e_correctness.rs
  testsuite/smoke-test/src/randomness/enable_feature_0.rs
  testsuite/smoke-test/src/randomness/enable_feature_1.rs
  testsuite/smoke-test/src/randomness/enable_feature_2.rs
  testsuite/smoke-test/src/randomness/mod.rs
  testsuite/smoke-test/src/randomness/validator_restart_during_dkg.rs
Labels: CICD:run-e2e-tests

#12343 [Aptos Node] Fix config merge test.
  aptos-node/src/lib.rs
  aptos-node/src/tests.rs
Labels: CICD:run-e2e-tests

#12335 randomness #10: randomness API update from randomnet
  aptos-move/framework/aptos-framework/doc/randomness.md
  aptos-move/framework/aptos-framework/sources/randomness.move
  aptos-move/framework/aptos-framework/sources/randomness.spec.move
  testsuite/smoke-test/src/validator_txns.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12166 Cherry-pick: limits & gas for dependencies
  Cargo.lock
  aptos-move/aptos-abstract-gas-usage/src/algebra.rs
  aptos-move/aptos-gas-algebra/src/algebra.rs
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-gas-profiling/src/erased.rs
  aptos-move/aptos-gas-profiling/src/flamegraph.rs
  aptos-move/aptos-gas-profiling/src/log.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-gas-profiling/src/report.rs
  aptos-move/aptos-gas-profiling/templates/index.html
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-gas-schedule/src/ver.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p1/Move.toml
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p1/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p2/Move.toml
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p2/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p3/Move.toml
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p3/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.rs
  aptos-move/e2e-move-tests/src/tests/gas.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-tests/src/loader/mod.rs
  aptos-move/e2e-testsuite/src/tests/loader.rs
  third_party/move/extensions/async/move-async-vm/src/async_vm.rs
  third_party/move/move-binary-format/src/access.rs
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-core/types/Cargo.toml
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/integration-tests/src/tests/loader_tests.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/module_traversal.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/move-vm/test-utils/src/gas_schedule.rs
  third_party/move/move-vm/types/src/gas.rs
Labels: CICD:run-e2e-tests, CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#12384 A few cleanups around execute_user_transaction_impl
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/view_with_change_set.rs
Labels: CICD:run-e2e-tests

#12375 [cherry-pick] [quorum store] filter also txn limited batches (#12369)
  Cargo.lock
  consensus/consensus-types/Cargo.toml
  consensus/consensus-types/src/common.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12230 [Block Executor] Halt executing, utilize PanicError, clean-up
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/view.rs
Labels: CICD:run-e2e-tests

#11979 [move] scripts and entry functions should not return values
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/execute_script.exp
  aptos-move/aptos-vm-profiling/src/bins/run_move.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/move-vm/transactional-tests/tests/entry_points/modify_mutable_ref_inputs.exp
  third_party/move/move-vm/transactional-tests/tests/entry_points/ref_inputs.exp
  third_party/move/move-vm/transactional-tests/tests/entry_points/struct_arguments.exp
  third_party/move/testing-infra/transactional-test-runner/src/framework.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
Labels: bug, CICD:run-e2e-tests

#12431 also disable gas update function
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/gas_schedule.md
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.move
Labels: CICD:run-e2e-tests

#12450 [preview] inline payload
  config/src/config/consensus_config.rs
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/util/db_tool.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Labels: CICD:run-forge-e2e-perf

#12468 [Block Executor] Follow up fix-ups
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/view.rs
Labels: CICD:run-e2e-tests

#12438 Persist progloue side effects
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/abort_hook.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/epilogue.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/prologue.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/user.rs
  aptos-move/aptos-vm/src/testing.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
Labels: CICD:run-e2e-tests

#12485 [Network] Determine the outbound connection limit based on network type
  network/framework/src/connectivity_manager/mod.rs
Labels: CICD:build-images

#12303 Adding inline transactions in payload to reduce latency
  config/src/config/consensus_config.rs
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/block_test.rs
  consensus/consensus-types/src/block_test_utils.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/request_response.rs
  consensus/safety-rules/src/test_utils.rs
  consensus/safety-rules/src/tests/suite.rs
  consensus/src/block_storage/block_store_test.rs
  consensus/src/consensusdb/consensusdb_test.rs
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/helpers.rs
  consensus/src/dag/tests/types_test.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/liveness/unequivocal_proposer_election_test.rs
  consensus/src/network_tests.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/payload_manager.rs
  consensus/src/pipeline/tests/execution_phase_tests.rs
  consensus/src/pipeline/tests/test_utils.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_execution_client.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/test_utils/mod.rs
  consensus/src/util/db_tool.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Labels: CICD:build-images, CICD:run-e2e-tests

#12134 [randomness] Add entry function annotation
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/verifier/mod.rs
  aptos-move/aptos-vm/src/verifier/randomness.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/randomness.data/invalid_pack_non_entry/Move.toml
  aptos-move/e2e-move-tests/src/tests/randomness.data/invalid_pack_non_entry/sources/invalid.move
  aptos-move/e2e-move-tests/src/tests/randomness.data/invalid_pack_public_entry/Move.toml
  aptos-move/e2e-move-tests/src/tests/randomness.data/invalid_pack_public_entry/sources/invalid.move
  aptos-move/e2e-move-tests/src/tests/randomness.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/randomness.data/pack/sources/test.move
  aptos-move/e2e-move-tests/src/tests/randomness_test_and_abort.rs
  aptos-move/e2e-move-tests/src/tests/randomness_unsafe_public.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/randomness_unsafe_public.data/pack/scripts/script.move
  aptos-move/e2e-move-tests/src/tests/randomness_unsafe_public.data/pack/sources/some_randapp.move
  aptos-move/e2e-move-tests/src/tests/randomness_unsafe_public_entry.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/randomness_unsafe_public_entry.data/pack/scripts/script.move
  aptos-move/e2e-move-tests/src/tests/randomness_unsafe_public_entry.data/pack/sources/some_randapp.move
  aptos-move/framework/aptos-framework/doc/randomness.md
  aptos-move/framework/aptos-framework/sources/randomness.move
  aptos-move/framework/aptos-framework/sources/randomness.spec.move
  aptos-move/framework/src/extended_checks.rs
  aptos-move/framework/src/module_metadata.rs
  aptos-move/framework/src/natives/randomness.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/move-examples/on_chain_dice/sources/dice.move
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-vm/runtime/src/session.rs
Labels: CICD:run-e2e-tests, CICD:run-execution-performance-test

#12506 change_feature_flags_for_testing/verification
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/chain_id.data/pack/sources/chain_id_test.move
  aptos-move/e2e-move-tests/src/tests/stake.data/enable_rewards_rate_decrease/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/disable_collection/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/enable_collection/sources/main.move
  aptos-move/e2e-move-tests/src/tests/vote.data/enable_partial_governance_voting/sources/main.move
  aptos-move/e2e-testsuite/src/tests/invariant_violation.rs
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/configs/staking_config.move
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/multisig_account.move
  aptos-move/framework/aptos-framework/sources/object.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/aptos-framework/sources/vesting.move
  aptos-move/framework/aptos-framework/tests/delegation_pool_integration_tests.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/crypto_algebra.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/multi_ed25519.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255_bulletproofs.move
  aptos-move/framework/aptos-stdlib/sources/hash.move
  aptos-move/framework/aptos-stdlib/sources/type_info.move
  aptos-move/framework/aptos-token-objects/sources/collection.move
  aptos-move/framework/aptos-token-objects/sources/token.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/move-examples/token_objects/guild/sources/guild.move
  aptos-move/move-examples/veiled_coin/sources/veiled_coin_tests.move
  aptos-move/vm-genesis/src/lib.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12514 fix the broken config.
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/config.rs
Labels: CICD:build-images

#12524 Sync Terraform & Helm
  terraform/aptos-node-testnet/gcp/functions/signed-url/main.py
  terraform/aptos-node-testnet/gcp/functions/signed-url/requirements.txt
  terraform/aptos-node-testnet/gcp/genesis.tf
  terraform/aptos-node-testnet/gcp/main.tf
  terraform/aptos-node/aws/kubernetes.tf
  terraform/aptos-node/aws/variables.tf
  terraform/aptos-node/gcp/kubernetes.tf
  terraform/aptos-node/gcp/outputs.tf
  terraform/aptos-node/gcp/variables.tf
  terraform/fullnode/aws/kubernetes.tf
  terraform/fullnode/aws/variables.tf
  terraform/fullnode/gcp/kubernetes.tf
  terraform/fullnode/gcp/variables.tf
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/aptos-node/values.yaml
  terraform/helm/genesis/files/genesis.sh
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  terraform/helm/monitoring/Chart.lock
  terraform/helm/monitoring/Chart.yaml
  terraform/helm/monitoring/charts/kube-state-metrics-4.16.0.tgz
  terraform/helm/monitoring/charts/prometheus-node-exporter-4.0.0.tgz
  terraform/helm/monitoring/files/alertmanager.yml
  terraform/helm/monitoring/files/dashboards
  terraform/helm/monitoring/files/grafana.ini
  terraform/helm/monitoring/files/prometheus.yml
  terraform/helm/monitoring/files/rules/alerts.yml
  terraform/helm/monitoring/templates/_helpers.tpl
  terraform/helm/monitoring/templates/monitoring.yaml
  terraform/helm/monitoring/templates/serviceaccount.yaml
  terraform/helm/monitoring/values.yaml
Labels: CICD:build-images, CICD:run-forge-e2e-perf

#12199 [data service] in-memory cache
  Cargo.lock
  Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/in_memory_cache.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Labels: CICD:build-images

#12491 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#12579 Cherry pick quorum store latency reduction change into aptos release v1.10.1
  config/src/config/consensus_config.rs
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/block_test.rs
  consensus/consensus-types/src/block_test_utils.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/request_response.rs
  consensus/safety-rules/src/test_utils.rs
  consensus/safety-rules/src/tests/suite.rs
  consensus/src/block_storage/block_store_test.rs
  consensus/src/consensusdb/consensusdb_test.rs
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/helpers.rs
  consensus/src/dag/tests/types_test.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/liveness/unequivocal_proposer_election_test.rs
  consensus/src/network_tests.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/payload_manager.rs
  consensus/src/pipeline/tests/execution_phase_tests.rs
  consensus/src/pipeline/tests/test_utils.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/test_utils/mock_state_computer.rs
  consensus/src/test_utils/mod.rs
  consensus/src/util/db_tool.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Labels: CICD:run-e2e-tests

#12574 add writable volume for the genesis.blob for Forge PFNs
  testsuite/forge/src/backend/k8s/fullnode.rs
Labels: CICD:build-images

#12581 Add a few counters for BlockSTM size
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
  aptos-move/mvhashmap/src/versioned_modules.rs
  crates/aptos-metrics-core/src/avg_counter.rs
  crates/aptos-metrics-core/src/lib.rs
Labels: CICD:run-execution-performance-test

#12502 Reduce mempool poll time to 10ms
  config/src/config/mempool_config.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#12583 Limit number of DelayedFields (aggregators) per resource
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/types/src/value_serde.rs
Labels: CICD:run-execution-performance-test

#12360 [Compiler V2] Check recursive type instantiation
  third_party/move/move-compiler-v2/src/cyclic_instantiation_checker.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/recursive_type_instantiation.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/recursive_type_instantiation.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/complex_1.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/complex_1.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_just_type_params_ok.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_non_generic_type_ok.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_three_args_just_type_params_shitfing_ok.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_three_args_type_con_non_generic_types_ok.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_three_args_type_con_non_generic_types_ok.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_three_args_type_con_shifting.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_three_args_type_con_shifting.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_two_args_non_generic_type_and_type_param_ok.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_two_args_swapping_just_type_params_ok.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_two_args_swapping_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_two_args_swapping_type_con.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_type_con.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/nested_types_1.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/nested_types_1.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/nested_types_2.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/nested_types_2.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_infinite_type_terminates.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_infinite_type_terminates.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_one_arg_just_type_params_ok.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_one_arg_non_generic_type_ok.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_one_arg_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_one_arg_type_con.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_two_args_swapping_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_two_args_swapping_type_con.move
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/two_loops.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/two_loops.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-compiler-v2/tests/v1.matched
  third_party/move/move-compiler-v2/tests/v1.unmatched
  third_party/move/move-compiler-v2/tools/testdiff/src/main.rs
  third_party/move/move-model/src/ast.rs
Labels: compiler-v2

#12515 enable randomness in genesis
  aptos-move/e2e-move-tests/src/tests/stake.data/enable_rewards_rate_decrease/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/disable_collection/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/enable_collection/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/remove_validator/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/upgrade_burn_percentage/sources/main.move
  aptos-move/e2e-move-tests/src/tests/vote.data/enable_partial_governance_voting/sources/main.move
  testsuite/smoke-test/src/aptos_cli/validator.rs
  testsuite/smoke-test/src/consensus/dag/dag_fault_tolerance.rs
  testsuite/smoke-test/src/rosetta.rs
  types/src/on_chain_config/randomness_config.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#11656 [move] Improvements for error propagation
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_entry_function_validation.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_address.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_module_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_module_payload_bytecode.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_entry_function_arguments.json
  api/src/tests/move/pack_exceed_limit/Move.toml
  api/src/tests/move/pack_exceed_limit/sources/exceed_limit.move
  api/src/tests/transactions_test.rs
  api/src/transactions.rs
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/testing.rs
  ecosystem/typescript/sdk/src/tests/e2e/aptos_client.test.ts
  third_party/move/move-binary-format/src/errors.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
Labels: CICD:run-e2e-tests

#12223 [compiler-v2] Receiver functions
  third_party/move/evm/move-to-yul/tests/GlobalVectors.exp
  third_party/move/move-compiler-v2/src/cyclic_instantiation_checker.rs
  third_party/move/move-compiler-v2/src/flow_insensitive_checkers.rs
  third_party/move/move-compiler-v2/tests/checking/abilities/missing_key.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/call_errors.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/call_errors.move
  third_party/move/move-compiler-v2/tests/checking/receiver/calls.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/calls.move
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_with_freeze.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_with_freeze.move
  third_party/move/move-compiler-v2/tests/checking/receiver/decl_errors.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/decl_errors.move
  third_party/move/move-compiler-v2/tests/checking/receiver/generic_calls.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/generic_calls.move
  third_party/move/move-compiler-v2/tests/checking/receiver/same_names.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/same_names.move
  third_party/move/move-compiler-v2/tests/checking/receiver/vectors.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/vectors.move
  third_party/move/move-compiler-v2/tests/checking/specs/inline_fun_in_spec.move
  third_party/move/move-compiler-v2/tests/checking/typing/assign_wrong_arity.exp
  third_party/move/move-compiler-v2/tests/checking/typing/conditional_global_operations.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/typing/neq_invalid.exp
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/calls_with_freeze.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/calls_with_freeze.move
  third_party/move/move-compiler/src/attr_derivation/mod.rs
  third_party/move/move-compiler/src/diagnostics/codes.rs
  third_party/move/move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler/src/expansion/translate.rs
  third_party/move/move-compiler/src/naming/translate.rs
  third_party/move/move-compiler/src/parser/ast.rs
  third_party/move/move-compiler/src/parser/syntax.rs
  third_party/move/move-compiler/src/unit_test/filter_test_members.rs
  third_party/move/move-compiler/tests/move_check/v2-not-supported/no_receiver_calls.exp
  third_party/move/move-compiler/tests/move_check/v2-not-supported/no_receiver_calls.move
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/builder/model_builder.rs
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-model/src/lib.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-model/src/well_known.rs
  third_party/move/move-prover/bytecode-pipeline/src/global_invariant_analysis.rs
  third_party/move/move-prover/bytecode-pipeline/src/global_invariant_instrumentation_v2.rs
  third_party/move/move-prover/bytecode-pipeline/src/mono_analysis.rs
  third_party/move/move-prover/bytecode-pipeline/src/verification_analysis.rs
  third_party/move/scripts/move_pr.sh
Labels: stale-exempt, compiler-v2

#12537 [Mempool] Improve peer priority selection.
  Cargo.lock
  config/src/config/mempool_config.rs
  mempool/Cargo.toml
  mempool/src/counters.rs
  mempool/src/shared_mempool/mod.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/priority.rs
  mempool/src/shared_mempool/types.rs
Labels: CICD:run-forge-e2e-perf

#12395 [randomness] fast path
  aptos-move/framework/aptos-framework/doc/randomness_config.md
  aptos-move/framework/aptos-framework/sources/configs/randomness_config.move
  aptos-move/framework/move-stdlib/sources/configs/features.move
  consensus/src/block_storage/tracing.rs
  consensus/src/epoch_manager.rs
  consensus/src/logging.rs
  consensus/src/network.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/rand/rand_gen/aug_data_store.rs
  consensus/src/rand/rand_gen/network_messages.rs
  consensus/src/rand/rand_gen/rand_manager.rs
  consensus/src/rand/rand_gen/rand_store.rs
  consensus/src/rand/rand_gen/reliable_broadcast_state.rs
  consensus/src/rand/rand_gen/types.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_execution_client.rs
  testsuite/smoke-test/src/randomness/e2e_correctness.rs
  types/src/block_info.rs
  types/src/dkg/mod.rs
  types/src/dkg/real_dkg/mod.rs
  types/src/dkg/real_dkg/rounding/mod.rs
  types/src/dkg/real_dkg/rounding/tests.rs
  types/src/ledger_info.rs
  types/src/on_chain_config/randomness_config.rs
Labels: CICD:run-e2e-tests, CICD:build-failpoints-images

#12074 enable block limit after reordering and support the same for Chain health
  config/src/config/consensus_config.rs
  consensus/src/liveness/proposal_generator.rs
Labels: CICD:run-forge-e2e-perf

#12658 support 0 shares in PVSS
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pvss/test_utils.rs
  crates/aptos-dkg/src/pvss/weighted/weighted_config.rs
  crates/aptos-dkg/src/utils/mod.rs
Labels: CICD:run-e2e-tests

#12684 tweak google jwk governance script for 1.10
  aptos-move/aptos-release-builder/data/proposals/start_jwk_consensus_for_google.move
Labels: CICD:build-images

#12694 merge AIP-43 and aggregator API enabling
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-framework-upgrade-test

#12689 Track error logs lines in a counter and assert as success criteria
  Cargo.lock
  aptos-move/e2e-benchmark/Cargo.toml
  aptos-move/e2e-benchmark/src/main.rs
  crates/aptos-logger/src/counters.rs
  crates/aptos-logger/src/lib.rs
  crates/aptos-logger/src/macros.rs
  execution/executor-benchmark/src/lib.rs
  testsuite/forge/src/interface/prometheus_metrics.rs
  testsuite/forge/src/success_criteria.rs
Labels: CICD:run-e2e-tests

#12736 [release-builder] allow gas feature version to be overridden (1.10)
  Cargo.lock
  aptos-move/aptos-gas-schedule-updator/src/lib.rs
  aptos-move/aptos-gas-schedule-updator/tests/gen_tests.rs
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/mod.rs
Labels: CICD:run-framework-upgrade-test

#12716 [CI/CD] Delay windows CLI and protos test until appropriate event.
  .github/workflows/check-protos.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/windows-build.yaml
Labels: CICD:run-e2e-tests
