Repository aptos-labs/aptos-core, pull requests merged in 2024-07, with the labels that each got.

#13843 [e2e-testing] Switch to AptosVM execution
  Cargo.lock
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-vm-types/src/environment.rs
  aptos-move/e2e-tests/Cargo.toml
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/e2e-tests/src/executor.rs
Labels: CICD:run-e2e-tests

#13867 Fix entry function filtering
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/user_transaction.rs
Labels: CICD:build-indexer-images

#13866 Simplify proof queue data structure
  consensus/src/quorum_store/utils.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#13879 bump forge version for 1.16
  .github/workflows/docker-build-test.yaml
  .github/workflows/forge-stable.yaml
Labels: CICD:run-e2e-tests

#13882 Type tag construction
  aptos-move/aptos-gas-schedule/src/ver.rs
  aptos-move/aptos-vm-types/src/environment.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  types/src/vm/configs.rs
Labels: CICD:run-e2e-tests

#13709 Ignoring duplicate transactions when calculating block size
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_payload_manager.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#13884 Type tag construction
  aptos-move/aptos-gas-schedule/src/ver.rs
  aptos-move/aptos-vm-types/src/environment.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  types/src/vm/configs.rs
Labels: CICD:run-e2e-tests

#13904 [forge] long running tests get more storage
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/runner.rs
Labels: CICD:build-images

#13906 Update the max_txns in consensus config
  config/src/config/consensus_config.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/quorum_store/utils.rs
Labels: CICD:run-e2e-tests

#13876 [sharded 6] add pruning for internal indexer
  Cargo.lock
  api/test-context/src/test_context.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-node/src/lib.rs
  aptos-node/src/services.rs
  aptos-node/src/storage.rs
  config/src/config/config_sanitizer.rs
  config/src/config/internal_indexer_db_config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos-genesis/src/mainnet.rs
  ecosystem/indexer-grpc/indexer-grpc-table-info/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/internal_indexer_db_service.rs
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/runtime.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor/Cargo.toml
  execution/executor/tests/internal_indexer_test.rs
  state-sync/state-sync-driver/src/tests/driver_factory.rs
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/include/aptosdb_internal.rs
  storage/aptosdb/src/db/include/aptosdb_testonly.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/ledger_db/event_db.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/pruner/ledger_pruner/event_store_pruner.rs
  storage/aptosdb/src/pruner/ledger_pruner/ledger_pruner_manager.rs
  storage/aptosdb/src/pruner/ledger_pruner/mod.rs
  storage/aptosdb/src/pruner/ledger_pruner/test.rs
  storage/aptosdb/src/pruner/ledger_pruner/transaction_pruner.rs
  storage/aptosdb/src/utils/truncation_helper.rs
  storage/db-tool/src/bootstrap.rs
  storage/indexer/src/db_indexer.rs
  storage/indexer/src/indexer_reader.rs
  storage/indexer_schemas/src/metadata.rs
  testsuite/smoke-test/src/fullnode.rs
Labels: CICD:run-e2e-tests

#13966 [Network] Remove dead code.
  Cargo.lock
  Cargo.toml
  testsuite/dos/README
  testsuite/dos/http_test/Cargo.toml
  testsuite/dos/http_test/README.md
  testsuite/dos/http_test/docker/blocked.ips
  testsuite/dos/http_test/docker/docker-compose.yaml
  testsuite/dos/http_test/docker/haproxy-fullnode.cfg
  testsuite/dos/http_test/src/main.rs
  testsuite/dos/listener/Cargo.toml
  testsuite/dos/listener/src/main.rs
  testsuite/dos/sender/Cargo.toml
  testsuite/dos/sender/src/main.rs
Labels: CICD:run-e2e-tests

#13665 update query used for peer location labels
  crates/aptos-telemetry-service/src/clients/mod.rs
  crates/aptos-telemetry-service/src/peer_location.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
Labels: CICD:build-images

#13961 Re-apply qs backpressure increase with buffer latency increase
  config/src/config/mempool_config.rs
  config/src/config/quorum_store_config.rs
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
  testsuite/testcases/src/two_traffics_test.rs
Labels: CICD:build-images

#13901 Use 32 threads in single node performance benchmark
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#13850 Exclude expired transactions when counting block size during block creation
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/test_utils/mock_payload_manager.rs
Labels: CICD:run-e2e-tests

#13971 Mempool prioritizes transactions based on insertion time instead of expiration time.
  mempool/src/core_mempool/index.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#13809 [aptos-vm] Split module write set from change sets
  Cargo.lock
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/check_change_set.rs
  aptos-move/aptos-vm-types/src/lib.rs
  aptos-move/aptos-vm-types/src/module_write_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/storage/change_set_configs.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/abort_hook.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/epilogue.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/prologue.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/session_change_sets.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/user.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/view_with_change_set.rs
  aptos-move/aptos-vm/src/testing.rs
  aptos-move/aptos-vm/src/validator_txns/dkg.rs
  aptos-move/aptos-vm/src/validator_txns/jwk.rs
  aptos-move/e2e-move-tests/src/tests/vm.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/Cargo.toml
  aptos-move/vm-genesis/src/lib.rs
  experimental/execution/ptx-executor/src/runner.rs
Labels: CICD:run-e2e-tests

#13986 Fix the InvalidOrderedLedgerInfo error
  consensus/safety-rules/src/safety_rules.rs
  consensus/src/pipeline/tests/signing_phase_tests.rs
Labels: v1.17

#13981 [HAproxy] Update the config file.
  docker/compose/aptos-node/haproxy-fullnode.cfg
  docker/compose/aptos-node/haproxy.cfg
Labels: CICD:run-e2e-tests

#13892 [move] Minor cherrypicks for code storage
  Cargo.lock
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/keyless_validation.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  third_party/move/extensions/async/move-async-vm/src/async_vm.rs
  third_party/move/extensions/async/move-async-vm/tests/testsuite.rs
  third_party/move/move-core/types/src/lib.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/move-vm/test-utils/src/lib.rs
  third_party/move/move-vm/test-utils/src/storage.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/lib.rs
  third_party/move/move-vm/types/src/resolver.rs
  third_party/move/testing-infra/test-generation/Cargo.toml
  third_party/move/testing-infra/test-generation/src/lib.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  types/src/executable.rs
Labels: CICD:run-e2e-tests

#13898 [RFC] Update gas schedule with new diff for 1.16
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-framework-upgrade-test

#13995 backup coordinator: fix wrong chunk size for state snapshot chunk fet…
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
Labels: CICD:build-images

#13994 [gha][docker] migrate to runs-on runners
  .github/workflows/workflow-run-docker-rust-build.yaml
  docker/builder/builder.Dockerfile
Labels: CICD:build-images

#13837 [NFT Metadata Crawler] Asset Uploader
  Cargo.lock
  Cargo.toml
  ecosystem/nft-metadata-crawler-parser/Cargo.toml
  ecosystem/nft-metadata-crawler-parser/src/asset_uploader.rs
  ecosystem/nft-metadata-crawler-parser/src/config.rs
  ecosystem/nft-metadata-crawler-parser/src/lib.rs
  ecosystem/nft-metadata-crawler-parser/src/main.rs
  ecosystem/nft-metadata-crawler-parser/src/parser.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/constants.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Labels: CICD:build-images

#13738 UseCaseAwareShuffler
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/transaction_shuffler/mod.rs
  consensus/src/transaction_shuffler/use_case_aware/delayed_queue.rs
  consensus/src/transaction_shuffler/use_case_aware/iterator.rs
  consensus/src/transaction_shuffler/use_case_aware/mod.rs
  consensus/src/transaction_shuffler/use_case_aware/tests/manual.rs
  consensus/src/transaction_shuffler/use_case_aware/tests/mod.rs
  consensus/src/transaction_shuffler/use_case_aware/tests/proptests.rs
  consensus/src/transaction_shuffler/use_case_aware/types.rs
  consensus/src/transaction_shuffler/use_case_aware/utils.rs
  testsuite/forge-cli/src/suites/dag.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
  types/src/on_chain_config/execution_config.rs
Labels: CICD:build-images

#14023 [forge] Framework upgrade test all proposals
  .dockerignore
  crates/aptos-build-info/build.rs
  docker/builder/forge.Dockerfile
  testsuite/testcases/src/framework_upgrade.rs
Labels: CICD:run-framework-upgrade-test

#14002 [move] Remove legacy type builder
  aptos-move/aptos-vm-types/src/environment.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  third_party/move/move-vm/integration-tests/src/tests/instantiation_tests.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/transactional-tests/tests/recursion/runtime_type_deeply_nested.exp
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#14042 [consensus] reduce size of vote logs
  consensus/src/round_manager.rs
Labels: CICD:run-forge-e2e-perf

#14035 [quorum-store] subscribe to batches from DirectSend flow in batch requester
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/quorum_store/types.rs
Labels: CICD:run-forge-e2e-perf

#14054 remove buildkite integration
  .github/actions/rust-unit-tests/action.yaml
  .github/workflows/lint-test.yaml
Labels: CICD:run-all-unit-tests

#14068 Fix downloads in Windows setup script
  .github/workflows/windows-build.yaml
  scripts/windows_dev_setup.ps1
Labels: CICD:run-windows-tests

#14067 Update processor dep for localnet to fix Windows CLI build
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
  crates/aptos/src/node/local_testnet/processors.rs
Labels: CICD:run-windows-tests

#14057 [Bugfix] [Compiler-V2] Check Incompatibility of Package Visibility and Friend Declaration
  third_party/move/move-compiler-v2/tests/visibility-checker/mix_friend_package_visibility_invalid.exp
  third_party/move/move-compiler-v2/tests/visibility-checker/mix_friend_package_visibility_invalid.move
  third_party/move/move-compiler-v2/tests/visibility-checker/package_visibility_already_friend.exp
  third_party/move/move-model/src/builder/module_builder.rs
Labels: compiler-v2

#14073 [Consensus Observer] Fix randomness_stall_recovery smoke test.
  config/src/config/consensus_observer_config.rs
  consensus/src/consensus_observer/observer.rs
  consensus/src/consensus_provider.rs
  testsuite/smoke-test/src/randomness/randomness_stall_recovery.rs
Labels: CICD:run-e2e-tests

#14098 [forge][bugfix] fix fullnode container spec
  testsuite/forge/src/backend/k8s/fullnode.rs
Labels: CICD:run-forge-e2e-perf

#14029 [consensus] payload manager enum to trait refactor
  consensus/src/block_preparer.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/consensus_observer/observer.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/tests/helpers.rs
  consensus/src/dag/tests/integration_tests.rs
  consensus/src/epoch_manager.rs
  consensus/src/payload_manager.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/recovery_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_computer.rs
  consensus/src/state_computer_tests.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_execution_client.rs
  consensus/src/test_utils/mock_state_computer.rs
  consensus/src/test_utils/mod.rs
  consensus/src/twins/twins_node.rs
Labels: CICD:run-forge-e2e-perf

#14037 Add ready time and priority to mempool messages for better metric calculation
  config/src/config/mempool_config.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/mod.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/node.rs
  mempool/src/tests/shared_mempool_test.rs
  mempool/src/tests/test_framework.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#14120 [Target Determinator] Ignore the merge base out-of-date error.
  devtools/aptos-cargo-cli/src/common.rs
Labels: CICD:run-e2e-tests

#13883 [sharded] use internal indexer ledger version in API context and add state indices restore
  Cargo.lock
  api/src/accounts.rs
  api/src/context.rs
  api/src/events.rs
  api/src/tests/accounts_test.rs
  api/src/transactions.rs
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  aptos-node/src/state_sync.rs
  aptos-node/src/storage.rs
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/internal_indexer_db_service.rs
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/runtime.rs
  ecosystem/indexer-grpc/transaction-filter/src/boolean_transaction_filter.rs
  execution/executor/tests/internal_indexer_test.rs
  state-sync/state-sync-driver/Cargo.toml
  state-sync/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/driver_factory.rs
  state-sync/state-sync-driver/src/storage_synchronizer.rs
  state-sync/state-sync-driver/src/tests/bootstrapper.rs
  state-sync/state-sync-driver/src/tests/driver.rs
  state-sync/state-sync-driver/src/tests/driver_factory.rs
  state-sync/state-sync-driver/src/tests/mocks.rs
  state-sync/state-sync-driver/src/tests/storage_synchronizer.rs
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/backup/restore_handler.rs
  storage/aptosdb/src/db/include/aptosdb_internal.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/schema/db_metadata/mod.rs
  storage/aptosdb/src/state_restore/mod.rs
  storage/aptosdb/src/state_restore/restore_test.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/tests.rs
  storage/backup/backup-cli/src/backup_types/tests.rs
  storage/backup/backup-cli/src/backup_types/transaction/tests.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/src/replay_verify.rs
  storage/indexer/src/db_indexer.rs
  storage/indexer/src/indexer_reader.rs
  storage/indexer_schemas/Cargo.toml
  storage/indexer_schemas/src/metadata.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/fullnode.rs
  testsuite/smoke-test/src/storage.rs
  types/src/indexer/indexer_db_reader.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#14131 Increased bounded executor tasks
  config/src/config/consensus_config.rs
  consensus/src/consensus_provider.rs
Labels: CICD:run-e2e-tests, v1.16

#14153 [Forge] Remove P90 assertion to unblock realistic_env_max_load.
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests

#14109 Pull from mempool more frequently
  config/src/config/quorum_store_config.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/proof_manager.rs
Labels: CICD:run-e2e-tests

#14152 [Forge] Avoid commit bottleneck in forge.
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-forge-e2e-perf

#14129 Optimize quorum cert verification
  consensus/consensus-types/src/order_vote_msg.rs
  consensus/src/block_storage/mod.rs
  consensus/src/round_manager.rs
Labels: CICD:run-e2e-tests

#14121 [blockchain] Adjust execution backpressure
  aptos-move/aptos-release-builder/src/components/mod.rs
  config/src/config/consensus_config.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  testsuite/smoke-test/src/txn_emitter.rs
Labels: CICD:run-forge-e2e-perf

#14161 increasing block limit for concurrency level increase
  config/src/config/consensus_config.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests, CICD:run-forge-e2e-perf

#13789 Add graceful overload forge tests - workload sweep and parallelism non-starvation test
  .github/workflows/forge-stable.yaml
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/stats.rs
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/call_custom_modules.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
  testsuite/testcases/src/two_traffics_test.rs
Labels: CICD:build-images

#14173 [State Sync] Increase chunk sizes.
  config/src/config/state_sync_config.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-forge-e2e-perf

#14058 [indexer] File store backfiller
  Cargo.lock
  Cargo.toml
  docker/builder/build-indexer.sh
  docker/builder/indexer-grpc.Dockerfile
  ecosystem/indexer-grpc/indexer-grpc-file-store-backfiller/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store-backfiller/README.md
  ecosystem/indexer-grpc/indexer-grpc-file-store-backfiller/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store-backfiller/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store-backfiller/src/processor.rs
Labels: CICD:build-images, CICD:build-indexer-images

#14174 [move 2] Synchronize Move and Rust enum serialization
  aptos-move/e2e-benchmark/src/main.rs
  testsuite/single_node_performance.py
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/types/src/values/serialization_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test
