Repository aptos-labs/aptos-core, pull requests merged in 2024-04, with the labels that each got.

#12757 [compiler-v2] Adapt reference safety to quirks of v1 bytecode verifier semantics
  third_party/move/move-compiler-v2/src/pipeline/reference_safety_processor.rs
  third_party/move/move-compiler-v2/tests/ability-transform/borrowed_from_one_path.exp
  third_party/move/move-compiler-v2/tests/ability-transform/destroy_after_call.exp
  third_party/move/move-compiler-v2/tests/ability-transform/foreach_mut_expanded.exp
  third_party/move/move-compiler-v2/tests/ability-transform/mutate_vector.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/mut_refs_3.exp
  third_party/move/move-compiler-v2/tests/reference-safety/multiple_use_bug_12301.exp
  third_party/move/move-compiler-v2/tests/reference-safety/multiple_use_bug_12301.move
  third_party/move/move-compiler-v2/tests/reference-safety/multiple_use_bug_12301.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/mut_borrow_after_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/mut_borrow_after_invalid.move
  third_party/move/move-compiler-v2/tests/reference-safety/mut_borrow_after_invalid.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/mut_borrow_after_valid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/mut_borrow_after_valid.move
  third_party/move/move-compiler-v2/tests/reference-safety/mut_borrow_after_valid.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo_invalid.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full_invalid.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_global_bad1.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_global_bad1.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_global_bad5.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_global_bad5.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_global_mut_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_global_mut_invalid.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_combo.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_combo_invalid.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_full_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_full_invalid.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_combo_invalid.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_full_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_full_invalid.no-opt.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/return_mutual_borrows_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/return_mutual_borrows_invalid.no-opt.exp
  third_party/move/move-compiler-v2/tests/simplifier/simplifier_test4.exp
  third_party/move/move-compiler-v2/tests/testsuite.rs
Labels: CICD:run-e2e-tests

#12778 Update image tag in workflows
  .github/workflows/docker-build-test.yaml
Labels: CICD:run-e2e-tests

#12774 [Peer Monitoring] Remove performance monitoring feature.
  .github/workflows/lint-test.yaml
  Cargo.lock
  aptos-node/Cargo.toml
  aptos-node/src/logger.rs
  config/Cargo.toml
  config/src/config/config_optimizer.rs
  config/src/config/config_sanitizer.rs
  config/src/config/peer_monitoring_config.rs
  config/src/config/utils.rs
  peer-monitoring-service/client/Cargo.toml
  peer-monitoring-service/client/src/logging.rs
  peer-monitoring-service/client/src/peer_states/key_value.rs
  peer-monitoring-service/client/src/peer_states/mod.rs
  peer-monitoring-service/client/src/peer_states/peer_state.rs
  peer-monitoring-service/client/src/peer_states/performance_monitoring.rs
  peer-monitoring-service/client/src/tests/mod.rs
  peer-monitoring-service/client/src/tests/performance_monitoring.rs
  peer-monitoring-service/client/src/tests/utils.rs
  peer-monitoring-service/server/Cargo.toml
  peer-monitoring-service/server/src/lib.rs
  peer-monitoring-service/server/src/tests.rs
  peer-monitoring-service/types/Cargo.toml
  peer-monitoring-service/types/src/request.rs
  peer-monitoring-service/types/src/response.rs
  testsuite/forge/src/backend/local/cargo.rs
  testsuite/smoke-test/src/network.rs
Labels: CICD:run-e2e-tests

#12754 [GHA] Always run the move compiler tests in CI/CD.
  .github/workflows/move-test-compiler-v2.yaml
Labels: CICD:run-e2e-tests

#12710 Enable allow_batches_without_pos_in_proposal flag
  .github/workflows/docker-build-test.yaml
  config/src/config/quorum_store_config.rs
Labels: CICD:build-images

#12777 add coin/fa minting benchmarks
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/packages/framework_usecases/sources/coin_example.move
  testsuite/module-publish/src/packages/framework_usecases/sources/fungible_asset_example.move
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#12788 Reset release.yaml for v1.11
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-framework-upgrade-test

#12787 [mempool] track commit-minus-parked time, as well as parked time
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
Labels: CICD:run-forge-e2e-perf

#12213 Delegators allowlisting for delegation pools
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-framework/doc/delegation_pool.md
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  types/src/on_chain_config/aptos_features.rs
Labels: move-framework

#12801 [forge][success_criteria] Fix forge check for error!() logs
  aptos-move/e2e-benchmark/src/main.rs
  consensus/src/epoch_manager.rs
  dkg/src/dkg_manager/mod.rs
  testsuite/forge/src/interface/prometheus_metrics.rs
  testsuite/forge/src/success_criteria.rs
Labels: CICD:run-forge-e2e-perf

#12805 Add liquidity pool swap (from examples) to transaction generator
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/e2e-tests/src/executor.rs
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/packages/complex/Move.toml
  testsuite/module-publish/src/packages/complex/sources/liquid_pool/liquidity_pool.move
  testsuite/module-publish/src/packages/complex/sources/liquid_pool/liquidity_pool_wrapper.move
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#12618 parameterize jwk consensus config in genesis
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos/src/genesis/mod.rs
  types/src/on_chain_config/jwk_consensus_config.rs
Labels: CICD:run-e2e-tests

#12813 [Emitter] Changes to support pluggable account type for keyless support
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/local_account_generator.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  crates/transaction-generator-lib/src/lib.rs
  sdk/src/types.rs
Labels: CICD:run-e2e-tests

#12747 Change the compression to lz4 on main
  Cargo.lock
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/processor.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-utils/src/compression_util.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/gcs.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/local.rs
Labels: CICD:build-images

#12711 [indexer grpc] in-memory cache benchmarks.
  .github/workflows/indexer-grpc-in-memory-cache-benchmark.yaml
  Cargo.lock
  Cargo.toml
  docker/builder/build-indexer.sh
  docker/builder/indexer-grpc.Dockerfile
  ecosystem/indexer-grpc/indexer-grpc-in-memory-cache-benchmark/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-in-memory-cache-benchmark/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/in_memory_cache.rs
Labels: CICD:build-images

#12792 [CI/CD] Add targeted unit test job and delay all unit tests.
  .github/actions/rust-targeted-unit-tests/action.yaml
  .github/actions/rust-unit-tests/action.yaml
  .github/workflows/lint-test.yaml
  devtools/aptos-cargo-cli/src/cargo.rs
  devtools/aptos-cargo-cli/src/common.rs
  devtools/aptos-cargo-cli/src/lib.rs
Labels: CICD:run-all-unit-tests

#12835 [CI/CD] Adopt targeted CLI windows build test.
  .github/actions/rust-targeted-unit-tests/action.yaml
  .github/workflows/windows-build.yaml
  devtools/aptos-cargo-cli/src/cargo.rs
  devtools/aptos-cargo-cli/src/lib.rs
Labels: CICD:run-windows-tests

#12848 remove AccountState, the Blob, etc.
  Cargo.lock
  aptos-move/aptos-debugger/Cargo.toml
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-resource-viewer/src/lib.rs
  aptos-move/aptos-validator-interface/Cargo.toml
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/mock.rs
  types/proptest-regressions/state_store/state_key.txt
  types/src/account_state.rs
  types/src/lib.rs
  types/src/proptest_types.rs
  types/src/state_store/state_key.rs
Labels: CICD:run-e2e-tests

#12776 Refactor and fix consensus-only-perf-test feature
  aptos-node/src/storage.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  storage/aptosdb/src/db/fake_aptosdb.rs
  storage/aptosdb/src/db/include/aptosdb_internal.rs
  storage/aptosdb/src/db/include/aptosdb_testonly.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db/test_helper.rs
  storage/aptosdb/src/lib.rs
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-consensus-only-perf-test, CICD:build-consensus-only-image

#12806 [Compiler-V2] Unused type parameter checking
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/src/unused_params_checker.rs
  third_party/move/move-compiler-v2/tests/checking/access_specifiers/access_ok.move
  third_party/move/move-compiler-v2/tests/checking/naming/duplicate_type_parameter_function.exp
  third_party/move/move-compiler-v2/tests/checking/naming/duplicate_type_parameter_struct.exp
  third_party/move/move-compiler-v2/tests/checking/naming/unused_type_parameter_struct.exp
  third_party/move/move-compiler-v2/tests/checking/naming/unused_type_parameter_struct.move
  third_party/move/move-compiler-v2/tests/checking/naming/unused_type_parameter_struct_invalid_fields.exp
  third_party/move/move-compiler-v2/tests/checking/naming/unused_type_parameter_struct_invalid_fields.move
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-prover/src/lib.rs
Labels: compiler-v2

#12875 add cpu profile links to forge comments
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge.py
Labels: CICD:run-forge-e2e-perf

#12896 [release] reset release.yaml for 1.10.1 and configure gas schedule upgrade
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12897 [rand] delay processing incoming blocks until self certified data available
  consensus/src/rand/rand_gen/aug_data_store.rs
  consensus/src/rand/rand_gen/rand_manager.rs
Labels: CICD:run-e2e-tests

#12900 1.11 release yaml fix
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-framework-upgrade-test

#12779 dkg rounding updates
  dkg/src/counters.rs
  dkg/src/dkg_manager/mod.rs
  types/src/dkg/mod.rs
  types/src/dkg/real_dkg/mod.rs
  types/src/dkg/real_dkg/rounding/mod.rs
  types/src/dkg/real_dkg/rounding/tests.rs
Labels: CICD:run-e2e-tests

#12695 deposit in prologue and refund in epilogue to prevent undergasing attack for randomness txns
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/prologue.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/randomness.data/pack/sources/test.move
  aptos-move/e2e-move-tests/src/tests/randomness_test_and_abort.rs
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  third_party/move/move-core/types/src/vm_status.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12891 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#12923 [Coverage] Don't fail job on codecov upload failure
  .github/workflows/coverage-move-only.yaml
  .github/workflows/coverage.yaml
Labels: CICD:run-coverage

#12933 Add auth token for code coverage
  .github/workflows/coverage-move-only.yaml
  .github/workflows/coverage.yaml
Labels: CICD:non-required-tests

#12520 [gas] tune dependency gas
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#12941 [Compiler-V2] [Bugfix] Improve cyclic instantiation checker error messages
  third_party/move/move-compiler-v2/src/cyclic_instantiation_checker.rs
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/recursive_type_instantiation.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/complex_1.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_three_args_type_con_non_generic_types_ok.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_three_args_type_con_shifting.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_two_args_swapping_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/nested_types_1.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/nested_types_2.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_infinite_type_terminates.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_one_arg_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_two_args_swapping_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/two_loops.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-typing/infinite_instantiations_invalid.exp
Labels: compiler-v2

#12927 fix release yaml
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-framework-upgrade-test

#12973 [Compiler-V2] [Bugfix] Fix bug in ability processor
  third_party/move/move-compiler-v2/src/pipeline/ability_processor.rs
  third_party/move/move-compiler-v2/tests/ability-check/v1-typing/conditional_drop_invalid.exp
Labels: compiler-v2

#12970 Cherrypick #12969
  Cargo.lock
  api/types/src/convert.rs
  aptos-node/Cargo.toml
  third_party/move/tools/move-resource-viewer/src/fat_type.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
  third_party/move/tools/move-resource-viewer/src/limit.rs
  third_party/move/tools/move-resource-viewer/src/resolver.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#12940 [Mempool] Transaction validation in parallel
  Cargo.lock
  mempool/Cargo.toml
  mempool/src/shared_mempool/tasks.rs
Labels: CICD:run-e2e-tests

#12983 Add broadcast_commit_votes flag to ConsensusConfig
  config/src/config/consensus_config.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/decoupled_execution_utils.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
Labels: CICD:build-images

#12877 avoid thread pool creation for randomness of every block
  consensus/src/rand/rand_gen/types.rs
Labels: CICD:run-forge-e2e-perf

#12819 Use run-local-testnet action from aptos-labs/actions
  .github/actions/run-local-testnet/action.yaml
  .github/actions/run-rust-client-tests/action.yaml
  .github/actions/run-ts-sdk-e2e-tests/action.yaml
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:experimental-build, CLI, CICD:build-indexer-images, CICD:non-required-tests

#12981 schemadb: ignore unrecognized CF on opening
  storage/schemadb/src/lib.rs
  storage/schemadb/tests/db.rs
Labels: CICD:run-e2e-tests

#12953 config to disable randomness in a chain halt
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/randomness_config_seqnum.md
  aptos-move/framework/aptos-framework/doc/reconfiguration_with_dkg.md
  aptos-move/framework/aptos-framework/sources/configs/config_buffer.move
  aptos-move/framework/aptos-framework/sources/configs/randomness_config_seqnum.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.move
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  config/src/config/node_config.rs
  consensus/src/epoch_manager.rs
  consensus/src/rand/rand_gen/rand_manager.rs
  crates/aptos/src/test/mod.rs
  dkg/src/epoch_manager.rs
  dkg/src/lib.rs
  testsuite/smoke-test/src/randomness/mod.rs
  testsuite/smoke-test/src/randomness/randomness_stall_recovery.rs
  types/src/on_chain_config/mod.rs
  types/src/on_chain_config/randomness_config.rs
Labels: CICD:run-e2e-tests

#12972 rand type clean-up ver. B
  consensus/consensus-types/src/randomness.rs
  consensus/src/rand/rand_gen/block_queue.rs
  consensus/src/rand/rand_gen/rand_manager.rs
  consensus/src/rand/rand_gen/rand_store.rs
  consensus/src/rand/rand_gen/reliable_broadcast_state.rs
  consensus/src/rand/rand_gen/test_utils.rs
  consensus/src/rand/rand_gen/types.rs
  consensus/src/round_manager.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/smoke-test/src/randomness/mod.rs
  types/src/randomness.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12867 [Draft] Validators broadcast order votes upon receiving proposal votes
  Cargo.lock
  consensus/consensus-types/src/lib.rs
  consensus/consensus-types/src/order_vote.rs
  consensus/consensus-types/src/pipelined_block.rs
  consensus/consensus-types/src/safety_data.rs
  consensus/consensus-types/src/sync_info.rs
  consensus/consensus-types/src/vote_proposal.rs
  consensus/safety-rules/Cargo.toml
  consensus/safety-rules/src/error.rs
  consensus/safety-rules/src/fuzzing_utils.rs
  consensus/safety-rules/src/local_client.rs
  consensus/safety-rules/src/logging.rs
  consensus/safety-rules/src/persistent_safety_storage.rs
  consensus/safety-rules/src/safety_rules.rs
  consensus/safety-rules/src/safety_rules_2chain.rs
  consensus/safety-rules/src/serializer.rs
  consensus/safety-rules/src/t_safety_rules.rs
  consensus/safety-rules/src/test_utils.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/block_tree.rs
  consensus/src/block_storage/mod.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/block_storage/tracing.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/liveness/round_state.rs
  consensus/src/liveness/round_state_test.rs
  consensus/src/logging.rs
  consensus/src/metrics_safety_rules.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/network_tests.rs
  consensus/src/pending_order_votes.rs
  consensus/src/persistent_liveness_storage.rs
  consensus/src/recovery_manager.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mod.rs
  crates/aptos-logger/src/security.rs
  testsuite/forge-cli/src/main.rs
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/ledger_info.rs
Labels: CICD:build-images

#12984 fast path release entry
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/randomness_config.rs
  aptos-move/framework/aptos-framework/doc/randomness_config.md
  aptos-move/framework/aptos-framework/sources/configs/randomness_config.move
  types/src/on_chain_config/randomness_config.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12791 [forge] Merge compat and framework test in k8s forge
  .github/workflows/forge-stable.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/testcases/src/compatibility_test.rs
  testsuite/testcases/src/framework_upgrade.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12950 [mempool] add more granular buckets to measure e2e latency percentiles more accurately
  mempool/src/counters.rs
Labels: CICD:run-forge-e2e-perf

#13011 [simple] Add counters for authenticators used
  execution/executor-benchmark/src/lib.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/metrics.rs
  types/src/transaction/authenticator.rs
Labels: CICD:run-forge-e2e-perf

#13015 fix state kv truncate
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/utils/truncation_helper.rs
Labels: CICD:run-e2e-tests

#13008 enable write io gas for transaction and events
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-gas-schedule/src/ver.rs
Labels: CICD:run-e2e-tests

#12768 Use native implementation to optimize object derived address computation
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/sources/object.move
  aptos-move/framework/aptos-framework/sources/object.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/object.rs
  aptos-move/framework/src/natives/transaction_context.rs
  testsuite/single_node_performance.py
  types/src/on_chain_config/aptos_features.rs
  types/src/transaction/authenticator.rs
Labels: CICD:run-e2e-tests

#13034 Make StateKey debug output leaner, hiding the internal details.
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__borrow_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__change_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__move_from_across_blocks.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_bad_sig_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_code_unverifiable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_nested_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_non_existing_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_none_existing_module_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_arbitrary_script_execution.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_script_dependency_fails_verification.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_script_transitive_dependency_fails_verification.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_type_tag_dependency_fails_verification.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_type_tag_transitive_dependency_fails_verification.exp
  types/src/state_store/state_key.rs
Labels: CICD:run-e2e-tests

#13044 Update release.yaml for v1.11
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-framework-upgrade-test

#13091 [Mempool] Use a pool of VMs for transaction validation
  Cargo.lock
  mempool/Cargo.toml
  mempool/src/shared_mempool/runtime.rs
  vm-validator/Cargo.toml
  vm-validator/src/vm_validator.rs
Labels: CICD:run-e2e-tests

#13066 Increase round manager queue size to reduce round manager drop rate
  consensus/src/epoch_manager.rs
Labels: CICD:run-e2e-tests

#13117 [Compiler-V2] [Bugfix] Fix bug in unused parameter checker
  third_party/move/move-compiler-v2/src/unused_params_checker.rs
  third_party/move/move-prover/src/lib.rs
Labels: compiler-v2

#13098 Coverage tests fixes
  .github/workflows/coverage.yaml
Labels: CICD:run-coverage

#12864 StateKeyRegistry
  Cargo.lock
  Cargo.toml
  api/types/src/wrappers.rs
  aptos-move/aptos-vm-types/src/storage/io_pricing.rs
  aptos-move/e2e-move-tests/src/tests/access_path_test.rs
  storage/aptosdb/src/schema/stale_state_value_index/mod.rs
  storage/aptosdb/src/schema/state_value/mod.rs
  storage/aptosdb/src/schema/state_value_index/mod.rs
  testsuite/generate-format/Cargo.toml
  types/Cargo.toml
  types/benches/state_key.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_key/mod.rs
  types/src/state_store/state_key/prefix.rs
  types/src/state_store/state_key/registry.rs
Labels: CICD:run-e2e-tests
