Repository aptos-labs/aptos-core, pull requests merged in 2024-02, with the labels that each got.

#11775 [move] Remove natives for vector
  third_party/move/move-stdlib/docs/vector.md
  third_party/move/move-stdlib/sources/vector.move
  third_party/move/move-stdlib/src/natives/mod.rs
  third_party/move/move-stdlib/src/natives/vector.rs
  third_party/move/move-vm/transactional-tests/tests/builtins/vec_borrow_and_modify.exp
  third_party/move/move-vm/transactional-tests/tests/builtins/vec_borrow_and_modify.mvir
  third_party/move/move-vm/transactional-tests/tests/builtins/vec_pop.exp
  third_party/move/move-vm/transactional-tests/tests/builtins/vec_pop.mvir
  third_party/move/move-vm/transactional-tests/tests/builtins/vec_push.exp
  third_party/move/move-vm/transactional-tests/tests/builtins/vec_push.mvir
  third_party/move/move-vm/transactional-tests/tests/builtins/vec_swap.exp
  third_party/move/move-vm/transactional-tests/tests/builtins/vec_swap.mvir
  third_party/move/move-vm/transactional-tests/tests/instructions/vec_copy_nested.exp
  third_party/move/move-vm/transactional-tests/tests/instructions/vec_copy_nested.mvir
  third_party/move/move-vm/transactional-tests/tests/native_functions/vector_module.exp
  third_party/move/move-vm/transactional-tests/tests/native_functions/vector_module.mvir
  third_party/move/move-vm/transactional-tests/tests/native_functions/vector_resource_not_destroyed_at_return.exp
  third_party/move/move-vm/transactional-tests/tests/native_functions/vector_resource_not_destroyed_at_return.mvir
  third_party/move/move-vm/transactional-tests/tests/native_functions/vector_unrestricted_not_destroyed_at_return_ok.exp
  third_party/move/move-vm/transactional-tests/tests/native_functions/vector_unrestricted_not_destroyed_at_return_ok.mvir
  third_party/move/move-vm/transactional-tests/tests/native_structs/non_existant_native_struct.exp
  third_party/move/move-vm/transactional-tests/tests/native_structs/non_existant_native_struct.mvir
Labels: CICD:run-e2e-tests, CICD:run-prover-test

#11674 [Compiler V2] Derive abstract domain
  Cargo.lock
  third_party/move/move-compiler-v2/Cargo.toml
  third_party/move/move-compiler-v2/src/pipeline/livevar_analysis_processor.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety_processor.rs
  third_party/move/move-model/bytecode/Cargo.toml
  third_party/move/move-model/bytecode/abstract_domain_derive/Cargo.toml
  third_party/move/move-model/bytecode/abstract_domain_derive/src/lib.rs
  third_party/move/move-model/bytecode/abstract_domain_derive/tests/test.rs
  third_party/move/move-model/bytecode/src/borrow_analysis.rs
  third_party/move/move-model/bytecode/src/dataflow_domains.rs
  third_party/move/move-model/bytecode/src/usage_analysis.rs
  third_party/move/move-prover/bytecode-pipeline/Cargo.toml
  third_party/move/move-prover/bytecode-pipeline/src/packed_types_analysis.rs
Labels: compiler-v2

#11870 initialize visibility fix
  aptos-move/framework/aptos-framework/doc/config_buffer.md
  aptos-move/framework/aptos-framework/doc/dkg.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/doc/randomness.md
  aptos-move/framework/aptos-framework/doc/reconfiguration_state.md
  aptos-move/framework/aptos-framework/sources/configs/config_buffer.move
  aptos-move/framework/aptos-framework/sources/dkg.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/jwks.move
  aptos-move/framework/aptos-framework/sources/randomness.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_state.move
Labels: CICD:run-e2e-tests

#11849 Authenticator fuzzer
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run.rs
Labels: CICD:run-e2e-tests

#11864 Parallel fetching for GCS
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/gcs.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/local.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/mod.rs
Labels: CICD:build-images

#11853 jwk #1: validator txn for publishing updates
  Cargo.lock
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/system_module_names.rs
  aptos-move/aptos-vm/src/validator_txns/dummy.rs
  aptos-move/aptos-vm/src/validator_txns/jwk.rs
  aptos-move/aptos-vm/src/validator_txns/mod.rs
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/sources/jwks.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/vm-genesis/src/lib.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_computer_tests.rs
  consensus/src/test_utils/mock_payload_manager.rs
  crates/validator-transaction-pool/src/tests.rs
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/dkg/mod.rs
  types/src/jwks/mod.rs
  types/src/proptest_types.rs
  types/src/validator_txn.rs
Labels: CICD:run-e2e-tests, JWK

#11855 jwk #2: ensure jwk txns are expected in consensus
  Cargo.lock
  consensus/safety-rules/Cargo.toml
  consensus/safety-rules/src/lib.rs
  consensus/safety-rules/src/safety_rules_manager.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/tests/integration_tests.rs
  consensus/src/dag/tests/rb_handler_tests.rs
  consensus/src/epoch_manager.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/util/mod.rs
Labels: JWK

#11856 jwk #3: jwk consensus deps, network, and type defs
  Cargo.lock
  aptos-node/src/network.rs
  crates/aptos-jwk-consensus/Cargo.toml
  crates/aptos-jwk-consensus/src/lib.rs
  crates/aptos-jwk-consensus/src/network.rs
  crates/aptos-jwk-consensus/src/network_interface.rs
  crates/aptos-jwk-consensus/src/types.rs
  crates/validator-transaction-pool/Cargo.toml
  crates/validator-transaction-pool/src/lib.rs
Labels: CICD:run-e2e-tests, JWK

#11857 jwk #4: jwk update quorum certification
  crates/aptos-jwk-consensus/src/lib.rs
  crates/aptos-jwk-consensus/src/observation_aggregation/mod.rs
  crates/aptos-jwk-consensus/src/observation_aggregation/tests.rs
  crates/aptos-jwk-consensus/src/update_certifier.rs
  types/src/aggregate_signature.rs
Labels: CICD:run-e2e-tests, JWK

#11860 jwk #5: jwk observation
  crates/aptos-jwk-consensus/src/jwk_observer.rs
  crates/aptos-jwk-consensus/src/lib.rs
Labels: CICD:run-e2e-tests, JWK

#11893 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#11858 jwk #7: epoch manager
  crates/aptos-jwk-consensus/src/certified_update_producer.rs
  crates/aptos-jwk-consensus/src/epoch_manager.rs
  crates/aptos-jwk-consensus/src/lib.rs
  crates/aptos-jwk-consensus/src/update_certifier.rs
  types/src/contract_event.rs
Labels: CICD:run-e2e-tests, JWK

#11861 jwk #8: jwk consensus wired into node
  Cargo.lock
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  aptos-node/src/state_sync.rs
  config/src/config/identity_config.rs
  crates/aptos-jwk-consensus/src/certified_update_producer.rs
  crates/aptos-jwk-consensus/src/counters.rs
  crates/aptos-jwk-consensus/src/lib.rs
  execution/executor-types/src/lib.rs
Labels: CICD:run-e2e-tests, JWK

#11901 [GRPC] Don't limit prost recursion
  Cargo.toml
Labels: CICD:build-images

#11862 jwk #9: smoke tests
  Cargo.lock
  testsuite/forge/src/backend/local/cargo.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/jwks/dummy_provider/mod.rs
  testsuite/smoke-test/src/jwks/dummy_provider/request_handler.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_basic.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_per_issuer.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_provider_change_mind.rs
  testsuite/smoke-test/src/jwks/mod.rs
Labels: CICD:run-e2e-tests, JWK

#11896 [forge] revert genesis to pre-#11842
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
Labels: CICD:build-images

#11910 [NFT Metadata Crawler] Fix faulty migration
  ecosystem/nft-metadata-crawler-parser/migrations/2024-01-31-221845_add_not_parsable_column/up.sql
Labels: CICD:build-images

#11899 [Block Executor] Fix halting logic
  Cargo.lock
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/errors.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
Labels: CICD:run-e2e-tests

#11912 [agg_v2] Enable AggV2/RG feature in genesis (i.e. for devnet)
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/vm-genesis/src/lib.rs
  testsuite/single_node_performance.py
Labels: CICD:run-e2e-tests, CICD:run-execution-performance-full-test

#11507 [Framework] Fix typo in state storage module
  aptos-move/framework/aptos-framework/doc/state_storage.md
  aptos-move/framework/aptos-framework/sources/state_storage.move
Labels: Stale, move-framework

#11919 Add GCD algorithm to math library
  aptos-move/framework/aptos-stdlib/doc/math128.md
  aptos-move/framework/aptos-stdlib/doc/math64.md
  aptos-move/framework/aptos-stdlib/sources/math128.move
  aptos-move/framework/aptos-stdlib/sources/math64.move
Labels: move-framework

#11907 [Txn Emitter] Various improvements to the transaction emitter
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/transaction_executor.rs
  crates/transaction-emitter-lib/src/wrappers.rs
Labels: CICD:run-e2e-tests

#11955 remove unreachable
  aptos-move/block-executor/src/txn_last_input_output.rs
Labels: CICD:run-e2e-tests

#11945 [Block Executor] Fix committed status checks / skip rest
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
Labels: CICD:run-e2e-tests

#11891 [Block Executor] implement group serialization fallback, test
  aptos-move/block-executor/src/errors.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unsync_map.rs
Labels: CICD:run-e2e-tests

#11953 [NFT Metadata Crawler] SHA256 file names + last_transaction_version migration
  Cargo.lock
  ecosystem/nft-metadata-crawler-parser/Cargo.toml
  ecosystem/nft-metadata-crawler-parser/migrations/2024-02-08-013147_add_last_transaction_version/down.sql
  ecosystem/nft-metadata-crawler-parser/migrations/2024-02-08-013147_add_last_transaction_version/up.sql
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris.rs
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris_query.rs
  ecosystem/nft-metadata-crawler-parser/src/schema.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/database.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/gcs.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Labels: CICD:build-images

#11978 fix next_validator_consensus_infos bug
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/stake.move
Labels: CICD:run-e2e-tests

#11546 [Quorom Store] enable BatchResponseV2
  consensus/src/network.rs
  consensus/src/quorum_store/quorum_store_builder.rs
Labels: CICD:run-forge-e2e-perf

#11817 [Executor] [Delayed fields] Utilities clean-up / refactor
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/tests/types.rs
  aptos-move/aptos-vm-types/src/abstract_write_op.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/value_exchange.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
  types/src/write_set.rs
Labels: CICD:run-e2e-tests

#12006 Add some proof verification in storage integration test
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/tests/storage_integration_test.rs
  storage/aptosdb/src/db/include/aptosdb_internal.rs
  storage/aptosdb/src/db/mod.rs
  storage/indexer/src/db_v2.rs
  storage/indexer/src/lib.rs
  storage/storage-interface/src/state_view.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#12003 event filter optimization
  Cargo.lock
  execution/executor-types/Cargo.toml
  execution/executor-types/benches/default.rs
  execution/executor-types/src/lib.rs
  types/src/account_config/events/new_epoch.rs
  types/src/dkg/mod.rs
  types/src/jwks/mod.rs
Labels: CICD:run-e2e-tests

#12010 [Node Config] Set the data directory before optimizing/sanitizing
  config/src/config/config_optimizer.rs
  config/src/config/identity_config.rs
  config/src/config/node_config_loader.rs
Labels: CICD:run-e2e-tests

#11676 [Compiler V2] [Bugfix] Exit state analysis and ability checking on abort paths
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/src/pipeline/ability_checker.rs
  third_party/move/move-compiler-v2/src/pipeline/exit_state_analysis.rs
  third_party/move/move-compiler-v2/src/pipeline/mod.rs
  third_party/move/move-compiler-v2/tests/ability-checker/ability_violation.exp
  third_party/move/move-compiler-v2/tests/ability-checker/assign.exp
  third_party/move/move-compiler-v2/tests/ability-checker/bad_inst.exp
  third_party/move/move-compiler-v2/tests/ability-checker/drop_on_abort.exp
  third_party/move/move-compiler-v2/tests/ability-checker/failing/fields.exp
  third_party/move/move-compiler-v2/tests/ability-checker/failing/operators.exp
  third_party/move/move-compiler-v2/tests/ability-checker/globals.exp
  third_party/move/move-compiler-v2/tests/ability-checker/loop_abort.exp
  third_party/move/move-compiler-v2/tests/ability-checker/loop_abort.move
  third_party/move/move-compiler-v2/tests/abort-analysis/calls.exp
  third_party/move/move-compiler-v2/tests/abort-analysis/calls.move
  third_party/move/move-compiler-v2/tests/abort-analysis/drop_on_abort.exp
  third_party/move/move-compiler-v2/tests/abort-analysis/drop_on_abort.move
  third_party/move/move-compiler-v2/tests/abort-analysis/loop_abort.exp
  third_party/move/move-compiler-v2/tests/abort-analysis/loop_abort.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-model/bytecode/src/function_target_pipeline.rs
  third_party/move/move-model/bytecode/src/stackless_control_flow_graph.rs
Labels: compiler-v2

#11629 [Quorum Store] improvements to prevent some batches not getting quorum
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/epoch_manager.rs
  consensus/src/logging.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/round_manager.rs
Labels: CICD:run-forge-e2e-perf

#12012 [aggregator] tests for events and improve event v1 handling
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/events_with_aggregators.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_events.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_runtime_checks.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/framework/src/natives/event.rs
Labels: CICD:run-e2e-tests

#12002 [move-vm] Cache verified modules
  Cargo.lock
  testsuite/single_node_performance.py
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/loader/mod.rs
Labels: CICD:run-execution-performance-test

#12026 Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Labels: CICD:run-e2e-tests

#12020 Update release.yaml
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
Labels: CICD:run-e2e-tests

#12021 Cherry-pick VM changes
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  aptos-move/aptos-gas-calibration/samples_ir/vector/vec-generic.mvir
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-profiling/src/aggregate.rs
  aptos-move/aptos-gas-profiling/src/erased.rs
  aptos-move/aptos-gas-profiling/src/flamegraph.rs
  aptos-move/aptos-gas-profiling/src/log.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/instr.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
  aptos-move/aptos-vm-profiling/move/subst_ty/node_size_16.mvir
  aptos-move/aptos-vm-profiling/move/subst_ty/node_size_8.mvir
  aptos-move/e2e-move-tests/src/tests/smart_data_structures.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  testsuite/single_node_performance.py
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-core/types/src/gas_algebra.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/test-utils/src/gas_schedule.rs
  third_party/move/move-vm/types/src/gas.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Labels: CICD:run-e2e-tests

#12048 jwk observation counters
  crates/aptos-jwk-consensus/src/counters.rs
  crates/aptos-jwk-consensus/src/jwk_observer.rs
Labels: CICD:run-e2e-tests

#12063 [aggregator] Fix simulation & view for delayed fields
  api/goldens/aptos_api__tests__view_function__test_view_aggregator.json
  api/src/tests/move/pack_counter/Move.toml
  api/src/tests/move/pack_counter/sources/counter.move
  api/src/tests/simulation_test.rs
  api/src/tests/view_function.rs
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  experimental/execution/ptx-executor/src/runner.rs
  vm-validator/src/vm_validator.rs
Labels: CICD:run-e2e-tests

#12046 Resolved the `framework_upgrade` CI test failure
  .github/workflows/docker-build-test.yaml
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12086 Update release.yaml
  aptos-move/aptos-release-builder/data/release.yaml
Labels: CICD:run-framework-upgrade-test

#12093 merge main to randomnet
  .github/workflows/docker-build-test.yaml
  api/goldens/aptos_api__tests__view_function__test_view_aggregator.json
  api/src/tests/move/pack_counter/Move.toml
  api/src/tests/move/pack_counter/sources/counter.move
  api/src/tests/simulation_test.rs
  api/src/tests/view_function.rs
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  consensus/src/epoch_manager.rs
  experimental/execution/ptx-executor/src/runner.rs
  vm-validator/src/vm_validator.rs
Labels: CICD:run-e2e-tests

#11888 [aptosvm] Simplify VM flows
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/testing.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/aptos-vm/src/zkid_validation.rs
  aptos-move/e2e-move-tests/src/tests/account.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/vm.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/e2e-testsuite/src/tests/invariant_violation.rs
  aptos-move/e2e-testsuite/src/tests/mod.rs
  experimental/execution/ptx-executor/src/runner.rs
Labels: CICD:run-e2e-tests

#12091 [consensus configs] reduce sending block size from 2500 to 1900
  config/src/config/consensus_config.rs
Labels: CICD:run-forge-e2e-perf

#12109 clean up randomness seed in block metadata when feature is disabled
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/doc/randomness.md
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/randomness.move
  testsuite/smoke-test/src/randomness/disable_feature_0.rs
  testsuite/smoke-test/src/randomness/disable_feature_1.rs
  testsuite/smoke-test/src/randomness/mod.rs
Labels: CICD:run-e2e-tests

#12112 update release builder for randomness
  aptos-move/aptos-release-builder/src/components/consensus_config.rs
  aptos-move/aptos-release-builder/src/components/execution_config.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/gas.rs
  aptos-move/aptos-release-builder/src/components/version.rs
Labels: CICD:run-e2e-tests

#12106 randomness #1: types update from randomnet
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  types/Cargo.toml
  types/src/block_metadata_ext.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/consensus_config.rs
  types/src/randomness.rs
  types/src/transaction/mod.rs
Labels: CICD:run-e2e-tests

#12059 All validators broadcast commit vote messages
  consensus/src/pipeline/buffer_manager.rs
Labels: CICD:run-e2e-tests

#12140 Revert "[event_v2] migrate account, coin, object (#10532)"
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/object.move
  crates/aptos-rosetta/src/types/objects.rs
  crates/indexer/src/models/transactions.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12129 Enable the max object nesting check
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/sources/object.move
  aptos-move/framework/aptos-framework/sources/object.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12159 [cherry-pick] Enable the max object nesting check (#12129)
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/sources/object.move
  aptos-move/framework/aptos-framework/sources/object.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12138 [CLI] Update aptos-indexer-processors dep to d5dc7a00, enable objects processor
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
  crates/aptos/src/node/local_testnet/hasura_metadata.json
  crates/aptos/src/node/local_testnet/processors.rs
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:experimental-build, CICD:non-required-tests

#12161 [E2E] Improve platform handling, fix faucet tests
  .github/actions/run-faucet-tests/action.yaml
  crates/aptos-faucet/core/src/server/run.rs
  crates/aptos-faucet/integration-tests/main.py
  crates/aptos/e2e/main.py
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:experimental-build, CICD:non-required-tests

#12164 metrics + logs of proposed vtxn count & size
  consensus/src/counters.rs
  consensus/src/round_manager.rs
Labels: CICD:run-e2e-tests

#12145 TokenV2 - add owner to burn event (Burn event)
  aptos-move/framework/aptos-token-objects/doc/collection.md
  aptos-move/framework/aptos-token-objects/doc/token.md
  aptos-move/framework/aptos-token-objects/sources/collection.move
  aptos-move/framework/aptos-token-objects/sources/token.move
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12174 [quorum store] reduce QS backpressure txn limit to 12K
  config/src/config/consensus_config.rs
  config/src/config/quorum_store_config.rs
Labels: CICD:run-forge-e2e-perf

#12187 [preview] config fixes
  config/src/config/consensus_config.rs
  config/src/config/quorum_store_config.rs
Labels: CICD:run-forge-e2e-perf

#12185 [cp v1.10] TokenV2 - add owner to burn event (Burn event) (#12145)
  aptos-move/framework/aptos-token-objects/doc/collection.md
  aptos-move/framework/aptos-token-objects/doc/token.md
  aptos-move/framework/aptos-token-objects/sources/collection.move
  aptos-move/framework/aptos-token-objects/sources/token.move
Labels: CICD:run-framework-upgrade-test

#12193 Fix max fetcher tasks
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
Labels: CICD:build-images, CICD:run-e2e-tests

#12203 Hotfix to indexer grpc 1.3
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
Labels: CICD:build-images

#12160 Update.release.yaml to enable `max_object_nesting_check`
  aptos-move/aptos-release-builder/data/release.yaml
  testsuite/forge-cli/src/main.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#12202 types update from randomnet 3
  types/src/block_metadata_ext.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/consensus_config.rs
  types/src/on_chain_config/mod.rs
Labels: CICD:run-e2e-tests

#12004 [forge] dag land blocking-style and stable tests
  consensus/src/dag/adapter.rs
  consensus/src/dag/dag_driver.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge-cli/src/suites/dag.rs
  testsuite/forge-cli/src/suites/mod.rs
  testsuite/testcases/src/dag_onchain_enable_test.rs
  types/src/on_chain_config/consensus_config.rs
Labels: CICD:build-images, CICD:run-forge-e2e-perf

#12147 Broadcast proposal votes to reduce one hop latency
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/swarm.rs
Labels: CICD:build-images

#11913 consolidate default features into a single list
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/vm-genesis/src/lib.rs
  testsuite/smoke-test/src/upgrade.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#12162 [compiler v2] Fix equalities, FreezeRef conversion
  third_party/move/move-compiler-v2/src/pipeline/reference_safety_processor.rs
  third_party/move/move-compiler-v2/tests/ability-transform/borrowed_from_one_path.exp
  third_party/move/move-compiler-v2/tests/ability-transform/by_reference.exp
  third_party/move/move-compiler-v2/tests/ability-transform/dead_but_borrowed.exp
  third_party/move/move-compiler-v2/tests/ability-transform/destroy_after_call.exp
  third_party/move/move-compiler-v2/tests/ability-transform/drop_after_loop.exp
  third_party/move/move-compiler-v2/tests/ability-transform/drop_at_branch.exp
  third_party/move/move-compiler-v2/tests/ability-transform/foreach_mut_expanded.exp
  third_party/move/move-compiler-v2/tests/ability-transform/mutate_return.exp
  third_party/move/move-compiler-v2/tests/ability-transform/mutate_vector.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/reference_conversion.exp
  third_party/move/move-compiler-v2/tests/checking/inlining/bug_11112.exp
  third_party/move/move-compiler-v2/tests/checking/inlining/bug_9717_looponly.exp
  third_party/move/move-compiler-v2/tests/checking/specs/conditions_ok.exp
  third_party/move/move-compiler-v2/tests/checking/specs/update_field_ok.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq_ref.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq_ref.move
  third_party/move/move-compiler-v2/tests/checking/typing/mutable_eq_and_neq.exp
  third_party/move/move-compiler-v2/tests/checking/typing/neq.exp
  third_party/move/move-compiler-v2/tests/checking/typing/neq_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/typing/nested_post_process.exp
  third_party/move/move-compiler-v2/tests/checking/typing/subtype_args.exp
  third_party/move/move-compiler-v2/tests/reference-safety/eq_ref.move
  third_party/move/move-compiler-v2/tests/reference-safety/freeze.exp
  third_party/move/move-compiler-v2/tests/reference-safety/freeze.move
  third_party/move/move-compiler-v2/tests/reference-safety/multiple_use_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/call_mutual_borrows_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_full_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/return_mutual_borrows_invalid.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/mut_ref_compare.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/mut_ref_compare.move
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
Labels: compiler-v2

#12113 [aggregator] Improve event testing
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_events.rs
Labels: CICD:run-e2e-tests

#12224 randomness #4: RandManager update from randomnet
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/block_storage/tracing.rs
  consensus/src/counters.rs
  consensus/src/logging.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/rand/rand_gen/aug_data_store.rs
  consensus/src/rand/rand_gen/block_queue.rs
  consensus/src/rand/rand_gen/mod.rs
  consensus/src/rand/rand_gen/network_messages.rs
  consensus/src/rand/rand_gen/rand_manager.rs
  consensus/src/rand/rand_gen/rand_store.rs
  consensus/src/rand/rand_gen/reliable_broadcast_state.rs
  consensus/src/rand/rand_gen/storage/db.rs
  consensus/src/rand/rand_gen/storage/in_memory.rs
  consensus/src/rand/rand_gen/storage/interface.rs
  consensus/src/rand/rand_gen/storage/schema.rs
  consensus/src/rand/rand_gen/test_utils.rs
  consensus/src/rand/rand_gen/types.rs
Labels: CICD:run-e2e-tests

#12087 Add VM benchmark using transactions from transaction-generator-lib
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas-calibration/src/measurements.rs
  aptos-move/aptos-gas-calibration/src/measurements_helpers.rs
  aptos-move/aptos-vm-benchmarks/src/helper.rs
  aptos-move/e2e-benchmark/Cargo.toml
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/e2e-tests/src/executor.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  testsuite/single_node_performance.py
Labels: CICD:run-execution-performance-test

#12225 randomness #5: consensus update from randomnet
  config/src/config/identity_config.rs
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/pipeline/errors.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/test_utils/mock_execution_client.rs
  consensus/src/twins/twins_node.rs
Labels: CICD:run-e2e-tests

#12264 [NFT Metadata Crawler] Remove null bytes
  ecosystem/nft-metadata-crawler-parser/src/config.rs
Labels: CICD:build-images

#12283 fix StorageGasParameters::unlimited()
  aptos-move/aptos-vm-types/src/storage/mod.rs
  aptos-move/aptos-vm-types/src/storage/space_pricing.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
  aptos-move/e2e-tests/src/executor.rs
Labels: CICD:run-e2e-tests

#12300 update jwk initialization in genesis
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/vm-genesis/src/lib.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test
