Repository aptos-labs/aptos-core, pull requests merged in 2025-07, with the labels that each got.

#16906 [Priority Fee] Call VM to execute BlockEpilogue txn.
  aptos-move/aptos-vm-logging/src/lib.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/native/aptos_vm_uncoordinated.rs
  execution/executor-benchmark/src/native/native_transaction.rs
  execution/executor-benchmark/src/native/native_vm.rs
  execution/executor-benchmark/src/native/parallel_uncoordinated_block_executor.rs
  execution/executor/src/tests/mock_vm/mod.rs
  execution/executor/src/workflow/do_get_execution_output.rs
Labels: CICD:run-e2e-tests

#16576 [lazy-loading] Function value serialization integration (3/n)
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/function_values/sources/capturing.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_function_values.rs
  aptos-move/e2e-move-tests/src/tests/bcs.data/function-values/Move.toml
  aptos-move/e2e-move-tests/src/tests/bcs.data/function-values/sources/bcs_function_values_test.move
  aptos-move/e2e-move-tests/src/tests/bcs.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/string_utils.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/string_utils.data/pack/scripts/main.move
  aptos-move/e2e-move-tests/src/tests/string_utils.data/pack/sources/string_utils_test.move
  aptos-move/e2e-move-tests/src/tests/string_utils.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/vm-genesis/src/lib.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/misc_1.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/misc_1.move
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/module_traversal.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
  third_party/move/move-vm/transactional-tests/tests/display/print_values.exp
  third_party/move/move-vm/transactional-tests/tests/display/print_values.move
  third_party/move/move-vm/types/src/gas.rs
  third_party/move/move-vm/types/src/value_serde.rs
Labels: CICD:run-e2e-tests

#17006 Set limit of num multikey to 32
  api/types/src/transaction.rs
  types/src/transaction/authenticator.rs
Labels: v1.32

#17004 [api] Fix fat type conversion for function values with refs
  api/src/tests/function_value_test.rs
  api/src/tests/move/pack_function_values/Move.toml
  api/src/tests/move/pack_function_values/sources/test.move
  third_party/move/tools/move-resource-viewer/src/lib.rs
Labels: CICD:run-e2e-tests

#16846 [consensus] Opt Proposal Perf Tuning
  config/src/config/consensus_config.rs
  config/src/config/quorum_store_config.rs
  testsuite/forge-cli/src/suites/realistic_environment.rs
  testsuite/forge/src/config.rs
Labels: CICD:run-forge-e2e-perf

#17034 [consensus] Enable Opt Proposal and increase execution target time
  config/src/config/consensus_config.rs
  testsuite/forge-cli/src/suites/realistic_environment.rs
  testsuite/forge/src/config.rs
Labels: CICD:run-forge-e2e-perf

#17047 [api] Addressing function value todos
  third_party/move/tools/move-resource-viewer/src/lib.rs
Labels: v1.31, v1.32

#16776 [lint] Implemented assert_const linter
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/assert_const.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/assert_const.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/assert_const.move
Labels: CICD:run-e2e-tests

#17090 [pipeline] properly wait for spawn_blocking futures
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/pipeline_builder.rs
  execution/executor/src/block_executor/mod.rs
Labels: CICD:run-forge-e2e-perf

#17115 Reduce resources for Forge runner
  testsuite/forge-test-runner-template.yaml
Labels: CICD:run-e2e-tests

#17112 [aptos-release-v1.33] Yaml to enable function values in testnet
  aptos-move/aptos-release-builder/data/enable_function_values.yaml
Labels: CICD:run-e2e-tests
