Repository aptos-labs/aptos-core, pull requests merged in 2025-08, with the labels that each got.

#17235 [move-prover] Fixing bug with invariant for enums
  Cargo.lock
  third_party/move/move-model/Cargo.toml
  third_party/move/move-model/src/exp_generator.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-prover/boogie-backend/src/boogie_wrapper.rs
  third_party/move/move-prover/bytecode-pipeline/src/data_invariant_instrumentation.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/move-prover/tests/README.md
  third_party/move/move-prover/tests/sources/functional/enum_invariants.exp
  third_party/move/move-prover/tests/sources/functional/enum_invariants.move
Labels: CICD:run-e2e-tests

#17214 [forge] Add soft failure mode
  testsuite/benchmark-workloads/generate.py
  testsuite/forge-cli/src/main.rs
  testsuite/forge-cli/src/suites/realistic_environment.rs
  testsuite/forge.py
  testsuite/forge/src/observer/junit.rs
  testsuite/forge/src/result.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
Labels: CICD:run-forge-e2e-perf

#17296 [Storage] Write epoch ending pruner progress to right key.
  storage/aptosdb/src/pruner/state_merkle_pruner/state_merkle_pruner_manager.rs
  storage/aptosdb/src/state_merkle_db.rs
Labels: v1.34, v1.33

#17316 Count ones in bitmap
  crates/aptos-crypto/src/multi_ed25519.rs
  crates/aptos-crypto/src/unit_tests/multi_ed25519_test.rs
Labels: v1.34, v1.33

#17360 [ci] wait for image to be built after lock check
  .github/workflows/workflow-run-docker-rust-build.yaml
Labels: CICD:build-images, CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#17373 [fuzzer] add missing use under #[cfg(fuzzing)]
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
Labels: CICD:run-e2e-tests

#17324 Orderless TransactionFactory improvements and integration with executor benchmark
  api/src/tests/account_abstraction_test.rs
  api/src/tests/accounts_test.rs
  api/src/tests/simulation_test.rs
  api/src/tests/state_test.rs
  api/src/tests/string_resource_test.rs
  api/src/tests/transaction_vector_test.rs
  api/src/tests/transactions_test.rs
  api/src/tests/view_function.rs
  api/test-context/src/test_context.rs
  crates/aptos/src/common/transactions.rs
  crates/aptos/src/common/types.rs
  crates/transaction-workloads-lib/src/args.rs
  crates/transaction-workloads-lib/src/move_workloads.rs
  execution/executor-benchmark/src/db_reliable_submitter.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/transaction_generator.rs
  sdk/src/transaction_builder.rs
  testsuite/single_node_performance_values.tsv
  types/src/transaction/mod.rs
Labels: CICD:run-execution-performance-test
