Repository aptos-labs/aptos-core, pull requests merged in 2025-04, with the labels that each got.

#16258 [gha] forge clbt fix
  .github/workflows/forge-continuous-land-blocking-test.yaml
Labels: CICD:run-e2e-tests, CICD:build-failpoints-images, CICD:build-performance-images

#16227 [vm] Remove always enabled feature flags
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/environment.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/verifier/native_validation.rs
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_entry/Move.toml
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_entry/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_system/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_system_entry/Move.toml
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_system_entry/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.rs
  aptos-move/e2e-move-tests/src/tests/lazy_natives.rs
  aptos-move/e2e-move-tests/src/tests/metadata.rs
  aptos-move/e2e-move-tests/src/tests/upgrade_compatibility.rs
  aptos-move/framework/src/natives/function_info.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
  types/src/vm/module_metadata.rs
Labels: CICD:build-images

#16159 [forge] Cleanup logging in cluster helper
  Cargo.lock
  crates/transaction-emitter-lib/Cargo.toml
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  crates/transaction-emitter-lib/src/emitter/transaction_executor.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  crates/transaction-generator-lib/Cargo.toml
  crates/transaction-generator-lib/src/call_custom_modules.rs
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/workflow_delegator.rs
  testsuite/forge-cli/Cargo.toml
  testsuite/forge-cli/src/main.rs
  testsuite/forge.env
  testsuite/forge/Cargo.toml
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/fullnode.rs
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s/prometheus.rs
  testsuite/forge/src/backend/k8s/stateful_set.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/k8s_deployer/deployer.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/report.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/run_forge.sh
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/compatibility_test.rs
  testsuite/testcases/src/consensus_reliability_tests.rs
  testsuite/testcases/src/dag_onchain_enable_test.rs
  testsuite/testcases/src/forge_setup_test.rs
  testsuite/testcases/src/framework_upgrade.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
  testsuite/testcases/src/modifiers.rs
  testsuite/testcases/src/multi_region_network_test.rs
  testsuite/testcases/src/public_fullnode_performance.rs
  testsuite/testcases/src/quorum_store_onchain_enable_test.rs
  testsuite/testcases/src/state_sync_performance.rs
  testsuite/testcases/src/three_region_simulation_test.rs
  testsuite/testcases/src/two_traffics_test.rs
  testsuite/testcases/src/validator_join_leave_test.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#16323 fix compat test
  testsuite/testcases/src/compatibility_test.rs
Labels: CICD:run-e2e-tests

#16325 [forge] compat simplify
  Cargo.lock
  testsuite/forge-test-runner-template.yaml
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/compatibility_test.rs
Labels: CICD:run-e2e-tests

#16355 [CP] rename 0x1::daa_siws to 0x1::solana_derivable_account
  aptos-move/framework/aptos-framework/doc/daa_siws.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/permissioned_delegation.md
  aptos-move/framework/aptos-framework/doc/solana_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/solana_derivable_account.move
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/tests/internal_indexer_test.rs
  testsuite/smoke-test/src/account_abstraction.rs
Labels: CICD:run-framework-upgrade-test

#16345 rename 0x1::daa_siws to 0x1::solana_derivable_account
  aptos-move/framework/aptos-framework/doc/daa_siws.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/permissioned_delegation.md
  aptos-move/framework/aptos-framework/doc/solana_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/solana_derivable_account.move
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/tests/internal_indexer_test.rs
  testsuite/smoke-test/src/account_abstraction.rs
Labels: CICD:run-framework-upgrade-test

#16381 Fix CLI e2e test case `test_account_fund_with_faucet`
  crates/aptos/e2e/cases/account.py
Labels: CICD:run-e2e-tests

#16378 [aptos] refactor aptos account init
  crates/aptos/e2e/cases/account.py
  crates/aptos/e2e/main.py
  crates/aptos/e2e/test_helpers.py
  crates/aptos/src/common/init.rs
Labels: CICD:run-e2e-tests

#16390 db debugger: "watched opened" cmd
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/include/aptosdb_internal.rs
  storage/aptosdb/src/db_debugger/mod.rs
  storage/aptosdb/src/db_debugger/watch/mod.rs
  storage/aptosdb/src/db_debugger/watch/opened.rs
  storage/aptosdb/src/db_options.rs
Labels: CICD:run-e2e-tests

#16370 Basic implementation of OrderBook
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/framework/aptos-experimental/doc/active_order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/doc/pending_order_book_index.md
  aptos-move/framework/aptos-experimental/sources/trading/order_book/active_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/pending_order_book_index.move
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  crates/transaction-workloads-lib/src/args.rs
  crates/transaction-workloads-lib/src/lib.rs
  crates/transaction-workloads-lib/src/move_workloads.rs
  crates/transaction-workloads-lib/src/raw_module_data.rs
  testsuite/module-publish/src/packages/framework_usecases/Move.toml
  testsuite/module-publish/src/packages/framework_usecases/sources/order_book_example.move
  testsuite/single_node_performance.py
  testsuite/single_node_performance_values.tsv
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#16404 [mempool] refactor: remove SequenceInfo
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/test_framework.rs
Labels: CICD:run-e2e-tests

#16412 Cleanup TRANSACTION_SIMULATION_ENHANCEMENT feature flag
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests

#16426 Git ignore rule for cursor rules
  .gitignore
Labels: CICD:run-e2e-tests

#16300 Minor refactor in API convert methods
  api/src/transactions.rs
  api/types/src/convert.rs
Labels: CICD:run-e2e-tests

#16444 Update Swatinem/rust-cache to 2.7.8
  .github/actions/move-prover-setup/action.yaml
  .github/actions/rust-setup/action.yaml
  .github/workflows/windows-build.yaml
Labels: CICD:build-images, CICD:run-all-unit-tests

#16475 [stateless_account] add feature gating to account api
  api/src/accounts.rs
  api/src/context.rs
  api/src/response.rs
  api/src/tests/accounts_test.rs
Labels: cherry-pick, v1.29

#16467 fix txn-emitter - check secondary source account existance
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
Labels: CICD:build-images

#16496 Update version pin on snok/install-poetry
  .github/actions/python-setup/action.yaml
Labels: CICD:run-e2e-tests

#16486 fix cli-e2e-test after defaulting fa store & stateless account
  api/src/tests/accounts_test.rs
  crates/aptos/e2e/cases/account.py
  crates/aptos/e2e/cases/config.py
  crates/aptos/e2e/cases/move.py
  crates/aptos/e2e/common.py
  crates/aptos/e2e/poetry.lock
  crates/aptos/e2e/pyproject.toml
  crates/aptos/e2e/test_helpers.py
  crates/aptos/src/common/types.rs
Labels: CICD:run-e2e-tests
