Repository aptos-labs/aptos-core, pull requests merged in 2025-01, with the labels that each got.

#15568 [1/3] Create a workflow that can automatically upgrade the sdk proto dependency.
  .github/workflows/check-protos.yaml
  .github/workflows/indexer-protos-sdk-update.yaml
Labels: indexer-sdk-update

#15252 [Move] Allow Bytecode Dependencies for Unit Testing
  Cargo.lock
  aptos-move/framework/src/built_package.rs
  third_party/move/move-compiler/src/unit_test/mod.rs
  third_party/move/tools/move-cli/src/base/test.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
  third_party/move/tools/move-unit-test/Cargo.toml
  third_party/move/tools/move-unit-test/src/lib.rs
  third_party/move/tools/move-unit-test/src/test_reporter.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
  third_party/move/tools/move-unit-test/tests/packages/dep/Move.toml
  third_party/move/tools/move-unit-test/tests/packages/dep/build/Dep/BuildInfo.yaml
  third_party/move/tools/move-unit-test/tests/packages/dep/build/Dep/bytecode_modules/foo.mv
  third_party/move/tools/move-unit-test/tests/packages/dep/sources/.gitkeep
  third_party/move/tools/move-unit-test/tests/packages/one-bytecode-dep/Move.toml
  third_party/move/tools/move-unit-test/tests/packages/one-bytecode-dep/sources/test.move
  third_party/move/tools/move-unit-test/tests/pkg_tests.rs
Labels: move-tools

#14775 Add documentation to forge-stable test suite
  .github/workflows/forge-stable.yaml
  testsuite/forge-cli/src/suites/realistic_environment.rs
  testsuite/forge-cli/src/suites/ungrouped.rs
Labels: CICD:build-images

#15532 ungate native memory operations
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/framework/move-stdlib/doc/bcs.md
  aptos-move/framework/move-stdlib/doc/vector.md
  aptos-move/framework/move-stdlib/sources/bcs.move
  aptos-move/framework/move-stdlib/sources/vector.move
  crates/transaction-generator-lib/src/publishing/prebuild_packages.rs
  crates/transaction-workloads-lib/src/move_workloads.rs
  crates/transaction-workloads-lib/src/raw_module_data.rs
  testsuite/module-publish/src/packages/framework_usecases/sources/vector_example.move
Labels: CICD:run-execution-performance-test

#15714 [validator] Changing module cache for VM validator
  Cargo.lock
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/gas.rs
  aptos-move/aptos-vm/src/keyless_validation.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/block-executor/src/code_cache.rs
  third_party/move/move-vm/types/src/code/cache/module_cache.rs
  third_party/move/move-vm/types/src/code/errors.rs
  vm-validator/Cargo.toml
  vm-validator/src/mocks/mock_vm_validator.rs
  vm-validator/src/vm_validator.rs
Labels: CICD:run-e2e-tests

#15732 update indexer processors hash
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-workspace-server/Cargo.toml
  crates/aptos-localnet/Cargo.toml
  crates/aptos-localnet/src/processors.rs
  crates/aptos-metrics-core/src/const_metric.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Labels: CICD:run-e2e-tests

#14567 add permissions for fungible assets operation
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/aptos_coin.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/dispatchable_fungible_asset.md
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/doc/managed_coin.md
  aptos-move/framework/aptos-framework/doc/primary_fungible_store.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/aptos_coin.spec.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/dispatchable_fungible_asset.move
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/managed_coin.move
  aptos-move/framework/aptos-framework/sources/managed_coin.spec.move
  aptos-move/framework/aptos-framework/sources/primary_fungible_store.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
Labels: CICD:run-execution-performance-test, CICD:run-execution-performance-full-test

#15758 fix bytecode version for upgrade test
  Cargo.lock
  aptos-move/aptos-release-builder/data/example.yaml
  aptos-move/aptos-release-builder/data/release.yaml
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/upgrade.rs
Labels: CICD:run-framework-upgrade-test

#15496 Fix cargo deny lint check
  .github/workflows/lint-test.yaml
Labels: Stale

#15765 adding back permission perf test
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/main.rs
  crates/transaction-workloads-lib/src/raw_module_data.rs
  testsuite/module-publish/src/packages/framework_usecases/sources/permissioned_transfer.move
  testsuite/single_node_performance_values.tsv
Labels: CICD:run-execution-performance-test

#15786 qs: undo using block votes to fetch batches
  consensus/src/block_preparer.rs
Labels: CICD:run-forge-e2e-perf, v1.26

#15787 Change big_ordered_map::Node to enum for easier maintanability
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/permissioned_delegation.md
  aptos-move/framework/aptos-framework/doc/permissioned_signer.md
  aptos-move/framework/aptos-framework/sources/account/permissioned_delegation.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/permissioned_signer.move
  aptos-move/framework/aptos-stdlib/doc/storage_slots_allocator.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/storage_slots_allocator.move
  crates/transaction-workloads-lib/src/raw_module_data.rs
  testsuite/module-publish/src/packages/framework_usecases/sources/maps_example.move
Labels: CICD:run-execution-performance-test, v1.26

#15791 [cp][aptos-release-v1.26] Refactor type cache
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/mod.rs
  third_party/move/move-vm/runtime/src/storage/ty_cache.rs
  third_party/move/move-vm/runtime/src/storage/ty_tag_cache.rs
Labels: cherry-pick

#15800 Fix state merkle truncate
  storage/aptosdb/src/ledger_db/ledger_metadata_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/utils/truncation_helper.rs
  testsuite/smoke-test/src/storage.rs
Labels: CICD:run-e2e-tests

#15801 Fixed the workflow to release protos.
  scripts/indexer_proto_update_status_poll.sh
Labels: indexer-sdk-update

#15763 [devtools] Enable the framework upgrade test again
  devtools/aptos-cargo-cli/src/lib.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#15812 [execution-pool] BlockRetrievalRequest struct -> enum
  consensus/consensus-types/src/block_retrieval.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/network_tests.rs
  consensus/src/round_manager_test.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Labels: CICD:run-e2e-tests

#15844 [hotfix] fix the fee payer txn simulation error
  api/src/tests/simulation_test.rs
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
Labels: cherry-pick, v1.26

#15072 [Indexer-Grpc-V2] Add status pages for DataService and GrpcManager.
  Cargo.lock
  Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/src/historical_data_service.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/src/live_data_service/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/src/status_page.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-manager/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/src/data_manager.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/src/grpc_manager.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/src/metadata_manager.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/src/status_page.rs
  ecosystem/indexer-grpc/indexer-grpc-server-framework/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/status_page/html.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/status_page/mod.rs
Labels: CICD:build-indexer-images
