Repository aptos-labs/aptos-core, pull requests merged in 2025-02, with the labels that each got.

#15864 [Consensus Observer] Small improvements to message metrics.
  consensus/src/consensus_observer/common/metrics.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
Labels: CICD:run-e2e-tests

#15533 Block Synchronization Kill Switch, integration in gas meter
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/gas.rs
  aptos-move/aptos-vm/src/testing.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-tests/src/executor.rs
Labels: CICD:run-e2e-tests

#15897 add new test cases to validate fa bug fix
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/generated_transactions.rs
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2308282694_asset_type_v1_null.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2308283617_asset_type_v1_null_2.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/scripted_transactions/fa_double_transfer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/scripted_transactions/fa_mint_transfer_burn.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/scripted_transactions/simple_user_script1.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/scripted_transactions/simple_user_script2.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/scripted_transactions/simple_user_script3.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/scripted_transactions/simple_user_script4.json
  ecosystem/indexer-grpc/indexer-transaction-generator/imported_transactions/imported_transactions.yaml
Labels: indexer-sdk-update

#15936 SparseMerkleTree not carry value
  execution/executor-types/src/lib.rs
  storage/aptosdb/src/db/test_helper.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/scratchpad/benches/sparse_merkle.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/node.rs
  storage/scratchpad/src/sparse_merkle/sparse_merkle_test.rs
  storage/scratchpad/src/sparse_merkle/test_utils/naive_smt.rs
  storage/scratchpad/src/sparse_merkle/test_utils/proof_reader.rs
  storage/scratchpad/src/sparse_merkle/test_utils/proptest_helpers.rs
  storage/scratchpad/src/sparse_merkle/updater.rs
  storage/scratchpad/src/sparse_merkle/utils.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/proof/mod.rs
  types/src/state_store/state_key/tests.rs
Labels: CICD:run-e2e-tests, CICD:run-execution-performance-full-test

#15972 ensure_max_open_files not panic for mainnet
  aptos-node/src/lib.rs
  aptos-node/src/utils.rs
  config/src/config/storage_config.rs
Labels: CICD:run-e2e-tests

#14824 [move-examples] Add ring buffer/deque data structure
  aptos-move/move-examples/ring_deque/Move.toml
  aptos-move/move-examples/ring_deque/sources/ring_deque.move
Labels: Stale

#15987 [move][closures] End-to-end tests and feature gating
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-move-tests/src/tests/function_values.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/move_feature_gating.rs
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/built_package.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  third_party/move/move-bytecode-verifier/src/features.rs
  third_party/move/move-bytecode-verifier/src/type_safety.rs
  third_party/move/move-bytecode-verifier/src/verifier.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/tests/lambda/inline-parity/lambda_typed.lambda.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/registry.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/registry.move
  third_party/move/move-model/bytecode/src/stackless_bytecode_generator.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  types/src/on_chain_config/aptos_features.rs
Labels: CICD:run-e2e-tests, CICD:run-framework-upgrade-test

#15919 [aptos-vm] Remove warm VM cache & refactor VM initializers
  Cargo.lock
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-vm-profiling/src/bins/run_move.rs
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/warm_vm_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/aptos-vm/src/testing.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/e2e-move-tests/src/tests/vm.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/replay-benchmark/src/commands/diff.rs
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos/src/common/local_simulation.rs
  execution/executor-benchmark/src/native/aptos_vm_uncoordinated.rs
  execution/executor-benchmark/src/native/native_vm.rs
  experimental/execution/ptx-executor/src/runner.rs
  third_party/move/move-vm/integration-tests/Cargo.toml
  third_party/move/move-vm/integration-tests/src/tests/bad_entry_point_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/binary_format_version.rs
  third_party/move/move-vm/integration-tests/src/tests/exec_func_effects_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/function_arg_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/instantiation_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/invariant_violation_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/leak_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/loader_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/module_storage_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/mutated_accounts_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/native_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/nested_loop_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/regression_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/return_value_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/runtime_reentrancy_check_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/vm_arguments_tests.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_code_storage.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/loader.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_tag_converter.rs
  third_party/move/move-vm/test-utils/Cargo.toml
  third_party/move/move-vm/test-utils/src/storage.rs
  third_party/move/move-vm/types/src/loaded_data/struct_name_indexing.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
  vm-validator/src/vm_validator.rs
Labels: CICD:run-e2e-tests

#16017 HexyBase: use UnsafeCell and atomic::fence
  experimental/storage/hexy/src/in_mem/base.rs
  experimental/storage/hexy/src/in_mem/view.rs
Labels: CICD:run-e2e-tests
