Repository aptos-labs/aptos-core, pull requests merged in 2025-09, with the labels that each got.

#16752 [linter] Added aborting_overflow_checks lint
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/aborting_overflow_checks.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/aborting_overflow_checks.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/aborting_overflow_checks.move
Labels: CICD:run-e2e-tests

#17495 [State Sync] Check pre-committed version on sync requests.
  state-sync/data-streaming-service/src/stream_engine.rs
  state-sync/data-streaming-service/src/tests/stream_engine.rs
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/error.rs
  state-sync/state-sync-driver/src/notification_handlers.rs
Labels: CICD:run-e2e-tests

#17196 [vm] Runtime reference safety checker
  Cargo.lock
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/runtime_ref_checks.rs
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/eq_ref_check.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/eq_ref_check.masm
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/eq_ref_check.ref.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/use_ref_of_moved_value_1.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/use_ref_of_moved_value_1.masm
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/use_ref_of_moved_value_1.ref.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/use_ref_of_moved_value_2.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/use_ref_of_moved_value_2.masm
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/use_ref_of_moved_value_2.ref.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_accepts_runtime_accepts.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_accepts_runtime_accepts.move
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_accepts_runtime_accepts.ref.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_accepts_1.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_accepts_1.masm
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_accepts_1.ref.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_accepts_2.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_accepts_2.masm
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_accepts_2.ref.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_accepts_3.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_accepts_3.masm
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_accepts_3.ref.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_rejects.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_rejects.masm
  third_party/move/move-vm/transactional-tests/tests/runtime_ref_checks/verifier_rejects_runtime_rejects.ref.exp
  third_party/move/move-vm/transactional-tests/tests/tests.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/natives/function.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
Labels: stale-exempt

#17638 [zaptos] abort pending tasks in block store
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/block_tree.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/recovery_manager.rs
Labels: CICD:run-forge-e2e-perf

#17571 [VM] add flag to control capturing option in closures
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
Labels: CICD:build-images

#17679 [forge] add debug for cluster list
  testsuite/forge.py
  testsuite/test_framework/cluster.py
Labels: CICD:run-e2e-tests

#17631 [benchmarks] Update calibration table to include monotonic counter
  testsuite/single_node_performance.py
  testsuite/single_node_performance_values.tsv
Labels: CICD:run-execution-performance-full-test

#17690 [docker] add release-builder to tools image
  docker/builder/README.md
  docker/builder/build-tools.sh
  docker/builder/docker-bake-rust-all.hcl
  docker/builder/node-checker.Dockerfile
  docker/builder/tools.Dockerfile
  docker/release-images.mjs
Labels: CICD:run-e2e-tests

#17727 Catch potential panics without crashing the node
  api/src/error_converter.rs
  api/src/runtime.rs
  vm-validator/src/vm_validator.rs
Labels: CICD:run-forge-e2e-perf

#17326 [Storage][Tool] Add a command to print backup metadata.
  storage/db-tool/src/backup_maintenance.rs
Labels: Stale
