Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @aptos-labs/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-aptos, @rtso, @aptos-labs/ecosystem-infra, @geekflyer, @aptos-labs/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @aptos-labs/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/aptos-move` directory and its subdirectories:`aptos-gas`, `aptos-vm`, `framework` and `framework/aptos-stdlib/sources/cryptography`.
/aptos-move/aptos-aggregator/ @georgemitenkov @gelash @zekun000
/aptos-move/aptos-gas/ @vgao1996
/aptos-move/aptos-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/aptos-move/aptos-vm/src/keyless_validation.rs @alinush @heliuchuan
/aptos-move/aptos-vm-types/ @georgemitenkov @gelash @vgao1996
/aptos-move/framework/ @davidiw @movekevin @wrwg
/aptos-move/framework/aptos-framework/sources/account.move @alinush
/aptos-move/framework/aptos-framework/sources/jwks.move @zjma
/aptos-move/framework/aptos-framework/sources/keyless_account.move @alinush
/aptos-move/framework/aptos-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/aptos-move/framework/**/*.spec.move @junkil-park
/aptos-move/framework/aptos-stdlib/sources/hash.move @alinush

# Owner for aptos-token, cryptography natives, parallel-executor and vm-genesis.
/aptos-move/framework/aptos-token @areshand
/aptos-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/aptos-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/aptos-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/aptos-move/sharded_block-executor/ @sitalkedia
/aptos-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/aptos-move/vm-genesis/ @davidiw @movekevin

# Owner for aptos node (to prevent things from becoming out of hand :D)
/aptos-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/aptos` directory and all its subdirectories.
/crates/aptos @gregnazario @banool

# Owners for the `/crates/aptos-crypto*` directories.
/crates/aptos-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/aptos-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/aptos-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/aptos-faucet @banool @gregnazario
/crates/aptos-genesis @gregnazario

# Owners for the aptos-logger crate
/crates/aptos-logger @gregnazario @joshlind

/crates/aptos-open-api @banool @gregnazario

# Owners for the aptos-protos crate
/crates/aptos-protos @banool @bowenyang007 @jillxuu @larry-aptos @rtso  @aptos-labs/ecosystem-infra

/crates/aptos-rest-client @banool @gregnazario

# Owners for the `/aptos-rosetta` directory and related crates.
/crates/aptos-rosetta @gregnazario
/crates/aptos-rosetta-cli @gregnazario

# Owners for the aptos-speculative-state-helper crate
/crates/aptos-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/aptos-telemetry @ibalajiarun @geekflyer
/crates/aptos-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @aptos-labs/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @aptos-labs/prod-eng
/docker/builder/docker-bake-rust-all.hcl @aptos-labs/prod-eng @aptos-labs/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @aptos-labs/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @aptos-labs/prod-eng

# Owners for the `aptos-dkg` crate.
/crates/aptos-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

fix ramp tps
  crates/transaction-emitter-lib/src/emitter/mod.rs
Owners: none

big machines
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

large blocks
  config/src/config/consensus_config.rs
Owners: @joshlind, @gregnazario

Revert "naive? attempt at removing txns from proof manager on commit"
  consensus/src/dag/tests/helpers.rs
  consensus/src/payload_manager.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/quorum_store/batch_proof_queue.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_coordinator.rs
  consensus/src/state_computer.rs
Owners: @zekun000, @sasha8, @ibalajiarun, @bchocho, @gelash

[Devtools] Update comment for merge-base commit delays.
  devtools/aptos-cargo-cli/src/common.rs
Owners: none

[Devtools] Update comment for merge-base commit delays.
  devtools/aptos-cargo-cli/src/common.rs
Owners: none

reduce backlog
  config/src/config/quorum_store_config.rs
Owners: @joshlind, @gregnazario

[replay-benchmark] Split benchmark into stages
  Cargo.lock
  aptos-move/replay-benchmark/Cargo.toml
  aptos-move/replay-benchmark/src/block.rs
  aptos-move/replay-benchmark/src/commands/benchmark.rs
  aptos-move/replay-benchmark/src/commands/download.rs
  aptos-move/replay-benchmark/src/commands/initialize.rs
  aptos-move/replay-benchmark/src/commands/mod.rs
  aptos-move/replay-benchmark/src/diff.rs
  aptos-move/replay-benchmark/src/execution.rs
  aptos-move/replay-benchmark/src/generator.rs
  aptos-move/replay-benchmark/src/lib.rs
  aptos-move/replay-benchmark/src/main.rs
  aptos-move/replay-benchmark/src/runner.rs
  aptos-move/replay-benchmark/src/state_view.rs
  aptos-move/replay-benchmark/src/workload.rs
Owners: none

[replay-benchmark] Update README
  Cargo.lock
  aptos-move/replay-benchmark/Cargo.toml
  aptos-move/replay-benchmark/README.md
  aptos-move/replay-benchmark/src/commands/benchmark.rs
  aptos-move/replay-benchmark/src/commands/download.rs
Owners: none
