Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

Rust 2024 Edition
  aptos-move/framework/src/docgen.rs
  aptos-node/src/lib.rs
  crates/aptos-crypto-derive/src/lib.rs
  crates/aptos-crypto/src/hash.rs
  crates/aptos-keygen/src/lib.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/mod.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/user_transaction.rs
  rustfmt.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/storage/command_adapter/tests.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/stream/try_buffered_x.rs
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-cli/src/base/docgen.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: @msmouse, @lightmark, @grao1991

[vm] Get enum tags without borrowing containers
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm] Migrate to execution format
  third_party/move/move-vm/runtime/src/debug.rs
  third_party/move/move-vm/runtime/src/execution_format/converter.rs
  third_party/move/move-vm/runtime/src/execution_format/converters/mod.rs
  third_party/move/move-vm/runtime/src/execution_format/converters/v0.rs
  third_party/move/move-vm/runtime/src/execution_format/instructions.rs
  third_party/move/move-vm/runtime/src/execution_format/mod.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/tracing.rs
Owners: none

[vm] Per instruction global cache experiment
  Cargo.lock
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
Owners: none

[vm] Get enum tags without borrowing containers (#17330)
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

prepare aptos-vm-profiling for fastcall
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_2.mvir
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_2_generic.mvir
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_2_nested_generic.mvir
  aptos-move/aptos-vm-profiling/move/call/call_add_2.mvir
  aptos-move/aptos-vm-profiling/src/bins/run_move.rs
  aptos-move/aptos-vm-profiling/src/main.rs
  aptos-move/aptos-vm-profiling/src/profile_move_vm.rs
Owners: none

Type erasure experiment
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
Owners: none

feat: update blst version (#17581)
  Cargo.lock
  Cargo.toml
Owners: none

[consensus] parallelize verify opt proposal (#17553)
  consensus/consensus-types/src/opt_proposal_msg.rs
  consensus/src/quorum_store/batch_store.rs
Owners: @zekun000, @sasha8, @ibalajiarun, @bchocho, @gelash

Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Owners: @velor-chain/prod-eng, @velor-chain/security

[vm] Non-generic interpreter function caches
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/session.rs
Owners: none

[vm] Generic per-interpreter function frame caches
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
Owners: none

[compiler-v2] Compiler inlining optimization
  third_party/move/move-compiler-v2/src/env_pipeline/ast_simplifier.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/env_pipeline/mod.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/file_format_generator/mod.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/tests/inlining-optimization/fib.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/fib.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/if_else_const_bool_after_inlining.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/if_else_const_bool_after_inlining.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/mut_refs_freeze.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/mut_refs_freeze.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/unbounded_recursion.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/unbounded_recursion.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/within_module_simple.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/within_module_simple.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-model/bytecode/src/function_target_pipeline.rs
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/model.rs
Owners: none

[compiler-v2] Tuning compiler inlining
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/experiments.rs
Owners: none

updating cargo toml
  Cargo.lock
  Cargo.toml
Owners: none

[vm] Remoce depth checks for unpack
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

Add a check in transaction validation (#17579)
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

Add a check in transaction validation (#17579)
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

Add a check in transaction validation (#17579)
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

Add a check in transaction validation (#17579)
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

Aptos Debugger changes for Monotonically Increasing Counter
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-debugger/src/bin/remote-gas-profiler.rs
  aptos-move/aptos-debugger/src/execute_pending_block.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/replay-benchmark/src/commands/download.rs
  crates/aptos/src/common/local_simulation.rs
  crates/aptos/src/common/transactions.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
  storage/storage-interface/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

[exp] generic and non generic
  aptos-move/aptos-vm/src/verifier/module_init.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/access_specifier_loader.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/loader/single_signature_loader.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/loader/test_utils.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/runtime/src/storage/ty_tag_converter.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Owners: none

output per txn in benchmark measurement
  Cargo.lock
  execution/executor-benchmark/Cargo.toml
  execution/executor-benchmark/src/measurements.rs
Owners: @msmouse, @lightmark, @grao1991

output per txn in benchmark measurement (#17554)
  Cargo.lock
  execution/executor-benchmark/Cargo.toml
  execution/executor-benchmark/src/measurements.rs
Owners: @msmouse, @lightmark, @grao1991

Rust lint
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_empty_range.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_invalid_limit.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_invalid_start_version.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_start_version_too_large.json
  api/src/tests/transactions_test.rs
  api/src/transactions.rs
  api/test-context/src/test_context.rs
  api/types/src/transaction.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  crates/aptos-rest-client/src/lib.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991

[simulation] patch randomness seed
  api/src/tests/move/pack_rand/Move.toml
  api/src/tests/move/pack_rand/sources/counter.move
  api/src/tests/simulation_test.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
Owners: @banool, @gregnazario, @0xmaayan

Move tests for orderless transactions
  Cargo.lock
  aptos-move/aptos-transaction-benchmarks/src/transaction_bench_state.rs
  aptos-move/aptos-transaction-simulation/src/account.rs
  aptos-move/e2e-move-tests/src/tests/transaction_context.rs
  aptos-move/e2e-testsuite/Cargo.toml
  aptos-move/e2e-testsuite/src/tests/peer_to_peer.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run_transactional.rs
Owners: none

[Prover] Fix upsert spec
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
Owners: none

[aptos-release-v1.35] Bump version to 1.35.3
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

[Keyless] Clean up external resources and handler.
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/external_resources/groth16_vk.rs
  keyless/pepper/service/src/external_resources/keyless_config.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/request_handler.rs
Owners: none

[Hot State] Prepare for having all checkpoint indices in StateUpdateRefs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

[compiler-v2] Compiler crash fix on inlining bodies involving wildcards with type instantiations
  third_party/move/move-compiler-v2/src/env_pipeline/inliner.rs
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_17602.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_17602.move
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_17602.opt.exp
Owners: none

[Hot State] Prepare for having all checkpoint indices in StateUpdateRefs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Wrap configuration in a struct and pass to state construction
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[Orderbook] Refactor order book to resolve cyclic dependency issues
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_mixed_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_single_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
Owners: none

[compiler-v2] Compiler crash fix on inlining bodies involving wildcards with type instantiations (#17603)
  third_party/move/move-compiler-v2/src/env_pipeline/inliner.rs
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_17602.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_17602.move
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_17602.opt.exp
Owners: none

add missing files
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
Owners: none

public
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
Owners: none

order cancellation to take address instead of signer
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
Owners: none

[Prover] Fix upsert spec (#17600)
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
Owners: none
