Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

[vm] Generic per-interpreter function frame caches
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
Owners: none

[logs] Fix speculative events flush
  crates/aptos-speculative-state-helper/src/lib.rs
Owners: none

[Hot State] Wrap configuration in a struct and pass to state construction
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[vm] Remove depth checks for unpack (#17594)
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[vm] Add layout caches
  Cargo.lock
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_code_storage.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/layout_cache.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/runtime/src/storage/mod.rs
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  vm-validator/src/vm_validator.rs
Owners: none

[Keyless] Clean up external resources and handler.
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/external_resources/groth16_vk.rs
  keyless/pepper/service/src/external_resources/keyless_config.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/request_handler.rs
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

Add fungible asset creation event (#17561)
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
Owners: none

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Added pairing test
  crates/aptos-crypto/src/unit_tests/arkworks_upgrade.rs
Owners: none

[Orderbook] Refactor order book to resolve cyclic dependency issues (#17604)
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_mixed_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_single_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_value.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_value.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Update arkworks from 0.4.0 to 0.5.0 (#17562)
  Cargo.lock
  Cargo.toml
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/double.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/scalar_mul.rs
  aptos-move/framework/src/natives/cryptography/algebra/constants.rs
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/benches/ark_bls12_381.rs
  crates/aptos-crypto/benches/ark_bn254.rs
  crates/aptos-crypto/benches/poseidon_bn254.rs
  crates/aptos-crypto/src/unit_tests/arkworks_upgrade.rs
  crates/aptos-crypto/src/unit_tests/mod.rs
  crates/aptos-dkg/src/range_proof.rs
  keyless/pepper/common/src/vuf/bls12381_g1_bls.rs
  types/src/keyless/proof_simulation.rs
Owners: @alinush, @heliuchuan

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_value.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

decide settled_price in settle_trade
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

[Hot State] Wrap configuration in a struct and pass to state construction
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_value.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (backup)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

bt
  testsuite/replay-verify/replay-verify-worker-template.yaml
Owners: none

bt full
  testsuite/replay-verify/replay-verify-worker-template.yaml
Owners: none

[logs] Fix speculative events flush
  crates/aptos-speculative-state-helper/src/lib.rs
Owners: none

back to readonly disks
  storage/db-tool/src/replay_on_archive.rs
  testsuite/replay-verify/archive_disk_utils.py
  testsuite/replay-verify/main.py
  testsuite/replay-verify/replay-verify-worker-template.yaml
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

fix
  api/src/tests/function_value_test.rs
  api/src/tests/move/pack_function_values_with_struct/Move.toml
  api/src/tests/move/pack_function_values_with_struct/sources/test.move
  api/types/src/move_types.rs
Owners: @banool, @gregnazario, @0xmaayan

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[Keyless] Add simple metrics for operation latencies.
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/metrics.rs
  keyless/pepper/service/src/request_handler.rs
Owners: none

Updated arkworks and fixed range proof vk typo
  Cargo.lock
Owners: none

First step
  Cargo.lock
  Cargo.toml
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proof.rs
Owners: none

Ported range proof (and tests and benches) compile
  Cargo.lock
  Cargo.toml
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/evaluation_domain.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

add order info
  aptos-move/framework/aptos-experimental/sources/trading/market/market_clearinghouse_order_info.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

fix (#17492)
  api/src/tests/function_value_test.rs
  api/src/tests/move/pack_function_values_with_struct/Move.toml
  api/src/tests/move/pack_function_values_with_struct/sources/test.move
  api/types/src/move_types.rs
Owners: @banool, @gregnazario, @0xmaayan

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Wrap configuration in a struct and pass to state construction
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991
