Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

vec pack
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
Owners: none

Make changes in blockchain core to handle security related changes in framework
  api/types/src/convert.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/price_time_index.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/sched_txns_auth_num.md
  aptos-move/framework/aptos-framework/doc/scheduled_txns.md
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/sched_txns_auth_num.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/cached-packages/src/aptos_token_objects_sdk_builder.rs
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
  aptos-move/framework/src/natives/debug.rs
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
  types/src/transaction/scheduled_txn.rs
  types/src/transaction/user_transaction_context.rs
Owners: @banool, @gregnazario, @0xmaayan

Corresponding blockchain core changes handling re-entrancy; security issues; adding scheduled_txns auth token in generic way
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
  aptos-move/framework/src/natives/debug.rs
  aptos-move/framework/src/natives/transaction_context.rs
  crates/aptos-transaction-filters/src/transaction_filter.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
  types/src/transaction/scheduled_txn.rs
  types/src/transaction/user_transaction_context.rs
Owners: @banool, @gregnazario, @0xmaayan

install elsewhere
  testsuite/forge.py
  testsuite/run_forge.sh
Owners: none

Bump target-cpu to x86-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

Bump target-cpu to x86-64-v3
  .cargo/config.toml
Owners: none

Bump target-cpu to x86-64-v3
  .cargo/config.toml
Owners: none

[State Sync] Temporarily disable size and time-aware chunking.
  config/src/config/state_sync_config.rs
Owners: @joshlind, @gregnazario

Update API description URL from spec.yaml to spec.json in documentation
  api/doc/spec.html
Owners: @banool, @gregnazario, @0xmaayan

[vm] Runtime tracing & post-commit replay infrastructure
  Cargo.lock
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/trace.rs
Owners: none

[vm] Non-generic interpreter function caches
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  testsuite/single_node_performance_values.tsv
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/session.rs
Owners: none

[vm] Generic per-interpreter function frame caches
  Cargo.lock
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/loaded_data/mod.rs
  third_party/move/move-vm/types/src/loaded_data/ty_args_fingerprint.rs
Owners: none

[vm] Add layout caches
  Cargo.lock
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_code_storage.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/layout_cache.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/runtime/src/storage/mod.rs
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/block_executor/config.rs
  vm-validator/src/vm_validator.rs
Owners: none

[vm] Layout cache for instantiated generics
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_code_storage.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/layout_cache.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/block_executor/config.rs
  vm-validator/src/vm_validator.rs
Owners: none

[exp] baseline
  aptos-move/aptos-vm-environment/src/prod_configs.rs
Owners: none

refactor: improve code formatting and assertions in todolist module
  aptos-move/move-examples/my_first_dapp/contract/.gitignore
  aptos-move/move-examples/my_first_dapp/contract/sources/todolist.move
Owners: none

refactor: remove obsolete frontend files and update project structure, fix build problem
  aptos-move/move-examples/my_first_dapp/frontend/components.json
  aptos-move/move-examples/my_first_dapp/frontend/index.html
  aptos-move/move-examples/my_first_dapp/frontend/package.json
  aptos-move/move-examples/my_first_dapp/frontend/src/App.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/Header.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/TopBanner.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/WalletProvider.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/WalletSelector.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/WrongNetworkAlert.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/ui/button.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/ui/collapsible.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/ui/dialog.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/ui/dropdown-menu.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/ui/input.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/ui/toast.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/ui/toaster.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/components/ui/use-toast.ts
  aptos-move/move-examples/my_first_dapp/frontend/src/constants.ts
  aptos-move/move-examples/my_first_dapp/frontend/src/index.css
  aptos-move/move-examples/my_first_dapp/frontend/src/lib/utils.ts
  aptos-move/move-examples/my_first_dapp/frontend/src/main.tsx
  aptos-move/move-examples/my_first_dapp/frontend/src/utils/aptosClient.ts
  aptos-move/move-examples/my_first_dapp/frontend/tailwind.config.js
  aptos-move/move-examples/my_first_dapp/frontend/tsconfig.json
  aptos-move/move-examples/my_first_dapp/frontend/vite.config.ts
Owners: none

chore: fix lint
  aptos-move/move-examples/my_first_dapp/contract/sources/todolist.move
Owners: none

move install
  .github/workflows/workflow-run-forge.yaml
  testsuite/run_forge.sh
Owners: @velor-chain/prod-eng

[vm] Non-generic interpreter function caches (#17591)
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  testsuite/single_node_performance_values.tsv
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/session.rs
Owners: none

addhoc test
  .github/workflows/adhoc-forge.yaml
Owners: @velor-chain/prod-eng

add test txn (#17668)
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/generated_transactions.rs
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2975888978_fa_secondary_store_burnt_object_still_exists.json
  ecosystem/indexer-grpc/indexer-transaction-generator/imported_transactions/imported_transactions.yaml
Owners: none

[forge] add debug for cluster list
  testsuite/forge.py
  testsuite/test_framework/cluster.py
Owners: none

[forge] add debug for cluster list (#17679)
  testsuite/forge.py
  testsuite/test_framework/cluster.py
Owners: none

[zaptos] move commit vote broadcast into pipeline builder
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/pipeline/decoupled_execution_utils.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/round_manager.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
Owners: @zekun000, @sasha8, @ibalajiarun

Make small test keep transaction generated order
  execution/executor-benchmark/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

cleanup flag rollout
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
  aptos-move/framework/move-stdlib/doc/vector.md
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/transaction_context.rs
Owners: none

[zaptos] move commit vote broadcast into pipeline builder
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/pipeline/decoupled_execution_utils.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/round_manager.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
Owners: @zekun000, @sasha8, @ibalajiarun

Add range proof traits (#17659)
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Make small test keep transaction generated order (#17681)
  execution/executor-benchmark/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

[zaptos] move commit vote broadcast into pipeline builder
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/pipeline/decoupled_execution_utils.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/round_manager.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
Owners: @zekun000, @sasha8, @ibalajiarun

fix json table for executor benchmark
  execution/executor-benchmark/src/measurements.rs
Owners: @msmouse, @lightmark, @grao1991

iterators and utilities
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
Owners: none

[State Sync] Temporarily disable size and time-aware chunking.
  config/src/config/state_sync_config.rs
Owners: @joshlind, @gregnazario

[State Sync] Temporarily disable size and time-aware chunking.
  config/src/config/state_sync_config.rs
Owners: @joshlind, @gregnazario

[Move VM] aggressive rust inlining: batch 1
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: value cast & Stack::pop_as
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

chore: remove LICENSE file from my_first_dapp example
  aptos-move/move-examples/my_first_dapp/LICENSE
Owners: none

[Move VM] aggressive rust inlining: batch 2
  third_party/move/move-vm/metrics/src/lib.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: vector ops
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none
