Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

[storage] lower compaction threads more
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[storage] lower compaction threads more
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

Removed Witness associated type
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Removed some PartialEq
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Owners: none

Removed Sized
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
Owners: none

[storage] lower compaction threads more
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[aptos-release-v1.36] Bump version to 1.36.5
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

[storage] lower compaction threads more
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[Rest API] support for signed int
  Cargo.lock
  api/src/tests/mod.rs
  api/src/tests/signed_int_test.rs
  api/types/src/bytecode.rs
  api/types/src/convert.rs
  api/types/src/derives.rs
  api/types/src/lib.rs
  api/types/src/move_types.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/move-examples/signed_int/calculator/Move.toml
  aptos-move/move-examples/signed_int/calculator/sources/calculator.move
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  storage/indexer/src/db_v2.rs
  storage/indexer/src/lib.rs
  third_party/move/move-binary-format/src/normalized.rs
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-core/types/src/transaction_argument.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/tools/move-bytecode-utils/Cargo.toml
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  third_party/move/tools/move-resource-viewer/src/fat_type.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991

[txt arg]: update recorded format
  api/doc/spec.json
  api/doc/spec.yaml
  api/src/tests/signed_int_test.rs
  aptos-move/move-examples/signed_int/calculator/sources/calculator.move
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
Owners: @banool, @gregnazario, @0xmaayan

[aptos-release-v1.36] Bump version to 1.36.5
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

[Rest API] support for signed int
  Cargo.lock
  api/src/tests/mod.rs
  api/src/tests/signed_int_test.rs
  api/types/src/bytecode.rs
  api/types/src/convert.rs
  api/types/src/derives.rs
  api/types/src/lib.rs
  api/types/src/move_types.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/move-examples/signed_int/calculator/Move.toml
  aptos-move/move-examples/signed_int/calculator/sources/calculator.move
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  storage/indexer/src/db_v2.rs
  storage/indexer/src/lib.rs
  third_party/move/move-binary-format/src/normalized.rs
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-core/types/src/transaction_argument.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/tools/move-bytecode-utils/Cargo.toml
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  third_party/move/tools/move-resource-viewer/src/fat_type.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991

[txt arg]: update recorded format
  api/doc/spec.json
  api/doc/spec.yaml
  api/src/tests/signed_int_test.rs
  aptos-move/move-examples/signed_int/calculator/sources/calculator.move
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
Owners: @banool, @gregnazario, @0xmaayan

[Move Prover] add signed int support
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-prover/boogie-backend/src/boogie_helpers.rs
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/boogie-backend/src/lib.rs
  third_party/move/move-prover/boogie-backend/src/prelude/prelude.bpl
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
  third_party/move/move-prover/move-abigen/src/abigen.rs
  third_party/move/move-prover/tests/sources/functional/cast.exp
  third_party/move/move-prover/tests/sources/functional/cast.move
  third_party/move/move-prover/tests/sources/functional/loops_with_memory_ops.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/artithmetic.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/artithmetic.move
  third_party/move/move-prover/tests/sources/functional/signed_int/cast.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/cast.move
  third_party/move/move-prover/tests/sources/functional/signed_int/negate.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/negate.move
  third_party/move/move-prover/tests/sources/functional/type_reflection.move
Owners: none

[prover sint] add test cases with error msg reported
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
  third_party/move/move-prover/tests/sources/functional/signed_int/error.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/error.move
Owners: none

[prover sint] unify error handling
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-prover/boogie-backend/src/boogie_helpers.rs
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/boogie-backend/src/lib.rs
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
Owners: none

delete unused code
  Cargo.lock
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  third_party/move/move-binary-format/src/compatibility_legacy.rs
  third_party/move/move-binary-format/src/lib.rs
  third_party/move/move-binary-format/src/normalized.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/ability_field_requirements_tests.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/mod.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/multi_pass_tests.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/signature_tests.rs
  third_party/move/move-bytecode-verifier/src/ability_field_requirements.rs
  third_party/move/move-bytecode-verifier/src/lib.rs
  third_party/move/move-bytecode-verifier/src/signature.rs
  third_party/move/move-bytecode-verifier/src/verifier.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-prover/bytecode-pipeline/Cargo.toml
  third_party/move/move-prover/bytecode-pipeline/src/lib.rs
  third_party/move/move-prover/bytecode-pipeline/src/packed_types_analysis.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

don't use iterators
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
Owners: none

OrderBook use of BigOrderedMap utilities to avoid double lookups (#17867)
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
Owners: none

Removed Statement
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Some more refactoring
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Added some comments
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Removed a lot of PartialEq and Eq
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

[vm] Make sure we cache index to avoid lookups via loader / interpreter cache
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[Move VM] optimize ReentrancyChecker
  Cargo.lock
  Cargo.toml
  third_party/move/move-core/types/Cargo.toml
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/ty_tag_converter.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/loaded_data/struct_name_indexing.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[benchmark] Enable layout caches for external benchmark
  execution/executor-benchmark/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

Looking better
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

delete unused code (#17849)
  Cargo.lock
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  third_party/move/move-binary-format/src/compatibility_legacy.rs
  third_party/move/move-binary-format/src/lib.rs
  third_party/move/move-binary-format/src/normalized.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/ability_field_requirements_tests.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/mod.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/multi_pass_tests.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/signature_tests.rs
  third_party/move/move-bytecode-verifier/src/ability_field_requirements.rs
  third_party/move/move-bytecode-verifier/src/lib.rs
  third_party/move/move-bytecode-verifier/src/signature.rs
  third_party/move/move-bytecode-verifier/src/verifier.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-prover/bytecode-pipeline/Cargo.toml
  third_party/move/move-prover/bytecode-pipeline/src/lib.rs
  third_party/move/move-prover/bytecode-pipeline/src/packed_types_analysis.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

[WIP] Instruction caches to store more info at load-time
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/instruction_caches.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
Owners: none

[benchmark] Enable layout caches for external benchmark (#17876)
  execution/executor-benchmark/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

oops
  keyless/pepper/service/Cargo.toml
Owners: none

oops
  Cargo.toml
Owners: none

[vm] Strengthen indexed ref checks
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/move-stdlib/src/natives/unit_test.rs
  aptos-move/framework/src/natives/cryptography/bulletproofs.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-stdlib/src/natives/unit_test.rs
  third_party/move/move-vm/types/src/value_traversal.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/move-vm/types/src/views.rs
Owners: none

feat: Wrap PollResult by Relayer and fix JwkGravityEvent into contract event #19
  crates/api-types/src/relayer.rs
  crates/aptos-jwk-consensus/src/jwk_observer.rs
  types/src/contract_event.rs
Owners: none

[prover sint] support casting bitvector to sint
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/tests/sources/functional/signed_int/cast.move
Owners: none

Address security review feedback
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

Looking better again
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Owners: none

Tiny stuff
  Cargo.lock
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
Owners: none

refactor: fix digest update logic for cleaner and safer runs
  scripts/update_docker_images.py
Owners: @velor-chain/prod-eng

More tiny stuff
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
Owners: none
