Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

Lint fix
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
Owners: none

feat: Add sequence number validation to bulk orders
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
  crates/transaction-workloads-lib/prebuilt.mpb
  testsuite/benchmark-workloads/packages-experimental/experimental_usecases/sources/order_book_example.move
Owners: none

Slight renaming
  crates/aptos-dkg/benches/range_proof.rs
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

pack & pack generic
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
Owners: none

Tiny changes
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/utils/test_utils.rs
Owners: none

[Orderbook] Add sequence number validation to bulk orders (#17472)
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
  crates/transaction-workloads-lib/prebuilt.mpb
  testsuite/benchmark-workloads/packages-experimental/experimental_usecases/sources/order_book_example.move
Owners: none

Ability to return generic templated values from clearinghouse APIs
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
Owners: none

review comments
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

Ability to return generic templated values from clearinghouse APIs (#17658)
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
Owners: none

[Keyless] Add simple tests for pepper requests.
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/keyless_config.rs
  keyless/pepper/service/src/tests/mod.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/process_common.rs
Owners: none

[Keyless] Add simple tests for pepper requests.
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/keyless_config.rs
  keyless/pepper/service/src/tests/mod.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/process_common.rs
Owners: none

[Keyless] Clean up pepper request handler.
  Cargo.lock
  keyless/pepper/service/Cargo.toml
  keyless/pepper/service/src/accounts/account_managers.rs
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/mod.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/dedicated_handlers/process_common.rs
  keyless/pepper/service/src/tests/process_common.rs
Owners: none

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

chore: remove redundant words
  crates/aptos/e2e/cases/move.py
  storage/backup/backup-cli/src/backup_types/state_snapshot/restore.rs
Owners: @msmouse, @lightmark, @grao1991

Initial changes for scaling Gas Schedule
  aptos-move/aptos-gas-schedule-updator/src/lib.rs
  aptos-move/aptos-gas-schedule-updator/src/main.rs
  aptos-move/aptos-gas-schedule-updator/tests/gen_tests.rs
  types/src/on_chain_config/gas_schedule.rs
Owners: none

Small renaming
  crates/aptos-dkg/benches/range_proof.rs
Owners: none

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

default (#17665)
  types/src/on_chain_config/aptos_features.rs
Owners: none

[Keyless] Refactor database integration.
  Cargo.lock
  Cargo.toml
  keyless/pepper/README.md
  keyless/pepper/common/src/vuf/slip_10.rs
  keyless/pepper/example-client-rust/src/lib.rs
  keyless/pepper/example-client-rust/src/main.rs
  keyless/pepper/scripts/start-pepper-client-with-firestore.sh
  keyless/pepper/scripts/start-pepper-client.sh
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/Cargo.toml
  keyless/pepper/service/src/accounts/account_db.rs
  keyless/pepper/service/src/accounts/account_recovery_db.rs
  keyless/pepper/service/src/accounts/mod.rs
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/external_resources/groth16_vk.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/jwk_fetcher.rs
  keyless/pepper/service/src/tests/mod.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/resource_fetcher.rs
  keyless/pepper/service/src/tests/test_resources/groth16_vk.json
  keyless/pepper/service/src/tests/test_resources/keyless_config.json
  keyless/pepper/service/src/tests/utils.rs
  keyless/pepper/service/src/utils.rs
Owners: none

add test txn
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/generated_transactions.rs
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2975888978_fa_secondary_store_burnt_object_still_exists.json
  ecosystem/indexer-grpc/indexer-transaction-generator/imported_transactions/imported_transactions.yaml
Owners: none

Remove lru patch
  Cargo.lock
  Cargo.toml
Owners: none

[Orderbook] Event support for bulk orders
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_bulk_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_mixed_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_single_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/order_placement.md
Owners: none

remove unused
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
Owners: none

Remove lru patch
  Cargo.lock
  Cargo.toml
Owners: none

Bump target-cpu to x86-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

Bump target-cpu to x86-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

add retry
  testsuite/test_framework/cluster.py
Owners: none

update lock
  testsuite/poetry.lock
Owners: none

add cli check
  testsuite/test_framework/cluster.py
Owners: none

revert
  testsuite/test_framework/cluster.py
Owners: none

revert
  testsuite/test_framework/cluster.py
Owners: none

revert
  testsuite/test_framework/cluster.py
Owners: none

Address review comments
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/sched_txns_auth_num.md
  aptos-move/framework/aptos-framework/doc/sched_txns_sender_seqno.md
  aptos-move/framework/aptos-framework/doc/scheduled_txns.md
  aptos-move/framework/aptos-framework/doc/transaction_context.md
  aptos-move/framework/aptos-framework/sources/account/account.move
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/sched_txns_auth_num.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/sched_txns_sender_seqno.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/aptos-framework/tests/test_scheduled_txns.move
Owners: none

import tenacity
  testsuite/forge.py
Owners: none

Add units tests to check that module publishing is disallowed in scheduled txns
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
Owners: none

[scheduled_txns 2/n] Execution of scheduled txns in aptos_vm; E2E move tests
  Cargo.lock
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/scheduled_txn_epilogue_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/scheduled_txn_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/Move.toml
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
  aptos-move/framework/src/natives/code.rs
  crates/aptos-rosetta/src/types/objects.rs
  execution/executor/src/metrics.rs
  storage/backup/backup-cli/src/backup_types/transaction/analysis.rs
  testsuite/smoke-test/src/rosetta.rs
  types/src/transaction/mod.rs
  types/src/transaction/scheduled_txn.rs
  types/src/transaction/use_case.rs
  types/src/transaction/user_transaction_context.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991

Address review comments; rebase from parent branch
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  types/src/transaction/mod.rs
Owners: @banool, @gregnazario, @0xmaayan

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
