Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

remove other benches
  crates/aptos-dkg/Cargo.toml
Owners: none

slow verification working
  aptos-move/move-examples/sigma_protocols/sources/homomorphism.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
Owners: none

error: vector operation error with sub-status 1
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_pedeq_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
  aptos-move/move-examples/sigma_protocols/sources/representation.move
Owners: none

add Move framework for proving (and verifying) knowledge of a preimage of a homomorphism
  aptos-move/move-examples/sigma_protocols/Move.toml
  aptos-move/move-examples/sigma_protocols/README.md
  aptos-move/move-examples/sigma_protocols/sources/homomorphism.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_keyrot_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
  aptos-move/move-examples/sigma_protocols/sources/public_statement.move
  aptos-move/move-examples/sigma_protocols/sources/representation.move
  aptos-move/move-examples/sigma_protocols/sources/representation_vec.move
  aptos-move/move-examples/tests/move_unit_tests.rs
  crates/aptos-dkg/benches/crypto.rs
Owners: none

all verification tests pass now
  aptos-move/move-examples/sigma_protocols/Move.toml
  aptos-move/move-examples/sigma_protocols/sources/example_pedeq.move
  aptos-move/move-examples/sigma_protocols/sources/example_schnorr.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_keyrot_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_pedeq_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
  aptos-move/move-examples/sigma_protocols/sources/proof.move
  aptos-move/move-examples/sigma_protocols/sources/public_statement.move
  aptos-move/move-examples/sigma_protocols/sources/representation.move
  aptos-move/move-examples/sigma_protocols/sources/representation_vec.move
  aptos-move/move-examples/sigma_protocols/sources/secret_witness.move
  aptos-move/move-examples/sigma_protocols/sources/utils.move
  crates/aptos-crypto/benches/bulletproofs_batch_verify.rs
Owners: none

[vm sint] add gas params for signed int
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/instr.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
Owners: none

map modifiers
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
Owners: none

OrderBook use of iterators and utilities
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
Owners: none

don't use iterators
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

fix spec and test
  aptos-move/e2e-move-tests/src/tests/remote_state.rs
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/doc/optional_aggregator.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/doc/randomness.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/account/account.spec.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.spec.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/jwks.spec.move
  aptos-move/framework/aptos-framework/sources/randomness.spec.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
  aptos-move/framework/aptos-stdlib/doc/bls12381.md
  aptos-move/framework/aptos-stdlib/doc/ristretto255.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/bls12381.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
  aptos-move/framework/move-stdlib/doc/option.md
  aptos-move/framework/move-stdlib/sources/option.move
Owners: none

enable some manual inlines with justifications
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

use monotonic counter in order book
  aptos-move/e2e-move-tests/src/tests/transaction_context.data/pack/sources/transaction_context_test.move
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

removing conflict from orders map
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

[Storage] Smooth out RocksDB compactions
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Specs] ordered_map remove_or_none
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
Owners: none

[Storage] Smooth out RocksDB compactions
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[vm sint] update compiler test case results
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.opt.exp
Owners: none

[Rest API] support for signed int
  Cargo.lock
  api/src/tests/mod.rs
  api/src/tests/signed_int_test.rs
  api/types/src/bytecode.rs
  api/types/src/convert.rs
  api/types/src/derives.rs
  api/types/src/lib.rs
  api/types/src/move_types.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/move-examples/signed_int/calculator/Move.toml
  aptos-move/move-examples/signed_int/calculator/sources/calculator.move
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  storage/indexer/src/db_v2.rs
  storage/indexer/src/lib.rs
  third_party/move/move-binary-format/src/normalized.rs
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-core/types/src/transaction_argument.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/tools/move-bytecode-utils/Cargo.toml
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  third_party/move/tools/move-resource-viewer/src/fat_type.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991

[Move Prover] add signed int support
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-prover/boogie-backend/src/boogie_helpers.rs
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/boogie-backend/src/lib.rs
  third_party/move/move-prover/boogie-backend/src/prelude/prelude.bpl
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
  third_party/move/move-prover/move-abigen/src/abigen.rs
  third_party/move/move-prover/tests/sources/functional/cast.exp
  third_party/move/move-prover/tests/sources/functional/cast.move
  third_party/move/move-prover/tests/sources/functional/loops_with_memory_ops.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/artithmetic.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/artithmetic.move
  third_party/move/move-prover/tests/sources/functional/signed_int/cast.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/cast.move
  third_party/move/move-prover/tests/sources/functional/signed_int/negate.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/negate.move
  third_party/move/move-prover/tests/sources/functional/type_reflection.move
Owners: none

[vm] Removing `IntegerValue` and Value wrapper
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/value_traversal.rs
  third_party/move/move-vm/types/src/values/function_values_impl.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[compiler sint] update trans test results
  third_party/move/move-compiler-v2/transactional-tests/tests/signed-int/arithmetic_i256.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/signed-int/round-trip/arithmetic_i256.decompiled.baseline.exp
Owners: none

[replay] fix the stats in replay
  testsuite/replay-verify/main.py
Owners: none

[compiler] Fixing locations in += op
  third_party/move/move-compiler-v2/legacy-move-compiler/src/expansion/translate.rs
Owners: none

[Specs] ordered_map remove_or_none (#17829)
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
Owners: none

[replay] fix the stats in replay
  testsuite/replay-verify/main.py
Owners: none

[replay] enable module cache
  storage/db-tool/src/replay_on_archive.rs
Owners: @msmouse, @lightmark, @grao1991

[Storage] Smooth out RocksDB compactions
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[txn-emitter] support for orderless txns
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Owners: none

[Storage] Smooth out RocksDB compactions
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Specs] ordered_map and big_ordered_map specs for get and get_and_map
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
Owners: none

[compiler] Fixing locations in += op (#17841)
  third_party/move/move-compiler-v2/legacy-move-compiler/src/expansion/translate.rs
Owners: none

[replay] parallelize on chunk level
  storage/db-tool/src/replay_on_archive.rs
Owners: @msmouse, @lightmark, @grao1991

use performance build
  testsuite/replay-verify/main.py
Owners: none

use txn summaries api instead of per txn api call
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Owners: none

support for orderless txn fa transfer
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/p2p_transaction_generator.rs
  crates/transaction-workloads-lib/src/args.rs
  testsuite/smoke-test/src/consensus/helpers.rs
  testsuite/smoke-test/src/rest_api.rs
Owners: none

[Storage] Smooth out RocksDB compactions
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

fixup! [replay] parallelize on chunk level
  storage/db-tool/src/replay_on_archive.rs
Owners: @msmouse, @lightmark, @grao1991

[Storage] Smooth out RocksDB compactions
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage] Smooth out RocksDB compactions
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage] Smooth out RocksDB compactions
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991
