Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

[Keyless] Refactor database integration.
  Cargo.lock
  keyless/pepper/README.md
  keyless/pepper/common/src/vuf/slip_10.rs
  keyless/pepper/example-client-rust/src/lib.rs
  keyless/pepper/example-client-rust/src/main.rs
  keyless/pepper/scripts/start-pepper-client-with-firestore.sh
  keyless/pepper/scripts/start-pepper-client.sh
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/Cargo.toml
  keyless/pepper/service/src/accounts/account_db.rs
  keyless/pepper/service/src/accounts/account_recovery_db.rs
  keyless/pepper/service/src/accounts/mod.rs
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/test_resources/groth16_vk.json
  keyless/pepper/service/src/tests/test_resources/keyless_config.json
  keyless/pepper/service/src/tests/utils.rs
Owners: none

[Keyless] Add resource and JWK fetching tests.
  keyless/pepper/service/src/external_resources/groth16_vk.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/tests/jwk_fetcher.rs
  keyless/pepper/service/src/tests/mod.rs
  keyless/pepper/service/src/tests/resource_fetcher.rs
  keyless/pepper/service/src/tests/utils.rs
Owners: none

Fixing baseline tests after rebase
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/generate-format/tests/staged/move_abi.yaml
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
Owners: none

[vm] Generic per-interpreter function frame caches
  Cargo.lock
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/lib.rs
  third_party/move/move-vm/types/src/loaded_data/struct_name_indexing.rs
  third_party/move/move-vm/types/src/ty_interner.rs
Owners: none

[vm] More instruction caches
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

fix
  api/src/tests/option_test.rs
  api/src/tests/view_function.rs
  aptos-move/framework/move-stdlib/sources/mem.move
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/transactional-tests/tests/tests.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
Owners: @banool, @gregnazario, @0xmaayan

[vm] Removing `IntegerValue` and Value wrapper
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/value_traversal.rs
  third_party/move/move-vm/types/src/values/function_values_impl.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Keyless] Refactor database integration.
  Cargo.lock
  keyless/pepper/README.md
  keyless/pepper/common/src/vuf/slip_10.rs
  keyless/pepper/example-client-rust/src/lib.rs
  keyless/pepper/example-client-rust/src/main.rs
  keyless/pepper/scripts/start-pepper-client-with-firestore.sh
  keyless/pepper/scripts/start-pepper-client.sh
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/Cargo.toml
  keyless/pepper/service/src/accounts/account_db.rs
  keyless/pepper/service/src/accounts/account_recovery_db.rs
  keyless/pepper/service/src/accounts/mod.rs
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/test_resources/groth16_vk.json
  keyless/pepper/service/src/tests/test_resources/keyless_config.json
  keyless/pepper/service/src/tests/utils.rs
Owners: none

Create aggregate (unique stack) profile
  aptos-move/aptos-gas-profiling/src/erased.rs
  aptos-move/aptos-gas-profiling/src/lib.rs
  aptos-move/aptos-gas-profiling/src/log.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-gas-profiling/src/render.rs
  aptos-move/aptos-gas-profiling/src/report.rs
  aptos-move/aptos-gas-profiling/src/unique_stack.rs
  crates/aptos/src/common/local_simulation.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-vm/types/src/gas.rs
Owners: none

[Keyless] Refactor database integration.
  Cargo.lock
  keyless/pepper/README.md
  keyless/pepper/common/src/vuf/slip_10.rs
  keyless/pepper/example-client-rust/src/lib.rs
  keyless/pepper/example-client-rust/src/main.rs
  keyless/pepper/scripts/start-pepper-client-with-firestore.sh
  keyless/pepper/scripts/start-pepper-client.sh
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/Cargo.toml
  keyless/pepper/service/src/accounts/account_db.rs
  keyless/pepper/service/src/accounts/account_recovery_db.rs
  keyless/pepper/service/src/accounts/mod.rs
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/test_resources/groth16_vk.json
  keyless/pepper/service/src/tests/test_resources/keyless_config.json
  keyless/pepper/service/src/tests/utils.rs
Owners: none

Create aggregate (unique stack) profile (#17468)
  aptos-move/aptos-gas-profiling/src/erased.rs
  aptos-move/aptos-gas-profiling/src/lib.rs
  aptos-move/aptos-gas-profiling/src/log.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-gas-profiling/src/render.rs
  aptos-move/aptos-gas-profiling/src/report.rs
  aptos-move/aptos-gas-profiling/src/unique_stack.rs
  crates/aptos/src/common/local_simulation.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-vm/types/src/gas.rs
Owners: none

[Keyless] Refactor database integration.
  Cargo.lock
Owners: none

[Keyless] Add resource and JWK fetching tests.
  Cargo.lock
  keyless/pepper/service/src/external_resources/groth16_vk.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/tests/jwk_fetcher.rs
  keyless/pepper/service/src/tests/mod.rs
  keyless/pepper/service/src/tests/resource_fetcher.rs
  keyless/pepper/service/src/tests/utils.rs
Owners: none

Connecting assembler and adding transactional tests. Fixing a bug in type serialization.
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
  third_party/move/tools/move-asm/src/assembler.rs
  third_party/move/tools/move-asm/src/syntax.rs
  third_party/move/tools/move-asm/src/value.rs
  third_party/move/tools/move-asm/tests/assembler/constants_errors.exp
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.masm
Owners: none

Addressing reviewer comments
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  aptos-move/aptos-sdk-builder/src/common.rs
  aptos-move/aptos-sdk-builder/src/golang.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-bytecode-verifier/src/reference_safety/mod.rs
  third_party/move/move-bytecode-verifier/src/stack_usage_verifier.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-ir/types/src/ast.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/gas.rs
  third_party/move/testing-infra/transactional-test-runner/tests/vm_test_harness/round-trip/print_move_bytecode.disassembled.exp
  third_party/move/tools/move-asm/src/value.rs
Owners: none

Fixing code deserializer.
  Cargo.lock
  third_party/move/move-binary-format/serializer-tests/Cargo.toml
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.proptest-regressions
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
Owners: none

Addressing reviewer comments.
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-bytecode-verifier/src/type_safety.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Fixing baseline tests after rebase
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/generate-format/tests/staged/move_abi.yaml
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
Owners: none

[vm] Removing `IntegerValue` and Value wrapper
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/value_traversal.rs
  third_party/move/move-vm/types/src/values/function_values_impl.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Keyless] Add resource and JWK fetching tests.
  Cargo.lock
  keyless/pepper/service/src/external_resources/groth16_vk.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/tests/jwk_fetcher.rs
  keyless/pepper/service/src/tests/mod.rs
  keyless/pepper/service/src/tests/resource_fetcher.rs
  keyless/pepper/service/src/tests/utils.rs
Owners: none

[Keyless] Refactor database integration.
  Cargo.lock
Owners: none

Add CLI example to README in aptos-core
  README.md
Owners: none

Add CLI example to README in aptos-core
  README.md
Owners: none

successful testing workflow using twins, safety cant be violated however
  FORGE_TEST_PSEUDOCODE_GUIDE.md
  FOUR_NODE_PARTITION_SCENARIO_GUIDE.md
  TWINS_TESTING_ANALYSIS.md
  TWINS_TEST_EXECUTION_GUIDE.md
  TWINS_VS_FORGE_ANALYSIS.md
  consensus/src/epoch_manager.rs
  consensus/src/test_utils/mock_execution_client.rs
  consensus/src/twins/basic_twins_test.rs
  consensus/src/twins/mod.rs
  consensus/src/twins/simple_three_round_test.rs
  consensus/src/twins/twins_node.rs
  testsuite/forge-cli/src/suites/ungrouped.rs
  testsuite/testcases/src/four_node_partition_scenario.rs
  testsuite/testcases/src/lib.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[Orderbook] Event support for bulk orders
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_bulk_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_mixed_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_single_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/order_placement.md
Owners: none

remove unused
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

[Orderbook] Event support for bulk order (#17671)
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_bulk_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_mixed_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_single_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

For debugging
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

add _ as prefix
  third_party/move/move-compiler-v2/src/bytecode_generator.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety/reference_safety_processor_v3.rs
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16222_fv_wrapper_unpack.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16222_fv_wrapper_unpack_failure.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16543_fv_wrapper_pack.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16543_fv_wrapper_pack_failure.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/access_specifiers/access_ok.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_borrow_field_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_package_access_success.exp
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/well_known.rs
Owners: none

[Orderbook] Change client order id from u64 to String
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_single_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/order_book_client_order_id.move
Owners: none

fix
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
Owners: none

Add MoveHarnessSend
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-tests/src/golden_outputs.rs
  aptos-move/e2e-tests/src/lib.rs
Owners: none

Add MoveHarnessSend (#17476)
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-tests/src/golden_outputs.rs
  aptos-move/e2e-tests/src/lib.rs
Owners: none

[cli] Remove unused argument instruction_execution_bound
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
Owners: none

Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Owners: @velor-chain/prod-eng, @velor-chain/security

review
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-vm/integration-tests/src/tests/binary_format_version.rs
  third_party/move/move-vm/integration-tests/src/tests/instantiation_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/module_storage_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/native_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/regression_tests.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
  types/src/vm/modules.rs
Owners: none

[Move disassembler]: change disassembled files to end with `.masm`
  crates/aptos/CHANGELOG.md
  crates/aptos/src/move_tool/bytecode.rs
Owners: none

make txn output consistent (#185)
  Cargo.lock
  Cargo.toml
  storage/db-tool/src/replay_on_archive.rs
  tools/l1-migration/Cargo.toml
  tools/l1-migration/data/mainnet/genesis.blob
  tools/l1-migration/data/mainnet/waypoint.txt
  tools/l1-migration/local-node-configs/full_node.yaml
  tools/l1-migration/src/genesis_waypoint_extraction.rs
  tools/l1-migration/src/lib.rs
  tools/l1-migration/src/main.rs
  types/src/chain_id.rs
  types/src/on_chain_config/timed_features.rs
  types/src/transaction/mod.rs
Owners: @msmouse, @lightmark, @grao1991

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
