Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

Fixed lints
  crates/aptos-dkg/tests/barycentric_eval.rs
Owners: none

new pepper param jwk issuer
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/main.rs
Owners: none

remove `RTCaches` from `make_call_frame` as it's not used inside the function (#17895)
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[compiler] change default byte version of lang v2.3 to v9
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-model/src/metadata.rs
Owners: none

new pepper param jwk issuer (#17894)
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/main.rs
Owners: none

[gha] cleanup; move to PIES scheduler (#17890)
  .github/actions/check-aptos-core/action.yaml
  .github/linters/semgrep/disallow-schedule-trigger.yaml
  .github/workflows/close-stale-issues.yaml
  .github/workflows/copy-images-to-dockerhub-nightly.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docker-build-rosetta.yaml
  .github/workflows/docker-indexer-grpc-test.yaml
  .github/workflows/docker-update-images.yaml
  .github/workflows/execution-performance.yaml
  .github/workflows/forge-continuous-land-blocking-test.yaml
  .github/workflows/forge-stable.yaml
  .github/workflows/forge-unstable.yaml
  .github/workflows/fullnode-execute-devnet-main.yaml
  .github/workflows/fullnode-execute-devnet-stable.yaml
  .github/workflows/fullnode-fast-devnet-main.yaml
  .github/workflows/fullnode-fast-devnet-stable.yaml
  .github/workflows/fullnode-fast-mainnet-main.yaml
  .github/workflows/fullnode-fast-mainnet-stable.yaml
  .github/workflows/fullnode-fast-testnet-main.yaml
  .github/workflows/fullnode-fast-testnet-stable.yaml
  .github/workflows/fullnode-intelligent-devnet-main.yaml
  .github/workflows/fullnode-intelligent-mainnet-main.yaml
  .github/workflows/fullnode-intelligent-mainnet-stable.yaml
  .github/workflows/fullnode-intelligent-testnet-main.yaml
  .github/workflows/fuzzer-test.yaml
  .github/workflows/indexer-grpc-in-memory-cache-benchmark.yaml
  .github/workflows/prover-daily-test.yaml
  .github/workflows/provision-replay-verify-archive-disks.yaml
  .github/workflows/prune-old-workflow-runs.yaml
  .github/workflows/replay-verify-legacy.yaml
  .github/workflows/replay-verify-mainnet.yaml
  .github/workflows/replay-verify-testnet.yaml
  .github/workflows/run-fullnode-sync.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/windows-build.yaml
Owners: @velor-chain/prod-eng

[Keyless] Add verify() call to pepper base logic.
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/lib.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/utils.rs
  keyless/pepper/service/src/vuf_keypair.rs
Owners: none

[compiler] change default byte version of lang v2.3 to v9
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-model/src/metadata.rs
Owners: none

[Aptos CLI] release CLI 7.10.0
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Owners: none

[vm] Make sure we cache index to avoid lookups via loader / interpreter cache (#17875)
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[table natives] fix double counting of memory usage
  Cargo.lock
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

[table natives] fix double counting of memory usage
  Cargo.lock
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

[Keyless] Add verify() call to pepper base logic.
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/lib.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/utils.rs
  keyless/pepper/service/src/vuf_keypair.rs
Owners: none

[Aptos CLI] release CLI 7.10.0
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Owners: none

[blockstm] replay with v2
  storage/db-tool/src/replay_on_archive.rs
  testsuite/replay-verify/main.py
Owners: @msmouse, @lightmark, @grao1991

[table natives] fix double counting of memory usage (#17899)
  Cargo.lock
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

[table natives] fix double counting of memory usage (#17900)
  Cargo.lock
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

[gas] cache value sizes for read_ref
  aptos-move/aptos-gas-meter/src/lib.rs
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
Owners: none

Print tps delta in benchmark
  testsuite/single_node_performance.py
Owners: none

Fix comments for AccumulatorRangeProof
  types/src/proof/definition.rs
Owners: none

[Executor] Move unused deps
  execution/executor/Cargo.toml
Owners: @msmouse, @lightmark, @grao1991

format
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/payload.rs
  consensus/consensus-types/src/proposal_ext.rs
  consensus/consensus-types/src/vote_proposal.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/consensus_observer/network/observer_message.rs
  consensus/src/payload_manager/quorum_store_payload_manager.rs
  consensus/src/util/db_tool.rs
  crates/aptos-crypto/src/hash.rs
  types/src/block_info.rs
Owners: @zekun000, @sasha8, @ibalajiarun

wip
  consensus/src/block_storage/tracing.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/liveness/round_state.rs
  consensus/src/logging.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/proxy_network_interfaces.rs
  consensus/src/recovery_manager.rs
  consensus/src/round_manager.rs
Owners: @zekun000, @sasha8, @ibalajiarun

Fix comments for AccumulatorRangeProof
  types/src/proof/definition.rs
Owners: none

[forge] bump deployer version
  testsuite/forge/src/backend/k8s_deployer/constants.rs
Owners: none

[gas] cache value sizes for read_ref, copy_loc
  aptos-move/aptos-gas-meter/src/lib.rs
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
Owners: none

[Storage] Use a single block cache for all major RocksDB instances
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/aptosdb_internal.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/examine/print_raw_data_by_version.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

fix
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
Owners: none

[gas] cache value sizes for eq, neq
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/move-vm/types/src/views.rs
Owners: none

fix
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

fix
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
Owners: none

fix the same peer being taken repeatedly when signers.len() <= num_peers
  consensus/src/quorum_store/batch_requester.rs
Owners: @bchocho, @sasha8, @gelash

Refactoring tests
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

refactor
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-compiler-v2/src/bytecode_generator.rs
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16222_fv_wrapper_unpack.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16222_fv_wrapper_unpack_failure.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16543_fv_wrapper_pack.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16543_fv_wrapper_pack_failure.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_borrow_field_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_package_access_success.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/structs_visibility/migrated_tests/public_enum_field_select_different_offsets.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/structs_visibility/test_enum_field_api.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/structs_visibility/test_enum_field_api.move
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
  third_party/move/move-model/src/builder/model_builder.rs
  third_party/move/move-model/src/builder/module_builder.rs
Owners: none

Fixes
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Fixed some lints
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Fix typo
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/barycentric_eval.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

fix
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
Owners: none

WIP
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
Owners: none

more changes
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
