Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

Fixed Rust lints
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
Owners: none

add UnsupportedJWK type in api onchain config types (#12)
  crates/api-types/src/on_chain_config/jwks.rs
  crates/api-types/src/relayer.rs
  crates/aptos-jwk-consensus/src/jwk_manager/mod.rs
  crates/aptos-jwk-consensus/src/jwk_observer.rs
  types/src/idl/jwk_converter.rs
  types/src/jwks/mod.rs
  types/src/on_chain_config/jwk_consensus_config.rs
Owners: none

introduce --exact filter options to 'aptos move test'
  aptos-move/framework/tests/move_unit_test.rs
  crates/aptos/src/move_tool/coverage.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
  third_party/move/tools/move-cli/src/base/test.rs
  third_party/move/tools/move-unit-test/src/filter.rs
  third_party/move/tools/move-unit-test/src/lib.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

merge errors
  third_party/move/tools/move-unit-test/src/lib.rs
Owners: none

add copyright
  third_party/move/tools/move-unit-test/src/filter.rs
Owners: none

[compiler-v2] Enable inlining optimization and full AST simplification in framework release
  aptos-move/framework/aptos-experimental/doc/confidential_asset.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/price_time_index.md
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/aptos_coin.md
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/managed_coin.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/vesting.md
  aptos-move/framework/aptos-stdlib/doc/smart_table.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/move-stdlib/doc/acl.md
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/src/aptos.rs
Owners: none

fastcall
  aptos-move/aptos-vm-profiling/fastcall/empty_loop.mvir
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_4 copy.mvir
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/transactional-tests/tests/tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Slightly modified range proof tests, removed macros
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Add redundant boolean expression detector
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_boolean_expressions.rs
Owners: none

Add tests
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.move
Owners: none

Update third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Disable idempotence, contradiction and tautology when the expressions are known constants. Only evaluate side-effect free equality on expressions (remove `move-functions`)
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Rename files
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/simplifiable_boolean_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simplifiable_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simplifiable_boolean_expression.move
Owners: none

Update naming and prevent panic on unwrap
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_boolean_expressions.rs
Owners: none

Add detector to base
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

Add distributive law and remove already existing checks
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_boolean_expressions.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.move
Owners: none

Update detector
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
Owners: none

Add several tests and support `ExpData::Call` type
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
  third_party/move/tools/move-linter/tests/model_ast_lints/simplifiable_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simplifiable_boolean_expression.move
Owners: none

Update linter suggestions
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Rename detector for more accurate representation
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_boolean_expressions.rs
Owners: none

Add double negation support
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Update tests baseline
  third_party/move/tools/move-linter/tests/model_ast_lints/equal_operands_in_bin_op.exp
Owners: none

Updated comments
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
Owners: none

Add vector tests
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Simplify and optimize BlockSTM commit
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/scheduler_wrapper.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Owners: none

ignore doctest
  third_party/move/tools/move-linter/src/utils.rs
Owners: none

[compiler-v2] Peephole optimization to remove freezeref before veclen
  third_party/move/move-compiler-v2/src/file_format_generator/peephole_optimizer.rs
  third_party/move/move-compiler-v2/src/file_format_generator/peephole_optimizer/reducible_pairs.rs
  third_party/move/move-compiler-v2/tests/file-format-generator/vector.opt.exp
  third_party/move/move-compiler-v2/tests/live-var/mut_inline.exp
  third_party/move/move-compiler-v2/tests/live-var/mut_inline_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/control_flow/round-trip/sorter.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/round-trip/bug_11112.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/round-trip/multi_param.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/bitwise_features.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/vector_length.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/vector_length.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/vector_popback.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/vector_length.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/vector_length.move
Owners: none

[lint] cyclomatic_complexity (#17170)
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/cyclomatic_complexity.rs
  third_party/move/tools/move-linter/src/model_ast_lints/while_true.rs
  third_party/move/tools/move-linter/src/utils.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/aborting_overflow_checks.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/aborting_overflow_checks.move
  third_party/move/tools/move-linter/tests/model_ast_lints/cyclomatic_complexity_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/cyclomatic_complexity_warn.move
  third_party/move/tools/move-linter/tests/model_ast_lints/equal_operands_in_bin_op.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/equal_operands_in_bin_op.move
  third_party/move/tools/move-linter/tests/model_ast_lints/unnecessary_boolean_identity_comparison.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/unnecessary_boolean_identity_comparison.move
Owners: none

Changes to cancel API to support TWAPs better
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
Owners: none

self send timeout directly
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/round_manager.rs
  consensus/src/twins/twins_node.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[forge] bump deployer version
  testsuite/forge/src/backend/k8s_deployer/constants.rs
Owners: none

fastcall
  aptos-move/aptos-vm-profiling/fastcall/empty_loop.mvir
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_4 copy.mvir
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/transactional-tests/tests/tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

add warning
  third_party/move/move-compiler-v2/src/env_pipeline/closure_checker.rs
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_1.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_1.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_2.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_2.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_3.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_3.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_4.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_4.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_5_no_warning.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_5_no_warning.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_6_phantom.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_6_phantom.move
  third_party/move/move-model/src/model.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/equal_operands_in_bin_op.exp
Owners: none

add warning (#17647)
  third_party/move/move-compiler-v2/src/env_pipeline/closure_checker.rs
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_1.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_1.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_2.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_2.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_3.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_3.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_4.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_4.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_5_no_warning.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_5_no_warning.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_6_phantom.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/lambda/capturing_option_6_phantom.move
  third_party/move/move-model/src/model.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/equal_operands_in_bin_op.exp
Owners: none

[Keyless] Add simple tests for pepper requests.
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/keyless_config.rs
  keyless/pepper/service/src/tests/mod.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/process_common.rs
Owners: none

[Consensus Observer] Increase max num pending blocks for test networks.
  config/src/config/consensus_observer_config.rs
Owners: @joshlind, @gregnazario

[Consensus Observer] Handle state sync notification race condition.
  consensus/src/consensus_observer/observer/block_data.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
Owners: @zekun000, @sasha8, @ibalajiarun

generate docs
  aptos-move/framework/aptos-experimental/doc/order_operations.md
Owners: none

Changes to cancel API to support TWAPs better (#17652)
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
Owners: none

Renamed pairing output
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
Owners: none
