Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

Remove lru patch
  Cargo.lock
  Cargo.toml
Owners: none

[aptos-release-v1.36] Bump version to 1.36.0
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

Fix overly strict invariant w. new flows
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
Owners: none

[api] Fix max gas estimation in simulation for fee payer
  api/src/transactions.rs
  testsuite/smoke-test/src/rest_api.rs
Owners: @banool, @gregnazario, @0xmaayan

Fix overly strict invariant w. new flows (#17635)
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
Owners: none

fix script composer
  third_party/move/move-binary-format/src/builders.rs
Owners: none

autofmt coin.move
  aptos-move/framework/aptos-experimental/tests/veiled_coin/veiled_coin_tests.move
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/move-examples/swap/sources/tests/coin_wrapper_tests.move
Owners: none

remove coinstore
  Cargo.lock
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/state_metadata.rs
  aptos-move/framework/aptos-experimental/tests/veiled_coin/veiled_coin_tests.move
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/resource_account.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/move-examples/swap/sources/tests/coin_wrapper_tests.move
  execution/executor-benchmark/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

Fix overly strict invariant w. new flows (#17635)
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
Owners: none

Feature/rlp encoding (#283)
  Cargo.lock
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/aptos-gas-schedule/src/ver.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-stdlib/doc/any.md
  aptos-move/framework/aptos-stdlib/sources/any.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/cryptography/eth_trie.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/rlp.rs
  aptos-move/framework/supra-stdlib/doc/overview.md
  aptos-move/framework/supra-stdlib/doc/rlp.md
  aptos-move/framework/supra-stdlib/sources/rlp.move
  aptos-move/framework/supra-stdlib/tests/rlp_tests.move
  types/src/on_chain_config/aptos_features.rs
Owners: none

Fix overly strict invariant w. new flows (#17635)
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
Owners: none

[compiler-v2] Fix inlining optimization errors (#17612)
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/tests/inlining-optimization/nested_loop_labels.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/nested_loop_labels.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/wildcard.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/wildcard.move
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/large_vectors.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/control_flow/for_loop_nested_break.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/control_flow/for_loop_non_terminating.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/evaluation_order/lazy_assert.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/evaluation_order/short_circuiting_invalid.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/evaluation_order/struct_arguments.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/bug_11223.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14243_stack_size.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14817_extended.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14817_extended.no-optimize.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14817_extended.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14817_extended.optimize.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/build_with_warnings.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/assert_one.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy_local.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy_module_lock.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy_nested.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_field_select.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_field_select_different_offsets.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_scoping.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/fv_as_keys.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/print_bytecode.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/optimization/bug_14223_unused_non_droppable.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
Owners: none

Addressed various comments
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

[zaptos] abort pending tasks in block store
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/block_tree.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/recovery_manager.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[aptos-release-v1.36] Bump version to 1.36.0
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

.
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/native/native_transaction.rs
  execution/executor-benchmark/src/native/native_vm.rs
  execution/executor-benchmark/src/native/parallel_uncoordinated_block_executor.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance_values.tsv
Owners: @msmouse, @lightmark, @grao1991

Addressed more comments
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/utils/mod.rs
Owners: none

.
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/native/native_transaction.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance_values.tsv
Owners: @msmouse, @lightmark, @grao1991

.
  testsuite/single_node_performance.py
  testsuite/single_node_performance_values.tsv
Owners: none

[Keyless] Clean up pepper request handler.
  Cargo.lock
  keyless/pepper/service/Cargo.toml
  keyless/pepper/service/src/accounts/account_managers.rs
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/mod.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/dedicated_handlers/process_common.rs
  keyless/pepper/service/src/tests/process_common.rs
Owners: none

[zaptos] abort pending tasks in block store
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/block_tree.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/recovery_manager.rs
Owners: @zekun000, @sasha8, @ibalajiarun

Remove trailing line
  third_party/move/tools/move-linter/tests/model_ast_lints/known_to_abort.move
Owners: none

Add linter with test-cases
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/known_to_abort.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/known_to_abort.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/known_to_abort.move
Owners: none

Apply suggestion from @junxzm1990
  third_party/move/tools/move-linter/src/model_ast_lints/known_to_abort.rs
Owners: none

Add requested change
  third_party/move/tools/move-linter/src/model_ast_lints/known_to_abort.rs
Owners: none

Fix fmt
  third_party/move/tools/move-linter/src/model_ast_lints/known_to_abort.rs
Owners: none

remove coinstore
  Cargo.lock
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/state_metadata.rs
  aptos-move/framework/aptos-experimental/tests/veiled_coin/veiled_coin_tests.move
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/resource_account.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/move-examples/swap/sources/tests/coin_wrapper_tests.move
  execution/executor-benchmark/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

fix script composer
  third_party/move/move-binary-format/src/builders.rs
Owners: none

autofmt coin.move
  aptos-move/framework/aptos-experimental/tests/veiled_coin/veiled_coin_tests.move
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/move-examples/swap/sources/tests/coin_wrapper_tests.move
Owners: none

[aptos-release-v1.36] Bump version to 1.36.0
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

x64-64-v3
  .cargo/config.toml
Owners: none

x64-64-v3
  .cargo/config.toml
Owners: none

x64-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

dummy change
  .cargo/config.toml
Owners: none

[EXPERIMENT] Option as enum
  api/types/src/move_types.rs
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/dkg.md
  aptos-move/framework/aptos-framework/doc/optional_aggregator.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/account/account.spec.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.spec.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/dkg.spec.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
  aptos-move/framework/aptos-stdlib/doc/multi_ed25519.md
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/multi_ed25519.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
  aptos-move/framework/aptos-stdlib/sources/simple_map.spec.move
  aptos-move/framework/move-stdlib/doc/option.md
  aptos-move/framework/move-stdlib/sources/mem.move
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/framework/src/natives/transaction_context.rs
  crates/transaction-workloads-lib/src/move_workloads.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/vm.rs
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
Owners: @banool, @gregnazario, @0xmaayan

option module
  Cargo.lock
  api/src/tests/function_value_test.rs
  api/src/tests/move/pack_function_values_with_struct/sources/test.move
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/option.mv
  types/src/on_chain_config/aptos_features.rs
  types/src/vm/modules.rs
  vm-validator/Cargo.toml
  vm-validator/src/vm_validator.rs
Owners: @banool, @gregnazario, @0xmaayan

x64-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

x64-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

Bump target-cpu to x86-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
