Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

fix: review comment
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

feat: add fail-fast mode to move test
  Cargo.lock
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
  third_party/move/tools/move-cli/src/base/test.rs
  third_party/move/tools/move-unit-test/Cargo.toml
  third_party/move/tools/move-unit-test/src/lib.rs
  third_party/move/tools/move-unit-test/src/main.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
  third_party/move/tools/move-unit-test/tests/move_unit_test_testsuite.rs
Owners: none

feat: add tests for fail_fast feature
  third_party/move/tools/move-unit-test/tests/fail_fast/Move.toml
  third_party/move/tools/move-unit-test/tests/fail_fast/sources/unittest.move
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
Owners: none

fix: formatting
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

chore: add comment
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
Owners: none

fix: review comment
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

fix: avoid code duplication
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

fix: use datatest_stable for fail-fast tests
  third_party/move/tools/move-unit-test/tests/fail_fast/Move.toml
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest-fast.exp
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest-fast.move
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest.exp
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest.move
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
  third_party/move/tools/move-unit-test/tests/move_unit_test_testsuite.rs
Owners: none

feat: allow to suppress printing errors to stderr
  aptos-move/framework/src/built_package.rs
  crates/aptos/src/move_tool/coverage.rs
  crates/aptos/src/move_tool/mod.rs
  third_party/move/move-compiler-v2/src/options.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
  third_party/move/tools/move-package/src/lib.rs
Owners: none

fix: review comment: avoid code duplication
  third_party/move/move-compiler-v2/src/diagnostics/mod.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: none

[bytecode verifier] fix edge overflow in borrow graph (#17770)
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
Owners: none

[aptos-release-v1.36] Bump version to 1.36.2
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

add print
  crates/aptos/src/move_tool/bytecode.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-model/src/model.rs
  third_party/move/testing-infra/transactional-test-runner/src/framework.rs
  third_party/move/tools/move-asm/src/disassembler.rs
  third_party/move/tools/move-disassembler/src/disassembler.rs
Owners: none

Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Owners: @velor-chain/prod-eng, @velor-chain/security

[linter] Added `needless_return` lint and tests
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

[linter] Updated `needless_return` recognized patterns
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

[linter] Updated `needless_return` recognized patterns
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

Fixed Clippy warnings.
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
Owners: none

[session][1/n] Introduce versioned native extensions
  aptos-move/aptos-abstract-gas-usage/src/algebra.rs
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/object.rs
  aptos-move/framework/src/natives/randomness.rs
  aptos-move/framework/src/natives/state_storage.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-vm/runtime/src/native_extensions.rs
  third_party/move/tools/move-unit-test/src/extensions.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

[session][2/n] GlobalValue to use Value
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[session][3/n] MoveVM to use data cache trait
  aptos-move/aptos-vm-profiling/src/bins/run_move.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-vm/integration-tests/src/tests/mod.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

[session][4/n] Versioning structures
  Cargo.lock
  types/Cargo.toml
  types/src/vm/mod.rs
  types/src/vm/versioning.rs
Owners: none

[session][5/n] Tracker for change set size and refunds
  aptos-move/aptos-vm-types/src/storage/change_set_configs.rs
Owners: none

[Move VM] disable force-inlining
  aptos-node/Cargo.toml
Owners: none

[session][6/n] Write op info common infra
  aptos-move/aptos-vm-types/src/lib.rs
  aptos-move/aptos-vm-types/src/write_info_builder.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  third_party/move/move-vm/runtime/src/storage/loader/eager.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  types/src/vm/versioning.rs
  types/src/write_set.rs
Owners: none

[session][7/n] Table versioning
  Cargo.lock
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
Owners: none

[release] Proposal to enable lazy loading
  aptos-move/aptos-release-builder/data/enable-lazy-loading.yaml
Owners: none

[bytecode verifier] fix edge overflow in borrow graph (#17771)
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/borrow_edge_overflow.exp
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/borrow_edge_overflow.masm
Owners: none

[faucet-client] Upgrade faucet dependencies
  crates/aptos-faucet/ts-client/package.json
  crates/aptos-faucet/ts-client/pnpm-lock.yaml
Owners: none

[api] Fix max gas estimation in simulation for fee payer
  api/src/transactions.rs
  testsuite/smoke-test/src/rest_api.rs
Owners: @banool, @gregnazario, @0xmaayan

[multisig] Add script payload support
  api/src/transactions.rs
  api/types/src/convert.rs
  api/types/src/transaction.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/user_transaction.rs
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  types/src/transaction/multisig.rs
Owners: @banool, @gregnazario, @0xmaayan

fix, remove check in API blocking script multisig
  api/src/transactions.rs
Owners: @banool, @gregnazario, @0xmaayan

[multisig] Add test for multisig scripts
  api/src/tests/multisig_transactions_test.rs
  crates/aptos-transaction-filters/src/transaction_filter.rs
  testsuite/generate-format/tests/staged/api.yaml
Owners: @banool, @gregnazario, @0xmaayan

add corpus for multisig script
  testsuite/generate-format/tests/staged/aptos.yaml
Owners: none

[deps] Upgrade TS deps on the top level of the repo
  package.json
  pnpm-lock.yaml
Owners: none

[deps] update dependencies in ts-tasks
  .github/ts-tasks/package.json
  .github/ts-tasks/pnpm-lock.yaml
Owners: @velor-chain/prod-eng

[deps] Upgrade protos typescript deps
  protos/typescript/package.json
  protos/typescript/pnpm-lock.yaml
Owners: none

[faucet-client] Upgrade faucet dependencies
  crates/aptos-faucet/ts-client/package.json
  crates/aptos-faucet/ts-client/pnpm-lock.yaml
Owners: none

[deps] Update dependencies in k6
  testsuite/loadtest-k6/package.json
  testsuite/loadtest-k6/pnpm-lock.yaml
  testsuite/loadtest-k6/yarn.lock
Owners: none

[deps] Upgrade dependencies for node checker
  ecosystem/node-checker/ts-client/package.json
  ecosystem/node-checker/ts-client/pnpm-lock.yaml
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
