Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

add Move framework for proving (and verifying) knowledge of a preimage of a homomorphism
  aptos-move/move-examples/sigma_protocols/Move.toml
  aptos-move/move-examples/sigma_protocols/README.md
  aptos-move/move-examples/sigma_protocols/sources/homomorphism.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_keyrot_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
  aptos-move/move-examples/sigma_protocols/sources/public_statement.move
  aptos-move/move-examples/sigma_protocols/sources/representation.move
  aptos-move/move-examples/sigma_protocols/sources/representation_vec.move
  aptos-move/move-examples/tests/move_unit_tests.rs
  crates/aptos-dkg/benches/crypto.rs
Owners: none

error: vector operation error with sub-status 1
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_pedeq_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
  aptos-move/move-examples/sigma_protocols/sources/representation.move
Owners: none

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Output read promotions per transaction
  Cargo.lock
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Output read promotions per transaction
  Cargo.lock
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Output read promotions per transaction
  Cargo.lock
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Output read promotions per transaction
  Cargo.lock
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Output read promotions per transaction
  Cargo.lock
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_bad_sig_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_code_unverifiable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_nested_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_non_existing_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_none_existing_module_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Output read promotions per transaction
  Cargo.lock
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_bad_sig_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_code_unverifiable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_nested_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_non_existing_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_none_existing_module_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Output read promotions per transaction
  Cargo.lock
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_bad_sig_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_code_unverifiable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_nested_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_non_existing_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_none_existing_module_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Owners: @velor-chain/prod-eng, @velor-chain/security

all verification tests pass now
  aptos-move/move-examples/sigma_protocols/Move.toml
  aptos-move/move-examples/sigma_protocols/sources/example_pedeq.move
  aptos-move/move-examples/sigma_protocols/sources/example_schnorr.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_keyrot_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_pedeq_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
  aptos-move/move-examples/sigma_protocols/sources/proof.move
  aptos-move/move-examples/sigma_protocols/sources/public_statement.move
  aptos-move/move-examples/sigma_protocols/sources/representation.move
  aptos-move/move-examples/sigma_protocols/sources/representation_vec.move
  aptos-move/move-examples/sigma_protocols/sources/secret_witness.move
  aptos-move/move-examples/sigma_protocols/sources/utils.move
  crates/aptos-crypto/benches/bulletproofs_batch_verify.rs
Owners: none

OrderBook use of iterators and utilities
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
Owners: none

refactor with renaming
  api/types/src/lib.rs
  api/types/src/transaction.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  crates/aptos-transaction-filters/src/transaction_filter.rs
  crates/indexer/src/models/signatures.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  execution/executor/src/metrics.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/rust/src/pb/aptos.indexer.v1.tonic.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.tonic.rs
  protos/rust/src/pb/aptos.remote_executor.v1.tonic.rs
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/typescript/src/aptos/transaction/v1/transaction.ts
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/transaction/authenticator.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991, @alinush, @mstraka100

[aa] refactor signing_message to include function info
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/session_change_sets.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/smoke-test/src/permissioned_delegation.rs
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Owners: @alinush, @mstraka100

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

enable aa in testnet
  aptos-move/aptos-release-builder/data/account_abstraction.yaml
Owners: none

Add Blockmetadata to executor benchmark
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/pipeline.rs
Owners: @msmouse, @lightmark, @grao1991

release yaml for 1.35
  aptos-move/aptos-release-builder/data/release.yaml
Owners: none

[forge] adjust memory threshold
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

[module cache] use storage version instead of hash as key for cache
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_view/db_state_view.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_slot.rs
  vm-validator/src/vm_validator.rs
Owners: @msmouse, @lightmark, @grao1991

release yaml for 1.35 (#17530)
  aptos-move/aptos-release-builder/data/release.yaml
Owners: none

fixup! refactor with renaming
  api/doc/spec.json
  api/doc/spec.yaml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/session_change_sets.rs
  testsuite/smoke-test/src/permissioned_delegation.rs
Owners: @banool, @gregnazario, @0xmaayan

[module cache] use storage version instead of hash as key for cache
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_view/db_state_view.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_slot.rs
  vm-validator/src/vm_validator.rs
Owners: @msmouse, @lightmark, @grao1991

[forge] adjust memory threshold
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

Fix release builder for RawScript.
  aptos-move/aptos-release-builder/src/components/mod.rs
Owners: none

[Hot State] Split per version updates into for_last_checkpoint and for_latest
  Cargo.lock
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/chunk_to_commit.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
Owners: @msmouse, @lightmark, @grao1991

Fix release builder for RawScript. (#17527)
  aptos-move/aptos-release-builder/src/components/mod.rs
Owners: none

Fix release builder for RawScript. (#17527)
  aptos-move/aptos-release-builder/src/components/mod.rs
Owners: none

[State Sync] Check pre-committed version on sync requests.
  state-sync/data-streaming-service/src/stream_engine.rs
  state-sync/data-streaming-service/src/tests/stream_engine.rs
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/error.rs
  state-sync/state-sync-driver/src/notification_handlers.rs
Owners: @joshlind

aggresstive inlining in the Move VM interpreter loop
  aptos-move/aptos-vm-profiling/src/main.rs
  third_party/move/move-vm/metrics/src/lib.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none
