Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

Tiny lint edits
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
Owners: none

[move linter] fix FPs due to sint
  third_party/move/tools/move-linter/src/model_ast_lints/unnecessary_numerical_extreme_comparison.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/unnecessary_numerical_extreme_comparisons_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/unnecessary_numerical_extreme_comparisons_warn.move
  third_party/move/tools/move-linter/tests/testsuite.rs
Owners: none

[smoke-test][optqs] add opt proposal handling to test_node_rewards
  testsuite/smoke-test/src/aptos_cli/validator.rs
Owners: none

[opt-proposal] enable by default
  config/src/config/consensus_config.rs
Owners: @joshlind, @gregnazario

reconfigure manual inlining
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

unnecessary aptos-block-partitioner dependency in aptos-vm
  aptos-move/aptos-vm/Cargo.toml
Owners: none

[aptos-release-v1.37] Bump version to 1.37.0
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

[aptos-release-v1.37] Bump version to 1.37.0
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

[move linter] fix FPs due to sint
  third_party/move/tools/move-linter/src/model_ast_lints/unnecessary_numerical_extreme_comparison.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/unnecessary_numerical_extreme_comparisons_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/unnecessary_numerical_extreme_comparisons_warn.move
  third_party/move/tools/move-linter/tests/testsuite.rs
Owners: none

add enable_framework_for_option
  api/src/tests/view_function.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/remote_state.rs
  aptos-move/e2e-move-tests/src/tests/string_utils.rs
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
Owners: @banool, @gregnazario, @0xmaayan

fix spec and test
  aptos-move/e2e-move-tests/src/tests/remote_state.rs
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/doc/optional_aggregator.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/doc/randomness.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/account/account.spec.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.spec.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/jwks.spec.move
  aptos-move/framework/aptos-framework/sources/randomness.spec.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
  aptos-move/framework/aptos-stdlib/doc/bls12381.md
  aptos-move/framework/aptos-stdlib/doc/ristretto255.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/bls12381.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
  aptos-move/framework/move-stdlib/doc/option.md
  aptos-move/framework/move-stdlib/sources/option.move
Owners: none

revert
  aptos-move/framework/src/natives/transaction_context.rs
Owners: none

Add permissions for actions in workflow
  .github/workflows/bump-release-version.yaml
Owners: @velor-chain/prod-eng

Tiny edits
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
Owners: none

Change token for creating pull requests in workflow
  .github/workflows/bump-release-version.yaml
Owners: @velor-chain/prod-eng

[aptos-release-v1.37] Bump version to 1.37.1
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

networking
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/vote_proposal.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/block_storage/tracing.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/liveness/round_state.rs
  consensus/src/logging.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/proxy_network_interfaces.rs
  consensus/src/recovery_manager.rs
  consensus/src/round_manager.rs
  crates/aptos-crypto/src/hash.rs
  types/src/block_info.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[gas] cache value sizes for read_ref, copy_loc
  aptos-move/aptos-gas-meter/src/lib.rs
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
Owners: none

[framework] Add support for reflection
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/aptos-native-interface/src/helpers.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-experimental/doc/veiled_coin.md
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/doc/overview.md
  aptos-move/framework/move-stdlib/doc/reflect.md
  aptos-move/framework/move-stdlib/doc/result.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/move-stdlib/sources/reflect.move
  aptos-move/framework/move-stdlib/sources/result.move
  aptos-move/framework/move-stdlib/src/natives/mod.rs
  aptos-move/framework/move-stdlib/src/natives/reflect.rs
  aptos-move/framework/move-stdlib/src/natives/result.rs
  aptos-move/framework/move-stdlib/tests/bit_vector_tests.move
  aptos-move/framework/move-stdlib/tests/reflect_tests.move
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

Back out "[Storage] Use thread local counters"
  Cargo.lock
  storage/aptosdb/src/metrics.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/metrics.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/batch.rs
  storage/schemadb/src/lib.rs
  storage/schemadb/src/metrics.rs
  storage/scratchpad/src/sparse_merkle/metrics.rs
  storage/storage-interface/src/metrics.rs
Owners: @msmouse, @lightmark, @grao1991

Back out "[Metrics] Create a thread local version to be used in hot paths"
  Cargo.lock
  aptos-move/block-executor/src/counters.rs
  crates/aptos-metrics-core/Cargo.toml
  crates/aptos-metrics-core/src/lib.rs
  crates/aptos-metrics-core/src/thread_local.rs
Owners: none

Back out "[Metrics] Use helper traits and functions when possible"
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_service.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/limit_processor.rs
  execution/block-partitioner/src/v2/build_edge.rs
  execution/block-partitioner/src/v2/init.rs
  execution/block-partitioner/src/v2/partition_to_matrix.rs
  execution/block-partitioner/src/v2/state.rs
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/native/parallel_uncoordinated_block_executor.rs
  execution/executor-benchmark/src/pipeline.rs
  execution/executor-benchmark/src/transaction_committer.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-benchmark/src/transaction_generator.rs
  execution/executor/src/metrics.rs
  storage/aptosdb/src/db/aptosdb_internal.rs
  storage/aptosdb/src/db/aptosdb_writer.rs
  storage/aptosdb/src/pruner/state_kv_pruner/mod.rs
  storage/aptosdb/src/pruner/state_merkle_pruner/mod.rs
  storage/aptosdb/src/rocksdb_property_reporter.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_restore/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/versioned_node_cache.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/restore.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-service/src/handlers/mod.rs
  storage/indexer/src/db_indexer.rs
  storage/schemadb/src/batch.rs
  storage/schemadb/src/iterator.rs
  storage/schemadb/src/lib.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
Owners: @msmouse, @lightmark, @grao1991

Back out "[Metrics] Rename traits"
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  crates/aptos-drop-helper/src/async_concurrent_dropper.rs
  crates/aptos-metrics-core/src/lib.rs
  execution/executor/src/block_executor/mod.rs
  execution/executor/src/chunk_executor/mod.rs
  experimental/storage/layered-map/src/layer.rs
  storage/aptosdb/src/db/aptosdb_internal.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-service/src/handlers/bytes_sender.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
Owners: @msmouse, @lightmark, @grao1991

Addressed some comments
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

fix check dynamic deps by updating script
  crates/aptos/scripts/check_dynamic_deps.sh
Owners: none

aptos-executor doesn't require aptos-sdk
  execution/executor/Cargo.toml
Owners: @msmouse, @lightmark, @grao1991

extract cast/ref_cast error handling into cold function
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

inline value_ref
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

fix fmt
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

include calibration data
  testsuite/single_node_performance_values.tsv
Owners: none

add e2e-calibration
  aptos-move/e2e-benchmark/data/calibration_values.tsv
Owners: none

Add validation for commission percentage in switch_operator (#17912)
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/staking_contract.move
Owners: none

move some deps from `[dependencies]` to `[dev-dependencies]` where possible (#17928)
  aptos-move/aptos-vm/Cargo.toml
  execution/executor/Cargo.toml
Owners: @msmouse, @lightmark, @grao1991

Addressed more comments
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
Owners: none

reconfigure manual inlining (#17819)
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  testsuite/single_node_performance_values.tsv
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Fix lint
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
Owners: none

Another try
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
Owners: none

Addressing reviewer comments.
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/aptos-gas-schedule/src/ver.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/framework/move-stdlib/doc/reflect.md
  aptos-move/framework/move-stdlib/doc/result.md
  aptos-move/framework/move-stdlib/sources/reflect.move
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Owners: none

[vm] Remove static cache config in interpreter (#17913)
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
Owners: none

Add DeKARTv2 zk range proof to aptos-dkg (#17925)
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
