Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

Fixing baseline tests after rebase
  aptos-move/framework/src/natives/string_utils.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/generate-format/tests/staged/move_abi.yaml
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
  types/src/on_chain_config/aptos_features.rs
Owners: none

Fixing code deserializer.
  Cargo.lock
  third_party/move/move-binary-format/serializer-tests/Cargo.toml
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.proptest-regressions
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
Owners: none

rebase
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm] Removing `IntegerValue` and Value wrapper
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/value_traversal.rs
  third_party/move/move-vm/types/src/values/function_values_impl.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Experiments for performance
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

Update a few packages to latest version
  Cargo.lock
  Cargo.toml
Owners: none

Update a few packages to latest version
  Cargo.lock
  Cargo.toml
  consensus/src/quorum_store/tests/batch_requester_test.rs
Owners: @bchocho, @sasha8, @gelash

Update a few packages to latest version
  Cargo.lock
  Cargo.toml
  consensus/src/quorum_store/tests/batch_requester_test.rs
Owners: @bchocho, @sasha8, @gelash

Update a few packages to latest version
  Cargo.lock
  Cargo.toml
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
Owners: @bchocho, @sasha8, @gelash

[vm] Generic per-interpreter function frame caches
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/user.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/loader/single_signature_loader.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/types/src/lib.rs
  third_party/move/move-vm/types/src/loaded_data/struct_name_indexing.rs
  third_party/move/move-vm/types/src/ty_interner.rs
  types/src/block_executor/config.rs
Owners: none

[Move VM] aggressive rust inlining: batch 2
  third_party/move/move-vm/metrics/src/lib.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 6
  Cargo.lock
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
  aptos-node/Cargo.toml
  third_party/move/move-core/types/src/account_address.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: vector ops
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: gate by cargo feature flag
  aptos-move/aptos-vm-profiling/src/profile_aptos_vm.rs
  aptos-move/aptos-vm-profiling/src/profile_move_vm.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/runtime/src/storage/verified_module_cache.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 1
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 4
  aptos-move/aptos-gas-meter/src/algebra.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: value cast & Stack::pop_as
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 5
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 3
  aptos-move/aptos-native-interface/src/context.rs
  third_party/move/move-core/types/src/function.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[consensus] fix a race condition
  consensus/src/block_storage/sync_manager.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[bytecode verifier] fix edge overflow in borrow graph
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/borrow_edge_overflow.exp
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/borrow_edge_overflow.masm
Owners: none

[bytecode verifier] fix edge overflow in borrow graph
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
Owners: none

[consensus] fix a race condition
  consensus/src/block_storage/sync_manager.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[bytecode verifier] fix edge overflow in borrow graph
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
Owners: none

[Keyless] Refactor account managers and add /v0/delegated_fetch endpoint.
  keyless/pepper/common/src/lib.rs
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/src/accounts/account_managers.rs
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/utils.rs
Owners: none

aggresstive inlining in the Move VM interpreter loop (#17674)
  Cargo.lock
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
  aptos-move/aptos-native-interface/src/context.rs
  aptos-move/aptos-vm-profiling/src/profile_aptos_vm.rs
  aptos-move/aptos-vm-profiling/src/profile_move_vm.rs
  aptos-node/Cargo.toml
  third_party/move/move-core/types/src/account_address.rs
  third_party/move/move-core/types/src/function.rs
  third_party/move/move-vm/metrics/src/lib.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/runtime/src/storage/verified_module_cache.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Fixing code deserializer.
  Cargo.lock
  third_party/move/move-binary-format/serializer-tests/Cargo.toml
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.proptest-regressions
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
Owners: none

Addressing reviewer comments
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  aptos-move/aptos-sdk-builder/src/common.rs
  aptos-move/aptos-sdk-builder/src/golang.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-bytecode-verifier/src/reference_safety/mod.rs
  third_party/move/move-bytecode-verifier/src/stack_usage_verifier.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-ir/types/src/ast.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/gas.rs
  third_party/move/testing-infra/transactional-test-runner/tests/vm_test_harness/round-trip/print_move_bytecode.disassembled.exp
  third_party/move/tools/move-asm/src/value.rs
Owners: none

Connecting assembler and adding transactional tests. Fixing a bug in type serialization.
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
  third_party/move/tools/move-asm/src/assembler.rs
  third_party/move/tools/move-asm/src/syntax.rs
  third_party/move/tools/move-asm/src/value.rs
  third_party/move/tools/move-asm/tests/assembler/constants_errors.exp
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.masm
Owners: none

fix a comment
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Fixing baseline tests after rebase
  aptos-move/framework/src/natives/string_utils.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/generate-format/tests/staged/move_abi.yaml
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
  types/src/on_chain_config/aptos_features.rs
Owners: none

rebase
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Addressing reviewer comments.
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-bytecode-verifier/src/type_safety.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm] Removing `IntegerValue` and Value wrapper
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/value_traversal.rs
  third_party/move/move-vm/types/src/values/function_values_impl.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Experiments for performance
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[bytecode verifier] fix edge overflow in borrow graph (#17773)
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/market_clearinghouse_order_info.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_clearinghouse_order_info.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

fix: no need to change the method signature
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

fix: nicer error handling
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

chore: nicer parse handling
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
