Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

[exp] function freqs
  Cargo.lock
  execution/executor-benchmark/Cargo.toml
  execution/executor-benchmark/src/lib.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
Owners: @msmouse, @lightmark, @grao1991

Updated arkworks and fixed range proof vk typo
  Cargo.lock
  Cargo.toml
  crates/aptos-crypto/benches/ark_bls12_381.rs
  crates/aptos-crypto/benches/ark_bn254.rs
  crates/aptos-crypto/benches/poseidon_bn254.rs
  crates/aptos-dkg/src/range_proof.rs
Owners: none

Applied Rust linting
  crates/aptos-crypto/benches/ark_bls12_381.rs
  crates/aptos-crypto/benches/ark_bn254.rs
Owners: none

More arkworks update porting
  Cargo.lock
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/double.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/scalar_mul.rs
  aptos-move/framework/src/natives/cryptography/algebra/constants.rs
  crates/aptos-crypto/Cargo.toml
  keyless/pepper/common/src/vuf/bls12381_g1_bls.rs
  types/src/keyless/proof_simulation.rs
Owners: @alinush, @heliuchuan

test
  types/src/on_chain_config/consensus_config.rs
Owners: none

[Hot State] Add a configuration struct
  execution/executor-types/src/execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Add a configuration struct
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Wrap configuration in a struct and pass to state construction
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Do not include prev_slot in MakeHot op
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[exp] add layout cache and share via arc
  Cargo.lock
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[exp] remove need for tys for vecs
  aptos-move/framework/move-stdlib/src/natives/vector.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[exp] no paranoid mode
  aptos-move/aptos-vm-environment/src/prod_configs.rs
Owners: none

[exp] remove type nodes calculations and create_ty calls
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[dummy] baseline
  CODE_OF_CONDUCT.md
Owners: none

[exp] pass unmetered gas meter to move vm
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
Owners: none

[EXPERIMENT] Option as enum
  aptos-move/framework/aptos-framework/sources/account/account.spec.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
  aptos-move/framework/aptos-stdlib/sources/table.move
  aptos-move/framework/move-stdlib/sources/mem.move
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/natives/code.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/keyless/configuration.rs
  types/src/move_utils/as_move_value.rs
  types/src/on_chain_config/randomness_api_v0_config.rs
Owners: @alinush, @heliuchuan

enable BlockSTMV2
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/replay-benchmark/src/execution.rs
  types/src/block_executor/config.rs
Owners: none

[Hot State] Do not include prev_slot in MakeHot op
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Wrap configuration in a struct and pass to state construction
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Prepare for having all checkpoint indices in StateUpdateRefs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

Revert "[exp] pass unmetered gas meter to move vm"
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
Owners: none

lints
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
Owners: none

[exp] add layout cache and share via arc
  Cargo.lock
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[exp] remove type nodes calculations and create_ty calls
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[exp] pass unmetered gas meter to move vm
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
Owners: none

[exp] remove need for tys for vecs
  aptos-move/framework/move-stdlib/src/natives/vector.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[exp] no paranoid mode
  aptos-move/aptos-vm-environment/src/prod_configs.rs
Owners: none

[dummy] baseline
  CODE_OF_CONDUCT.md
Owners: none

[exp] atomic value
  Cargo.lock
  Cargo.toml
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Decompiler] fixing buggy use of `debug_assert_eq!`
  third_party/move/move-model/bytecode/src/astifier.rs
Owners: none

Trying again with Cargo.toml of aptos-crypto
  crates/aptos-crypto/Cargo.toml
Owners: none

test AIP 119
  aptos-move/aptos-release-builder/data/example-release-with-randomness-framework/release-aip-119.yaml
  aptos-move/aptos-release-builder/data/proposals/aip-119.move
Owners: none

[compiler-v2] Compiler inlining optimization
  third_party/move/move-compiler-v2/src/env_pipeline/ast_simplifier.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/env_pipeline/mod.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/file_format_generator/mod.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/tests/inlining-optimization/fib.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/fib.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/if_else_const_bool_after_inlining.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/if_else_const_bool_after_inlining.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/mut_refs_freeze.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/mut_refs_freeze.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/unbounded_recursion.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/unbounded_recursion.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/within_module_simple.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/within_module_simple.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
  third_party/move/move-model/bytecode/src/function_target_pipeline.rs
  third_party/move/move-model/src/model.rs
Owners: none

[Decompiler] fixing buggy use of `debug_assert_eq!` (#17566)
  third_party/move/move-model/bytecode/src/astifier.rs
Owners: none

fix: formatting
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

[indexer-grpc] Do not panic whenn starting version is not set
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/fullnode_data_service.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/localnet_data_service.rs
Owners: none

Add acquires vesting test
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/return_signer.exp
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/return_signer.move
Owners: none

Add detector with test-cases
  third_party/move/tools/move-linter/src/stackless_bytecode_lints.rs
  third_party/move/tools/move-linter/src/stackless_bytecode_lints/return_signer.rs
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/return_signer.exp
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/return_signer.move
Owners: none

[Move framework:] add modules supporting signed int into move-stdlib
  aptos-move/framework/move-stdlib/doc/i128.md
  aptos-move/framework/move-stdlib/doc/i64.md
  aptos-move/framework/move-stdlib/doc/overview.md
  aptos-move/framework/move-stdlib/sources/i128.move
  aptos-move/framework/move-stdlib/sources/i128.spec.move
  aptos-move/framework/move-stdlib/sources/i64.move
  aptos-move/framework/move-stdlib/sources/i64.spec.move
  aptos-move/framework/move-stdlib/tests/i128_tests.move
  aptos-move/framework/move-stdlib/tests/i64_tests.move
Owners: none
