Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

[faucet-client] Upgrade faucet dependencies
  crates/aptos-faucet/ts-client/package.json
  crates/aptos-faucet/ts-client/pnpm-lock.yaml
Owners: none

Add redundant linter and test-cases
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_comparison.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_comparison_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_comparison_warn.move
Owners: none

Add skip test and not detected tests
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_comparison.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_comparison_warn.move
Owners: none

[deps] Upgrade dependencies for node checker
  ecosystem/node-checker/ts-client/package.json
  ecosystem/node-checker/ts-client/pnpm-lock.yaml
Owners: none

[deps] Update dependencies in k6
  testsuite/loadtest-k6/package.json
  testsuite/loadtest-k6/pnpm-lock.yaml
  testsuite/loadtest-k6/yarn.lock
Owners: none

[deps] update dependencies in ts-tasks
  .github/ts-tasks/package.json
  .github/ts-tasks/pnpm-lock.yaml
Owners: @velor-chain/prod-eng

[deps] Upgrade protos typescript deps
  protos/typescript/package.json
  protos/typescript/pnpm-lock.yaml
Owners: none

[deps] Upgrade TS deps on the top level of the repo
  package.json
  pnpm-lock.yaml
Owners: none

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[vm] Remove depth checks for unpack (#17594)
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

Ensuring that during tests, no code is trusted. Also adds a mechanism to have different feature flag sets during testing and in prod.
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

Addressing reviewer comments.
  third_party/move/move-binary-format/src/errors.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
Owners: none

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[Consensus Observer] Increase max num pending blocks for test networks.
  config/src/config/consensus_observer_config.rs
Owners: @joshlind, @gregnazario

[Consensus Observer] Handle state sync notification race condition.
  consensus/src/consensus_observer/observer/block_data.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[vm] Aggregate multiple behaviors into a single trait
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

target
  .cargo/config.toml
Owners: none

[Move framework:] add modules supporting signed int into move-stdlib
  aptos-move/framework/move-stdlib/doc/i128.md
  aptos-move/framework/move-stdlib/doc/i64.md
  aptos-move/framework/move-stdlib/doc/overview.md
  aptos-move/framework/move-stdlib/sources/i128.move
  aptos-move/framework/move-stdlib/sources/i64.move
  aptos-move/framework/move-stdlib/tests/i128_tests.move
  aptos-move/framework/move-stdlib/tests/i64_tests.move
Owners: none

Removed unwrap for evaluation domain
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
Owners: none

Addressing reviewer comments
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
Owners: none

target
  .cargo/config.toml
Owners: none

format
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/payload.rs
  consensus/consensus-types/src/proposal_ext.rs
  consensus/consensus-types/src/vote_proposal.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/consensus_observer/network/observer_message.rs
  consensus/src/payload_manager/quorum_store_payload_manager.rs
  consensus/src/util/db_tool.rs
  crates/aptos-crypto/src/hash.rs
  types/src/block_info.rs
Owners: @zekun000, @sasha8, @ibalajiarun

x86-64-v4
  .cargo/config.toml
Owners: none

x86-64-v3
  .cargo/config.toml
Owners: none

x86-64-v2
  .cargo/config.toml
Owners: none

[vm] Remove depth checks for unpack (#17594)
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

x86-64-v2 without -mpclmul
  .cargo/config.toml
Owners: none

x86-64-v2 with -mpclmul
  .cargo/config.toml
Owners: none

Small fix in block metadata
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance.py
Owners: @msmouse, @lightmark, @grao1991

.
  testsuite/single_node_performance.py
Owners: none

.
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

.
  execution/executor-benchmark/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

.
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/transaction_executor.rs
Owners: @msmouse, @lightmark, @grao1991

capture option
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

.
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/transaction_generator.rs
Owners: @msmouse, @lightmark, @grao1991

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
