Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

[bytecode verifier] fix edge overflow in borrow graph (#17771)
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/borrow_edge_overflow.exp
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/borrow_edge_overflow.masm
Owners: none

[Move VM] disable force-inlining (#17778)
  aptos-node/Cargo.toml
Owners: none

add _ as prefix
  third_party/move/move-compiler-v2/src/bytecode_generator.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety/reference_safety_processor_v3.rs
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16222_fv_wrapper_unpack.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16222_fv_wrapper_unpack_failure.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16543_fv_wrapper_pack.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16543_fv_wrapper_pack_failure.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/access_specifiers/access_ok.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_borrow_field_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_package_access_success.exp
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/well_known.rs
Owners: none

add print (#17776)
  crates/aptos/src/move_tool/bytecode.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-model/src/model.rs
  third_party/move/testing-infra/transactional-test-runner/src/framework.rs
  third_party/move/tools/move-asm/src/disassembler.rs
  third_party/move/tools/move-disassembler/src/disassembler.rs
Owners: none

[Keyless] Refactor account managers and add /v0/delegated_fetch endpoint.
  keyless/pepper/common/src/lib.rs
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/src/accounts/account_managers.rs
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/utils.rs
Owners: none

[Keyless] Move Pepper Service VUF env variables to binary args.
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/vuf_pub_key.rs
Owners: none

[Keyless] Make on-chain resource env variables into binary args.
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
Owners: none

[Keyless] Make firestore env variables into binary args.
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/src/accounts/account_recovery_db.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/utils.rs
Owners: none

Fix staking_rewards tracking in rosetta
  crates/aptos-rosetta/src/types/objects.rs
Owners: none

Market clearing house price (#17761)
  aptos-move/framework/aptos-experimental/doc/market_clearinghouse_order_info.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_clearinghouse_order_info.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

[Move] remove GasStatus (legacy gas meter)
  Cargo.lock
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  crates/aptos/src/move_tool/mod.rs
  third_party/move/extensions/move-table-extension/tests/move_unit_tests.rs
  third_party/move/move-stdlib/tests/move_unit_test.rs
  third_party/move/move-vm/test-utils/Cargo.toml
  third_party/move/move-vm/test-utils/src/gas_schedule.rs
  third_party/move/move-vm/test-utils/src/lib.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  third_party/move/tools/move-cli/Cargo.toml
  third_party/move/tools/move-cli/src/base/test.rs
  third_party/move/tools/move-cli/src/lib.rs
  third_party/move/tools/move-cli/src/main.rs
  third_party/move/tools/move-unit-test/src/lib.rs
  third_party/move/tools/move-unit-test/src/main.rs
  third_party/move/tools/move-unit-test/src/test_reporter.rs
  third_party/move/tools/move-unit-test/tests/move_unit_test_testsuite.rs
  third_party/move/tools/move-unit-test/tests/pkg_tests.rs
Owners: none

[txn sim session] add view_resource and view_resource_group
  aptos-move/aptos-transaction-simulation-session/examples/local.sh
  aptos-move/aptos-transaction-simulation-session/src/session.rs
  crates/aptos/src/move_tool/sim.rs
Owners: none

[Move VM] optimize ReentrancyChecker
  Cargo.lock
  Cargo.toml
  third_party/move/move-core/types/Cargo.toml
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/ty_tag_converter.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/loaded_data/struct_name_indexing.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Fix staking_rewards tracking in rosetta (#17044)
  crates/aptos-rosetta/src/types/objects.rs
Owners: none

[txn sim session] add view_resource and view_resource_group (#17729)
  aptos-move/aptos-transaction-simulation-session/examples/local.sh
  aptos-move/aptos-transaction-simulation-session/src/session.rs
  crates/aptos/src/move_tool/sim.rs
Owners: none

[vm] Script cacing for lazy loading
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p2/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p3/scripts/main.move
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p3/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
Owners: none

[release] Proposal to disable lazy loading
  aptos-move/aptos-release-builder/data/disable-lazy-loading.yaml
Owners: none

[vm] Generic per-interpreter function frame caches
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/user.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/loader/single_signature_loader.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/types/src/lib.rs
  third_party/move/move-vm/types/src/loaded_data/struct_name_indexing.rs
  third_party/move/move-vm/types/src/ty_interner.rs
  types/src/block_executor/config.rs
Owners: none

[Orderbook] Bulk order cleanup to happen per level
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_bulk_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
Owners: none

[vm] Script cacing for lazy loading
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/Move.toml
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/scripts/main.move
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
Owners: none

[vm] Generic per-interpreter function frame caches
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/user.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/loader/single_signature_loader.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/types/src/lib.rs
  third_party/move/move-vm/types/src/loaded_data/struct_name_indexing.rs
  third_party/move/move-vm/types/src/ty_interner.rs
  types/src/block_executor/config.rs
Owners: none

[vm] Script cacing for lazy loading (#17783)
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/Move.toml
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/scripts/main.move
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
Owners: none

[vm] Script cacing for lazy loading (#17783)
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/Move.toml
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/scripts/main.move
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
Owners: none

[lint] Added `empty_if` lint and tests
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/empty_if.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.move
Owners: none

Fixed Clippy warnings.
  third_party/move/tools/move-linter/Cargo.toml
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/empty_if.rs
Owners: none

[Mempool] Add health check to peer prioritization logic.
  config/src/config/mempool_config.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/priority.rs
  peer-monitoring-service/types/src/response.rs
Owners: @joshlind, @gregnazario, @bchocho

[Mempool] Add health check to peer prioritization logic.
  config/src/config/mempool_config.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/priority.rs
  peer-monitoring-service/types/src/response.rs
Owners: @joshlind, @gregnazario, @bchocho

[replay-verify] increase worker count
  testsuite/replay-verify/main.py
Owners: none

[vm] Script cacing for lazy loading (#17783)
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/Move.toml
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/scripts/main.move
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
Owners: none

[vm] Script cacing for lazy loading (#17783)
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/Move.toml
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/scripts/main.move
  aptos-move/e2e-move-tests/src/tests/dependencies.data/p4/sources/test.move
  aptos-move/e2e-move-tests/src/tests/dependencies.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
Owners: none

[aptos-release-v1.36] Bump version to 1.36.3
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

[aptos-release-v1.36] Bump version to 1.36.3
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

[replay-verify] increase worker count
  testsuite/replay-verify/main.py
Owners: none

[Test]
  third_party/move/move-core/types/src/u256.rs
Owners: none

Delete scripts/devnet_message.sh
  scripts/devnet_message.sh
Owners: @velor-chain/prod-eng

fix
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-bytecode-verifier/src/code_unit_verifier.rs
  third_party/move/move-bytecode-verifier/src/reference_safety/mod.rs
  third_party/move/move-bytecode-verifier/src/verifier.rs
  third_party/move/move-compiler-v2/legacy-move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler-v2/legacy-move-compiler/src/parser/ast.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety/reference_safety_processor_v3.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-model/src/model.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

add _ as prefix
  third_party/move/move-compiler-v2/legacy-move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler-v2/legacy-move-compiler/src/parser/ast.rs
  third_party/move/move-compiler-v2/src/bytecode_generator.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety/reference_safety_processor_v3.rs
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16222_fv_wrapper_unpack.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16222_fv_wrapper_unpack_failure.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16543_fv_wrapper_pack.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/bug_16543_fv_wrapper_pack_failure.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/access_specifiers/access_ok.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_borrow_field_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_package_access_success.exp
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/well_known.rs
Owners: none

feat: staking_rewards.move
  aptos-move/framework/aptos-framework/sources/staking_rewards.move
Owners: none

fix: named module
  aptos-move/framework/aptos-framework/sources/staking_rewards.move
Owners: none
