Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

fix: compiler errors
  aptos-move/framework/aptos-framework/sources/staking_rewards.move
Owners: none

Add missing permission
  .github/workflows/fuzzer-data-update.yml
Owners: @velor-chain/prod-eng

[vm][experiment] Lazify Global Value access
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

fix
  Cargo.lock
  aptos-move/aptos-e2e-comparison-testing/Cargo.toml
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
  aptos-move/aptos-e2e-comparison-testing/src/main.rs
  aptos-move/aptos-e2e-comparison-testing/src/online_execution.rs
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-validator-interface/Cargo.toml
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/replay-benchmark/src/lib.rs
  aptos-move/replay-benchmark/src/overrides.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/options.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/state_store/state_key/mod.rs
Owners: none

fix
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
  aptos-move/aptos-e2e-comparison-testing/src/main.rs
  aptos-move/aptos-e2e-comparison-testing/src/online_execution.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-compiler-v2/src/experiments.rs
Owners: none

Fix comments for AccumulatorRangeProof
  types/src/proof/definition.rs
Owners: none

Fix comments for AccumulatorRangeProof
  types/src/proof/definition.rs
Owners: none

[smr-moonshot Issue 2268] Identity to delegation pool address (#296)
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/move-stdlib/sources/configs/features.move
  types/src/on_chain_config/aptos_features.rs
Owners: none

[Executor] Remove use of verify_extends_ledger in chunk executor
  execution/executor/src/chunk_executor/chunk_result_verifier.rs
  execution/executor/src/chunk_executor/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[Executor] Remove use of verify_extends_ledger in chunk executor
  execution/executor/src/chunk_executor/chunk_result_verifier.rs
  execution/executor/src/chunk_executor/mod.rs
Owners: @msmouse, @lightmark, @grao1991

Implement Sui DAA (#17523)
  Cargo.lock
  aptos-move/framework/aptos-framework/doc/common_account_abstractions_utils.md
  aptos-move/framework/aptos-framework/doc/ethereum_derivable_account.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/solana_derivable_account.md
  aptos-move/framework/aptos-framework/doc/sui_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/common_account_abstractions_utils.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/ethereum_derivable_account.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/solana_derivable_account.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/tests/internal_indexer_test.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/sui_derivable_account.rs
Owners: @msmouse, @lightmark, @grao1991

Delete scripts/devnet_message.sh
  scripts/devnet_message.sh
Owners: @velor-chain/prod-eng

try revert 17408
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[gha] debug fuzzer data
  .github/workflows/fuzzer-data-update.yml
Owners: @velor-chain/prod-eng

Delete scripts/devnet_message.sh (#17797)
  scripts/devnet_message.sh
Owners: @velor-chain/prod-eng

Ensure execution concurrency level is at least 1
  aptos-node/src/utils.rs
Owners: none

lint
  aptos-node/src/utils.rs
Owners: none

lint
  aptos-node/src/utils.rs
Owners: none

lint
  aptos-node/src/utils.rs
Owners: none

lint
  aptos-node/src/utils.rs
Owners: none

try revert 17408
  config/src/config/storage_config.rs
  storage/aptosdb/src/db_options.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

Ensure execution concurrency level is at least 1 (#17744)
  aptos-node/src/utils.rs
Owners: none

larger cache
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[bytecode verifier] fix edge overflow in borrow graph (#17771)
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/borrow_edge_overflow.exp
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/borrow_edge_overflow.masm
Owners: none

Update a few packages to latest version
  Cargo.lock
  Cargo.toml
  consensus/src/quorum_store/tests/batch_requester_test.rs
Owners: @bchocho, @sasha8, @gelash

Update a few packages to latest version
  Cargo.lock
  Cargo.toml
  consensus/src/quorum_store/tests/batch_requester_test.rs
Owners: @bchocho, @sasha8, @gelash

Bulk order cleanup per price level (#17785)
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_bulk_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

[Orderbook] Allow order validation API to return failure reason and order actions
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_bulk_order_tests.move
Owners: none

pass the validation failure reason in the event
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
Owners: none

larger single cache with direct io
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

Single block cache and direct IO
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

map modifiers
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/src/aptos.rs
  aptos-move/framework/tests/move_unit_test.rs
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/order_placement.md
Owners: none

Single block cache
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

direct IO
  storage/rocksdb-options/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

[Orderbook] Allow order validation API to return failure reason and o… (#17811)
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_bulk_order_tests.move
Owners: none

update the feature names to consensus-fuzzer
  aptos-node/Cargo.toml
  aptos-node/src/main.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/network.rs
  consensus/src/rapture_hook/mod.rs
Owners: @zekun000, @sasha8, @ibalajiarun

Add is_enum field to ABI
  .github/actions/python-setup/action.yaml
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__state_test__test_get_account_module.json
  api/src/tests/modules.rs
  api/src/tests/move/pack_abi/sources/test.move
  api/types/src/bytecode.rs
  api/types/src/move_types.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/python/poetry.lock
  protos/python/pyproject.toml
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/typescript/src/aptos/transaction/v1/transaction.ts
Owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan

[IGNORE] Debug
  third_party/move/move-vm/runtime/src/storage/environment.rs
Owners: none

Quick comm, hkzg test not passing
  Cargo.lock
  crates/aptos-crypto-derive/src/lib.rs
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/homomorphism.rs
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pcs/mod.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/pvss/das/unweighted_protocol.rs
  crates/aptos-dkg/src/pvss/das/weighted_protocol.rs
  crates/aptos-dkg/src/pvss/insecure_field/transcript.rs
  crates/aptos-dkg/src/pvss/traits/transcript.rs
  crates/aptos-dkg/src/pvss/weighted/generic_weighting.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/sigma_protocol.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/mod.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/barycentric.rs
  crates/aptos-dkg/tests/range_proof.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
