Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

[Storage Service] Adopt size and time-aware storage logic.
  Cargo.lock
  aptos-node/src/state_sync.rs
  config/src/config/state_sync_config.rs
  state-sync/storage-service/server/Cargo.toml
  state-sync/storage-service/server/src/metrics.rs
  state-sync/storage-service/server/src/storage.rs
  state-sync/storage-service/types/src/responses.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/storage-interface/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage Service] Disable size and time-aware chunking in Mainnet.
  config/src/config/state_sync_config.rs
Owners: @joshlind, @gregnazario

[Storage Service] Add default data to the aux info if not present.
  state-sync/storage-service/server/src/storage.rs
Owners: @joshlind

[Storage Service] Enable size and time-aware chunking, and update tests.
  config/src/config/state_sync_config.rs
  state-sync/storage-service/server/Cargo.toml
  state-sync/storage-service/server/src/tests/cache.rs
  state-sync/storage-service/server/src/tests/epoch_ending.rs
  state-sync/storage-service/server/src/tests/mock.rs
  state-sync/storage-service/server/src/tests/mod.rs
  state-sync/storage-service/server/src/tests/new_transaction_outputs.rs
  state-sync/storage-service/server/src/tests/new_transactions.rs
  state-sync/storage-service/server/src/tests/new_transactions_or_outputs.rs
  state-sync/storage-service/server/src/tests/optimistic_fetch.rs
  state-sync/storage-service/server/src/tests/response_progress_tracker.rs
  state-sync/storage-service/server/src/tests/state_values.rs
  state-sync/storage-service/server/src/tests/storage_summary.rs
  state-sync/storage-service/server/src/tests/subscribe_transaction_outputs.rs
  state-sync/storage-service/server/src/tests/subscribe_transactions.rs
  state-sync/storage-service/server/src/tests/subscribe_transactions_or_outputs.rs
  state-sync/storage-service/server/src/tests/subscription.rs
  state-sync/storage-service/server/src/tests/transaction_outputs.rs
  state-sync/storage-service/server/src/tests/transactions.rs
  state-sync/storage-service/server/src/tests/transactions_or_outputs.rs
  state-sync/storage-service/server/src/tests/utils.rs
Owners: @joshlind, @gregnazario

disable vm tracing
  third_party/move/move-vm/runtime/src/tracing.rs
Owners: none

Transaction Simulation Session
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-resource-viewer/src/lib.rs
  aptos-move/aptos-transaction-simulation-session/Cargo.toml
  aptos-move/aptos-transaction-simulation-session/examples/local.sh
  aptos-move/aptos-transaction-simulation-session/examples/remote.sh
  aptos-move/aptos-transaction-simulation-session/src/config.rs
  aptos-move/aptos-transaction-simulation-session/src/delta.rs
  aptos-move/aptos-transaction-simulation-session/src/lib.rs
  aptos-move/aptos-transaction-simulation-session/src/session.rs
  aptos-move/aptos-transaction-simulation-session/src/state_store.rs
  aptos-move/aptos-transaction-simulation-session/src/txn_output.rs
  aptos-move/aptos-transaction-simulation/Cargo.toml
  aptos-move/aptos-transaction-simulation/src/state_store.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/sim.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
  types/src/write_set.rs
Owners: none

[State Sync] Check pre-committed version on sync requests.
  state-sync/data-streaming-service/src/stream_engine.rs
  state-sync/data-streaming-service/src/tests/stream_engine.rs
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/error.rs
  state-sync/state-sync-driver/src/notification_handlers.rs
Owners: @joshlind

Fix re-entrancy issue when user func tries to reschedule
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/scheduled_txns.md
  aptos-move/framework/aptos-framework/doc/transaction_context.md
  aptos-move/framework/aptos-framework/doc/user_func_wrapper.md
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/user_func_wrapper.move
  aptos-move/framework/aptos-framework/tests/test_scheduled_txns.move
Owners: none

[Hot State] Split per version updates into for_last_checkpoint and for_latest
  Cargo.lock
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/chunk_to_commit.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Tweak LRU interface and tests
  storage/storage-interface/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Transaction Simulation Session (#17382)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-resource-viewer/src/lib.rs
  aptos-move/aptos-transaction-simulation-session/Cargo.toml
  aptos-move/aptos-transaction-simulation-session/examples/local.sh
  aptos-move/aptos-transaction-simulation-session/examples/remote.sh
  aptos-move/aptos-transaction-simulation-session/src/config.rs
  aptos-move/aptos-transaction-simulation-session/src/delta.rs
  aptos-move/aptos-transaction-simulation-session/src/lib.rs
  aptos-move/aptos-transaction-simulation-session/src/session.rs
  aptos-move/aptos-transaction-simulation-session/src/state_store.rs
  aptos-move/aptos-transaction-simulation-session/src/txn_output.rs
  aptos-move/aptos-transaction-simulation/Cargo.toml
  aptos-move/aptos-transaction-simulation/src/state_store.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/sim.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
  types/src/write_set.rs
Owners: none

Patch lru crate
  Cargo.lock
  Cargo.toml
Owners: none

Lazy cancel of all sched txns upon key rotation
  aptos-move/framework/aptos-framework/sources/account/account.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/sched_txns_sender_seqno.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
Owners: none

Have expiry delta per txn
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/aptos-framework/tests/test_scheduled_txns.move
Owners: none

[Storage] Add options for RocksDB statistics
  config/src/config/storage_config.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Hot State] Tweak LRU interface and tests
  storage/storage-interface/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Tweak LRU interface and tests
  storage/storage-interface/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

avoid cloning
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/storage/loader/eager.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
Owners: none

Patch lru crate
  Cargo.lock
  Cargo.toml
Owners: none

Patch lru crate
  Cargo.lock
  Cargo.toml
Owners: none

Aptos Debugger changes for Monotonically Increasing Counter
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-debugger/src/bin/remote-gas-profiler.rs
  aptos-move/aptos-debugger/src/execute_pending_block.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/replay-benchmark/src/commands/download.rs
  crates/aptos/src/common/local_simulation.rs
  crates/aptos/src/common/transactions.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
  storage/storage-interface/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

[exp] no paranoid mode
  aptos-move/aptos-vm-environment/src/prod_configs.rs
Owners: none

[exp] pass unmetered gas meter to move vm
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
Owners: none

[dummy] baseline
  CODE_OF_CONDUCT.md
Owners: none

[exp] remove type nodes calculations and create_ty calls
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[exp] remove need for tys for vecs
  aptos-move/framework/move-stdlib/src/natives/vector.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[session][1/n] Introduce versioned native extensions
  aptos-move/aptos-abstract-gas-usage/src/algebra.rs
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/object.rs
  aptos-move/framework/src/natives/randomness.rs
  aptos-move/framework/src/natives/state_storage.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-vm/runtime/src/native_extensions.rs
  third_party/move/tools/move-unit-test/src/extensions.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

[session][2/n] GlobalValue to use Value
  aptos-move/aptos-vm/src/aptos_vm.rs
  crates/aptos-speculative-state-helper/src/lib.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/block_metadata.rs
  types/src/block_metadata_ext.rs
Owners: none

[session][3/n] MoveVM to use data cache trait
  aptos-move/aptos-vm-profiling/src/bins/run_move.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/integration-tests/src/tests/mod.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

[AA] update AA signing msg (#17265)
  api/doc/spec.json
  api/doc/spec.yaml
  api/types/src/lib.rs
  api/types/src/transaction.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  crates/aptos-transaction-filters/src/transaction_filter.rs
  crates/indexer/src/models/signatures.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  execution/executor/src/metrics.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/rust/src/pb/aptos.indexer.v1.tonic.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.tonic.rs
  protos/rust/src/pb/aptos.remote_executor.v1.tonic.rs
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/typescript/src/aptos/transaction/v1/transaction.ts
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991, @alinush, @mstraka100

DeKART proof implementation (Zhoujun)
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/fft.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/range_proof.rs
Owners: none

Batched ZK range proof improvements (Alin)
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/range_proof.rs
  crates/aptos-dkg/src/utils/random.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/block-executor/src/executor.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Batched ZK range proof lint fixes (Wicher)
  crates/aptos-dkg/src/range_proof.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Batched ZK range proof lint fixes (Wicher)
  crates/aptos-dkg/src/range_proof.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

DeKART proof implementation (Zhoujun)
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/fft.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/range_proof.rs
Owners: none

Batched ZK range proof improvements (Alin)
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/range_proof.rs
  crates/aptos-dkg/src/utils/random.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

fixing docs
  third_party/move/tools/move-linter/src/model_ast_lints/cyclomatic_complexity.rs
Owners: none

Add detector and test-cases
  third_party/move/tools/move-linter/src/stackless_bytecode_lints.rs
  third_party/move/tools/move-linter/src/stackless_bytecode_lints/return_constructor_ref.rs
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/return_constructor_ref.exp
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/return_constructor_ref.move
Owners: none
