Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

raw ptrs
  Cargo.lock
  experimental/storage/layered-map/Cargo.toml
  experimental/storage/layered-map/proptest-regressions/tests.txt
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/iterator.rs
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/lib.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
  experimental/storage/layered-map/src/node.rs
  experimental/storage/layered-map/src/ref.rs
  experimental/storage/layered-map/src/tests.rs
  experimental/storage/layered-map/work.sh
Owners: none

set max callee
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
Owners: none

set max callee
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
Owners: none

Corrected scalar size for E::ScalarField in Fiat-Shamir
  crates/aptos-dkg/src/fiat_shamir.rs
Owners: none

Changed ScalarProtocol approach
  crates/aptos-dkg/src/fiat_shamir.rs
Owners: none

raw ptrs
  Cargo.lock
  experimental/storage/layered-map/Cargo.toml
  experimental/storage/layered-map/proptest-regressions/tests.txt
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/iterator.rs
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/lib.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
  experimental/storage/layered-map/src/node.rs
  experimental/storage/layered-map/src/ref.rs
  experimental/storage/layered-map/src/tests.rs
  experimental/storage/layered-map/work.sh
Owners: none

Some renaming
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/mod.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
Owners: none

Addressing reviewer comments
  third_party/move/move-vm/runtime/src/debug.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm] Add mechanism to trace execution via env vars
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Executor] Move unused deps
  execution/executor/Cargo.toml
Owners: @msmouse, @lightmark, @grao1991

[vm] Add mechanism to trace execution via env vars (#17733)
  third_party/move/move-vm/runtime/src/debug.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

use env var
  aptos-move/framework/aptos-framework/doc/aptos_coin.md
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/managed_coin.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/vesting.md
  aptos-move/framework/move-stdlib/doc/acl.md
  aptos-move/framework/move-stdlib/doc/features.md
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
Owners: none

[Keyless] Move Pepper Service VUF env variables to binary args.
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/vuf_pub_key.rs
Owners: none

[Keyless] Make on-chain resource env variables into binary args.
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
Owners: none

Some more renaming
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/algebra/msm.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/sigma_protocol.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Add back src/algebra/homomorphism.rs oops
  crates/aptos-dkg/src/algebra/homomorphism.rs
Owners: none

use monotonic counter in order book
  aptos-move/e2e-move-tests/src/tests/transaction_context.data/pack/sources/transaction_context_test.move
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

[Keyless] Make firestore env variables into binary args.
  keyless/pepper/scripts/start-pepper-service-with-firestore.sh
  keyless/pepper/scripts/start-pepper-service.sh
  keyless/pepper/service/src/accounts/account_recovery_db.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/utils.rs
Owners: none

release yaml for 1.36.1
  aptos-move/aptos-release-builder/data/release.yaml
Owners: none

monotonic unique test
  crates/transaction-workloads-lib/prebuilt.mpb
  crates/transaction-workloads-lib/src/args.rs
  crates/transaction-workloads-lib/src/move_workloads.rs
  execution/executor-benchmark/src/lib.rs
  testsuite/benchmark-workloads/packages/framework_usecases/sources/transaction_context_example.move
Owners: @msmouse, @lightmark, @grao1991

add test txn
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/generated_transactions.rs
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2424873868_fa_secondary_store_exists_object_core_deleted.json
  ecosystem/indexer-grpc/indexer-transaction-generator/imported_transactions/imported_transactions.yaml
Owners: none

Ensure execution concurrency level is at least 1
  aptos-node/src/utils.rs
Owners: none

prefetch overlay
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
Owners: @msmouse, @lightmark, @grao1991

Fix the executor benchmark
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/transaction_generator.rs
Owners: @msmouse, @lightmark, @grao1991

fix: print a nice error when there are no tests in the package and coverage was requested
  crates/aptos/src/move_tool/mod.rs
  third_party/move/tools/move-cli/src/base/test.rs
Owners: none

pack variant (/generic) + skips type creation for fast call
  aptos-move/aptos-vm-profiling/src/main.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
Owners: none

Update API description URL from spec.yaml to spec.json in documentation (#17161)
  api/doc/spec.html
Owners: @banool, @gregnazario, @0xmaayan

[vm] Generic per-interpreter function frame caches
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/user.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/types/src/lib.rs
  third_party/move/move-vm/types/src/loaded_data/struct_name_indexing.rs
  third_party/move/move-vm/types/src/ty_interner.rs
  types/src/block_executor/config.rs
Owners: none

[vm] More instruction caches
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[vm] Remove static cache trait
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
Owners: none

Added random_modulo linter.
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-move-linter/Cargo.toml
  aptos-move/aptos-move-linter/src/lib.rs
  aptos-move/aptos-move-linter/src/model_ast_lints.rs
  aptos-move/aptos-move-linter/src/model_ast_lints/random_modulo.rs
  aptos-move/aptos-move-linter/src/stackless_bytecode_lints.rs
  aptos-move/aptos-move-linter/src/utils.rs
  aptos-move/aptos-move-linter/tests/model_ast_lints/random_modulo.exp
  aptos-move/aptos-move-linter/tests/model_ast_lints/random_modulo.move
  aptos-move/aptos-move-linter/tests/testsuite.rs
  crates/aptos/Cargo.toml
  crates/aptos/src/move_tool/lint.rs
Owners: none

Fix the executor benchmark
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/transaction_generator.rs
Owners: @msmouse, @lightmark, @grao1991

Added infinite_recursion security check.
  Cargo.lock
  third_party/move/tools/move-linter/Cargo.toml
  third_party/move/tools/move-linter/src/stackless_bytecode_lints.rs
  third_party/move/tools/move-linter/src/stackless_bytecode_lints/infinite_recursion.rs
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/infinite_recursion_01.exp
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/infinite_recursion_01.move
Owners: none

add print
  crates/aptos/src/move_tool/bytecode.rs
  third_party/move/move-model/src/model.rs
  third_party/move/testing-infra/transactional-test-runner/src/framework.rs
  third_party/move/tools/move-asm/src/disassembler.rs
  third_party/move/tools/move-disassembler/src/disassembler.rs
Owners: none

[lint] Added `empty_if` lint and tests
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/empty_if.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.move
Owners: none

do not read overlay
  storage/storage-interface/src/state_store/state.rs
Owners: @msmouse, @lightmark, @grao1991

workflow gas profiling
  Cargo.lock
  aptos-move/e2e-benchmark/Cargo.toml
  aptos-move/e2e-benchmark/src/gas_profiling.rs
  aptos-move/e2e-benchmark/src/lib.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/tests/gas.rs
  crates/transaction-workloads-lib/src/lib.rs
Owners: none

add test txn (#17743)
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/generated_transactions.rs
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2424873868_fa_secondary_store_exists_object_core_deleted.json
  ecosystem/indexer-grpc/indexer-transaction-generator/imported_transactions/imported_transactions.yaml
Owners: none

update version
  Cargo.lock
  crates/aptos/Cargo.toml
Owners: none

comment out mem_tests
  aptos-move/framework/move-stdlib/tests/mem_tests.move
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
