Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

decide settled_price in settle_trade
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

[Keyless] Add simple metrics for operation latencies.
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/metrics.rs
  keyless/pepper/service/src/request_handler.rs
Owners: none

decide settled_price in settle_trade
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

[forge] orderbook test
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

[Hot State] Wrap configuration in a struct and pass to state construction
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

calibrate and rename
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

recalibrate
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

combine sweep results
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Owners: none

add to forge stable
  .github/workflows/forge-stable.yaml
Owners: @velor-chain/prod-eng

[Orderbook] Add metadata support to bulk orders
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
Owners: none

[compiler-v2] Compiler inlining optimization
  third_party/move/move-compiler-v2/src/env_pipeline/ast_simplifier.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/env_pipeline/mod.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/file_format_generator/mod.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/tests/inlining-optimization/caller_callee_shadowing.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/caller_callee_shadowing.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/fib.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/fib.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/if_else_const_bool_after_inlining.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/if_else_const_bool_after_inlining.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/mut_refs_freeze.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/mut_refs_freeze.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/unbounded_recursion.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/unbounded_recursion.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/within_module_simple.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/within_module_simple.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-model/bytecode/src/function_target_pipeline.rs
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/model.rs
Owners: none

Many changes
  Cargo.lock
  Cargo.toml
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

[forge] add orderbook workload sweep test (#17593)
  .github/workflows/forge-stable.yaml
  testsuite/forge-cli/src/suites/realistic_environment.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Owners: @velor-chain/prod-eng

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

Forgot to add test_utils.rs
  Cargo.toml
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/utils/test_utils.rs
Owners: none

[compiler-v2] Compiler inlining optimization (#17565)
  third_party/move/move-compiler-v2/src/env_pipeline/ast_simplifier.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/env_pipeline/mod.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/file_format_generator/mod.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/tests/inlining-optimization/caller_callee_shadowing.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/caller_callee_shadowing.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/fib.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/fib.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/if_else_const_bool_after_inlining.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/if_else_const_bool_after_inlining.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/mut_refs_freeze.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/mut_refs_freeze.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/unbounded_recursion.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/unbounded_recursion.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/within_module_simple.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/within_module_simple.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-model/bytecode/src/function_target_pipeline.rs
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/model.rs
Owners: none

Speculative LRU (new)
  Cargo.lock
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[replay-verify] Use disk in read only mode and bugfixes (#17599)
  crates/aptos-speculative-state-helper/src/lib.rs
  storage/db-tool/src/replay_on_archive.rs
  testsuite/replay-verify/archive_disk_utils.py
  testsuite/replay-verify/main.py
  testsuite/replay-verify/replay-verify-worker-template.yaml
Owners: @msmouse, @lightmark, @grao1991

[Orderbook] Add metadata support to bulk orders (#17558)
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

Speculative LRU (new)
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Owners: @msmouse, @lightmark, @grao1991

32-byte values
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  third_party/move/move-vm/types/src/values/function_values_impl.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

no paranoid
  aptos-move/aptos-vm-environment/src/prod_configs.rs
Owners: none

Add Blockmetadata to executor benchmark
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/native/native_transaction.rs
  execution/executor-benchmark/src/pipeline.rs
Owners: @msmouse, @lightmark, @grao1991

feat: add tests for fail_fast feature
  third_party/move/tools/move-unit-test/tests/fail_fast/Move.toml
  third_party/move/tools/move-unit-test/tests/fail_fast/sources/unittest.move
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
Owners: none

chore: add comment
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
Owners: none

capture option
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

More changes
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
Owners: none

Add license
  crates/aptos-dkg/src/utils/test_utils.rs
Owners: none

Small edit
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
Owners: none

Remove dependency from Cargo.toml
  Cargo.toml
Owners: none

Small edit to range proof FS
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
Owners: none

Ran fmt
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
Owners: none

Renamed ScalarOld
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  crates/aptos-dkg/src/utils/mod.rs
Owners: none
