Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

create local network
  Cargo.lock
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/pipelined_block.rs
  consensus/consensus-types/src/quorum_cert.rs
  consensus/safety-rules/src/safety_rules.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/epoch_manager.rs
  consensus/src/execution_pipeline.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/persistent_liveness_storage.rs
  execution/executor/src/block_executor/block_tree/mod.rs
  movement-migration/validation-tool/src/checks/node.rs
  movement-migration/validation-tool/src/checks/node/global_storage_includes.rs
  movement-migration/validation-tool/src/types/storage.rs
  peer_set.yaml
  state-sync/inter-component/event-notifications/src/lib.rs
  state-sync/state-sync-driver/src/driver.rs
  tools/l1-migration/Cargo.toml
  tools/l1-migration/local-node-configs/full_node.yaml
  tools/l1-migration/local-node-configs/validator_node.yaml
  tools/l1-migration/src/lib.rs
  tools/l1-migration/src/main.rs
  tools/l1-migration/src/utils.rs
  types/src/chain_id.rs
  types/src/on_chain_config/timed_features.rs
  types/src/transaction/mod.rs
  types/src/waypoint.rs
Owners: @joshlind, @gregnazario, @zekun000, @sasha8, @ibalajiarun, @msmouse, @lightmark, @grao1991

sync virtual genesis id between consensus and execution
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/epoch_manager.rs
  consensus/src/persistent_liveness_storage.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/state_computer.rs
  consensus/src/state_computer_tests.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_execution_client.rs
  consensus/src/test_utils/mock_state_computer.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor/block_tree/mod.rs
  execution/executor/src/block_executor/mod.rs
  tools/l1-migration/local-node-configs/validator_node.yaml
Owners: @joshlind, @gregnazario, @zekun000, @sasha8, @ibalajiarun, @msmouse, @lightmark, @grao1991

Post-migration integrity validation tool (#186)
  Cargo.lock
  Cargo.toml
  movement-migration/validation-tool/Cargo.toml
  movement-migration/validation-tool/assets/maptos.tar.xz
  movement-migration/validation-tool/src/checks.rs
  movement-migration/validation-tool/src/checks/api.rs
  movement-migration/validation-tool/src/checks/api/matching_feature_flags.rs
  movement-migration/validation-tool/src/checks/error.rs
  movement-migration/validation-tool/src/checks/node.rs
  movement-migration/validation-tool/src/checks/node/global_storage_includes.rs
  movement-migration/validation-tool/src/lib.rs
  movement-migration/validation-tool/src/main.rs
  movement-migration/validation-tool/src/types.rs
  movement-migration/validation-tool/src/types/api.rs
  movement-migration/validation-tool/src/types/storage.rs
  movement-migration/validation-tool/tests/validate_db.rs
Owners: none

feature: add active features check to validation tool (#192)
  movement-migration/validation-tool/src/checks/api.rs
  movement-migration/validation-tool/src/checks/api/active_feature_flags.rs
  movement-migration/validation-tool/src/checks/api/matching_feature_flags.rs
  movement-migration/validation-tool/src/types/api.rs
Owners: none

start validator fullnode
  aptos-node/src/storage.rs
  movement-migration/validation-tool/src/checks/api.rs
  movement-migration/validation-tool/src/checks/api/active_feature_flags.rs
  state-sync/inter-component/event-notifications/src/lib.rs
  tools/l1-migration/data/mainnet/genesis_waypoint.txt
  tools/l1-migration/local-node-configs/validator_fullnode.yaml
  tools/l1-migration/local-node-configs/validator_node.yaml
  tools/l1-migration/src/main.rs
  tools/l1-migration/src/utils.rs
  types/src/ledger_info.rs
Owners: @joshlind

fix epoch duration
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/framework/aptos-framework/doc/reconfiguration.md
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/move-examples/scripts/update_reconfiguration/Move.toml
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/metadata/proposal_1_upgrade_framework.json
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/0-move-stdlib.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/1-aptos-stdlib.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/2-aptos-framework.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/3-aptos-token.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/4-aptos-token-objects.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/metadata/proposal_1_upgrade_framework.json
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/0-move-stdlib.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/1-aptos-stdlib.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/2-aptos-framework.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/3-aptos-token.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/4-aptos-token-objects.move
  aptos-move/move-examples/scripts/update_reconfiguration/sources/change_epoch_duration.move
  aptos-move/move-examples/scripts/update_reconfiguration/sources/script.move
Owners: none

update config for L1 migration
  config/src/config/test_data/public_full_node.yaml
Owners: @joshlind, @gregnazario

[chore] bump gas version on main branch for 1.38 release
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

print stack trace on abort
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[forge] memory threshold again
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

[chore] bump gas version on main branch for 1.38 release
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/doc/single_order_types.md
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

[chore] bump gas version on main branch for 1.38 release
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

format code
  aptos-move/framework/aptos-framework/sources/object.move
Owners: none

[object] add deletion guard
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/object.move
Owners: none

[Orderbook] Change client order id from u64 to String (#17712)
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/doc/single_order_types.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_single_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/order_book_client_order_id.move
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

Clearinghouse API refactor
  aptos-move/framework/aptos-experimental/sources/trading/market/market_clearinghouse_order_info.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
Owners: none

[Move disassembler]: change disassembled files to end with `.masm`
  crates/aptos/CHANGELOG.md
  crates/aptos/src/move_tool/bytecode.rs
Owners: none

calibrate perf
  .cargo/config.toml
Owners: none

fix
  aptos-move/framework/aptos-experimental/sources/trading/market/market_clearinghouse_order_info.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

Bump target-cpu to x86-64-v3
  .cargo/config.toml
Owners: none

[Old]
  keyless/pepper/service/src/lib.rs
Owners: none

[forge] memory threshold again
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/overview.md
Owners: none

add documentation
  aptos-move/framework/aptos-experimental/doc/market_clearinghouse_order_info.md
Owners: none

[pipeline] different interface for consensus and observer
  consensus/src/block_storage/block_store.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/pipeline/pipeline_builder.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[aptos node] disable feature flag move-vm-runtime/debugging by moving move-cli out of its dependency tree (#17703)
  Cargo.lock
  aptos-move/framework/Cargo.toml
  aptos-move/framework/src/extended_checks.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  aptos-node/Cargo.toml
  aptos-node/src/main.rs
  aptos-node/src/utils.rs
  crates/aptos/src/move_tool/aptos_debug_natives.rs
  third_party/move/move-vm/runtime/src/tracing.rs
Owners: none

[replay-verify] bump disk to 15Ti
  testsuite/replay-verify/archive_disk_utils.py
Owners: none

[replay-verify] bump disk to 15Ti (#17724)
  testsuite/replay-verify/archive_disk_utils.py
Owners: none

[Keyless] Add simple test for pepper generation.
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/tests/mod.rs
Owners: none

[replay-verify] Fix computing PVC size
  testsuite/replay-verify/archive_disk_utils.py
Owners: none

[replay-verify] Fix computing PVC size
  testsuite/replay-verify/archive_disk_utils.py
Owners: none

[pipeline] different interface for consensus and observer
  consensus/src/block_storage/block_store.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/pipeline/pipeline_builder.rs
Owners: @zekun000, @sasha8, @ibalajiarun

fix
  Cargo.lock
  aptos-move/aptos-e2e-comparison-testing/Cargo.toml
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
  aptos-move/aptos-e2e-comparison-testing/src/main.rs
  aptos-move/aptos-e2e-comparison-testing/src/online_execution.rs
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-validator-interface/Cargo.toml
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/replay-benchmark/src/lib.rs
  aptos-move/replay-benchmark/src/overrides.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/options.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/state_store/state_key/mod.rs
Owners: none

fix
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
  aptos-move/aptos-e2e-comparison-testing/src/main.rs
  aptos-move/aptos-e2e-comparison-testing/src/online_execution.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-compiler-v2/src/experiments.rs
Owners: none

Bump target-cpu to x86-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

test
  types/src/on_chain_config/aptos_features.rs
Owners: none

Bump target-cpu to x86-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

[txn sim session] add view_resource and view_resource_group
  aptos-move/aptos-transaction-simulation-session/examples/local.sh
  aptos-move/aptos-transaction-simulation-session/src/session.rs
  crates/aptos/src/move_tool/sim.rs
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/market_clearinghouse_order_info.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_clearinghouse_order_info.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
