Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

test
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
Owners: none

[Storage] Use thread local counters
  Cargo.lock
  storage/aptosdb/src/metrics.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/metrics.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/batch.rs
  storage/schemadb/src/lib.rs
  storage/schemadb/src/metrics.rs
  storage/scratchpad/src/sparse_merkle/metrics.rs
  storage/storage-interface/src/metrics.rs
Owners: @msmouse, @lightmark, @grao1991

[ci] do not run trace on ci
  third_party/move/move-vm/runtime/src/tracing.rs
Owners: none

[aptos-release-v1.34] Yaml to enable function values in mainnet
  aptos-move/aptos-release-builder/data/enable-function-values.yaml
Owners: none

native binary search
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/ordered_map.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[experiment] triomphe arcs
  Cargo.lock
  aptos-move/aptos-native-interface/Cargo.toml
  aptos-move/aptos-native-interface/src/context.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/framework/Cargo.toml
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/module_traversal.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_code_storage.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/loader/eager.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/test_utils.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/types/src/code/cache/module_cache.rs
  third_party/move/move-vm/types/src/code/cache/script_cache.rs
  third_party/move/move-vm/types/src/code/cache/test_types.rs
  third_party/move/move-vm/types/src/code/cache/types.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  vm-validator/Cargo.toml
  vm-validator/src/vm_validator.rs
Owners: none

ci: testing docker build
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

ci: debugging docker build
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

Only store the most latest incarnation dependency
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler_v2.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/registered_dependencies.rs
  aptos-move/mvhashmap/src/unit_tests/dependencies.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
Owners: none

ci: disabling caching for testing
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

Only store the most latest incarnation dependency (#17311)
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler_v2.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/registered_dependencies.rs
  aptos-move/mvhashmap/src/unit_tests/dependencies.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
Owners: none

ci: more docker build debugging
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

[Hot State] Split per version updates into for_last_checkpoint and for_latest
  Cargo.lock
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/chunk_to_commit.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Split per version updates into for_last_checkpoint and for_latest
  Cargo.lock
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/chunk_to_commit.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

ci: more docker build debugging
  .github/workflows/pull-request-validation.yaml
  Justfile
Owners: @velor-chain/prod-eng

ci: more docker build debugging
  .github/workflows/pull-request-validation.yaml
  Justfile
Owners: @velor-chain/prod-eng

[Storage] Use thread local counters
  Cargo.lock
  storage/aptosdb/src/metrics.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/metrics.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/batch.rs
  storage/schemadb/src/lib.rs
  storage/schemadb/src/metrics.rs
  storage/scratchpad/src/sparse_merkle/metrics.rs
  storage/storage-interface/src/metrics.rs
Owners: @msmouse, @lightmark, @grao1991

ci: testing just setup
  .github/workflows/pull-request-validation.yaml
  Justfile
Owners: @velor-chain/prod-eng

Speculative LRU
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[aptos-release-v1.34] Yaml to enable function values in mainnet (#17507)
  aptos-move/aptos-release-builder/data/enable-function-values.yaml
Owners: none

Block epilogue refactor / optimize / prep for V2 support
  Cargo.lock
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/combinatorial_tests/resource_tests.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/scheduler_status.rs
  aptos-move/block-executor/src/scheduler_v2.rs
  aptos-move/block-executor/src/scheduler_wrapper.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
Owners: none

Targeted optimizations for BlockSTMv2
  Cargo.lock
  Cargo.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  types/Cargo.toml
  types/src/state_store/state_value.rs
Owners: none

Streamlined w. macro, replace load_full
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Owners: none

ci: more docker build debugging
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

ci: more docker build debugging
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

ci: more docker build debugging
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

ci: remove just from docker build
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

ci: remove snap from docker build
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

ci: more docker build debugging
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

ci: more docker build debugging
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

run V2
  aptos-move/block-executor/src/executor.rs
Owners: none

ci: debugging docker build
  .dockerignore
  .github/workflows/pull-request-validation.yaml
  Justfile
  docker/aptos-node/Dockerfile
Owners: @velor-chain/prod-eng

ci: fix workflow job dependencies
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

ci: syntax fix
  .github/workflows/pull-request-validation.yaml
Owners: @velor-chain/prod-eng

Temp commit to debug perhaps re-entrancy issue
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
  aptos-move/framework/aptos-framework/doc/scheduled_txns.md
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/src/natives/debug.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market.md
  crates/transaction-workloads-lib/prebuilt.mpb
  testsuite/benchmark-workloads/packages-experimental/experimental_usecases/sources/order_book_example.move
Owners: none

ci: more docker debugging
  .dockerignore
  Justfile
Owners: none

Transaction Simulation Session
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-resource-viewer/src/lib.rs
  aptos-move/aptos-transaction-simulation-session/Cargo.toml
  aptos-move/aptos-transaction-simulation-session/examples/local.sh
  aptos-move/aptos-transaction-simulation-session/examples/remote.sh
  aptos-move/aptos-transaction-simulation-session/src/config.rs
  aptos-move/aptos-transaction-simulation-session/src/delta.rs
  aptos-move/aptos-transaction-simulation-session/src/lib.rs
  aptos-move/aptos-transaction-simulation-session/src/session.rs
  aptos-move/aptos-transaction-simulation-session/src/state_store.rs
  aptos-move/aptos-transaction-simulation-session/src/txn_output.rs
  aptos-move/aptos-transaction-simulation/Cargo.toml
  aptos-move/aptos-transaction-simulation/src/state_store.rs
  crates/aptos/Cargo.toml
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/sim.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
  types/src/write_set.rs
Owners: none

iterators and utilities
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/src/aptos.rs
  aptos-move/framework/tests/move_unit_test.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
