Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

dummy change
  storage/storage-interface/src/state_store/state_view/db_state_view.rs
Owners: @msmouse, @lightmark, @grao1991

[move core] Allow Identifiers to contain `$` (#17814)
  third_party/move/move-binary-format/src/deserializer.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-core/types/src/identifier.rs
  third_party/move/move-vm/runtime/src/debug.rs
  third_party/move/tools/move-asm/tests/assembler/dollar_names.exp
  third_party/move/tools/move-asm/tests/assembler/dollar_names.masm
  third_party/move/tools/move-asm/tests/assembler/round-trip/dollar_names.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/dollar_names.disassembled.exp
Owners: none

rocksdb 0.22
  Cargo.lock
  Cargo.toml
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[compiler & language] Support builtin constant `__COMPILE_FOR_TESTING__`.
  aptos-move/framework/move-stdlib/tests/compile_for_testing_test.move
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/testing-constant/compile_for_testing.move
  third_party/move/move-compiler-v2/transactional-tests/tests/testing-constant/compile_for_testing.testing-constant-false.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/testing-constant/compile_for_testing.testing-constant-true.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/builder/model_builder.rs
  third_party/move/move-model/src/lib.rs
  third_party/move/move-model/src/options.rs
  third_party/move/move-model/tests/testsuite.rs
  third_party/move/testing-infra/transactional-test-runner/src/framework.rs
Owners: none

Improved tests.
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.move
Owners: none

[lint] Added `empty_if` lint and tests
  third_party/move/tools/move-linter/Cargo.toml
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/empty_if.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/almost_swapped.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.move
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/multi_attributes_01.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/multi_attributes_02.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/nonminimal_bool.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
Owners: none

feat: implenment core mempool (#18)
  Cargo.lock
  mempool/Cargo.toml
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/shared_mempool_test.rs
Owners: @bchocho

feat: allow to suppress printing errors to stderr
  aptos-move/framework/src/built_package.rs
  crates/aptos/src/move_tool/coverage.rs
  crates/aptos/src/move_tool/mod.rs
  third_party/move/move-compiler-v2/src/options.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
  third_party/move/tools/move-package/src/lib.rs
Owners: none

fix: review comment: avoid code duplication
  third_party/move/move-compiler-v2/src/diagnostics/mod.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: none

fix: print a nice error when there are no tests in the package and coverage was requested
  crates/aptos/src/move_tool/mod.rs
  third_party/move/tools/move-cli/src/base/test.rs
Owners: none

fix: nicer error handling
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

fix: review comment
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

chore: nicer parse handling
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
Owners: none

fix: formatting
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

fix: use datatest_stable for fail-fast tests
  third_party/move/tools/move-unit-test/tests/fail_fast/Move.toml
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest-fast.exp
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest-fast.move
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest.exp
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest.move
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
  third_party/move/tools/move-unit-test/tests/move_unit_test_testsuite.rs
Owners: none

feat: add tests for fail_fast feature
  third_party/move/tools/move-unit-test/tests/fail_fast/Move.toml
  third_party/move/tools/move-unit-test/tests/fail_fast/sources/unittest.move
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
Owners: none

feat: add fail-fast mode to move test
  Cargo.lock
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
  third_party/move/tools/move-cli/src/base/test.rs
  third_party/move/tools/move-unit-test/Cargo.toml
  third_party/move/tools/move-unit-test/src/lib.rs
  third_party/move/tools/move-unit-test/src/main.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
  third_party/move/tools/move-unit-test/tests/move_unit_test_testsuite.rs
Owners: none

chore: add comment
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
Owners: none

fix: no need to change the method signature
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

fix: review comment
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

fix: avoid code duplication
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

Some changes I think
  crates/aptos-crypto-derive/src/lib.rs
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Fully support MIN/MAX for all integer types. Also move unit test out of framework, because it may not compile with older compilers.
  aptos-move/framework/move-stdlib/tests/compile_for_testing_test.move
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/builtin_constants.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/builtin_constants.move
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/round-trip/builtin_constants.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/round-trip/builtin_constants.decompiled.baseline.exp
  third_party/move/move-model/src/builder/builtins.rs
Owners: none

map modifiers
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
Owners: none

Slightly simplified sigma protocol trait
  crates/aptos-crypto-derive/src/lib.rs
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/barycentric.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

[compiler & language] Support builtin constant `__COMPILE_FOR_TESTING__`. (#17854)
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/builtin_constants.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/builtin_constants.move
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/round-trip/builtin_constants.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/round-trip/builtin_constants.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/testing-constant/compile_for_testing.move
  third_party/move/move-compiler-v2/transactional-tests/tests/testing-constant/compile_for_testing.testing-constant-false.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/testing-constant/compile_for_testing.testing-constant-true.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/builder/model_builder.rs
  third_party/move/move-model/src/lib.rs
  third_party/move/move-model/src/options.rs
  third_party/move/move-model/tests/testsuite.rs
  third_party/move/testing-infra/transactional-test-runner/src/framework.rs
Owners: none

rocksdb 0.23
  Cargo.lock
  Cargo.toml
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

map modifiers (#17821)
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
Owners: none

[linter] Added `needless_return` lint and tests
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_bool_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

Sorted linters.
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

Added test case.
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

[storage] lower compaction threads more
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

refact.
  tools/l1-migration/Cargo.toml
  tools/l1-migration/src/main.rs
  tools/l1-migration/src/utils.rs
Owners: none

[Keyless] Make Firestore DB update async.
  keyless/pepper/common/src/lib.rs
  keyless/pepper/service/src/accounts/account_recovery_db.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/metrics.rs
Owners: none

[Keyless] Use spawn_blocking for crypto operations.
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/error.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/metrics.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/utils.rs
Owners: none

[Keyless] Small improvements to logging and timeout.
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/utils.rs
Owners: none

OrderBook use of iterators and utilities
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
Owners: none

[storage] lower compaction threads more
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

rocksdb 0.22 with 2 compaction threads
  Cargo.lock
  Cargo.toml
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[storage] lower compaction threads more
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario
