Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

[Keyless] Add "accounts" directory to the pepper service.
  keyless/pepper/service/src/account_db.rs
  keyless/pepper/service/src/accounts/account_db.rs
  keyless/pepper/service/src/accounts/account_managers.rs
  keyless/pepper/service/src/accounts/mod.rs
  keyless/pepper/service/src/dedicated_handlers/process_common.rs
  keyless/pepper/service/src/lib.rs
  keyless/pepper/service/src/main.rs
Owners: none

[Keyless] Rename "resources" to "test_resources"
  keyless/pepper/README.md
  keyless/pepper/service/src/tests/test_resources/groth16_vk.json
  keyless/pepper/service/src/tests/test_resources/keyless_config.json
Owners: none

[Keyless] Add "external_resources" directory.
  keyless/pepper/service/src/external_resources/groth16_vk.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/keyless_config.rs
  keyless/pepper/service/src/external_resources/mod.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/lib.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/request_handler.rs
Owners: none

works
  ecosystem/indexer-grpc/indexer-grpc-gateway/src/gateway.rs
Owners: none

init
  Cargo.lock
  Cargo.toml
  docker/builder/build-indexer.sh
  docker/builder/indexer-grpc.Dockerfile
  ecosystem/indexer-grpc/indexer-grpc-gateway/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-gateway/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-gateway/src/gateway.rs
  ecosystem/indexer-grpc/indexer-grpc-gateway/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-gateway/src/main.rs
Owners: @velor-chain/prod-eng

lint
  Cargo.lock
  ecosystem/indexer-grpc/indexer-grpc-gateway/Cargo.toml
Owners: none

Refactor fiat_shamir.rs and enhance range_proof.rs
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/pvss/das/unweighted_protocol.rs
  crates/aptos-dkg/src/pvss/das/weighted_protocol.rs
  crates/aptos-dkg/src/pvss/fiat_shamir.rs
  crates/aptos-dkg/src/pvss/mod.rs
  crates/aptos-dkg/src/range_proof.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

[Keyless] Small cleanups to external resources in the pepper service.
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/external_resources/groth16_vk.rs
  keyless/pepper/service/src/external_resources/keyless_config.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/request_handler.rs
Owners: none

Add a check in transaction validation
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

Add a check in transaction validation
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

Add a check in transaction validation
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

Add a check in transaction validation
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

[Orderbook] Add metadata support to bulk orders
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

[session][6/n] Write op info common infra
  aptos-move/aptos-vm-types/src/lib.rs
  aptos-move/aptos-vm-types/src/write_info_builder.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  third_party/move/move-vm/runtime/src/storage/loader/eager.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  types/src/vm/versioning.rs
  types/src/write_set.rs
Owners: none

[session][7/n] Table versioning
  Cargo.lock
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
Owners: none

[exp] pass unmetered gas meter to move vm
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
Owners: none

[exp] no paranoid mode
  aptos-move/aptos-vm-environment/src/prod_configs.rs
Owners: none

[dummy] baseline
  CODE_OF_CONDUCT.md
Owners: none

[exp] remove need for tys for vecs
  aptos-move/framework/move-stdlib/src/natives/vector.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[exp] remove type nodes calculations and create_ty calls
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[exp] add layout cache and share via arc
  Cargo.lock
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[exp] Accesses
  Cargo.lock
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/data_cache.rs
  execution/executor-benchmark/src/lib.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  types/Cargo.toml
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[workspace] remove unused simplelog dependency (#17515)
  Cargo.toml
Owners: none

Addressed Alin's comments
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pvss/das/unweighted_protocol.rs
  crates/aptos-dkg/src/pvss/das/weighted_protocol.rs
  crates/aptos-dkg/src/pvss/mod.rs
  crates/aptos-dkg/src/range_proof.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Added g_1 and g_2 to vk of DeKART range proof
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proof.rs
Owners: none

[Hot State] Prepare for having all checkpoint indices in StateUpdateRefs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

Speculative LRU (new)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Do not include prev_slot in MakeHot op
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

Applied Rust linting
  crates/aptos-dkg/src/range_proof.rs
Owners: none

format fa
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
Owners: none

[fa] add fa creation event
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
Owners: none

Added g_1 and g_2 to vk of DeKART range proof
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proof.rs
Owners: none

Applied Rust linting
  crates/aptos-dkg/src/range_proof.rs
Owners: none

Refactor fiat_shamir.rs and enhance range_proof.rs
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/pvss/das/unweighted_protocol.rs
  crates/aptos-dkg/src/pvss/das/weighted_protocol.rs
  crates/aptos-dkg/src/pvss/fiat_shamir.rs
  crates/aptos-dkg/src/pvss/mod.rs
  crates/aptos-dkg/src/range_proof.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Addressed Alin's comments
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pvss/das/unweighted_protocol.rs
  crates/aptos-dkg/src/pvss/das/weighted_protocol.rs
  crates/aptos-dkg/src/pvss/mod.rs
  crates/aptos-dkg/src/range_proof.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

fix lint
  testsuite/smoke-test/Cargo.toml
Owners: none

remove unneeded module use
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
Owners: none

fix lint
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/sui_derivable_account.rs
Owners: none

implement sui daa
  Cargo.lock
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/sui_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/common_account_abstractions_utils.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/tests/internal_indexer_test.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/sui_derivable_account.rs
Owners: @msmouse, @lightmark, @grao1991

fix
  aptos-move/vm-genesis/src/lib.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
