Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

Refactoring tests
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Addressed more comments
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/tests/barycentric_eval.rs
Owners: none

More comments
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/tests/barycentric_eval.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Fixed lints
  crates/aptos-dkg/tests/barycentric_eval.rs
Owners: none

Renaming
  crates/aptos-dkg/tests/barycentric_eval.rs
Owners: none

Some modifications, test doesn't pass
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
Owners: none

Fixed some lints
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Addressed comments
  crates/aptos-dkg/src/algebra/polynomials.rs
Owners: none

Generalised hiding KZG tests to arbitrary curves
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
Owners: none

Fix linter suggestions
  aptos-move/e2e-tests/src/executor.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run_transactional.rs
Owners: none

[prover sint] unify error handling
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-prover/boogie-backend/src/boogie_helpers.rs
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/boogie-backend/src/lib.rs
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
Owners: none

[prover sint] add test cases with error msg reported
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
  third_party/move/move-prover/tests/sources/functional/signed_int/error.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/error.move
Owners: none

[Move Prover] add signed int support
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-prover/boogie-backend/src/boogie_helpers.rs
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/boogie-backend/src/lib.rs
  third_party/move/move-prover/boogie-backend/src/prelude/prelude.bpl
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
  third_party/move/move-prover/move-abigen/src/abigen.rs
  third_party/move/move-prover/tests/sources/functional/cast.exp
  third_party/move/move-prover/tests/sources/functional/cast.move
  third_party/move/move-prover/tests/sources/functional/loops_with_memory_ops.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/artithmetic.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/artithmetic.move
  third_party/move/move-prover/tests/sources/functional/signed_int/cast.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/cast.move
  third_party/move/move-prover/tests/sources/functional/signed_int/negate.exp
  third_party/move/move-prover/tests/sources/functional/signed_int/negate.move
  third_party/move/move-prover/tests/sources/functional/type_reflection.move
Owners: none

[prover sint] support casting bitvector to sint
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/tests/sources/functional/signed_int/cast.move
Owners: none

[compiler]: gate signed int types with language version
  third_party/move/move-compiler-v2/tests/checking/typing/binary_sub_invalid.exp
  third_party/move/move-compiler-v2/tests/more-v1/parser/expr_unary_negation.exp
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/metadata.rs
Owners: none

Add hiding KZG polynomial commitment scheme (#17896)
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pcs/mod.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixed_base_msms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/barycentric_eval.rs
  crates/aptos-dkg/tests/range_proof.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Remove artifacts from Cargo.toml
  testsuite/fuzzer/fuzz/Cargo.toml
Owners: none

[consensus] update the committed label
  consensus/src/counters.rs
Owners: @zekun000, @sasha8, @ibalajiarun

fmt
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/e2e-tests/src/executor.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run_transactional.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/vm.rs
  third_party/move/testing-infra/transactional-test-runner/src/transactional_ops.rs
Owners: none

Use clang
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
Owners: none

Use clang
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  scripts/dev_setup.sh
Owners: @velor-chain/prod-eng

Use clang
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  scripts/dev_setup.sh
Owners: @velor-chain/prod-eng

Fix Cargo.toml
  aptos-move/e2e-tests/Cargo.toml
  testsuite/fuzzer/fuzz/Cargo.toml
Owners: none

Use clang
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  scripts/dev_setup.sh
Owners: @velor-chain/prod-eng

[compiler]: gate signed int types with language version
  third_party/move/move-compiler-v2/tests/checking/typing/binary_sub_invalid.exp
  third_party/move/move-compiler-v2/tests/more-v1/parser/expr_unary_negation.exp
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/metadata.rs
Owners: none

[consensus] update the committed label
  consensus/src/counters.rs
Owners: @zekun000, @sasha8, @ibalajiarun

check os
  scripts/dev_setup.sh
Owners: @velor-chain/prod-eng

Use clang
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
Owners: none

x64-64-v3
  .cargo/config.toml
Owners: none

[encrypted-mempool] Introduce new payload type
  types/src/transaction/encrypted_payload.rs
  types/src/transaction/mod.rs
  types/src/transaction/use_case.rs
Owners: none

[opt-proposal] enable by default
  config/src/config/consensus_config.rs
Owners: @joshlind, @gregnazario

consensus: increase FUTURE_ROUNDS_TO_ACCEPT to reduce timing-related panics
  consensus/src/rand/rand_gen/types.rs
Owners: @zekun000, @sasha8, @ibalajiarun

feat: fix some bugs in broadcast (#21)
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/shared_mempool_test.rs
  network/framework/src/peer/mod.rs
Owners: @bchocho, @joshlind, @zekun000

Update README.md
  README.md
Owners: none

chore: remove the verbose "verify with public key" log (#22)
  types/src/validator_verifier.rs
Owners: none

First attempt, tests not passing
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

Forgot file
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
Owners: none

Some improvements to tests, but not done
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

[smoke-test][optqs] add opt proposal handling to test_node_rewards
  testsuite/smoke-test/src/aptos_cli/validator.rs
Owners: none

All tests pass
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
