Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

Add tests
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.move
Owners: none

Try fix CI
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

Update tests baseline
  third_party/move/tools/move-linter/tests/model_ast_lints/known_to_abort.exp
Owners: none

Update model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

Add detector
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/find_unnecessary_casts.rs
Owners: none

Add requested test
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.move
Owners: none

Update model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

raw ptrs
  Cargo.lock
  experimental/storage/layered-map/Cargo.toml
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/iterator.rs
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
  experimental/storage/layered-map/src/node.rs
  experimental/storage/layered-map/src/ref.rs
  experimental/storage/layered-map/src/tests.rs
Owners: none

fix lint
  testsuite/smoke-test/Cargo.toml
Owners: none

fix lint
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/sui_derivable_account.rs
Owners: none

remove unneeded module use
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
Owners: none

implement sui daa
  Cargo.lock
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/sui_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/common_account_abstractions_utils.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
  aptos-move/vm-genesis/src/lib.rs
  execution/executor/tests/internal_indexer_test.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/sui_derivable_account.rs
Owners: @msmouse, @lightmark, @grao1991

refactor for modularity
  aptos-move/framework/aptos-framework/doc/common_account_abstractions_utils.md
  aptos-move/framework/aptos-framework/doc/ethereum_derivable_account.md
  aptos-move/framework/aptos-framework/doc/solana_derivable_account.md
  aptos-move/framework/aptos-framework/doc/sui_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/common_account_abstractions_utils.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/ethereum_derivable_account.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/solana_derivable_account.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
  testsuite/smoke-test/src/sui_derivable_account.rs
Owners: none

fix
  aptos-move/vm-genesis/src/lib.rs
Owners: none

generalize daa autheticate function
  aptos-move/framework/aptos-framework/doc/common_account_abstractions_utils.md
  aptos-move/framework/aptos-framework/doc/ethereum_derivable_account.md
  aptos-move/framework/aptos-framework/doc/solana_derivable_account.md
  aptos-move/framework/aptos-framework/doc/sui_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/common_account_abstractions_utils.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/ethereum_derivable_account.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/solana_derivable_account.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
Owners: none

fix lint
  testsuite/smoke-test/src/sui_derivable_account.rs
Owners: none

[Storage][Tool] Add a command to print backup metadata. (#17326)
  storage/db-tool/src/backup_maintenance.rs
Owners: @msmouse, @lightmark, @grao1991

fix lint
  testsuite/smoke-test/src/sui_derivable_account.rs
Owners: none

Add Blockmetadata in Executor benchmark
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/db_reliable_submitter.rs
  execution/executor-benchmark/src/ledger_update_stage.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/native/native_transaction.rs
  execution/executor-benchmark/src/native/native_vm.rs
  execution/executor-benchmark/src/native/parallel_uncoordinated_block_executor.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance.py
Owners: @msmouse, @lightmark, @grao1991

Update model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

Add detector
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/find_unnecessary_casts.rs
Owners: none

Add requested test
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.move
Owners: none

Add tests
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.move
Owners: none

Try fix CI
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

Remove source_expr
  third_party/move/tools/move-linter/src/model_ast_lints/find_unnecessary_casts.rs
Owners: none

Update tests baseline
  third_party/move/tools/move-linter/tests/model_ast_lints/known_to_abort.exp
Owners: none

Update model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

tune 256
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
Owners: none

Add Blockmetadata in Executor benchmark (#17626)
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/db_reliable_submitter.rs
  execution/executor-benchmark/src/ledger_update_stage.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/native/native_transaction.rs
  execution/executor-benchmark/src/native/native_vm.rs
  execution/executor-benchmark/src/native/parallel_uncoordinated_block_executor.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance.py
Owners: @msmouse, @lightmark, @grao1991

raw ptrs
  Cargo.lock
  experimental/storage/layered-map/Cargo.toml
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/iterator.rs
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/lib.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
  experimental/storage/layered-map/src/node.rs
  experimental/storage/layered-map/src/ref.rs
  experimental/storage/layered-map/src/tests.rs
Owners: none

[vm] Runtime tracing & post-commit replay infrastructure
  Cargo.lock
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  execution/executor-benchmark/src/native/native_vm.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/execution_tracing/loggers.rs
  third_party/move/move-vm/runtime/src/execution_tracing/mod.rs
  third_party/move/move-vm/runtime/src/execution_tracing/trace.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks_async.rs
  types/src/on_chain_config/aptos_features.rs
Owners: @msmouse, @lightmark, @grao1991

fix link
  aptos-move/framework/FRAMEWORK-PROVER-GUIDE.md
  aptos-move/move-examples/move-tutorial/README.md
Owners: none

[Telemetry] Improve env variable handling.
  crates/aptos-telemetry/src/service.rs
Owners: none

[Storage Service] Remove auxiliary data support.
  config/src/config/state_sync_config.rs
  state-sync/storage-service/server/src/storage.rs
  state-sync/storage-service/server/src/tests/mock.rs
  state-sync/storage-service/server/src/tests/utils.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
  storage/storage-interface/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

fix prover
  aptos-move/framework/aptos-framework/doc/sui_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
Owners: none

raw ptrs
  Cargo.lock
  experimental/storage/layered-map/Cargo.toml
  experimental/storage/layered-map/proptest-regressions/tests.txt
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/iterator.rs
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/lib.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
  experimental/storage/layered-map/src/node.rs
  experimental/storage/layered-map/src/ref.rs
  experimental/storage/layered-map/src/tests.rs
  experimental/storage/layered-map/work.sh
Owners: none

raw ptrs
  Cargo.lock
  experimental/storage/layered-map/Cargo.toml
  experimental/storage/layered-map/proptest-regressions/tests.txt
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/iterator.rs
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/lib.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
  experimental/storage/layered-map/src/node.rs
  experimental/storage/layered-map/src/ref.rs
  experimental/storage/layered-map/src/tests.rs
  experimental/storage/layered-map/work.sh
Owners: none

raw ptrs
  Cargo.lock
  experimental/storage/layered-map/Cargo.toml
  experimental/storage/layered-map/proptest-regressions/tests.txt
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/iterator.rs
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/lib.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
  experimental/storage/layered-map/src/node.rs
  experimental/storage/layered-map/src/ref.rs
  experimental/storage/layered-map/src/tests.rs
  experimental/storage/layered-map/work.sh
Owners: none

fix link (#17740)
  aptos-move/framework/FRAMEWORK-PROVER-GUIDE.md
  aptos-move/move-examples/move-tutorial/README.md
Owners: none

raw ptrs
  Cargo.lock
  experimental/storage/layered-map/Cargo.toml
  experimental/storage/layered-map/proptest-regressions/tests.txt
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/iterator.rs
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/lib.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
  experimental/storage/layered-map/src/node.rs
  experimental/storage/layered-map/src/ref.rs
  experimental/storage/layered-map/src/tests.rs
  experimental/storage/layered-map/work.sh
Owners: none
