Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

fix epoch duration
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/framework/aptos-framework/doc/reconfiguration.md
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/move-examples/scripts/update_reconfiguration/Move.toml
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/metadata/proposal_1_upgrade_framework.json
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/0-move-stdlib.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/1-aptos-stdlib.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/2-aptos-framework.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/3-aptos-token.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/4-aptos-token-objects.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/metadata/proposal_1_upgrade_framework.json
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/0-move-stdlib.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/1-aptos-stdlib.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/2-aptos-framework.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/3-aptos-token.move
  aptos-move/move-examples/scripts/update_reconfiguration/clone_proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/4-aptos-token-objects.move
  aptos-move/move-examples/scripts/update_reconfiguration/sources/change_epoch_duration.move
  aptos-move/move-examples/scripts/update_reconfiguration/sources/script.move
Owners: none

Streamlined w. macro, replace load_full
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Owners: none

[Priority Fee] Enable on testnet.
  aptos-move/aptos-release-builder/data/enable_priority_fee.yaml
  aptos-move/aptos-release-builder/data/initialize_priority_fee.move
Owners: none

Streamlined w. macro, replace load_full (#17259)
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Owners: none

Misc changes for Rust 1.89
  crates/aptos-enum-conversion-derive/tests/conversion_tests.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/layer.rs
  network/memsocket/src/lib.rs
  third_party/move/move-borrow-graph/src/references.rs
  third_party/move/move-compiler-v2/legacy-move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler-v2/legacy-move-compiler/src/shared/remembering_unique_map.rs
  third_party/move/move-compiler-v2/legacy-move-compiler/src/shared/unique_map.rs
  third_party/move/move-compiler-v2/legacy-move-compiler/src/shared/unique_set.rs
  third_party/move/move-compiler-v2/legacy-move-compiler/src/unit_test/mod.rs
  third_party/move/move-ir-compiler/move-ir-to-bytecode/src/context.rs
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/constant_folder.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
  third_party/move/move-vm/runtime/src/storage/ty_tag_converter.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/tools/move-bytecode-utils/src/lib.rs
  third_party/move/tools/move-bytecode-viewer/src/tui/tui_interface.rs
  third_party/move/tools/move-bytecode-viewer/src/viewer.rs
Owners: @joshlind, @zekun000

Cancel expired txns and txns with auth token expiry in way where correct scheduling deposit refund and storage refund are issued
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/sched_txns_sender_seqno.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/user_func_wrapper.move
  aptos-move/framework/aptos-framework/tests/test_scheduled_txns.move
Owners: none

Create documentation and code formatting using movefmt tool
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/sched_txns_sender_seqno.md
  aptos-move/framework/aptos-framework/doc/scheduled_txns.md
  aptos-move/framework/aptos-framework/doc/user_func_wrapper.md
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/sched_txns_sender_seqno.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/user_func_wrapper.move
  aptos-move/framework/aptos-framework/tests/test_scheduled_txns.move
Owners: none

[scheduled_txns 2/n] Execution of scheduled txns in aptos_vm; E2E move tests
  Cargo.lock
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/scheduled_txn_epilogue_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/scheduled_txn_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/Move.toml
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
  aptos-move/framework/src/natives/code.rs
  crates/aptos-rosetta/src/types/objects.rs
  execution/executor/src/metrics.rs
  storage/backup/backup-cli/src/backup_types/transaction/analysis.rs
  testsuite/smoke-test/src/rosetta.rs
  types/src/transaction/mod.rs
  types/src/transaction/scheduled_txn.rs
  types/src/transaction/use_case.rs
  types/src/transaction/user_transaction_context.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991

Address review comments; rebase from parent branch
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  types/src/transaction/mod.rs
Owners: @banool, @gregnazario, @0xmaayan

Add units tests to check that module publishing is disallowed in scheduled txns
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
Owners: none

Make changes in blockchain core to handle security related changes in framework
  api/types/src/convert.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/price_time_index.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/sched_txns_sender_seqno.md
  aptos-move/framework/aptos-framework/doc/scheduled_txns.md
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/sched_txns_sender_seqno.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/cached-packages/src/aptos_token_objects_sdk_builder.rs
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
  aptos-move/framework/src/natives/debug.rs
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
  types/src/transaction/scheduled_txn.rs
  types/src/transaction/user_transaction_context.rs
Owners: @banool, @gregnazario, @0xmaayan

[zaptos] non-randomness block
  Cargo.lock
  consensus/Cargo.toml
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/counters.rs
  consensus/src/network.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/round_manager.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor/mod.rs
  testsuite/benchmark-workloads/packages/framework_usecases/sources/aggregator_example.move
  vm-validator/src/vm_validator.rs
Owners: @zekun000, @sasha8, @ibalajiarun, @msmouse, @lightmark, @grao1991

[zaptos] add on-chain config
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
  testsuite/smoke-test/src/execution_pool.rs
  testsuite/smoke-test/src/state_sync.rs
  types/src/on_chain_config/consensus_config.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[zaptos] add check for consistency
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/counters.rs
  consensus/src/pipeline/pipeline_builder.rs
  execution/executor-types/src/lib.rs
  types/src/account_config/events/mod.rs
  types/src/account_config/events/randomness_event.rs
Owners: @zekun000, @sasha8, @ibalajiarun, @msmouse, @lightmark, @grao1991

[Storage Service] Disable size and time-aware chunking in Mainnet.
  config/src/config/state_sync_config.rs
Owners: @joshlind, @gregnazario

[Storage Service] Adopt size and time-aware storage logic.
  Cargo.lock
  aptos-node/src/state_sync.rs
  config/src/config/state_sync_config.rs
  state-sync/storage-service/server/Cargo.toml
  state-sync/storage-service/server/src/metrics.rs
  state-sync/storage-service/server/src/storage.rs
  state-sync/storage-service/types/src/responses.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/storage-interface/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage Service] Enable size and time-aware chunking, and update tests.
  config/src/config/state_sync_config.rs
  state-sync/storage-service/server/Cargo.toml
  state-sync/storage-service/server/src/tests/cache.rs
  state-sync/storage-service/server/src/tests/epoch_ending.rs
  state-sync/storage-service/server/src/tests/mock.rs
  state-sync/storage-service/server/src/tests/mod.rs
  state-sync/storage-service/server/src/tests/new_transaction_outputs.rs
  state-sync/storage-service/server/src/tests/new_transactions.rs
  state-sync/storage-service/server/src/tests/new_transactions_or_outputs.rs
  state-sync/storage-service/server/src/tests/optimistic_fetch.rs
  state-sync/storage-service/server/src/tests/response_progress_tracker.rs
  state-sync/storage-service/server/src/tests/state_values.rs
  state-sync/storage-service/server/src/tests/storage_summary.rs
  state-sync/storage-service/server/src/tests/subscribe_transaction_outputs.rs
  state-sync/storage-service/server/src/tests/subscribe_transactions.rs
  state-sync/storage-service/server/src/tests/subscribe_transactions_or_outputs.rs
  state-sync/storage-service/server/src/tests/subscription.rs
  state-sync/storage-service/server/src/tests/transaction_outputs.rs
  state-sync/storage-service/server/src/tests/transactions.rs
  state-sync/storage-service/server/src/tests/transactions_or_outputs.rs
  state-sync/storage-service/server/src/tests/utils.rs
Owners: @joshlind, @gregnazario

[Storage Service] Add default data to the aux info if not present.
  state-sync/storage-service/server/src/storage.rs
Owners: @joshlind

[Hot State] Do not include prev_slot in MakeHot op
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[State Sync] Add progress check to latency monitor.
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/latency_monitor.rs
Owners: @joshlind, @gregnazario

[Hot State] Do not include prev_slot in MakeHot op
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[zaptos] fix no randomness case
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/pipeline/pipeline_builder.rs
  execution/executor/src/block_executor/mod.rs
  testsuite/smoke-test/src/randomness/e2e_correctness.rs
  testsuite/smoke-test/src/randomness/randomness_stall_recovery.rs
  types/src/on_chain_config/consensus_config.rs
Owners: @zekun000, @sasha8, @ibalajiarun, @msmouse, @lightmark, @grao1991

[Hot State] Do not include prev_slot in MakeHot op
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Do not include prev_slot in MakeHot op
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Storage] Add options for RocksDB statistics
  config/src/config/storage_config.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage] Add options for RocksDB statistics
  config/src/config/storage_config.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage] Add options for RocksDB statistics
  config/src/config/storage_config.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

Corresponding blockchain core changes handling re-entrancy; security issues; adding scheduled_txns auth token in generic way
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
  aptos-move/framework/src/natives/debug.rs
  aptos-move/framework/src/natives/transaction_context.rs
  crates/aptos-transaction-filters/src/transaction_filter.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
  types/src/transaction/scheduled_txn.rs
  types/src/transaction/user_transaction_context.rs
Owners: @banool, @gregnazario, @0xmaayan

[Storage] Add options for RocksDB statistics
  config/src/config/storage_config.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[zaptos] non-randomness block
  Cargo.lock
  consensus/Cargo.toml
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/counters.rs
  consensus/src/network.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/round_manager.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor/mod.rs
  testsuite/benchmark-workloads/packages/framework_usecases/sources/aggregator_example.move
  vm-validator/src/vm_validator.rs
Owners: @zekun000, @sasha8, @ibalajiarun, @msmouse, @lightmark, @grao1991

[zaptos] add on-chain config
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
  testsuite/smoke-test/src/execution_pool.rs
  testsuite/smoke-test/src/state_sync.rs
  types/src/on_chain_config/consensus_config.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[zaptos] add check for consistency
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/counters.rs
  consensus/src/pipeline/pipeline_builder.rs
  execution/executor-types/src/lib.rs
  types/src/account_config/events/mod.rs
  types/src/account_config/events/randomness_event.rs
Owners: @zekun000, @sasha8, @ibalajiarun, @msmouse, @lightmark, @grao1991

[zaptos] fix no randomness case
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/pipeline/pipeline_builder.rs
  execution/executor/src/block_executor/mod.rs
  testsuite/smoke-test/src/randomness/e2e_correctness.rs
  testsuite/smoke-test/src/randomness/randomness_stall_recovery.rs
  types/src/on_chain_config/consensus_config.rs
Owners: @zekun000, @sasha8, @ibalajiarun, @msmouse, @lightmark, @grao1991

Block epilogue refactor / optimize / prep for V2 support
  Cargo.lock
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/combinatorial_tests/resource_tests.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/scheduler_status.rs
  aptos-move/block-executor/src/scheduler_v2.rs
  aptos-move/block-executor/src/scheduler_wrapper.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
Owners: none

Block epilogue refactor / optimize / prep for V2 support (#17094)
  Cargo.lock
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/combinatorial_tests/resource_tests.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/scheduler_status.rs
  aptos-move/block-executor/src/scheduler_v2.rs
  aptos-move/block-executor/src/scheduler_wrapper.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
Owners: none

[session][4/n] Versioning structures
  Cargo.lock
  types/Cargo.toml
  types/src/vm/mod.rs
  types/src/vm/versioning.rs
Owners: none

[session][5/n] Tracker for change set size and refunds
  aptos-move/aptos-vm-types/src/storage/change_set_configs.rs
Owners: none

Targeted optimizations for BlockSTMv2
  Cargo.lock
  Cargo.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  types/Cargo.toml
  types/src/state_store/state_value.rs
Owners: none

Targeted optimizations for BlockSTMv2 (#17336)
  Cargo.lock
  Cargo.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  types/Cargo.toml
  types/src/state_store/state_value.rs
Owners: none

Update tests baseline
  third_party/move/tools/move-linter/tests/model_ast_lints/equal_operands_in_bin_op.exp
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
