Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

x86-64-v4
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
Owners: none

.
  execution/executor-benchmark/src/block_preparation.rs
Owners: @msmouse, @lightmark, @grao1991

Reverting change of feature flags for test genesis.
  aptos-move/vm-genesis/src/lib.rs
Owners: none

dummy change
  .cargo/config.toml
Owners: none

x86-64-v2
  .cargo/config.toml
Owners: none

chore: remove redundant words
  crates/aptos/e2e/cases/move.py
  keyless/pepper/service/src/dedicated_handlers/process_common.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/restore.rs
Owners: @msmouse, @lightmark, @grao1991

fix: use datatest_stable for fail-fast tests
  third_party/move/tools/move-unit-test/tests/fail_fast/Move.toml
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest-fast.exp
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest-fast.move
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest.exp
  third_party/move/tools/move-unit-test/tests/fail_fast/unittest.move
  third_party/move/tools/move-unit-test/tests/fail_fast_tests.rs
  third_party/move/tools/move-unit-test/tests/move_unit_test_testsuite.rs
Owners: none

don't panic in OnChainConfigProvider
  state-sync/inter-component/event-notifications/src/lib.rs
Owners: @joshlind

[vm] Add layout caches
  Cargo.lock
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_code_storage.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/layout_cache.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/runtime/src/storage/mod.rs
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/block_executor/config.rs
  vm-validator/src/vm_validator.rs
Owners: none

[vm] Non-generic interpreter function caches
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/session.rs
Owners: none

[vm] Generic per-interpreter function frame caches
  Cargo.lock
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/interpreter_caches.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/loaded_data/mod.rs
  third_party/move/move-vm/types/src/loaded_data/ty_args_fingerprint.rs
Owners: none

[vm] Layout cache for instantiated generics
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_code_storage.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/layout_cache.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/block_executor/config.rs
  vm-validator/src/vm_validator.rs
Owners: none

[vm] More instruction caches
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[benchmarks] Update calibration table to include monotonic counter
  testsuite/single_node_performance.py
  testsuite/single_node_performance_values.tsv
Owners: none

[session][1/n] Introduce versioned native extensions
  aptos-move/aptos-abstract-gas-usage/src/algebra.rs
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/object.rs
  aptos-move/framework/src/natives/randomness.rs
  aptos-move/framework/src/natives/state_storage.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-vm/runtime/src/native_extensions.rs
  third_party/move/tools/move-unit-test/src/extensions.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

[session][2/n] GlobalValue to use Value
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[session][5/n] Tracker for change set size and refunds
  aptos-move/aptos-vm-types/src/storage/change_set_configs.rs
Owners: none

[session][4/n] Versioning structures
  Cargo.lock
  types/Cargo.toml
  types/src/vm/mod.rs
  types/src/vm/versioning.rs
Owners: none

[session][3/n] MoveVM to use data cache trait
  aptos-move/aptos-vm-profiling/src/bins/run_move.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-vm/integration-tests/src/tests/mod.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
Owners: none

[session][7/n] Table versioning
  Cargo.lock
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
Owners: none

[session][6/n] Write op info common infra
  aptos-move/aptos-vm-types/src/lib.rs
  aptos-move/aptos-vm-types/src/write_info_builder.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  third_party/move/move-vm/runtime/src/storage/loader/eager.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  types/src/vm/versioning.rs
  types/src/write_set.rs
Owners: none

change time
  types/src/on_chain_config/timed_features.rs
Owners: none

[lint] Added `empty_if` lint and tests
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/empty_if.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.move
Owners: none

x86-64-v2
  .cargo/config.toml
Owners: none

x86-64-v3
  .cargo/config.toml
Owners: none

x86-64-v3
  .cargo/config.toml
Owners: none

[do not commit] x86-64-v2
  .cargo/config.toml
Owners: none

[do not commit] x86-64-v3
  .cargo/config.toml
Owners: none

[do not commit] x86-64-v3
  .cargo/config.toml
Owners: none

x86-64-v3
  .cargo/config.toml
Owners: none

x86-64-v2
  .cargo/config.toml
Owners: none

dummy change
  .cargo/config.toml
Owners: none

Addressing reviewer comments
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
Owners: none

Ensuring that during tests, no code is trusted. Also adds a mechanism to have different feature flag sets during testing and in prod.
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

Addressing reviewer comments.
  third_party/move/move-binary-format/src/errors.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
Owners: none

Reverting change of feature flags for test genesis.
  aptos-move/vm-genesis/src/lib.rs
Owners: none

Updating calibration values for aptos-move/e2e-benchmark and testsuite/single_node_performance.
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  testsuite/single_node_performance_values.tsv
Owners: none

[compiler-v2] Fix inlining optimization errors
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/tests/inlining-optimization/nested_loop_labels.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/nested_loop_labels.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/wildcard.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/wildcard.move
  third_party/move/move-compiler-v2/transactional-tests/tests/constants/large_vectors.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/control_flow/for_loop_nested_break.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/control_flow/for_loop_non_terminating.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/evaluation_order/lazy_assert.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/evaluation_order/short_circuiting_invalid.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/evaluation_order/struct_arguments.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/bug_11223.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14243_stack_size.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14817_extended.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14817_extended.no-optimize.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14817_extended.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/bug_14817_extended.optimize.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/build_with_warnings.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/assert_one.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy_local.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy_module_lock.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy_nested.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_field_select.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_field_select_different_offsets.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/enum_scoping.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/fv_as_keys.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/print_bytecode.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/optimization/bug_14223_unused_non_droppable.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
Owners: none

capture option
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

capture option (#17632)
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
Owners: none
