Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

[multisig] Add script payload support
  api/src/transactions.rs
  api/types/src/convert.rs
  api/types/src/transaction.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/user_transaction.rs
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  types/src/transaction/multisig.rs
Owners: @banool, @gregnazario, @0xmaayan

fix, remove check in API blocking script multisig
  api/src/transactions.rs
Owners: @banool, @gregnazario, @0xmaayan

[compiler-v2] Fix privileged access error when spec blocks are present (#17478)
  third_party/move/move-compiler-v2/src/env_pipeline/function_checker.rs
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_17477.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_17477.move
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_17477.opt.exp
Owners: none

[multisig] Add test for multisig scripts
  api/src/tests/multisig_transactions_test.rs
  crates/aptos-transaction-filters/src/transaction_filter.rs
  testsuite/generate-format/tests/staged/api.yaml
Owners: @banool, @gregnazario, @0xmaayan

add corpus for multisig script
  testsuite/generate-format/tests/staged/aptos.yaml
Owners: none

Streamlined w. macro, replace load_full
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Owners: none

[vm] Suppress paranoid checks for trusted code
  Cargo.lock
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-binary-format/src/errors.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Owners: none

foo
  aptos-move/framework/src/docgen.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/div.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/inv.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/mod.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/scalar_mul.rs
  aptos-move/framework/src/natives/cryptography/algebra/casting.rs
  aptos-move/framework/src/natives/cryptography/algebra/constants.rs
  aptos-move/framework/src/natives/cryptography/algebra/eq.rs
  aptos-move/framework/src/natives/cryptography/algebra/hash_to_structure.rs
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
  aptos-move/framework/src/natives/cryptography/algebra/new.rs
  aptos-move/framework/src/natives/cryptography/algebra/pairing.rs
  aptos-move/framework/src/natives/cryptography/algebra/rand.rs
  aptos-move/framework/src/natives/cryptography/algebra/serialization.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-node/src/lib.rs
  consensus/safety-rules/src/persistent_safety_storage.rs
  crates/aptos-keygen/src/lib.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos/src/common/init.rs
  crates/aptos/src/common/transactions.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/config/mod.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/move_tool/bytecode.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/mod.rs
  ecosystem/node-checker/src/provider/helpers.rs
  rustfmt.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/storage/command_adapter/tests.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/stream/futures_unordered_x.rs
  storage/backup/backup-cli/src/utils/stream/try_buffered_x.rs
Owners: @zekun000, @sasha8, @ibalajiarun, @msmouse, @lightmark, @grao1991

foo
  aptos-move/framework/src/docgen.rs
  aptos-node/src/lib.rs
  crates/aptos-keygen/src/lib.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/mod.rs
  rustfmt.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/storage/command_adapter/tests.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/stream/try_buffered_x.rs
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-cli/src/base/docgen.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: @msmouse, @lightmark, @grao1991

Update tests baseline
  third_party/move/tools/move-linter/tests/model_ast_lints/equal_operands_in_bin_op.exp
Owners: none

A few changes to prepare for Rust 2024 edition
  aptos-move/framework/src/docgen.rs
  aptos-node/src/lib.rs
  crates/aptos-keygen/src/lib.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/mod.rs
  rustfmt.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/storage/command_adapter/tests.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/stream/try_buffered_x.rs
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-cli/src/base/docgen.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: @msmouse, @lightmark, @grao1991

[gas profiler] fix table rendered
  aptos-move/aptos-gas-profiling/src/render.rs
Owners: none

A few changes to prepare for Rust 2024 edition
  aptos-move/framework/src/docgen.rs
  aptos-node/src/lib.rs
  crates/aptos-keygen/src/lib.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/mod.rs
  rustfmt.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/storage/command_adapter/tests.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/stream/try_buffered_x.rs
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-cli/src/base/docgen.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: @msmouse, @lightmark, @grao1991

[lint] Add empty_if lint and tests
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/empty_if.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.move
Owners: none

[gas profiler] fix table rendered (#17467)
  aptos-move/aptos-gas-profiling/src/render.rs
Owners: none

Block epilogue refactor / optimize / prep for V2 support
  Cargo.lock
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/combinatorial_tests/resource_tests.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/scheduler_status.rs
  aptos-move/block-executor/src/scheduler_v2.rs
  aptos-move/block-executor/src/scheduler_wrapper.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
Owners: none

Create aggregate (unique stack) profile
  aptos-move/aptos-gas-profiling/src/erased.rs
  aptos-move/aptos-gas-profiling/src/lib.rs
  aptos-move/aptos-gas-profiling/src/log.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-gas-profiling/src/render.rs
  aptos-move/aptos-gas-profiling/src/report.rs
  aptos-move/aptos-gas-profiling/src/unique_stack.rs
  crates/aptos/src/common/local_simulation.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-vm/types/src/gas.rs
Owners: none

Add MoveHarnessSend
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-tests/src/golden_outputs.rs
  aptos-move/e2e-tests/src/lib.rs
Owners: none

workflow gas profiling
  Cargo.lock
  aptos-move/e2e-benchmark/Cargo.toml
  aptos-move/e2e-benchmark/src/gas_profiling.rs
  aptos-move/e2e-benchmark/src/lib.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/tests/gas.rs
  crates/transaction-workloads-lib/src/lib.rs
Owners: none

A few changes to prepare for Rust 2024 edition
  aptos-move/framework/src/docgen.rs
  aptos-node/src/lib.rs
  crates/aptos-keygen/src/lib.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/mod.rs
  rustfmt.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/storage/command_adapter/tests.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/stream/try_buffered_x.rs
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-cli/src/base/docgen.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: @msmouse, @lightmark, @grao1991

Targeted optimizations for BlockSTMv2
  Cargo.lock
  Cargo.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  types/Cargo.toml
  types/src/state_store/state_value.rs
Owners: none

[dummy] baseline
  CODE_OF_CONDUCT.md
Owners: none

[exp] no paranoid mode
  aptos-move/aptos-vm-environment/src/prod_configs.rs
Owners: none

[exp] remove need for tys for vecs
  aptos-move/framework/move-stdlib/src/natives/vector.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[exp] pass unmetered gas meter to move vm
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
Owners: none

[exp] remove type nodes calculations and create_ty calls
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[module cache] use storage version instead of hash as key for cache
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_view/db_state_view.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_slot.rs
  vm-validator/src/vm_validator.rs
Owners: @msmouse, @lightmark, @grao1991

WIP
  api/types/src/convert.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/price_time_index.md
  aptos-move/framework/aptos-framework/doc/scheduled_txns.md
  aptos-move/framework/aptos-framework/doc/transaction_context.md
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/cached-packages/src/aptos_token_objects_sdk_builder.rs
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
  aptos-move/framework/src/natives/transaction_context.rs
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
  types/src/transaction/scheduled_txn.rs
  types/src/transaction/user_transaction_context.rs
Owners: @banool, @gregnazario, @0xmaayan

test
  Cargo.lock
  config/src/config/storage_config.rs
  vm-validator/Cargo.toml
  vm-validator/src/vm_validator.rs
Owners: @joshlind, @gregnazario

[forge] adjust memory threshold
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

[coin] remove coinstore from the coin module
  Cargo.lock
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/state_metadata.rs
  aptos-move/framework/aptos-experimental/tests/veiled_coin/veiled_coin_tests.move
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/resource_account.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/move-examples/swap/sources/tests/coin_wrapper_tests.move
  execution/executor-benchmark/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

[Storage] Add options for RocksDB statistics
  config/src/config/storage_config.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage] Add options for RocksDB statistics
  config/src/config/storage_config.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Metrics] Create a thread local version to be used in hot paths
  Cargo.lock
  aptos-move/block-executor/src/counters.rs
  crates/aptos-metrics-core/Cargo.toml
  crates/aptos-metrics-core/src/lib.rs
  crates/aptos-metrics-core/src/thread_local.rs
Owners: none

[Storage] Use thread local counters
  Cargo.lock
  storage/aptosdb/src/metrics.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/metrics.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/batch.rs
  storage/schemadb/src/lib.rs
  storage/schemadb/src/metrics.rs
  storage/scratchpad/src/sparse_merkle/metrics.rs
  storage/storage-interface/src/metrics.rs
Owners: @msmouse, @lightmark, @grao1991

[Metrics] Create a thread local version to be used in hot paths
  Cargo.lock
  aptos-move/block-executor/src/counters.rs
  crates/aptos-metrics-core/Cargo.toml
  crates/aptos-metrics-core/src/lib.rs
  crates/aptos-metrics-core/src/thread_local.rs
Owners: none

A few changes to prepare for Rust 2024 edition
  aptos-move/framework/src/docgen.rs
  aptos-node/src/lib.rs
  crates/aptos-keygen/src/lib.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/mod.rs
  rustfmt.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/storage/command_adapter/tests.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/stream/try_buffered_x.rs
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-cli/src/base/docgen.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: @msmouse, @lightmark, @grao1991

[Storage] Add options for RocksDB statistics
  config/src/config/storage_config.rs
  storage/rocksdb-options/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[forge] bump deployer version
  testsuite/forge/src/backend/k8s_deployer/constants.rs
Owners: none

[Metrics] Create a thread local version to be used in hot paths
  Cargo.lock
  aptos-move/block-executor/src/counters.rs
  crates/aptos-metrics-core/Cargo.toml
  crates/aptos-metrics-core/src/lib.rs
  crates/aptos-metrics-core/src/thread_local.rs
Owners: none
