Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

fastcall
  aptos-move/aptos-vm-profiling/fastcall/empty_loop.mvir
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_4 copy.mvir
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/transactional-tests/tests/tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

capture option
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

capture option
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

capture option (#17654)
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

capture option (#17571)
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

add
  aptos-move/aptos-vm/src/aptos_vm.rs
Owners: none

[aptos-release-v1.35] Bump version to 1.35.4
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

if APTOS_FRAMEWORK_BUILD_PATH= is set in debug build, override aptos framework build path to skip builds on recompilation
  aptos-move/framework/cached-packages/build.rs
  aptos-move/framework/cached-packages/src/lib.rs
Owners: none

Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Owners: @velor-chain/prod-eng, @velor-chain/security

Bumped version number of aptos-dkg
  Cargo.lock
  crates/aptos-dkg/Cargo.toml
Owners: none

slow verification working
  aptos-move/move-examples/sigma_protocols/sources/homomorphism.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
Owners: none

add Move framework for proving (and verifying) knowledge of a preimage of a homomorphism
  aptos-move/move-examples/sigma_protocols/Move.toml
  aptos-move/move-examples/sigma_protocols/README.md
  aptos-move/move-examples/sigma_protocols/sources/homomorphism.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_keyrot_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
  aptos-move/move-examples/sigma_protocols/sources/public_statement.move
  aptos-move/move-examples/sigma_protocols/sources/representation.move
  aptos-move/move-examples/sigma_protocols/sources/representation_vec.move
  aptos-move/move-examples/tests/move_unit_tests.rs
  crates/aptos-dkg/benches/crypto.rs
Owners: none

error: vector operation error with sub-status 1
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_pedeq_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
  aptos-move/move-examples/sigma_protocols/sources/representation.move
Owners: none

all verification tests pass now
  aptos-move/move-examples/sigma_protocols/Move.toml
  aptos-move/move-examples/sigma_protocols/sources/example_pedeq.move
  aptos-move/move-examples/sigma_protocols/sources/example_schnorr.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_keyrot_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_pedeq_example.move
  aptos-move/move-examples/sigma_protocols/sources/homomorphism_schnorr_example.move
  aptos-move/move-examples/sigma_protocols/sources/proof.move
  aptos-move/move-examples/sigma_protocols/sources/public_statement.move
  aptos-move/move-examples/sigma_protocols/sources/representation.move
  aptos-move/move-examples/sigma_protocols/sources/representation_vec.move
  aptos-move/move-examples/sigma_protocols/sources/secret_witness.move
  aptos-move/move-examples/sigma_protocols/sources/utils.move
  crates/aptos-crypto/benches/bulletproofs_batch_verify.rs
Owners: none

Rust lint
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_empty_range.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_invalid_limit.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_invalid_start_version.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_start_version_too_large.json
  api/src/tests/transactions_test.rs
  api/src/transactions.rs
  api/test-context/src/test_context.rs
  api/types/src/transaction.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  crates/aptos-rest-client/src/lib.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991

Aptos Debugger changes for Monotonically Increasing Counter
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-debugger/src/bin/remote-gas-profiler.rs
  aptos-move/aptos-debugger/src/execute_pending_block.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/replay-benchmark/src/commands/download.rs
  crates/aptos/src/common/local_simulation.rs
  crates/aptos/src/common/transactions.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
  storage/storage-interface/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

Use primary fungible store in more efficient way
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
Owners: none

Aptos Debugger changes for Monotonically Increasing Counter (#17410)
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_empty_range.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_invalid_limit.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_invalid_start_version.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_auxiliary_info_start_version_too_large.json
  api/src/tests/transactions_test.rs
  api/src/transactions.rs
  api/test-context/src/test_context.rs
  api/types/src/transaction.rs
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-debugger/src/bin/remote-gas-profiler.rs
  aptos-move/aptos-debugger/src/execute_pending_block.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/replay-benchmark/src/commands/download.rs
  crates/aptos-rest-client/src/lib.rs
  crates/aptos/src/common/local_simulation.rs
  crates/aptos/src/common/transactions.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
  storage/storage-interface/src/lib.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991

te
  types/Cargo.toml
Owners: none

te
  types/Cargo.toml
Owners: none

fix: use new version x25519-dalek #13
  Cargo.toml
  crates/aptos-crypto/src/x25519.rs
Owners: none

add variant NoneForFuzz
  api/types/src/transaction.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  crates/aptos-transaction-filters/src/transaction_filter.rs
  types/src/transaction/authenticator.rs
Owners: @banool, @gregnazario, @0xmaayan, @alinush, @mstraka100

no double lookup during dispatch
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

Change backend of DeKART to Arkworks (#17617)
  Cargo.lock
  Cargo.toml
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/evaluation_domain.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

First step
  Cargo.toml
Owners: none

Ported range proof (and tests and benches) compile
  Cargo.toml
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
Owners: none

Many changes
  Cargo.toml
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
Owners: none

Forgot to add test_utils.rs
  Cargo.toml
  crates/aptos-dkg/src/range_proofs/traits.rs
Owners: none

More changes
  crates/aptos-dkg/Cargo.toml
Owners: none

Remove dependency from Cargo.toml
  Cargo.toml
Owners: none

Renamed ScalarOld
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Owners: none

Does this fix work?
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Owners: none

Addressed various comments
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/utils/mod.rs
Owners: none

Addressed more comments
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/utils/mod.rs
Owners: none

Wrote initial version of trait
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

default
  types/src/on_chain_config/aptos_features.rs
Owners: none

More stuff
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/tests/range_proof.rs
Owners: none

[Keyless] Clean up pepper request handler.
  Cargo.lock
  keyless/pepper/service/Cargo.toml
  keyless/pepper/service/src/accounts/account_managers.rs
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/mod.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/dedicated_handlers/process_common.rs
  keyless/pepper/service/src/tests/process_common.rs
Owners: none

decide settled_price in settle_trade
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

Passing tests
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/utils/test_utils.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
