Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

lint
  crates/aptos-in-memory-cache/src/caches/sync_mutex.rs
Owners: none

add script to automate building and running with PGO
  Cargo.lock
  aptos-move/aptos-vm-profiling/Cargo.toml
  aptos-move/aptos-vm-profiling/src/bins/run_aptos_p2p.rs
  aptos-move/aptos-vm-profiling/src/profile_aptos_vm.rs
  scripts/pgo.sh
Owners: @velor-chain/prod-eng

[Storage] Lower number of background jobs and threads
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[move core] Allow Identifiers to contain `$`
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  third_party/move/move-binary-format/src/deserializer.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-core/types/src/identifier.rs
  third_party/move/move-vm/runtime/src/debug.rs
  third_party/move/tools/move-asm/tests/assembler/dollar_names.exp
  third_party/move/tools/move-asm/tests/assembler/dollar_names.masm
  third_party/move/tools/move-asm/tests/assembler/round-trip/dollar_names.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/dollar_names.disassembled.exp
  types/src/on_chain_config/aptos_features.rs
Owners: none

max 4 background threads
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

max 6 background threads
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

max 8 background threads
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[compiler] fix a bug in converting file format to stackless bytecode
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/issue_17412.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/issue_17412.move
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/issue_17412.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/issue_17412.decompiled.baseline.exp
  third_party/move/move-model/bytecode/src/stackless_bytecode_generator.rs
Owners: none

[Storage] Lower number of background jobs and threads
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

Env and low/high-pri threads
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

find abort source
  third_party/move/move-binary-format/src/errors.rs
Owners: none

more error details
  aptos-move/framework/aptos-stdlib/doc/table.md
  aptos-move/framework/aptos-stdlib/sources/table.move
  third_party/move/move-binary-format/src/errors.rs
Owners: none

Env and low/high-pri threads
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[linter] Use only warning from primary targets (#17822)
  aptos-move/framework/src/built_package.rs
  third_party/move/move-model/src/model.rs
Owners: none

[Storage] Smooth out RocksDB compactions
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

Add is_enum field to ABI (#17816)
  .github/actions/python-setup/action.yaml
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__state_test__test_get_account_module.json
  api/src/tests/modules.rs
  api/src/tests/move/pack_abi/sources/test.move
  api/types/src/bytecode.rs
  api/types/src/move_types.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/python/poetry.lock
  protos/python/pyproject.toml
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/typescript/src/aptos/transaction/v1/transaction.ts
Owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan

[ci] Fix poetry
  testsuite/pyproject.toml
  testsuite/replay-verify/pyproject.toml
Owners: none

Improved tests.
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.move
Owners: none

[ci] Fix poetry (#17839)
  testsuite/pyproject.toml
  testsuite/replay-verify/pyproject.toml
Owners: none

[benchmark] Benchmark for locals
  aptos-move/e2e-benchmark/src/bin/locals_bench.rs
  crates/transaction-workloads-lib/prebuilt.mpb
  crates/transaction-workloads-lib/src/lib.rs
  crates/transaction-workloads-lib/src/move_workloads.rs
  testsuite/benchmark-workloads/packages/locals/Move.toml
  testsuite/benchmark-workloads/packages/locals/sources/locals.move
Owners: none

[vm] Optimize local types storage in frames
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/bin/locals_bench.rs
  crates/transaction-workloads-lib/prebuilt.mpb
  testsuite/benchmark-workloads/packages/locals/sources/locals.move
  testsuite/single_node_performance_values.tsv
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
Owners: none

[compiler] fix a bug in converting file format to stackless bytecode
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/issue_17412.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/issue_17412.move
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/issue_17412.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/issue_17412.decompiled.baseline.exp
  third_party/move/move-model/bytecode/src/stackless_bytecode_generator.rs
Owners: none

Working finally, but need to clean it up
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Commented out a bench
  crates/aptos-dkg/benches/range_proof.rs
Owners: none

[vm] Optimize local types storage in frames (#17741)
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/bin/locals_bench.rs
  crates/transaction-workloads-lib/prebuilt.mpb
  crates/transaction-workloads-lib/src/lib.rs
  crates/transaction-workloads-lib/src/move_workloads.rs
  testsuite/benchmark-workloads/packages/locals/Move.toml
  testsuite/benchmark-workloads/packages/locals/sources/locals.move
  testsuite/single_node_performance_values.tsv
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
Owners: none

Change custom bench to do 10 runs
  crates/aptos-dkg/benches/range_proof.rs
Owners: none

[vm] Runtime tracing & post-commit replay infrastructure
  Cargo.lock
  aptos-move/aptos-vm-environment/src/environment.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/replay-benchmark/src/commands/benchmark.rs
  aptos-node/src/utils.rs
  config/src/config/execution_config.rs
  execution/executor-benchmark/src/main.rs
  execution/executor-benchmark/src/native/native_vm.rs
  storage/db-tool/src/replay_on_archive.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/execution_tracing/loggers.rs
  third_party/move/move-vm/runtime/src/execution_tracing/mod.rs
  third_party/move/move-vm/runtime/src/execution_tracing/trace.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks_async.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

Addressing reviewer comments
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  aptos-move/aptos-sdk-builder/src/common.rs
  aptos-move/aptos-sdk-builder/src/golang.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-bytecode-verifier/src/reference_safety/mod.rs
  third_party/move/move-bytecode-verifier/src/stack_usage_verifier.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-ir/types/src/ast.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/gas.rs
  third_party/move/testing-infra/transactional-test-runner/tests/vm_test_harness/round-trip/print_move_bytecode.disassembled.exp
  third_party/move/tools/move-asm/src/value.rs
Owners: none

Connecting assembler and adding transactional tests. Fixing a bug in type serialization.
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
  third_party/move/tools/move-asm/src/assembler.rs
  third_party/move/tools/move-asm/src/syntax.rs
  third_party/move/tools/move-asm/src/value.rs
  third_party/move/tools/move-asm/tests/assembler/constants_errors.exp
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.masm
Owners: none

Fixing code deserializer.
  Cargo.lock
  third_party/move/move-binary-format/serializer-tests/Cargo.toml
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.proptest-regressions
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
Owners: none

Addressing reviewer comments.
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-bytecode-verifier/src/type_safety.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

fix a comment
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Fixing baseline tests after rebase
  aptos-move/framework/src/natives/string_utils.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/generate-format/tests/staged/move_abi.yaml
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
  types/src/on_chain_config/aptos_features.rs
Owners: none

[vm sint] revoke `DerefVisitor` on `visit_vec_u16`, `visit_vec_u32`, `visit_vec_u256` (for compatibility)
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
Owners: none

[vm sint] redefine u256/i256 debug format & add paraniod ty check on negate
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Owners: none

[vm sint] clean up casting to u256/i256 and revise div error msg
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm sint] remove definitions of bitwise operations on signed int
  third_party/move/move-core/types/src/int256.rs
Owners: none

rebase
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm sint]: update `CastNxx` bytecode semantics
  third_party/move/move-binary-format/src/file_format.rs
Owners: none

add enable_framework_for_option
  api/src/tests/view_function.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/remote_state.rs
  aptos-move/e2e-move-tests/src/tests/string_utils.rs
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
Owners: @banool, @gregnazario, @0xmaayan
