Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

[compiler-v2] Experimental: all targets inlining
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
Owners: none

[indexer-grpc] Do not panic whenn starting version is not set (#17570)
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/fullnode_data_service.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/localnet_data_service.rs
Owners: none

refactor for modularity
  aptos-move/framework/aptos-framework/doc/common_account_abstractions_utils.md
  aptos-move/framework/aptos-framework/doc/ethereum_derivable_account.md
  aptos-move/framework/aptos-framework/doc/solana_derivable_account.md
  aptos-move/framework/aptos-framework/doc/sui_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/common_account_abstractions_utils.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/ethereum_derivable_account.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/solana_derivable_account.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
  testsuite/smoke-test/src/sui_derivable_account.rs
Owners: none

capture option
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/function_value_capture_option.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

[transaction simulation infra] fix get_resource
  Cargo.lock
  aptos-move/aptos-transaction-simulation/src/state_store.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Owners: none

[qs] subscribe only at fetch
  consensus/src/quorum_store/batch_store.rs
Owners: @bchocho, @sasha8, @gelash

[consensus] parallelize verify opt proposal
  consensus/consensus-types/src/opt_proposal_msg.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[simulation] patch randomness seed
  api/src/tests/move/pack_rand/Move.toml
  api/src/tests/move/pack_rand/sources/counter.move
  api/src/tests/simulation_test.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
Owners: @banool, @gregnazario, @0xmaayan

add timed feature flag
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

disable vm tracing
  third_party/move/move-vm/runtime/src/tracing.rs
Owners: none

format
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/proposal_ext.rs
  consensus/src/consensus_observer/network/observer_message.rs
  consensus/src/payload_manager/quorum_store_payload_manager.rs
  consensus/src/util/db_tool.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[transaction simulation infra] fix get_resource (#17567)
  Cargo.lock
  aptos-move/aptos-transaction-simulation/src/state_store.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Owners: none

aggresstive inlining in the Move VM interpreter loop
  aptos-move/aptos-vm-profiling/src/main.rs
  third_party/move/move-vm/metrics/src/lib.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

cherry-pick low-level vm optimizations (#17578)
  aptos-move/aptos-vm-profiling/src/main.rs
  third_party/move/move-vm/metrics/src/lib.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/runtime/src/tracing.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Add a check in transaction validation
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

Rust lint
  api/doc/spec.json
  api/doc/spec.yaml
  api/src/transactions.rs
  api/types/src/transaction.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  crates/aptos-rest-client/src/lib.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
Owners: @banool, @gregnazario, @0xmaayan, @msmouse, @lightmark, @grao1991

Added unit tests
  Cargo.lock
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/src/unit_tests/arkworks_upgrade.rs
  crates/aptos-crypto/src/unit_tests/mod.rs
Owners: none

Applied Rust fmt
  crates/aptos-crypto/src/unit_tests/arkworks_upgrade.rs
Owners: none

Add license
  crates/aptos-crypto/src/unit_tests/arkworks_upgrade.rs
Owners: none

Small tweak
  crates/aptos-crypto/src/unit_tests/arkworks_upgrade.rs
Owners: none

Add feature flag
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/src/unit_tests/mod.rs
Owners: none

[forge] bump deployer version
  testsuite/forge/src/backend/k8s_deployer/constants.rs
Owners: none

Enable stats for jemalloc
  Cargo.toml
Owners: none

Enable stats for jemalloc
  Cargo.toml
Owners: none

[Hot State] Prepare for having all checkpoint indices in StateUpdateRefs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Wrap configuration in a struct and pass to state construction
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Wrap configuration in a struct and pass to state construction
  execution/executor-types/src/execution_output.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Owners: @msmouse, @lightmark, @grao1991

[github] Remove links workflow
  .github/workflows/links.yml
Owners: @velor-chain/prod-eng

feat: update blst version
  Cargo.lock
  Cargo.toml
Owners: none

[Indexer gRPC v2] gRPC Gateway (#17435)
  Cargo.lock
  Cargo.toml
  docker/builder/build-indexer.sh
  docker/builder/indexer-grpc.Dockerfile
  ecosystem/indexer-grpc/indexer-grpc-gateway/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-gateway/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-gateway/src/gateway.rs
  ecosystem/indexer-grpc/indexer-grpc-gateway/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-gateway/src/main.rs
Owners: @velor-chain/prod-eng

[exp] add layout cache and share via arc
  Cargo.lock
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[dummy] baseline
  CODE_OF_CONDUCT.md
Owners: none

[exp] remove need for tys for vecs
  aptos-move/framework/move-stdlib/src/natives/vector.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[exp] pass unmetered gas meter to move vm
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
Owners: none

[exp] remove type nodes calculations and create_ty calls
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

[exp] no paranoid mode
  aptos-move/aptos-vm-environment/src/prod_configs.rs
Owners: none

Enable stats for jemalloc
  Cargo.toml
Owners: none

Enable stats for jemalloc
  Cargo.toml
Owners: none

Rust 2024 Edition
  aptos-move/framework/src/docgen.rs
  aptos-node/src/lib.rs
  crates/aptos-crypto-derive/src/lib.rs
  crates/aptos-crypto/src/hash.rs
  crates/aptos-keygen/src/lib.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/mod.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/user_transaction.rs
  rustfmt.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/storage/command_adapter/tests.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/stream/try_buffered_x.rs
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-cli/src/base/docgen.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: @msmouse, @lightmark, @grao1991

Rust 2024 Edition
  aptos-move/framework/src/docgen.rs
  aptos-node/src/lib.rs
  crates/aptos-crypto-derive/src/lib.rs
  crates/aptos-crypto/src/hash.rs
  crates/aptos-keygen/src/lib.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/mod.rs
  ecosystem/indexer-grpc/transaction-filter/src/filters/user_transaction.rs
  rustfmt.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/storage/command_adapter/tests.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/stream/try_buffered_x.rs
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-cli/src/base/docgen.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Owners: @msmouse, @lightmark, @grao1991
