Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

Add Blockmetadata in Executor benchmark
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/db_reliable_submitter.rs
  execution/executor-benchmark/src/ledger_update_stage.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/native/native_transaction.rs
  execution/executor-benchmark/src/native/native_vm.rs
  execution/executor-benchmark/src/native/parallel_uncoordinated_block_executor.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance.py
  testsuite/single_node_performance_values.tsv
Owners: @msmouse, @lightmark, @grao1991

Bump target-cpu to x86-64-v3
  .cargo/config.toml
  testsuite/single_node_performance_values.tsv
Owners: none

[Telemetry] Improve env variable handling.
  crates/aptos-telemetry/src/service.rs
Owners: none

[Storage Service] Remove auxiliary data support.
  config/src/config/state_sync_config.rs
  state-sync/storage-service/server/src/storage.rs
  state-sync/storage-service/server/src/tests/mock.rs
  state-sync/storage-service/server/src/tests/utils.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
  storage/storage-interface/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[mempool] catch potential vm validator panics
  vm-validator/src/vm_validator.rs
Owners: none

[api] catch panics in API
  api/src/error_converter.rs
  api/src/runtime.rs
Owners: @banool, @gregnazario, @0xmaayan

[replay-verify] increase pvc ttl
  testsuite/replay-verify/main.py
Owners: none

[replay-verify] increase pvc ttl (#17732)
  testsuite/replay-verify/main.py
Owners: none

Implement custom deserialization and add tests
  aptos-move/aptos-gas-schedule-updator/src/lib.rs
  aptos-move/aptos-gas-schedule-updator/src/main.rs
  aptos-move/aptos-gas-schedule-updator/tests/gen_tests.rs
  types/src/on_chain_config/gas_schedule.rs
Owners: none

feat: allow to suppress printing errors to stderr
  aptos-move/framework/src/built_package.rs
  crates/aptos/src/move_tool/coverage.rs
  crates/aptos/src/move_tool/mod.rs
  third_party/move/move-compiler-v2/src/options.rs
  third_party/move/move-prover/src/lib.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
  third_party/move/tools/move-package/src/lib.rs
Owners: none

turn all full ast simplify
  third_party/move/move-compiler-v2/src/experiments.rs
Owners: none

turn all inlining
  third_party/move/move-compiler-v2/src/experiments.rs
Owners: none

Addressed more comments
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/utils/mod.rs
Owners: none

Updated FS code
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/sigma_protocol.rs
Owners: none

Addressed some of Alin's comments
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/pvss/das/unweighted_protocol.rs
  crates/aptos-dkg/src/pvss/das/weighted_protocol.rs
  crates/aptos-dkg/src/pvss/insecure_field/transcript.rs
  crates/aptos-dkg/src/pvss/traits/transcript.rs
  crates/aptos-dkg/src/pvss/weighted/generic_weighting.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
Owners: none

Added comments to msm.rs
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/algebra/morphism.rs
  crates/aptos-dkg/src/algebra/msm.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/sigma_protocol.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Remove dependency from Cargo.toml
  Cargo.toml
Owners: none

Addressed various comments
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/utils/mod.rs
Owners: none

Removed some comments
  crates/aptos-dkg/src/algebra/morphism.rs
Owners: none

Does this fix work?
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Owners: none

Many changes
  crates/aptos-dkg/Cargo.toml
Owners: none

More changes
  crates/aptos-dkg/Cargo.toml
Owners: none

First step
  Cargo.toml
Owners: none

First steps
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_proof.rs
  crates/aptos-dkg/src/sigma_protocol.rs
Owners: none

Small stuff
  crates/aptos-dkg/src/range_proofs/traits.rs
Owners: none

Removed some comments
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/sigma_protocol.rs
Owners: none

Renamed ScalarOld
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Owners: none

First attempt
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/algebra/morphism.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pcs/mod.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/mod.rs
  crates/aptos-dkg/src/pvss/mod.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/sigma_protocol.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

set MAX_CALLER_CODE_SIZE to 2048
  aptos-move/framework/aptos-experimental/doc/confidential_asset.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/price_time_index.md
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/aptos_coin.md
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/managed_coin.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/vesting.md
  aptos-move/framework/aptos-stdlib/doc/smart_table.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/move-stdlib/doc/acl.md
  aptos-move/framework/move-stdlib/doc/features.md
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
Owners: none

[lint] Added `empty_range` lint and tests
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/empty_range.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_range.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_range.move
Owners: none

Exposed `FOR_LOOP_UPPER_BOUND_VALUE`
  third_party/move/move-compiler-v2/legacy-move-compiler/src/parser/syntax.rs
Owners: none

[replay-verify] increase worker count
  testsuite/replay-verify/main.py
Owners: none

[Keyless] Add simple test for pepper generation.
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/tests/mod.rs
Owners: none

[replay-verify] increase worker count (#17738)
  testsuite/replay-verify/main.py
Owners: none

Catch potential panics without crashing the node (#17727)
  api/src/error_converter.rs
  api/src/runtime.rs
  vm-validator/src/vm_validator.rs
Owners: @banool, @gregnazario, @0xmaayan

chore: fix lint
  aptos-move/move-examples/my_first_dapp/contract/sources/todolist.move
Owners: none

raw ptrs
  Cargo.lock
  experimental/storage/layered-map/Cargo.toml
  experimental/storage/layered-map/src/flatten_perfect_tree.rs
  experimental/storage/layered-map/src/iterator.rs
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/map/new_layer_impl.rs
  experimental/storage/layered-map/src/node.rs
  experimental/storage/layered-map/src/ref.rs
  experimental/storage/layered-map/src/tests.rs
Owners: none

[Orderbook] Clearinghouse API Cleanup (#17718)
  aptos-move/framework/aptos-experimental/doc/market_clearinghouse_order_info.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_clearinghouse_order_info.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

tune 512
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
Owners: none

Remove source_expr
  third_party/move/tools/move-linter/src/model_ast_lints/find_unnecessary_casts.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
