Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

Rename files
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/simplifiable_boolean_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simplifiable_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simplifiable_boolean_expression.move
Owners: none

Add several tests and support `ExpData::Call` type
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
  third_party/move/tools/move-linter/tests/model_ast_lints/simplifiable_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simplifiable_boolean_expression.move
Owners: none

Add tests
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.move
Owners: none

Add vector tests
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Update third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Disable idempotence, contradiction and tautology when the expressions are known constants. Only evaluate side-effect free equality on expressions (remove `move-functions`)
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Add double negation support
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Update detector
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
Owners: none

Update naming and prevent panic on unwrap
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_boolean_expressions.rs
Owners: none

Update linter suggestions
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.move
Owners: none

Updated comments
  third_party/move/tools/move-linter/src/model_ast_lints/simpler_bool_expression.rs
Owners: none

Add detector to base
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

Add distributive law and remove already existing checks
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_boolean_expressions.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_boolean_expression.move
Owners: none

Add redundant boolean expression detector
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_boolean_expressions.rs
Owners: none

Rename detector for more accurate representation
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_boolean_expressions.rs
Owners: none

[Hot State] Do not include prev_slot in MakeHot op
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

UPBL
  third_party/move/tools/move-linter/tests/model_ast_lints/aborting_overflow_checks.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/aborting_overflow_checks.move
  third_party/move/tools/move-linter/tests/model_ast_lints/equal_operands_in_bin_op.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/equal_operands_in_bin_op.move
Owners: none

[consensus] do not send opt proposal under backpressure
  consensus/src/liveness/proposal_generator.rs
  consensus/src/round_manager.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[Hot State] Have all checkpoint indices in StateUpdateRefs
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

[consensus] do not send opt proposal under backpressure (#17542)
  consensus/src/liveness/proposal_generator.rs
  consensus/src/round_manager.rs
Owners: @zekun000, @sasha8, @ibalajiarun

Add linter with test-cases
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/known_to_abort.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/known_to_abort.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/known_to_abort.move
Owners: none

Fix fmt
  third_party/move/tools/move-linter/src/model_ast_lints/known_to_abort.rs
Owners: none

Remove trailing line
  third_party/move/tools/move-linter/tests/model_ast_lints/known_to_abort.move
Owners: none

Apply suggestion from @junxzm1990
  third_party/move/tools/move-linter/src/model_ast_lints/known_to_abort.rs
Owners: none

Add requested change
  third_party/move/tools/move-linter/src/model_ast_lints/known_to_abort.rs
Owners: none

[Hot State] Have all checkpoint indices in StateUpdateRefs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Have all checkpoint indices in StateUpdateRefs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Do not include prev_slot in MakeHot op
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/write_set.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Prepare for having all checkpoint indices in StateUpdateRefs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

[Hot State] Prepare for having all checkpoint indices in StateUpdateRefs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
Owners: @msmouse, @lightmark, @grao1991

chore: gen scripts bytecode v7 for latest framework
  aptos-move/aptos-release-builder/data/release.yaml
  proposals/metadata/proposal_1_upgrade_framework.json
  proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/0-move-stdlib.move
  proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/1-aptos-stdlib.move
  proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/2-aptos-framework.move
  proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/3-aptos-token.move
  proposals/sources/vX.YY.Z/proposal_1_upgrade_framework/4-aptos-token-objects.move
Owners: none

Increase replay-verify disk TTL to 9 hours
  testsuite/replay-verify/main.py
Owners: none

[Keyless] Add "dedicated_handlers" directory.
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/mod.rs
  keyless/pepper/service/src/dedicated_handlers/process_common.rs
  keyless/pepper/service/src/lib.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/process_common.rs
Owners: none

[Keyless] Add "accounts" directory to the pepper service.
  keyless/pepper/service/src/account_db.rs
  keyless/pepper/service/src/accounts/account_db.rs
  keyless/pepper/service/src/accounts/account_managers.rs
  keyless/pepper/service/src/accounts/mod.rs
  keyless/pepper/service/src/dedicated_handlers/process_common.rs
  keyless/pepper/service/src/lib.rs
  keyless/pepper/service/src/main.rs
Owners: none

[Keyless] Add "external_resources" directory.
  keyless/pepper/service/src/external_resources/groth16_vk.rs
  keyless/pepper/service/src/external_resources/jwk_fetcher.rs
  keyless/pepper/service/src/external_resources/keyless_config.rs
  keyless/pepper/service/src/external_resources/mod.rs
  keyless/pepper/service/src/external_resources/resource_fetcher.rs
  keyless/pepper/service/src/lib.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/request_handler.rs
Owners: none

[Keyless] Rename "resources" to "test_resources"
  keyless/pepper/README.md
  keyless/pepper/service/src/tests/test_resources/groth16_vk.json
  keyless/pepper/service/src/tests/test_resources/keyless_config.json
Owners: none

output per txn in benchmark measurement
  Cargo.lock
  execution/executor-benchmark/Cargo.toml
  execution/executor-benchmark/src/measurements.rs
Owners: @msmouse, @lightmark, @grao1991

[aptos-release-v1.35] Bump version to 1.35.2
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

Increase replay-verify disk TTL to 9 hours
  testsuite/replay-verify/main.py
Owners: none

[Keyless] Add "dedicated_handlers" directory.
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/mod.rs
  keyless/pepper/service/src/dedicated_handlers/process_common.rs
  keyless/pepper/service/src/lib.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/process_common.rs
Owners: none
