Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

[docker] add release-builder to tools image incl source
  docker/builder/tools.Dockerfile
Owners: @velor-chain/prod-eng

fastcall
  aptos-move/aptos-vm-profiling/fastcall/empty_loop.mvir
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_4 copy.mvir
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/transactional-tests/tests/tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

no double lookup during dispatch
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

pack & pack generic
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
Owners: none

vec pack
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
Owners: none

genesis issue with fv and 2.2 / v8 move version
  Cargo.lock
  aptos-move/aptos-workspace-server/Cargo.toml
  aptos-move/aptos-workspace-server/src/services/node.rs
Owners: none

connect to node config and ability to enable (#17677)
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-node/src/utils.rs
  config/src/config/execution_config.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

max size
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Owners: none

compressed
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Owners: none

[docker] add release-builder to tools image incl source (#17694)
  docker/builder/tools.Dockerfile
Owners: @velor-chain/prod-eng

no compression
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Owners: none

Increase gRPC data service max encoding and decoding message size (#17696)
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Owners: none

[forge] bump deployer version
  testsuite/forge/src/backend/k8s_deployer/constants.rs
Owners: none

[Move VM] aggressive rust inlining: batch 1
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 3
  aptos-move/aptos-native-interface/src/context.rs
  third_party/move/move-core/types/src/function.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: value cast & Stack::pop_as
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 2
  third_party/move/move-vm/metrics/src/lib.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 4
  aptos-move/aptos-gas-meter/src/algebra.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: vector ops
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 5
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: gate by cargo feature flag
  aptos-move/aptos-vm-profiling/src/profile_aptos_vm.rs
  aptos-move/aptos-vm-profiling/src/profile_move_vm.rs
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/runtime/src/storage/verified_module_cache.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[forge] tune memory threshold
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

[consensus] replace old pending commit proof with new one
  consensus/src/block_storage/sync_manager.rs
  consensus/src/pipeline/buffer_manager.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[rand] fix the race condition of blocks re-enter
  consensus/src/rand/rand_gen/rand_manager.rs
  consensus/src/rand/rand_gen/rand_store.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[chore] bump gas version on main branch for 38 release
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

[chore] bump gas version on main branch for 38 release
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

[chore] bump gas version on main branch for 38 release
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

[chore] bump gas version on main branch for 1.38 release
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

[chore] bump gas version on main branch for 1.38 release
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

[aptos node] disable feature flag move-vm-runtime/debugging by moving move-cli out of its dependency tree
  Cargo.lock
  aptos-move/framework/Cargo.toml
  aptos-move/framework/src/extended_checks.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  aptos-node/Cargo.toml
  aptos-node/src/main.rs
  aptos-node/src/utils.rs
  crates/aptos/src/move_tool/aptos_debug_natives.rs
  third_party/move/move-vm/runtime/src/tracing.rs
Owners: none

Address review comments; do better error handling which processing scheduled txn
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/scheduled_txn_epilogue_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/scheduled_txn_session.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/e2e-move-tests/src/tests/sched_txns_vm_tests.rs
  aptos-move/e2e-move-tests/src/tests/scheduled_txns.data/sources/main.move
  aptos-move/framework/aptos-framework/doc/scheduled_txns.md
  aptos-move/framework/aptos-framework/doc/user_func_wrapper.md
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/scheduled_txns.move
  aptos-move/framework/aptos-framework/sources/scheduled_transactions/user_func_wrapper.move
  aptos-move/framework/aptos-framework/tests/test_scheduled_txns.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
  types/src/transaction/scheduled_txn.rs
Owners: @banool, @gregnazario, @0xmaayan

[consensus] replace old pending commit proof with new one
  consensus/src/block_storage/sync_manager.rs
  consensus/src/pipeline/buffer_manager.rs
Owners: @zekun000, @sasha8, @ibalajiarun

[forge] tune memory threshold
  testsuite/forge-cli/src/suites/realistic_environment.rs
Owners: none

[rand] fix the race condition of blocks re-enter
  consensus/src/rand/rand_gen/rand_manager.rs
  consensus/src/rand/rand_gen/rand_store.rs
Owners: @zekun000, @sasha8, @ibalajiarun

Fixing code deserializer.
  Cargo.lock
  third_party/move/move-binary-format/serializer-tests/Cargo.toml
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.proptest-regressions
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
Owners: none

Addressing reviewer comments
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  aptos-move/aptos-sdk-builder/src/common.rs
  aptos-move/aptos-sdk-builder/src/golang.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-bytecode-verifier/src/reference_safety/mod.rs
  third_party/move/move-bytecode-verifier/src/stack_usage_verifier.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-ir/types/src/ast.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/gas.rs
  third_party/move/testing-infra/transactional-test-runner/tests/vm_test_harness/round-trip/print_move_bytecode.disassembled.exp
  third_party/move/tools/move-asm/src/value.rs
Owners: none

Connecting assembler and adding transactional tests. Fixing a bug in type serialization.
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
  third_party/move/tools/move-asm/src/assembler.rs
  third_party/move/tools/move-asm/src/syntax.rs
  third_party/move/tools/move-asm/src/value.rs
  third_party/move/tools/move-asm/tests/assembler/constants_errors.exp
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.masm
Owners: none

Addressing reviewer comments.
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-bytecode-verifier/src/type_safety.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm] Avoid type creations for vector instructions in interpreter and gas meter
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-memory-usage-tracker/src/lib.rs
  aptos-move/framework/move-stdlib/src/natives/vector.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/test-utils/src/gas_schedule.rs
  third_party/move/move-vm/types/src/gas.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm] Remove invariant check for swap local as it was always false
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
