Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

[forge-stable] scheduled by PIES (#17888)
  .github/workflows/forge-stable.yaml
Owners: @velor-chain/prod-eng

fix experiments flag and add it to prebuild
  crates/aptos/src/common/types.rs
  crates/transaction-generator-lib/src/publishing/prebuild_packages.rs
  testsuite/benchmark-workloads/package-generator/src/main.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
Owners: none

Single block cache
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/aptosdb_internal.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/examine/print_raw_data_by_version.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

Single block cache
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/aptosdb_internal.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/examine/print_raw_data_by_version.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage] Use a single block cache for all major RocksDB instances
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/aptosdb_internal.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/examine/print_raw_data_by_version.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

fix experiments flag and add it to prebuild (#17883)
  crates/aptos/src/common/types.rs
  crates/transaction-generator-lib/src/publishing/prebuild_packages.rs
  testsuite/benchmark-workloads/package-generator/src/main.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
Owners: none

Various improvements to the bulk order event framework
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

more changes
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

Rewritten is_empty_tuple() so it's clearer.
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
Owners: none

[Move VM] optimize ReentrancyChecker
  Cargo.lock
  aptos-move/block-executor/src/code_cache_global_manager.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/script.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/loader/test_utils.rs
  third_party/move/move-vm/runtime/src/storage/ty_tag_converter.rs
  third_party/move/move-vm/types/src/interner.rs
  third_party/move/move-vm/types/src/lib.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_access_specifiers_prop_tests.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/loaded_data/struct_name_indexing.rs
  third_party/move/move-vm/types/src/module_id_interner.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Emit bulkOrderModified after bulkOrderCancel
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
Owners: none

fix
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Owners: none

Remove BulkOrderCancelled events
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
Owners: none

[framework] Add support for reflection
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/aptos-native-interface/src/helpers.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-experimental/doc/veiled_coin.md
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/doc/overview.md
  aptos-move/framework/move-stdlib/doc/reflect.md
  aptos-move/framework/move-stdlib/doc/result.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/move-stdlib/sources/reflect.move
  aptos-move/framework/move-stdlib/sources/result.move
  aptos-move/framework/move-stdlib/src/natives/mod.rs
  aptos-move/framework/move-stdlib/src/natives/reflect.rs
  aptos-move/framework/move-stdlib/src/natives/result.rs
  aptos-move/framework/move-stdlib/tests/bit_vector_tests.move
  aptos-move/framework/move-stdlib/tests/reflect_tests.move
  third_party/move/move-prover/move-docgen/src/docgen.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

Improve BigOrderedMap.for_each_ref efficiency
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
Owners: none

Added some comments regarding generalisations
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Owners: none

[vm] Make sure we cache index to avoid lookups via loader / interpreter cache
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

Add sigma proofs to aptos-dkg (#17735)
  Cargo.toml
  crates/aptos-crypto-derive/src/lib.rs
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pcs/mod.rs
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/pvss/das/unweighted_protocol.rs
  crates/aptos-dkg/src/pvss/das/weighted_protocol.rs
  crates/aptos-dkg/src/pvss/insecure_field/transcript.rs
  crates/aptos-dkg/src/pvss/traits/transcript.rs
  crates/aptos-dkg/src/pvss/weighted/generic_weighting.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/mod.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/src/utils/mod.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

[vm] keep MEMORY_LIMIT_EXCEEDED (#17851)
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/memory_quota.rs
  third_party/move/move-core/types/src/vm_status.rs
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
Owners: none

It compiles
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pcs/mod.rs
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Owners: none

Add forgotten files
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixed_base_msms.rs
Owners: none

[session][1/n] Introduce versioned native extensions
  aptos-move/aptos-abstract-gas-usage/src/algebra.rs
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/object.rs
  aptos-move/framework/src/natives/randomness.rs
  aptos-move/framework/src/natives/state_storage.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-vm/runtime/src/native_extensions.rs
  third_party/move/tools/move-unit-test/src/extensions.rs
  types/src/on_chain_config/aptos_features.rs
Owners: none

Added test case.
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

Rewritten is_empty_tuple() so it's clearer.
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
Owners: none

Sorted linters.
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

[linter] Added `needless_return` lint and tests
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_bool_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

Some changes
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/tests/range_proof.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

reconfigure manual inlining
  third_party/move/move-vm/runtime/Cargo.toml
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

remove RTCaches from make_call_frame as it's not used inside the function
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

aptos-executor: move aptos-indexer-grpc-table-info to [dev-dependencies] (#17887)
  execution/executor/Cargo.toml
Owners: @msmouse, @lightmark, @grao1991

[gha] cleanup; move to PIES scheduler
  .github/actions/check-aptos-core/action.yaml
  .github/linters/semgrep/disallow-schedule-trigger.yaml
  .github/workflows/close-stale-issues.yaml
  .github/workflows/copy-images-to-dockerhub-nightly.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docker-build-rosetta.yaml
  .github/workflows/docker-indexer-grpc-test.yaml
  .github/workflows/docker-update-images.yaml
  .github/workflows/execution-performance.yaml
  .github/workflows/forge-continuous-land-blocking-test.yaml
  .github/workflows/forge-stable.yaml
  .github/workflows/forge-unstable.yaml
  .github/workflows/fullnode-execute-devnet-main.yaml
  .github/workflows/fullnode-execute-devnet-stable.yaml
  .github/workflows/fullnode-fast-devnet-main.yaml
  .github/workflows/fullnode-fast-devnet-stable.yaml
  .github/workflows/fullnode-fast-mainnet-main.yaml
  .github/workflows/fullnode-fast-mainnet-stable.yaml
  .github/workflows/fullnode-fast-testnet-main.yaml
  .github/workflows/fullnode-fast-testnet-stable.yaml
  .github/workflows/fullnode-intelligent-devnet-main.yaml
  .github/workflows/fullnode-intelligent-mainnet-main.yaml
  .github/workflows/fullnode-intelligent-mainnet-stable.yaml
  .github/workflows/fullnode-intelligent-testnet-main.yaml
  .github/workflows/fuzzer-test.yaml
  .github/workflows/indexer-grpc-in-memory-cache-benchmark.yaml
  .github/workflows/prover-daily-test.yaml
  .github/workflows/provision-replay-verify-archive-disks.yaml
  .github/workflows/prune-old-workflow-runs.yaml
  .github/workflows/replay-verify-legacy.yaml
  .github/workflows/replay-verify-mainnet.yaml
  .github/workflows/replay-verify-testnet.yaml
  .github/workflows/run-fullnode-sync.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/windows-build.yaml
Owners: @velor-chain/prod-eng

Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Owners: @velor-chain/prod-eng, @velor-chain/security

More changes
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/tests/range_proof.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Small changes
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
Owners: none

Initial attempt
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/range_proofs/mod.rs
  crates/aptos-dkg/tests/range_proof.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Some modifications, test doesn't pass
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
Owners: none

Fixed bug
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

fix formatting
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

Added test
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/tests/barycentric_eval.rs
Owners: none

Added license
  crates/aptos-dkg/tests/barycentric_eval.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
