Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

Fix hkzg test
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
Owners: none

try revert 17408
  Cargo.lock
  Cargo.toml
Owners: none

fix acquire list
  third_party/move/move-compiler-v2/src/file_format_generator/module_generator.rs
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.move
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.opt.exp
  third_party/move/move-compiler-v2/tests/simplifier-elimination/assert_false_with_resource.exp
  third_party/move/move-compiler-v2/tests/simplifier-elimination/assert_false_with_resource.move
Owners: none

fix linter warning
  aptos-move/framework/aptos-experimental/sources/confidential_asset/confidential_asset.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/veiled_coin/veiled_coin.move
Owners: none

docs
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/confidential_asset.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/veiled_coin.md
Owners: none

MSM to compute U and different algo for h
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
Owners: none

fix acquire list (#17817)
  third_party/move/move-compiler-v2/src/file_format_generator/module_generator.rs
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.move
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.opt.exp
  third_party/move/move-compiler-v2/tests/simplifier-elimination/assert_false_with_resource.exp
  third_party/move/move-compiler-v2/tests/simplifier-elimination/assert_false_with_resource.move
Owners: none

change to h formula
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
Owners: none

fix linter warning (#17820)
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/confidential_asset.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/veiled_coin.md
  aptos-move/framework/aptos-experimental/sources/confidential_asset/confidential_asset.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/veiled_coin/veiled_coin.move
Owners: none

Update built package logic to use primary target warning filtering instead of all warnings
  aptos-move/framework/src/built_package.rs
  third_party/move/move-model/src/model.rs
Owners: none

iterators and utilities
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
Owners: none

[pipeline] different interface for consensus and observer
  consensus/src/block_storage/block_store.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/pipeline/pipeline_builder.rs
Owners: @zekun000, @sasha8, @ibalajiarun

merge functions into has_diag_in_primary_targets
  aptos-move/framework/src/built_package.rs
  third_party/move/move-model/src/model.rs
Owners: none

[lint] Added `empty_if` lint and tests
  third_party/move/tools/move-linter/Cargo.toml
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/empty_if.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/almost_swapped.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/empty_if.move
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/multi_attributes_01.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/multi_attributes_02.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/nonminimal_bool.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_bool_expression.exp
Owners: none

[replay] make paranoid check configurable
  Cargo.lock
  storage/db-tool/Cargo.toml
  storage/db-tool/src/replay_on_archive.rs
Owners: @msmouse, @lightmark, @grao1991

[Storage] Lower number of background threads
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @msmouse, @lightmark, @grao1991

[Storage] Lower number of background threads
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

rename iterator-creating functions to _fname_internal
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
  third_party/move/move-compiler-v2/tests/checking/receiver/bad_receiver.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/bad_receiver.move
Owners: none

map modifiers
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/src/aptos.rs
  aptos-move/framework/tests/move_unit_test.rs
Owners: none

don't use iterators
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

OrderBook use of iterators and utilities
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
Owners: none

[pipeline] different interface for consensus and observer
  consensus/src/block_storage/block_store.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/pipeline/pipeline_builder.rs
Owners: @zekun000, @sasha8, @ibalajiarun

less rocksdb threads
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

rename iterator-creating functions to _fname_internal
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
  third_party/move/move-compiler-v2/tests/checking/receiver/bad_receiver.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/bad_receiver.move
Owners: none

iterators and utilities
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
Owners: none

[WIP] Set higher execution limit
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
Owners: none

max 4 background threads
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[replay] make paranoid check configurable
  Cargo.lock
  storage/db-tool/Cargo.toml
  storage/db-tool/src/replay_on_archive.rs
Owners: @msmouse, @lightmark, @grao1991

[Storage] Lower number of background jobs and threads
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage] Lower number of background jobs and threads
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

[Storage] Lower number of background jobs and threads
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

iterators and utilities (#17441)
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
  third_party/move/move-compiler-v2/tests/checking/receiver/bad_receiver.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/bad_receiver.move
Owners: none

[replay] enable module cache
  storage/db-tool/src/replay_on_archive.rs
Owners: @msmouse, @lightmark, @grao1991

[Storage] Lower number of background jobs and threads
  config/src/config/storage_config.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/ledger_db/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_ops.rs
  storage/indexer/src/lib.rs
  storage/rocksdb-options/src/lib.rs
  storage/schemadb/src/lib.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

squash
  Cargo.lock
  Cargo.toml
  crates/aptos-in-memory-cache/Cargo.toml
  crates/aptos-in-memory-cache/src/caches/mod.rs
  crates/aptos-in-memory-cache/src/caches/sync_mutex.rs
  crates/aptos-in-memory-cache/src/lib.rs
  crates/aptos-in-memory-cache/tests/common/mod.rs
  crates/aptos-in-memory-cache/tests/tests.rs
Owners: none

cool
  crates/aptos-in-memory-cache/src/caches/sync_mutex.rs
  crates/aptos-in-memory-cache/src/lib.rs
  crates/aptos-in-memory-cache/tests/common/mod.rs
  crates/aptos-in-memory-cache/tests/tests.rs
Owners: none

update docs
  crates/aptos-in-memory-cache/src/caches/mod.rs
  crates/aptos-in-memory-cache/src/caches/sync_mutex.rs
  crates/aptos-in-memory-cache/src/lib.rs
  crates/aptos-in-memory-cache/tests/common/mod.rs
  crates/aptos-in-memory-cache/tests/tests.rs
Owners: none

lint
  crates/aptos-in-memory-cache/tests/common/mod.rs
Owners: none

coo
  crates/aptos-in-memory-cache/tests/common/mod.rs
Owners: none

lint
  crates/aptos-in-memory-cache/src/caches/sync_mutex.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
