Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

[Move VM] aggressive rust inlining: batch 3
  aptos-move/aptos-native-interface/src/context.rs
  third_party/move/move-core/types/src/function.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[gas] bump to 1.37
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

[aptos-release-v1.36] Bump version to 1.36.1
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

[Move VM] aggressive rust inlining: batch 4
  aptos-move/aptos-gas-meter/src/algebra.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Simplify and optimize BlockSTM commit
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/scheduler_wrapper.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Owners: none

[Move VM] aggressive rust inlining: batch 5
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Simplify and optimize BlockSTM commit (#17651)
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/executor_utilities.rs
  aptos-move/block-executor/src/scheduler_wrapper.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Owners: none

[gas] bump to 1.37
  aptos-move/aptos-gas-schedule/src/ver.rs
Owners: none

fix json table for executor benchmark (#17684)
  execution/executor-benchmark/src/measurements.rs
Owners: @msmouse, @lightmark, @grao1991

Add Blockmetadata in Executor benchmark
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/ledger_update_stage.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/native/native_transaction.rs
  execution/executor-benchmark/src/native/native_vm.rs
  execution/executor-benchmark/src/native/parallel_uncoordinated_block_executor.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance.py
  testsuite/single_node_performance_values.tsv
Owners: @msmouse, @lightmark, @grao1991

feat: add dkg lib #14
  .gitignore
  Cargo.toml
  src/lib.rs
Owners: none

add lib (#15)
  src/lib.rs
Owners: none

enable lto=fat for release build
  Cargo.toml
Owners: none

[State Sync] Add progress check to latency monitor.
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/latency_monitor.rs
Owners: @joshlind, @gregnazario

[State Sync] Add progress check to latency monitor.
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/latency_monitor.rs
Owners: @joshlind, @gregnazario

[linter] Added `needless_return` lint and tests
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

[linter] Updated `needless_return` recognized patterns
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

[linter] Updated `needless_return` recognized patterns
  third_party/move/tools/move-linter/src/model_ast_lints/needless_return.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_return.move
Owners: none

[benchmarks] Update calibration table to include monotonic counter
  testsuite/single_node_performance.py
  testsuite/single_node_performance_values.tsv
Owners: none

Remove source_expr
  third_party/move/tools/move-linter/src/model_ast_lints/find_unnecessary_casts.rs
Owners: none

Add requested test
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.move
Owners: none

Add detector
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/find_unnecessary_casts.rs
Owners: none

Add tests
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/find_unnecessary_casts_test.move
Owners: none

Try fix CI
  third_party/move/tools/move-linter/src/model_ast_lints.rs
Owners: none

[vm] Add layout caches
  Cargo.lock
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/extensions/move-table-extension/Cargo.toml
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_code_storage.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/runtime/src/storage/layout_cache.rs
  third_party/move/move-vm/runtime/src/storage/loader/lazy.rs
  third_party/move/move-vm/runtime/src/storage/loader/traits.rs
  third_party/move/move-vm/runtime/src/storage/mod.rs
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/block_executor/config.rs
  vm-validator/src/vm_validator.rs
Owners: none

use 2.3
  third_party/move/move-compiler-v2/src/file_format_generator/module_generator.rs
  third_party/move/move-compiler-v2/tests/checking-lang-v2.2/access_specifiers/access_not_supported.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/access_specifiers/access_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/access_specifiers/access_ok.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/access_specifiers/acquires_list_generic.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_borrow_field_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_borrow_field_err.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_enum_access_01_friend_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_enum_access_01_friend_err.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_enum_access_01_package_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_enum_access_01_package_err.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_package_access_success.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/cross_module_package_access_success.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/illegal_dollar_ident.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/illegal_dollar_ident.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/key_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/key_err.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/nest_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.3/nest_err.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.4/access_specifiers/access_err.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.4/access_specifiers/access_err.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.4/access_specifiers/access_ok.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.4/access_specifiers/access_ok.move
  third_party/move/move-compiler-v2/tests/checking-lang-v2.4/access_specifiers/acquires_list_generic.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v2.4/access_specifiers/acquires_list_generic.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/metadata.rs
Owners: none

[benchmarks] Update calibration table to include monotonic counter (#17631)
  testsuite/single_node_performance.py
  testsuite/single_node_performance_values.tsv
Owners: none

chore: remove redundant words (#17629)
  crates/aptos/e2e/cases/move.py
  storage/backup/backup-cli/src/backup_types/state_snapshot/restore.rs
Owners: @msmouse, @lightmark, @grao1991

[docker] add release-builder to tools image
  docker/builder/README.md
  docker/builder/build-tools.sh
  docker/builder/docker-bake-rust-all.hcl
  docker/builder/node-checker.Dockerfile
  docker/builder/tools.Dockerfile
  docker/release-images.mjs
Owners: @velor-chain/prod-eng, @velor-chain/security

[Move VM] aggressive rust inlining: value cast & Stack::pop_as
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 2
  third_party/move/move-vm/metrics/src/lib.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: vector ops
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 3
  aptos-move/aptos-native-interface/src/context.rs
  third_party/move/move-core/types/src/function.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/implementations/unsync_module_storage.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 4
  aptos-move/aptos-gas-meter/src/algebra.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 5
  third_party/move/move-vm/runtime/src/access_control.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/reentrancy_checker.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[Move VM] aggressive rust inlining: batch 1
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

disable vm tracing
  third_party/move/move-vm/runtime/src/tracing.rs
Owners: none

[docker] add release-builder to tools image (#17690)
  docker/builder/README.md
  docker/builder/build-tools.sh
  docker/builder/docker-bake-rust-all.hcl
  docker/builder/node-checker.Dockerfile
  docker/builder/tools.Dockerfile
  docker/release-images.mjs
Owners: @velor-chain/prod-eng, @velor-chain/security

connect to node config and ability to enable
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-node/src/utils.rs
  config/src/config/execution_config.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

prepare aptos-vm-profiling for fastcall
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_2.mvir
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_2_generic.mvir
  aptos-move/aptos-vm-profiling/fastcall/fastcall_add_2_nested_generic.mvir
  aptos-move/aptos-vm-profiling/move/call/call_add_2.mvir
  aptos-move/aptos-vm-profiling/src/bins/run_move.rs
  aptos-move/aptos-vm-profiling/src/main.rs
  aptos-move/aptos-vm-profiling/src/profile_move_vm.rs
Owners: none

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
