Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

Addressing reviewer comments
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  aptos-move/aptos-sdk-builder/src/common.rs
  aptos-move/aptos-sdk-builder/src/golang.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-bytecode-verifier/src/reference_safety/mod.rs
  third_party/move/move-bytecode-verifier/src/stack_usage_verifier.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-ir/types/src/ast.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/gas.rs
  third_party/move/testing-infra/transactional-test-runner/tests/vm_test_harness/round-trip/print_move_bytecode.disassembled.exp
  third_party/move/tools/move-asm/src/value.rs
Owners: none

[vm sint]: update `CastNxx` bytecode semantics
  third_party/move/move-binary-format/src/file_format.rs
Owners: none

Fixing baseline tests after rebase
  aptos-move/framework/src/natives/string_utils.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  testsuite/generate-format/tests/staged/move_abi.yaml
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
  types/src/on_chain_config/aptos_features.rs
Owners: none

rebase
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

Connecting assembler and adding transactional tests. Fixing a bug in type serialization.
  third_party/move/move-binary-format/serializer-tests/tests/serializer_tests.rs
  third_party/move/move-binary-format/src/deserializer.rs
  third_party/move/tools/move-asm/src/assembler.rs
  third_party/move/tools/move-asm/src/syntax.rs
  third_party/move/tools/move-asm/src/value.rs
  third_party/move/tools/move-asm/tests/assembler/constants_errors.exp
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/signed_int.disassembled.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.exp
  third_party/move/tools/move-asm/tests/assembler/signed_int.masm
Owners: none

[vm sint] update gas params for sint
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm sint] clean up casting to u256/i256 and revise div error msg
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm sint] update compiler test case results
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_14396.opt.exp
Owners: none

[vm sint] redefine u256/i256 debug format & add paraniod ty check on negate
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Owners: none

[vm sint] add gas params for signed int
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/instr.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
Owners: none

[vm sint] update test cases for `ty_interner`
  third_party/move/move-vm/types/src/ty_interner.rs
Owners: none

Addressing reviewer comments.
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-bytecode-verifier/src/type_safety.rs
  third_party/move/move-core/types/src/int256.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm sint] revoke `DerefVisitor` on `visit_vec_u16`, `visit_vec_u32`, `visit_vec_u256` (for compatibility)
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
Owners: none

[compiler sint] update trans test results
  third_party/move/move-compiler-v2/transactional-tests/tests/signed-int/arithmetic_i256.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/signed-int/round-trip/arithmetic_i256.decompiled.baseline.exp
Owners: none

[compiler sint] update trans test results
  third_party/move/move-compiler-v2/transactional-tests/tests/signed-int/arithmetic_i256.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/signed-int/round-trip/arithmetic_i256.decompiled.baseline.exp
Owners: none

[vm] Removing `IntegerValue` and Value wrapper
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/value_traversal.rs
  third_party/move/move-vm/types/src/values/function_values_impl.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm] Removing `IntegerValue` and Value wrapper
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/value_traversal.rs
  third_party/move/move-vm/types/src/values/function_values_impl.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

aptos move test gas limit bump algebra/ristretto memory limit
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  crates/aptos/src/move_tool/mod.rs
Owners: none

add enable_framework_for_option
  api/src/tests/view_function.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-move-tests/src/tests/remote_state.rs
  aptos-move/e2e-move-tests/src/tests/string_utils.rs
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/storage/environment.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  types/src/on_chain_config/aptos_features.rs
Owners: @banool, @gregnazario, @0xmaayan

fix spec and test
  aptos-move/e2e-move-tests/src/tests/remote_state.rs
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/doc/optional_aggregator.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/doc/randomness.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/account/account.spec.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.spec.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/jwks.spec.move
  aptos-move/framework/aptos-framework/sources/randomness.spec.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
  aptos-move/framework/aptos-stdlib/doc/bls12381.md
  aptos-move/framework/aptos-stdlib/doc/ristretto255.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/bls12381.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
  aptos-move/framework/move-stdlib/doc/option.md
  aptos-move/framework/move-stdlib/sources/option.move
Owners: none

[Keyless] Small improvements to logging and timeout.
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/utils.rs
Owners: none

[Keyless] Use spawn_blocking for crypto operations.
  keyless/pepper/service/src/dedicated_handlers/handlers.rs
  keyless/pepper/service/src/dedicated_handlers/pepper_request.rs
  keyless/pepper/service/src/error.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/metrics.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/tests/pepper_request.rs
  keyless/pepper/service/src/tests/request_handler.rs
  keyless/pepper/service/src/tests/utils.rs
Owners: none

change to local config
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/e2e-benchmark/src/gas_profiling.rs
  aptos-move/e2e-move-tests/src/tests/layout_caches.rs
  aptos-move/replay-benchmark/src/commands/benchmark.rs
  aptos-node/src/utils.rs
  config/src/config/execution_config.rs
  execution/executor-benchmark/src/main.rs
  storage/db-tool/src/replay_on_archive.rs
  types/src/on_chain_config/aptos_features.rs
Owners: @joshlind, @gregnazario, @msmouse, @lightmark, @grao1991

flag to control error propagation
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/main.rs
  testsuite/single_node_performance_values.tsv
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Owners: none

OrderBook use of iterators and utilities
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
Owners: none

map modifiers
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/doc/ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.spec.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.spec.move
Owners: none

don't use iterators
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

chore: fix missing quotes in pre-commit call
  scripts/dev_setup.sh
Owners: @velor-chain/prod-eng

feat: add shared_mempool and export it (#17)
  Cargo.lock
  Cargo.toml
  aptos-node/src/services.rs
  mempool/src/lib.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/mod.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/mod.rs
  mempool/src/tests/node.rs
  mempool/src/tests/test_framework.rs
  src/lib.rs
Owners: @bchocho

[Keyless] Make Firestore DB update async.
  keyless/pepper/common/src/lib.rs
  keyless/pepper/service/src/accounts/account_recovery_db.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/metrics.rs
Owners: none

[txn-emitter] support for orderless txns
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Owners: none

use txn summaries api instead of per txn api call
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Owners: none

support for orderless txn fa transfer
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/p2p_transaction_generator.rs
  crates/transaction-workloads-lib/src/args.rs
  testsuite/smoke-test/src/consensus/helpers.rs
  testsuite/smoke-test/src/rest_api.rs
Owners: none

2 threads
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

3 threads
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

[replay] parallelize on chunk level
  storage/db-tool/src/replay_on_archive.rs
Owners: @msmouse, @lightmark, @grao1991

[move core] Allow Identifiers to contain `$`
  third_party/move/move-binary-format/src/deserializer.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-core/types/src/identifier.rs
  third_party/move/move-vm/runtime/src/debug.rs
  third_party/move/tools/move-asm/tests/assembler/dollar_names.exp
  third_party/move/tools/move-asm/tests/assembler/dollar_names.masm
  third_party/move/tools/move-asm/tests/assembler/round-trip/dollar_names.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/dollar_names.disassembled.exp
Owners: none

[replay] parallelize on chunk level
  storage/db-tool/src/replay_on_archive.rs
Owners: @msmouse, @lightmark, @grao1991

1 threads
  config/src/config/storage_config.rs
Owners: @joshlind, @gregnazario

cache reads in DbStateView
  storage/storage-interface/src/state_store/state_view/db_state_view.rs
Owners: @msmouse, @lightmark, @grao1991

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
