Repository aptos-labs/aptos-core, changes with the owners that CODEOWNERS names for each.
All owners: @velor-chain/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-velor, @rtso, @velor-chain/ecosystem-infra, @geekflyer, @velor-chain/security, @msmouse, @lightmark, @grao1991, @hariria

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @velor-chain/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/velor-move` directory and its subdirectories:`velor-gas`, `velor-vm`, `framework` and `framework/velor-stdlib/sources/cryptography`.
/velor-move/velor-aggregator/ @georgemitenkov @gelash @zekun000
/velor-move/velor-gas/ @vgao1996
/velor-move/velor-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/velor-move/velor-vm/src/keyless_validation.rs @alinush @heliuchuan
/velor-move/velor-vm-types/ @georgemitenkov @gelash @vgao1996
/velor-move/framework/ @davidiw @movekevin @wrwg
/velor-move/framework/velor-framework/sources/account.move @alinush
/velor-move/framework/velor-framework/sources/jwks.move @zjma
/velor-move/framework/velor-framework/sources/keyless_account.move @alinush
/velor-move/framework/velor-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/**/*.spec.move @junkil-park
/velor-move/framework/velor-stdlib/sources/hash.move @alinush

# Owner for velor-token, cryptography natives, parallel-executor and vm-genesis.
/velor-move/framework/velor-token @areshand
/velor-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/velor-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/velor-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/velor-move/sharded_block-executor/ @sitalkedia
/velor-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/velor-move/vm-genesis/ @davidiw @movekevin

# Owner for velor node (to prevent things from becoming out of hand :D)
/velor-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/velor` directory and all its subdirectories.
/crates/velor @gregnazario @banool

# Owners for the `/crates/velor-crypto*` directories.
/crates/velor-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/velor-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/velor-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/velor-faucet @banool @gregnazario
/crates/velor-genesis @gregnazario

# Owners for the velor-logger crate
/crates/velor-logger @gregnazario @joshlind

/crates/velor-open-api @banool @gregnazario

# Owners for the velor-protos crate
/crates/velor-protos @banool @bowenyang007 @jillxuu @larry-velor @rtso  @velor-chain/ecosystem-infra

/crates/velor-rest-client @banool @gregnazario

# Owners for the `/velor-rosetta` directory and related crates.
/crates/velor-rosetta @gregnazario
/crates/velor-rosetta-cli @gregnazario

# Owners for the velor-speculative-state-helper crate
/crates/velor-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/velor-telemetry @ibalajiarun @geekflyer
/crates/velor-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @velor-chain/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @velor-chain/prod-eng
/docker/builder/docker-bake-rust-all.hcl @velor-chain/prod-eng @velor-chain/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @velor-chain/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @velor-chain/prod-eng

# Owners for the `velor-dkg` crate.
/crates/velor-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100

Starting to merge now code, won't compile
  crates/aptos-crypto-derive/src/lib.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pcs/mod.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
Owners: none

Done merging I hope
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/consistency_homomorphism.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/mod.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/sigma_protocol.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Added sigma protocol folder back in
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/mod.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Owners: none

Small changes
  crates/aptos-dkg/src/algebra/homomorphism.rs
  crates/aptos-dkg/src/algebra/mod.rs
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunked_elgamal_field/mod.rs
  crates/aptos-dkg/src/pvss/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
Owners: none

Tiny stuff
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
Owners: none

Renamed trait
  crates/aptos-dkg/src/pcs/univariate_kzg_commitment.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Small stuff
  crates/aptos-dkg/src/pvss/insecure_field/transcript.rs
  crates/aptos-dkg/src/pvss/mod.rs
Owners: none

Rechanged PVSS DST
  crates/aptos-dkg/src/pvss/das/unweighted_protocol.rs
  crates/aptos-dkg/src/pvss/das/weighted_protocol.rs
  crates/aptos-dkg/src/pvss/insecure_field/transcript.rs
  crates/aptos-dkg/src/pvss/traits/transcript.rs
  crates/aptos-dkg/src/pvss/weighted/generic_weighting.rs
Owners: none

Some more changes
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/lib.rs
  crates/aptos-dkg/src/pvss/insecure_field/transcript.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Owners: none

[table natives] fix double counting of memory usage
  Cargo.lock
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

add script to automate building and running with PGO
  Cargo.lock
  aptos-move/aptos-vm-profiling/Cargo.toml
  aptos-move/aptos-vm-profiling/src/bins/run_aptos_p2p.rs
  aptos-move/aptos-vm-profiling/src/profile_aptos_vm.rs
  scripts/pgo.sh
Owners: @velor-chain/prod-eng

Tiiiny changes
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

Move unit test for monotonically increasing counter native function
  aptos-move/framework/aptos-framework/doc/transaction_context.md
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/tests/move_unit_test.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inliner.rs
  third_party/move/move-model/bytecode/src/fat_loop.rs
  third_party/move/move-model/src/builder/exp_builder.rs
Owners: none

add script to automate building and running with PGO (#17831)
  Cargo.lock
  aptos-move/aptos-vm-profiling/Cargo.toml
  aptos-move/aptos-vm-profiling/src/bins/run_aptos_p2p.rs
  aptos-move/aptos-vm-profiling/src/profile_aptos_vm.rs
  scripts/pgo.sh
Owners: @velor-chain/prod-eng

[table natives] fix double counting of memory usage
  Cargo.lock
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
  types/src/on_chain_config/timed_features.rs
Owners: none

[aptos-release-v1.36] Bump version to 1.36.6
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

[aptos-release-v1.36] Bump version to 1.36.6
  Cargo.lock
  aptos-node/Cargo.toml
Owners: none

Address security review feedback (#17874)
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  crates/transaction-workloads-lib/prebuilt.mpb
Owners: none

Added doc comment
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Owners: none

Small edit
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Owners: none

fix
  Cargo.lock
  aptos-move/aptos-e2e-comparison-testing/Cargo.toml
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
  aptos-move/aptos-e2e-comparison-testing/src/main.rs
  aptos-move/aptos-e2e-comparison-testing/src/online_execution.rs
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-validator-interface/Cargo.toml
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/replay-benchmark/src/lib.rs
  aptos-move/replay-benchmark/src/overrides.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/options.rs
  types/src/state_store/state_key/mod.rs
Owners: none

fix
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/data_state_view.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
  aptos-move/aptos-e2e-comparison-testing/src/main.rs
  aptos-move/aptos-e2e-comparison-testing/src/online_execution.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-compiler-v2/src/experiments.rs
Owners: none

Some renaming and fixing lints
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Owners: none

feat: remove vm validator (#20)
  vm-validator/src/vm_validator.rs
Owners: none

unit tests
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Owners: none

[vm] Strengthen indexed ref checks (#16386)
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/move-stdlib/src/natives/unit_test.rs
  aptos-move/framework/src/natives/cryptography/bulletproofs.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-stdlib/src/natives/unit_test.rs
  third_party/move/move-vm/types/src/value_traversal.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/move-vm/types/src/views.rs
Owners: none

fix experiments flag and add it to prebuild
  crates/aptos/src/common/types.rs
  crates/transaction-generator-lib/src/publishing/prebuild_packages.rs
  testsuite/benchmark-workloads/package-generator/src/main.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
Owners: none

More edits to doc comments
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Owners: none

aptos-executor: move aptos-indexer-grpc-table-info to [dev-dependencies]
  execution/executor/Cargo.toml
Owners: @msmouse, @lightmark, @grao1991

fix
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

[Orderbook] Ability to return order actions when a maker order is placed on the book
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

generate docs
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
Owners: none

[vm] Disable static checks for depth in favour of runtime checks
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/transactional-tests/tests/lazy_loading/cyclic_structs.exp
  third_party/move/move-vm/transactional-tests/tests/recursion/runtime_layout_deeply_nested.exp
Owners: none

[vm] Disable static checks for depth in favour of runtime checks (#17882)
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/storage/ty_depth_checker.rs
  third_party/move/move-vm/transactional-tests/tests/lazy_loading/cyclic_structs.exp
  third_party/move/move-vm/transactional-tests/tests/recursion/runtime_layout_deeply_nested.exp
Owners: none

WIP
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
Owners: none

[Orderbook] Ability to return order actions when a maker order is placed on the book (#17868)
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Owners: none

[forge-stable] scheduled by PIES
  .github/workflows/forge-stable.yaml
Owners: @velor-chain/prod-eng

Small renaming
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixedbasemsms.rs
Owners: none

handle memory limit
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/memory_quota.rs
  third_party/move/move-core/types/src/vm_status.rs
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
Owners: none

remove status code change
  third_party/move/move-core/types/src/vm_status.rs
  types/src/transaction/mod.rs
Owners: none
